﻿@using PlannedServicesProviderPortal.Pages;
@using PlannedServices.Common.Paging;
@using PlannedServices.Entities.Contract;
@model PagedList<AbstractProvider>
@{
    ViewBag.Title = "Find Provider | NDIS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container-fluid px-0">
    <div class="row no-gutters">

        <div class="col-lg-6">

            <div class="provider-area" data-simplebar>
                <div class="bg-gray-50 p-3">
                    <div class="row align-items-end">
                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="form-group">
                                <label for="ProviderInput">Provider</label>
                                <input type="text" class="form-control form-control-lg" placeholder="Search here..." id="ProviderInput" aria-describedby="searchIcon" />
                            </div>
                        </div>


                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="form-group">
                                <label for="postCode">Suburb/Postcode</label>

                                <div class="input-group">
                                    <input type="text" class="form-control form-control-lg" placeholder="Search here..." id="postCode" aria-describedby="searchIcon" />
                                    <div class="input-group-append">
                                        <span class="input-group-text" role="button" id="searchIcon">
                                            <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                                            </svg>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="form-group">
                                <label for="territorySelect">State/Territory</label>
                                <select class="selectpicker form-control" id="territorySelect" data-size="5" data-live-search="true" multiple data-selected-text-format="count" title="Select option">
                                    <option>NSW</option>
                                    <option>VIC</option>
                                    <option>QLD</option>
                                    <option>WA</option>
                                    <option>SA</option>
                                    <option>TAS</option>
                                    <option>ACT</option>
                                    <option>NT</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="form-group">
                                <label for="registrationGroup">Registration Group</label>
                                <select class="selectpicker form-control" id="registrationGroup" data-size="5" data-live-search="true" multiple data-selected-text-format="count" title="Select option">
                                    <option>Accommodation / Tenancy Assistance</option>
                                    <option>Assistance Animals</option>
                                    <option>Daily Personal Activities</option>
                                    <option>Group and Centre Based Activities</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="form-group">
                                <a href="" class="btn btn-primary">Filter</a>
                                <a href="" class="btn btn-link">Reset</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="Pager"></div>

                <div class="p-3 border-top">
                    <div class="row row-cols-sm-2 row-cols-1">

                        @foreach (var provider in Model.Values)
                        {
                            <div class="col mb-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="fw-bold mb-4">@provider.Name</h5>

                                        <div class="d-flex mb-1">
                                            <svg class="mt-1 text-gray-400" xmlns="http://www.w3.org/2000/svg" height="16" width="16" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
                                            </svg>

                                            <a href="" class="fs-13 ml-2 text-muted">@provider.AddressLine1, @provider.AddressLine2, @provider.StateName, @provider.PinCode</a>
                                        </div>

                                        <div class="d-flex mb-1">
                                            <svg class="mt-1 text-gray-400" xmlns="http://www.w3.org/2000/svg" height="16" width="16" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z" />
                                            </svg>

                                            <a href="tel:'@provider.Phone'" class="fs-13 ml-2 text-muted">@provider.Phone</a>
                                        </div>

                                        <div class="d-flex mb-1">
                                            <svg class="mt-1 text-gray-400" xmlns="http://www.w3.org/2000/svg" height="16" width="16" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                                            </svg>

                                            <a href="mailto:'@provider.Email'" class="fs-13 ml-2 text-muted">@provider.Email</a>
                                        </div>

                                        <div class="d-flex mb-1">
                                            <svg class="mt-1 text-gray-400" xmlns="http://www.w3.org/2000/svg" height="16" width="16" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9" />
                                            </svg>

                                            <a href="@provider.Website" target="_blank" class="fs-13 ml-2 text-muted">@provider.Website</a>
                                        </div>

                                        <div class="provider-services-list not-expanded">

                                            <svg class="mt-1 text-gray-400" xmlns="http://www.w3.org/2000/svg" height="16" width="16" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 13.255A23.931 23.931 0 0112 15c-3.183 0-6.22-.62-9-1.745M16 6V4a2 2 0 00-2-2h-4a2 2 0 00-2 2v2m4 6h.01M5 20h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                                            </svg>

                                            <span class="no-ellipse ml-2">@provider.OfficeType</span>
                                            <a href="#!" class="show-all-services">View all</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
                
            </div>
        </div>

        <div class="col-lg-6">
            <!-- Map -->
            <div id="map-container">
                <div id="map" data-map-zoom="4" data-map-scroll="true">
                    <!-- map goes here -->
                </div>

                <!-- Map Navigation -->
                <a href="#" id="geoLocation" title="Your location"></a>

                <ul id="mapnav-buttons" class="top">
                    <li><a href="#" id="prevpoint" title="Previous point on map">Prev</a></li>
                    <li><a href="#" id="nextpoint" title="Next point on mp">Next</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>
<script src="~/Content/dist/vendors/jquery/dist/jquery.min.js"></script>
<script>
    DisplayPager(@Model.Page, @Model.TotalRecords)
    function DisplayData(CurrentPageIndex) {
        var page = CurrentPageIndex;
        location.href = '@Url.Action(Actions.FindProvider, Controllers.Provider)?Page='+CurrentPageIndex;
        
        DisplayPager(@Model.Page, @Model.TotalRecords);
        return false;
    }
    function DisplayPager(CurrentPageIndex, SearchCount) {
        PageSize = 20;
        var pages = ((SearchCount % PageSize) == 0) ? SearchCount / PageSize : (parseInt(SearchCount / PageSize)) + 1;
        var container = $( "<ul class='pagination justify-content-end'></div>" );
        var prevpage = CurrentPageIndex == 1 ? 1 : CurrentPageIndex - 1;
        var nextpage = CurrentPageIndex == pages ? pages : CurrentPageIndex + 1;
        var start = CurrentPageIndex < 4 ? 1 : CurrentPageIndex - 2;
        var end = CurrentPageIndex > 3 ? CurrentPageIndex + 2 : 6;
        var currentPage = @Model.Page;
        if (pages <= 6) {
            start = 1;
            end = pages;
        }
        else {
            if (end >= pages) {
                start -= end + 1 - pages;
                end = pages - 1;
            }
        }
        if (pages > 1) {

            container.append('<li class="page-item"><a id="PageNo" href="javascript:;" class="page-link" onclick="DisplayData(' + prevpage + ')"><</a></li>');
            if (currentPage > 6) {
                container.append('<li class="page-item"><a id="PageNo" href="javascript:;" class="page-link" onclick="DisplayData(' + 1 + ')">' + 1 + '</a></li>');
            }
            for (var p = start; p <= end; p++) {
                if (currentPage == p) {
                    container.append('<li class="page-item"><a id="PageNo" href="javascript:;" class="page-link active" onclick="DisplayData(' + p + ')">' + p + '</a></li>');
                }
                else {
                    container.append('<li class="page-item"><a id="PageNo" href="javascript:;" class="page-link" onclick="DisplayData(' + p + ')">' + p + '</a></li>');
                }
            }
            if (pages > 6) {
                if (currentPage == pages) {
                    container.append('<li class="page-item"><a id="PageNo" href="javascript:;" class="page-link active" onclick="DisplayData(' + pages + ')">' + pages + '</a></li>');
                }
                else {
                    container.append('<li class="page-item"><a id="PageNo" href="javascript:;" class="page-link" onclick="DisplayData(' + pages + ')">' + pages + '</a></li>');
                }
            }
            container.append('<li class="page-item"><a id="PageNo" href="javascript:;" class="page-link" onclick="DisplayData(' + nextpage + ')">></a></li>');
        }
        $('#Pager').html(container);
    }
</script>






