.card {
    min-height: 9.375rem;
    background: #2C3E50;

    &.card-lg {
        border-width: 0.1875rem;
        min-height: 19.375rem;

        .card-body {
            padding: 0.75rem 0.75rem;
        }
    }

    .card-body {
        padding: 0.625rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &.not-responded {
        opacity: 25%;
    }

    &.card-home {
        background-image: url(./../images/Group 3584.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
}
