

.custom-control{
    padding-top: 1.125rem;
    padding-bottom: 1.125rem;
}

.custom-control-label{
    padding-left: 2.25rem;
}

.custom-radio .custom-control-input:checked~.custom-control-label::after{
    background-image: none;
    border: 2px solid #ECF0F1;
    border-radius: 6.25rem;
}

.custom-checkbox .custom-control-label::before{
    border-radius: 0;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::after{
    background-image: none;
    border: 2px solid #ECF0F1;
}