﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PlannedServicesProviderPortal.Pages;
@using PlannedServices.Common.Paging;
@using PlannedServices.Entities.Contract;
@using PlannedServices.Common;
@model PagedList<AbstractResources>

<div class="row justify-content-between py-3">
    <div class="col-auto">
        <h2 class="fw-extrabold mb-0">Resources</h2>
    </div>

</div>

<div class="row">
    <div class="col-12">
        <div class="table-card table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Link</th>
                        <th scope="col">Created  Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var resources in Model.Values)
                    {
                    <tr>

                        <td>
                            <div>@resources.Name</div>
                        </td>
                        <td>
                            <div>@resources.Link</div>
                        </td>
                        <td>
                            <div>@resources.CreatedDate</div>
                        </td>

                    </tr>
                    }



                </tbody>
            </table>
        </div>
    </div>
</div>


