﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PlannedServicesAdmin.Pages;
@using PlannedServices.Entities.V1;
@using PlannedServices.Common;
@model User
<div class="row">
    <div class="col-lg-2 col-md-3 col-sm-4 mb-3 mb-sm-0 box">
            <div class="card card-home ">
                <div class="card-body">
                    <h5 class="font-weight-normal">Home</h5>
                </div>
            </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mb-3 mb-sm-0 box">
        <div class="card border-warning border-2">
            <div class="card-body">
                <h5 class="font-weight-normal font-12 text-uppercase">Participant<br>Sign Up</h5>
                <div class="text-left w-100 mt-auto">
                    <img src="~/Content/Icons/Add_User.svg" alt="" class="img-16">
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-12 border-2px ml-5 pl-0">
        <h5 class="heading-main text-uppercase font-13 fw-400 blurhtext">STEP 5 of 5  |  Setup Completed</h5>
    </div>
</div>
<div>
    <p class="font-14 mt-2 fw-300" style="width:65%">
        After you verify your MY REQUEST account you will be ready to start requesting
        services from 1,000s of providers.
    </p>
</div>
<form>
    <div class="row pdl-5 mt-20">
        <div class="col-sm-4 pl-0">
            <div class="form-group">
                <label for="emailAddress">User Name</label>
                @Html.TextBoxFor(model => model.Email, new { @type = "text", @class = "form-control custom-form-control", placeholder = "User Name", @disabled = true })
            </div>
        </div>
        <div class="col-sm-8 pl-0"></div>
        <div class="col-sm-4 pl-0">
            <div class="form-group">
                <label for="emailAddress">Password</label>
                @Html.TextBoxFor(model => model.Password, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Password", @disabled = true })
            </div>
        </div>
        <div class="col-sm-8 pl-0"></div>
    </div>
</form>
<div class="row mt-20">
    <div class="col-12">
        <a href="@Url.Action(Actions.PMDSettings, Controllers.AccountSetup, new { Area = "", UserType = ProjectSession.SetupUserType })" class="btn btn-outline-secondary mr-2 text-uppercase">Previous</a>
        <a href="#" onclick="Next()" class="btn btn-outline-success text-white text-uppercase">Verify</a>
        @*<a href="@Url.Action("Index", Controllers.Dashboard)" class="btn btn-outline-success text-white text-uppercase">Verify</a>*@
    </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content mcontent" style="border:0;">
            @*<div class="modal-body mbody border-warning" style="width:394px">
                <h5>
                    By verifying your account, you are
                    acknowledging that you have exercised
                    choice and control, nominating
                    Requisition.
                </h5>
                <p>
                    A valid and eligible invoice will be forwarded to
                    your plan manager for payment processing,
                    which is fully funded in your NDIS Plan support
                    categories.
                </p>
            </div>*@
            <div class="modal-footer pl-0 pr-0" style="border:0;">
                @*<button data-dismiss="modal" class="btn btn-outline-secondary mr-2 mno" style="padding: 5px 68px;">CANCEL</button>*@
                <button onclick="Verify()" class="btn btn-outline-warning text-white text-uppercase  myes" style="padding: 5px 66px;width: 310px;">ACCOUNT VERIFIED</button>
            </div>
        </div>

    </div>
</div>
<script>
    function Next() {
        if ($("#Email").val() == "" || $("#Password").val() == "") {
            toastr.clear();
            ShowMessageToastr("danger", "Please enter valid User Name & Password.!", false);
            return
        }
        else {
            $("#myModal").modal("show");
        }
    }
    function Verify() {
           $.ajax({
            url: '@Url.Action(Actions.SendEmail, Controllers.AccountSetup, new { area = "" })',
            data: {
                Email: $("#Email").val()
            },
            type: 'POST',
            datatype: 'json',
            success: function (data) {
                if (data.Code == 200) {
                }
                window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]Dashboard/Index";

            }
           });

    }
    $(document).ready(function () {
        $('#myModal').on('hide.bs.modal', function () {
            Verify();
        })
    })
</script>