﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PlannedServicesAdmin.Pages;
@using PlannedServices.Entities.V1;
@using PlannedServices.Common;
@model User
<div class="row">
    <div class="col-lg-2 col-md-3 col-sm-4 mb-3 mb-sm-0 box">
            <div class="card card-home ">
                <div class="card-body">
                    <h5 class="font-weight-normal">Home</h5>
                </div>
            </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mb-3 mb-sm-0 box">
        <div class="card border-warning border-2">
            <div class="card-body">
                <h5 class="font-weight-normal font-12 text-uppercase">Participant<br>Sign Up</h5>
                <div class="text-left w-100 mt-auto">
                    <img src="~/Content/Icons/Add_User.svg" alt="" class="img-16">
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-12 border-2px ml-5 pl-0">
        <h5 class="heading-main text-uppercase font-13 fw-400 blurhtext">
            STEP 2 of 4  |  NDIS PARTICIPANT details
        </h5>
    </div>
</div>

<div class="row pl-0 mt-10">
    <div class="col-sm-3 pl-0 ">
        <div class="custom-control custom-radio">
            <input type="radio" id="1" checked name="customRadio" class="custom-control-input" value="1" onclick="SetValue(0,1)">
            <label class="custom-control-label" for="1">Plan Managed</label>
        </div>
    </div>
    <div class="col-sm-4 pl-0">
        <div class="custom-control custom-radio">
            <input type="radio" id="2" name="customRadio" class="custom-control-input" value="2" onclick="">
            <label class="custom-control-label" for="2">Self Managed</label>
        </div>
    </div>
</div>
@using (Html.BeginForm(Actions.AddManageType, Controllers.AccountSetup, FormMethod.Post, new { area = "", @id = "frmAddEditUsers" }))
{
<div class="row pdl-5 mt-10">

    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Age)
    @Html.HiddenFor(model => model.ManagerType)
    @Html.HiddenFor(model => model.Email)
    @Html.HiddenFor(model => model.LookupStateId)
    @Html.HiddenFor(model => model.PlanManagerId)
    <div class="col-sm-4 pl-0">
        <div class="form-group">
            <label for="emailAddress">First Name</label>
            @Html.TextBoxFor(model => model.FirstName, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Enter your first name" })
        </div>
    </div>
    <div class="col-sm-4 pl-0">
        <div class="form-group">
            <label for="emailAddress">Last Name</label>
            @Html.TextBoxFor(model => model.LastName, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Enter your last name" })
        </div>
    </div>
    <div class="col-sm-4 pl-0"></div>
    <div class="col-sm-4 pl-0">
        <div class="form-group">
            <label for="emailAddress">NDIS Number(Optional)</label>
            @Html.TextBoxFor(model => model.NDISReferenceNumber, new { @type = "text", @class = "form-control custom-form-control", placeholder = "NDIS Number" })
        </div>
    </div>
    <div class="col-sm-4 pl-0">
        <div class="form-group">
            <label for="emailAddress">Date Of Birth</label>
            @Html.TextBoxFor(model => model.DOB, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Date Of Birth" })
        </div>
    </div>
    <div class="col-sm-4 pl-0"></div>
    <div class="col-12 ml-5 pl-0" id="IsNominee">
        <div class="row">
            <div class="col-12 border-2px pl-0 ">
                <h5 class="heading-main text-uppercase font-13 fw-400 blurhtext">Nominee Details</h5>
            </div>
            <div class="col-sm-12 pl-0">
                <p class="font-14 mt-2 fw-300" style="width:65%">
                    Support Request requires nominee details to be provided for participants under the age of 18.
                </p>
            </div>
            <div class="col-sm-4 pl-0 mt-20">
                <div class="form-group">
                    <label for="emailAddress">Nominee First Name</label>
                    @Html.TextBoxFor(model => model.NomineeFirstName, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Nominee first name" })
                </div>
            </div>
            <div class="col-sm-4 pl-0 mt-20">
                <div class="form-group">
                    <label for="emailAddress">Nominee Last Name</label>
                    @Html.TextBoxFor(model => model.NomineeLastName, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Nominee last name" })
                </div>
            </div>
            <div class="col-sm-4 pl-0"></div>
            @*<div class="col-sm-4 pl-0 ">
                <div class="form-group">
                    <label for="emailAddress">Title</label>
                    @Html.TextBoxFor(model => model.NomineeTitle, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Title" })
                </div>
            </div>*@
            @*<div class="col-sm-4 pl-0">
                    <div class="form-group">
                        <label for="emailAddress">Mobile (Optional)</label>
                        @Html.TextBoxFor(model => model.NomineeMobileNo, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Mobile Number" })
                    </div>
                </div>*@
            @*<div class="col-sm-4 pl-0">
                <div class="form-group">
                    <label for="emailAddress">Email</label>
                    @Html.TextBoxFor(model => model.NomineeEmail, new { @type = "email", @class = "form-control custom-form-control", placeholder = "Email" })
                </div>
            </div>*@

        </div>
    </div>
    <div class="col-sm-8 pl-0 mt-20">
        <a href="@Url.Action("PDSettings", Controllers.AccountSetup)" class="btn btn-outline-secondary mr-2 text-uppercase">Previous</a>
        <button type="submit" class="btn btn-outline-primary text-uppercase">Next</button>
    </div>
</div>
    }
    @*<div class="row mt-20">
        <div class="col-12">
            <a href="@Url.Action("PDSettings", Controllers.AccountSetup)" class="btn btn-outline-secondary mr-2 text-uppercase">Previous</a>
            <a href="#" onclick="next()" class="btn btn-outline-primary text-uppercase">Next</a>
        </div>
    </div>*@
    <script>
        $(function () {
            $('input[name="DOB"]').daterangepicker({
                singleDatePicker: true,
                showDropdowns: true,
                showButtonPanel: false,
                autoApply: true,
                maxDate: new Date(),
            }, function (start, end, label) {
                var years = moment().diff(start, 'years');
                $("#Age").val(years);
                if (years > 18) {
                    $("#IsMinor").val("1");
                    FormValidation.init();
                }
                else {
                    $("#IsMinor").val("0");
                    FormValidation.init();
                }
            });
        });
        jQuery(document).ready(function () {
           
            FormValidation.init();

            $("#" + $.trim($("#ManagerType").val())).attr("checked", "checked");
        });


        var FormValidation = function () {
            // basic validation
            var handleValidation1 = function () {

                var form1 = $('#frmAddEditUsers');
                var error1 = $('.alert-danger', form1);
                //var success1 = $('.alert-success', form1);


                form1.validate({
                    errorElement: 'label', //default input error message container
                    errorClass: 'error', // default input error message class
                    focusInvalid: false, // do not focus the last invalid input
                    ignore: "",  // validate all fields including form hidden input
                    rules: {
                        FirstName: {
                            required: true
                        },
                        LastName: {
                            required: true
                        },


                        DOB: {
                            required: true
                        },
                        //NomineeEmail: {
                        //    required: {
                        //        depends: function (element) {
                        //            if ($('#Age').val() < 18) {
                        //                return true;
                        //            } else {
                        //                return false;
                        //            }
                        //        }
                        //    }
                        //},
                        //NomineeTitle: {
                        //    required: {
                        //        depends: function (element) {
                        //            if ($('#Age').val() < 18) {
                        //                return true;
                        //            } else {
                        //                return false;
                        //            }
                        //        }
                        //    }
                        //},
                        NomineeLastName: {
                            required: {
                                depends: function (element) {
                                    if ($('#Age').val() < 18) {
                                        return true;
                                    } else {
                                        return false;
                                    }
                                }
                            }
                        },
                        NomineeFirstName: {
                            required: {
                                depends: function (element) {
                                    if ($('#Age').val() < 18) {
                                        return true;
                                    } else {
                                        return false;
                                    }
                                }
                            }
                        },

                    },

                    nvalidHandler: function (event, validator) { //display error alert on form submit
                    },

                    highlight: function (element) { // hightlight error inputs
                        $(element)
                            .closest('.form-control').addClass('validate-has-error'); // set error class to the control group
                    },

                    success: function (label, element) {
                        $(element).closest('.form-control').removeClass('validate-has-error');
                        label.closest('.form-control').removeClass('validate-has-error');
                        label.remove();
                    },

                    errorPlacement: function (error, element) {
                        if (element.closest('.input-icon').length === 1) {
                            //error.insertAfter(element.closest('.input-icon'));
                        } else {
                           // error.insertAfter(element);
                        }
                    },

                    submitHandler: function (form) {
                        var v = $('input[name="customRadio"]:checked').val();
                        $("#ManagerType").val(v);
                        form.submit(); // form validation success, call ajax form submit
                    }
                });


                $('#frmAddEditUsers input').keypress(function (e) {
                    if (e.which == 13) {
                        if ($('#frmAddEditUsers').validate().form()) {
                            $('#frmAddEditUsers').submit(); //form validation success, call ajax form submit
                        }
                        return false;
                    }
                });
            }
            return {
                //main function to initiate the module
                init: function () {
                    handleValidation1();
                }
            };
        }();

    function next() {
        var v = $('input[name="customRadio"]:checked').val();
        $.ajax({
            url: '@Url.Action(Actions.UpdatePlanType, Controllers.AccountSetup, new { area = "" })',
            data: {
                Type: v
            },
            type: 'POST',
            datatype: 'json',
            success: function (data) {
                if (data.Code == 200) {
                     if (v == "1")
                     {
                         window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]AccountSetup/PMDSettings";
                    }
                    else
                     {
                         window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]AccountSetup/PaymentDetails";
                    }
                }
            }
        });
    }
    </script>
