﻿
@{
    ViewBag.Title = "Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PlannedServicesAdmin.Pages;
@using PlannedServices.Common;
@using PlannedServices.Entities.V1;
@model User
<style>
    .tab.active {
        border: 4px solid #ff9800;
    }

    .tab2.active {
        border: 4px solid #ff9800;
    }

    .tab3.active {
        border: 4px solid #ff9800;
    }

    .tab4.active {
        border: 4px solid #ff9800;
    }

    .showImage {
        display: block !important
    }

    @@media screen and (min-width: 768px) {
        .mbody {
            width: 470px;
        }
       
    }
    .modal-footer .btn {
        width: 100%;
        margin-right: 0 !important;
        margin-bottom: 20px !important;
        height:43px;
    }
    @@media screen and (max-width: 768px) {
     
        .modal-footer .btn {
            width: 100%;
            margin-right: 0!important;
            margin-bottom: 20px !important
        }
    }
</style>

<div class="row">
    <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
        <div class="card card-home ">
            <div class="card-body">
                <h5 class="font-weight-normal">Home</h5>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
        <div class="card blurbg hborder mbox">
            <div class="card-body">
                <h5 class="font-weight-normal font-12 text-uppercase hideOnMobile">SUPPORT<br>Request</h5>
                <h5 class="font-weight-normal font-12 text-uppercase showOnMobile">SUPPORT Request</h5>

                <div class="text-left w-100 mt-auto">
                    <img src="~/Content/Icons/Support_Requests.svg" alt="" class="img-16">
                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
        <div class="card border-warning border-2 mbox">
            <div class="card-body">
                <h5 class="font-weight-normal font-12 text-uppercase hideOnMobile">Trial<br>SUPPORT<br>Request</h5>
                <h5 class="font-weight-normal font-12 text-uppercase showOnMobile">Trial SUPPORT Request</h5>
                <div class="text-left w-100 mt-auto">
                    <img src="~/Content/Icons/New_Request.svg" alt="" class="img-16">
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row LSection w-100">
    <div class="col-12 border-2px ml-5 pl-0">
        <h5 class="heading-main text-uppercase font-13 fw-400 blurhtext">STEP 1 : 6  |  Location</h5>
    </div>
</div>
<div class="LSection">
    <p class="font-14 mt-2 fw-300 ctext" style="width:65%">
        Please select your post code and city:
    </p>
</div>

<div class="row BSection w-100">
    <div class="col-12 border-2px ml-5 pl-0">
        <h5 class="heading-main text-uppercase font-13 fw-400 blurhtext">STEP 2 : 6  |  Select the support purpose.</h5>
    </div>
</div>
<div class="BSection">
    <p class="font-14 mt-2 fw-300 ctext" style="width:65%">
        NDIS participant budgets are allocated to three separate support purposes:
    </p>
</div>
<div class="row GSection w-100">
    <div class="col-12 border-2px ml-5 pl-0">
        <h5 class="heading-main text-uppercase font-13 fw-400 blurhtext">
            STEP 3 : 6 |  What is the goal you want to achieve with this support request?
        </h5>
    </div>
</div>
<div class="GSection  mb-20">
    <p class="font-14 mt-2 fw-300 ctext" style="width:65%">
        Select the the category that best describe your goal for the support request.
    </p>
</div>
<div class="row RSection w-100 mb-20" style="display:none">
    <div class="col-12 border-2px ml-5 pl-0">
        <h5 class="heading-main font-13 fw-400 blurhtext text-uppercase"> STEP 4 : 6  |  SELECT THE SUPPORT CATEGORY.</h5>
    </div>
</div>
<div class="row CSection w-100 mb-20" style="display:none">
    <div class="col-12 border-2px ml-5 pl-0">
        <h5 class="heading-main font-13 fw-400 blurhtext text-uppercase">STEP 5 : 6  |  Select the support sub category.</h5>
    </div>
</div>

<div class="row SSection w-100 mb-20" style="display:none">
    <div class="col-12 border-2px ml-5 pl-0">
        <h5 class="heading-main font-13 fw-400 blurhtext text-uppercase">STEP 6 : 6  |  SELECT THE SUPPORTS YOU REQUIRE.</h5>
    </div>
</div>

<div class="row w-100 mt-20 ml-0 LSection" id="LSection">

    <div class="col-sm-3 col-md-2 pl-0">
        <div class="form-group">
            <label for="emailAddress">Post Code</label>
            @Html.TextBoxFor(model => model.PinCode, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Post Code", @onblur = "onChangeCode(0)" })
        </div>
    </div>
    <div class="col-sm-3 col-md-2 pl-0">
        <div class="form-group">
            <label for="emailAddress">State</label>
            @Html.DropDownListFor(model => model.LookupStateId, (IEnumerable<SelectListItem>)ViewBag.States, "Select State", new { @class = "form-control custom-form-control", @onchange = "onChangeCode(1);" })
        </div>
    </div>
    <div class="col-sm-4 col-md-2 pl-0">
        <div class="form-group">
            <label for="emailAddress">City</label>
            @Html.DropDownListFor(model => model.Surburb, (IEnumerable<SelectListItem>)ViewBag.Citys, "Select City", new { @class = "form-control custom-form-control", @Id = "City", @Name = "City" })
        </div>
    </div>
</div>

<div class="row w-100 pl-0 BSection mt-10" id="BSection" style="display:none">
    @foreach (var item in @ViewBag.BudgetMaster)
    {
        <div class="col-12 pr-0 ml-5 border-1px">
            <div class="radio-list-padding">
                <div class="custom-control custom-radio">
                    <input type="radio" id="1customRadio_@item.Id" name="customRadio" class="custom-control-input" onclick="SetValue(0,@item.Id)">
                    <label class="custom-control-label text-uppercase font-16 fw-400 " for="1customRadio_@item.Id">@item.Name</label>
                    <p style="min-height:20px" class="pld font-14 fw-300 mt-0">@item.Description</p>
                </div>
            </div>
        </div>
    }
</div>

<div class="row w-100 pl-0 GSection" id="GSection"></div>
<div class="row w-100 pl-0 RSection" id="RSection"></div>
<div class="row w-100 pl-0 CSection" id="CSection"></div>
<div class="row w-100 pl-0 SSection" id="SSection"></div>
@*<div class="row w-100 pl-0 MSection" id="MSection" style="display:none">
        <textarea id="Comment" rows="3" class="form-control custom-textbox ml-5"></textarea>
    </div>*@


<div class="row mt-4">
    <div class="col-12" id="7Section">
        <a href="@Url.Action("SignIn", Controllers.Authentication)" class="btn btn-outline-secondary text-uppercase mr-2">Cancel</a>
        <a href="#" onclick="onLocationNext()" class="btn btn-outline-primary text-uppercase">Next</a>
    </div>
    <div class="col-12" id="1Section" style="display:none">
        <a href="#" onclick="SetValue(77,0)" class="btn btn-outline-secondary text-uppercase mr-2">Previous</a>
        <a href="#" onclick="SetCategory1(3)" class="btn btn-outline-primary text-uppercase">Next</a>
    </div>
    <div class="col-12" id="6Section" style="display:none">
        <a href="#" onclick="SetValue(5,0)" class="btn btn-outline-secondary mr-2 text-uppercase">Previous</a>
        <a href="#" onclick="SetCategory1(0)" class="btn btn-outline-primary text-uppercase">Next</a>
    </div>
    <div class="col-12" id="2Section" style="display:none">
        <a href="#" onclick="SetValue(10,0)" class="btn btn-outline-secondary mr-2 text-uppercase">Previous</a>
        <a href="#" onclick="SetCategory1(1)" class="btn btn-outline-primary text-uppercase">Next</a>
    </div>
    <div class="col-12" id="3Section" style="display:none">
        <a href="#" onclick="SetValue(6,0)" class="btn btn-outline-secondary mr-2 text-uppercase">Previous</a>
        <a href="#" onclick="SetCategory1(2)" class="btn btn-outline-primary text-uppercase">Next</a>
    </div>
    <div class="col-12" id="4Section" style="display:none">
        <a href="#" onclick="SetValue(7,0)" class="btn btn-outline-secondary mr-2 text-uppercase">Previous</a>
        <a href="#" onclick="Save()" class="btn btn-outline-primary text-uppercase">Next</a>
    </div>
    @*<div class="col-12" id="5Section" style="display:none">
            <a href="#" onclick="SetValue(9,0)" class="btn btn-outline-secondary mr-2 text-uppercase">Previous</a>
            <a href="#" onclick="Save()" class="btn border-success text-uppercase">Send</a>
        </div>*@
</div>
<!-- Modal -->

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content mcontent" style="border:0;">
            <div class="modal-footer pl-0 pr-0" style="border:0;">
                <button data-dismiss="modal" class="btn btn-outline-success text-white text-uppercase myes" style="width: 310px;">
                    THANK YOU FOR TRYING MY REQUEST
                </button>
            </div>
        </div>

    </div>
</div>

<div id="myModal2" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content mcontent">
            <div class="modal-body mbody border-secondary border-3">
                <h6 class="font-13 text-left blurhtext m-0">
                    There are <span id="pn1">45</span> Providers that meet your support requirements.
                    To send your request you will need to activate your account with link below.
                </h6>
            </div>
            <div class="modal-footer pl-0 pr-0" style="border:0;">
                <button onclick="activeAccount()" class="btn btn-outline-success text-white mr-2 myes">Signup for My Request</button>
                <button onclick="loadPage()" class="btn btn-outline-warning text-white mr-2 myes">Try Again</button>
                <button data-dismiss="modal" class="btn btn-outline-danger text-white  mno">End Trial</button>
            </div>
        </div>

    </div>
</div>
<div class="overlayUpload" id="isLoading" style="display:none">
    <div class="uploadtext">Loading...</div>
</div>
<input type="hidden" id="BudgetId" />
<input type="hidden" id="GoalId" />
<input type="hidden" id="RegistrationGroupId" />
<input type="hidden" id="CategoryId" />
<input type="hidden" id="SupportItemIds" />
<input type="hidden" id="sId" />
<input type="hidden" id="stripeToken" />
<input type="hidden" id="stripeEmail" />
<script src="//checkout.stripe.com/v2/checkout.js"></script>
<script>

    $(document).ready(function () {
       
        $("#1Section").hide();
        $("#2Section").hide();
        $("#3Section").hide();
        $("#4Section").hide();
        $("#5Section").hide();
        $("#6Section").hide();
        $("#7Section").show();

        $(".LSection").show();
        $(".MSection").hide();
        $(".RSection").hide();
        $(".CSection").hide();
        $(".SSection").hide();
        $(".BSection").hide();
        $(".GSection").hide();

        $(".tab").click(function () {
            $(".tab").removeClass("active");
            $(this).addClass("active");
        });

        $('#myModal').on('hidden.bs.modal', function () {
            // do something…
            window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]Authentication/SignIn";
        });
        $('#myModal2').on('hidden.bs.modal', function () {
            // do something…
            $("#myModal").modal("show");
            //window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]Authentication/SignIn";
    });
    });

    function loadPage() {
        window.location.reload();
    }
    function activeAccount() {
        window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]AccountSetup/PDSettings";
    }
    function SetValue(type, id) {
        debugger;
        if (type == 0) {
            $("#BudgetId").val(id);
        }
        else if (type == 1) {
            $("#RegistrationGroupId").val(id);
            //$(".tab2").removeClass("active");
            //$("#tab2" + id).addClass("active");
        }
        else if (type == 11) {
            var v = $('input[name="2customRadio"]:checked').val();
            $("#GoalId").val(v);
        }

        else if (type == 2) {
            $("#CategoryId").val(id);
            //$(".tab3").removeClass("active");
            //$("#tab3" + id).addClass("active");
        }
        else if (type == 3) {
            var chks = document.getElementsByClassName("checkBoxClass");
            var selectedCheck = new Array();
            for (var i = 0; i < chks.length; i++) {
                if (chks[i].checked) {
                    selectedCheck.push(chks[i].value);
                }
            }
            if (selectedCheck.length > 0) {
                var Ids = selectedCheck.join(",");
                $("#SupportItemIds").val(Ids);
            }
            else {
                $("#SupportItemIds").val("");
            }
            //$("#tab4" + id).toggleClass("active");
            //$("#tab4" + id +" div").children('img').toggleClass("showImage");
            //var arr = $(".tab4.active").map(function () {
            //    return $(this).attr("data");
            //}).get().join();
            //$("#SupportItemIds").val(arr);
        }

        if (type == 5) {
            $(".RSection").hide();
            $(".CSection").hide();
            $(".SSection").hide();
            $(".BSection").show();
            $(".GSection").hide();

            $("#6Section").hide();
            $("#1Section").show();
            $("#2Section").hide();
            $("#3Section").hide();
            $("#4Section").hide();
        }
        else if (type == 6) {
            $(".RSection").show();
            $(".CSection").hide();
            $(".SSection").hide();
            $(".BSection").hide();
            $(".GSection").hide();

            $("#6Section").hide();
            $("#1Section").hide();
            $("#2Section").show();
            $("#3Section").hide();
            $("#4Section").hide();
        }
        else if (type == 7) {
            $(".RSection").hide();
            $(".CSection").show();
            $(".SSection").hide();
            $(".BSection").hide();
            $(".GSection").hide();

            $("#6Section").hide();
            $("#1Section").hide();
            $("#2Section").hide();
            $("#3Section").show();
            $("#4Section").hide();
        }
        else if (type == 8) {

            if ($("#SupportItemIds").val() == "") {
                ShowMessageToastr("danger", "Please Select Support Item.!", false);
                return
            }
            $(".RSection").hide();
            $(".CSection").hide();
            $(".SSection").hide();
            $(".BSection").hide();
            $(".MSection").show();
            $(".GSection").hide();

            $("#6Section").hide();
            $("#1Section").hide();
            $("#2Section").hide();
            $("#3Section").hide();
            $("#4Section").hide();
            $("#5Section").show();
        }
        else if (type == 9) {
            $(".RSection").hide();
            $(".CSection").hide();
            $(".SSection").show();
            $(".BSection").hide();
            $(".MSection").hide();
            $(".GSection").hide();

            $("#6Section").hide();
            $("#1Section").hide();
            $("#2Section").hide();
            $("#3Section").hide();
            $("#4Section").show();
            $("#5Section").hide();
        }
        else if (type == 10) {
            $(".RSection").hide();
            $(".CSection").hide();
            $(".GSection").show();
            $(".BSection").hide();
            $(".MSection").hide();
            $(".SSection").hide();

            $("#1Section").hide();
            $("#2Section").hide();
            $("#3Section").hide();
            $("#6Section").show();
            $("#5Section").hide();
            $("#4Section").hide();
        }
        else if (type == 77) {
            $(".RSection").hide();
            $(".CSection").hide();
            $(".GSection").hide();
            $(".BSection").hide();
            $(".MSection").hide();
            $(".SSection").hide();
            $(".LSection").show();

            $("#7Section").show();
            $("#1Section").hide();
            $("#2Section").hide();
            $("#3Section").hide();
            $("#6Section").hide();
            $("#5Section").hide();
            $("#4Section").hide();
        }
    }

    function SetCategory1(type) {
        $(".LSection").hide();
        $("#7Section").hide();
        debugger
        if (type == 0) {

            var gid = $("#GoalId").val();
            var bid = $("#BudgetId").val();
            var cid = 0;
            var id = 0;
            $("#RegistrationGroupId").val("");
            $("#CategoryId").val("");
            if (gid == "") {
                ShowMessageToastr("danger", "Please Select Goal.!", false);
                return
            }

        }
        else if (type == 1) {
            var gid = $("#GoalId").val();
            var bid = $("#BudgetId").val();
            var id = $("#RegistrationGroupId").val();
            var cid = $("#RegistrationGroupId").val();
            $("#CategoryId").val("");
            if (id == "") {
                ShowMessageToastr("danger", "Please Select Registration Group.!", false);
                return
            }
        }
        else if (type == 2) {
            var gid = $("#GoalId").val();
            var bid = $("#BudgetId").val();
            var id = $("#CategoryId").val();
            var cid = $("#RegistrationGroupId").val();
            $("#SupportItemIds").val("");
            $(".tab4").removeClass("active");
            if (id == "") {
                ShowMessageToastr("danger", "Please Select Category.!", false);
                return
            }
          }
        else if (type == 3) {
            var id = $("#BudgetId").val();
            var bid = $("#BudgetId").val();
            var cid = 0;
            var gid = 0;
            $("#GoalId").val("");
            $("#RegistrationGroupId").val("");
            $("#CategoryId").val("");
            if (id == "") {
                ShowMessageToastr("danger", "Please Select Budget.!", false);
                return
            }
        }
        //else if (type == 33) {
        //    var pcode = $("#PinCode").val();
        //    var scode = $("#LookupStateId").val();
        //    var city = $("#City").val();
        //    $("#BudgetId").val("");
        //    $("#GoalId").val("");
        //    $("#RegistrationGroupId").val("");
        //    $("#CategoryId").val("");
        //    $("#SupportItemIds").val("");

        //    pcode == "" ? $("#PinCode").addClass("validate-has-error") : $("#PinCode").removeClass("validate-has-error");
        //    scode == "" ? $("#LookupStateId").addClass("validate-has-error") : $("#LookupStateId").removeClass("validate-has-error");
        //    city == "" ? $("#City").addClass("validate-has-error") : $("#City").removeClass("validate-has-error");
        //    if (pcode == "" || scode == "" || city == "") {
        //        return
        //    }
        //    else {
        //        $(".BSection").show();
        //        $("#1Section").show();
        //    }
        //    return
        //}
              $.ajax({
                  url: '@Url.Action(Actions.RegistrationGroupByCategoryId, Controllers.AccountSetup, new { area = "" })',
                  data: { Type: type, RId: id, CId: cid, GName: gid, BId: bid},
                  type: 'GET',
                  datatype: 'json',
                  success: function (data) {
                      if (type == 3) {
                          $(".LSection").hide();
                          $(".GSection").show();
                          $(".CSection").hide();
                          $(".SSection").hide();
                          $(".BSection").hide();
                          $(".RSection").hide();

                          $("#7Section").hide();
                          $("#1Section").hide();
                          $("#6Section").show();
                          $("#3Section").hide();
                          $("#4Section").hide();
                          $("#2Section").hide();

                          if (data.length > 0) {
                              var s = '';
                              for (var i = 0; i < data.length; i++) {
                                  s += '<div class="col-12 pr-0 ml-5 border-1px">'
                                  s += '<div class="radio-list-padding">'
                                  s += '<div class="custom-control custom-radio">'
                                  s += '<input type="radio" id="2customRadio' + data[i].DrpId + '" name="2customRadio" class="custom-control-input" value="' + data[i].Name + '" onclick="SetValue(11,0)">'
                                  s += '<label class="custom-control-label" for="2customRadio' + data[i].DrpId + '">' + data[i].Name + '</label>'
                                  s += '</div>'
                                  s += '</div>'
                                  s += '</div>'

                              }
                              $("#GSection").html(s);
                          }
                          else {
                              $("#GSection").html('');
                          }
                      }
                      if (type == 0) {
                          $(".RSection").show();
                          $(".CSection").hide();
                          $(".SSection").hide();
                          $(".BSection").hide();
                          $(".GSection").hide();
                          $(".LSection").hide();

                          $("#7Section").hide();
                          $("#6Section").hide();
                          $("#1Section").hide();
                          $("#2Section").show();
                          $("#3Section").hide();
                          $("#4Section").hide();

                          if (data.length > 0) {
                              var s = '';
                              for (var i = 0; i < data.length; i++) {
                                  s += '<div class="col-12 pr-0 ml-5 border-1px">'
                                  s += '<div class="radio-list-padding">'
                                  s += '<div class="custom-control custom-radio">'
                                  s += '<input type="radio" id="5customRadio' + data[i].DrpId + '" name="5customRadio" class="custom-control-input" onclick="SetValue(1,' + data[i].DrpId + ')">'
                                  s += '<label class="custom-control-label" for="5customRadio' + data[i].DrpId + '">' + data[i].Name + '</label>'
                                  s += '<p class="pld font-14 fw-300 mt-0 pr-4">' + data[i].Description + '</p>'
                                  s += '</div>'
                                  s += '</div>'
                                  s += '</div>'

                              }
                              $("#RSection").html(s);
                          }
                          else {
                              $("#RSection").html('');
                          }
                      }
                      else if (type == 1) {
                          $(".RSection").hide();
                          $(".CSection").show();
                          $(".SSection").hide();
                          $(".BSection").hide();
                          $(".GSection").hide();
                          $(".LSection").hide();

                          $("#7Section").hide();
                          $("#6Section").hide();
                          $("#1Section").hide();
                          $("#2Section").hide();
                          $("#3Section").show();
                          $("#4Section").hide();
                          if (data.length > 0) {
                              var s = '';
                              //s += '<option value="">Select Support Category</option>';
                              for (var i = 0; i < data.length; i++) {
                                  s += '<div class="col-12 pr-0 ml-5 border-1px">'
                                  s += '<div class="radio-list-padding">'
                                  s += '<div class="custom-control custom-radio">'
                                  s += '<input type="radio" id="3customRadio' + data[i].DrpId + '" name="3customRadio" class="custom-control-input" onclick="SetValue(2,' + data[i].DrpId + ')">'
                                  s += '<label class="custom-control-label" for="3customRadio' + data[i].DrpId + '">' + data[i].Name + '</label>'
                                  s += '</div>'
                                  s += '</div>'
                                  s += '</div>'

                              }
                              $("#CSection").html(s);
                          }
                          else {
                              $("#CSection").html('');
                          }
                      }
                      else if (type == 2) {
                          $(".RSection").hide();
                          $(".CSection").hide();
                          $(".SSection").show();
                          $(".BSection").hide();
                          $(".GSection").hide();
                          $(".LSection").hide();

                          $("#7Section").hide();
                          $("#6Section").hide();
                          $("#1Section").hide();
                          $("#2Section").hide();
                          $("#3Section").hide();
                          $("#4Section").show();

                          if (data.length > 0) {
                              $("#SSection").empty();
                              var s = '';
                              for (var i = 0; i < data.length; i++) {
                                  s += '<div class="col-12 pr-0 ml-5 border-1px">'
                                  //s += '<div class="border-bottom">'
                                  s += '<div class="custom-control custom-checkbox ctext" style="width:60%">'
                                  s += '<input type="checkbox" id="customCheck1' + data[i].DrpId + '" name="customCheck1' + data[i].DrpId + '" value="' + data[i].DrpId + '" class="custom-control-input checkBoxClass" onclick="SetValue(3,' + data[i].DrpId + ')">'
                                  s += '<label class="custom-control-label" for="customCheck1' + data[i].DrpId + '">' + data[i].Name + '</label>'
                                  s += '<p class="pld font-14 fw-300 mt-0 pr-4">' + data[i].Description + '</p>'
                                  s += '</div>'
                                  //s += '</div>'
                                  s += '</div>'

                              }
                              $("#SSection").html(s);
                          }
                          else {
                              $("#SSection").html('');
                          }
                      }

                  },
                  error: function () { }
              });
          }

    function onLocationNext() {
        $("#1Section").hide();
        $("#2Section").hide();
        $("#3Section").hide();
        $("#4Section").hide();
        $("#5Section").hide();
        $("#6Section").hide();
        $("#7Section").show();

        $(".LSection").show();
        $(".MSection").hide();
        $(".RSection").hide();
        $(".CSection").hide();
        $(".SSection").hide();
        $(".BSection").hide();
        $(".GSection").hide();

            var pcode = $("#PinCode").val();
            var scode = $("#LookupStateId").val();
            var city = $("#City").val();
            //$("#BudgetId").val("");
            //$("#GoalId").val("");
            //$("#RegistrationGroupId").val("");
            //$("#CategoryId").val("");
            //$("#SupportItemIds").val("");

            pcode == "" ? $("#PinCode").addClass("validate-has-error") : $("#PinCode").removeClass("validate-has-error");
            scode == "" ? $("#LookupStateId").addClass("validate-has-error") : $("#LookupStateId").removeClass("validate-has-error");
            city == "" ? $("#City").addClass("validate-has-error") : $("#City").removeClass("validate-has-error");
            if (pcode == "" || scode == "" || city == "") {
                return
            }
            else {
                $("#7Section").hide();
                $(".LSection").hide();
                $(".BSection").show();
                $("#1Section").show();
            }
            return
    }

    function Save() {


        if ($("#SupportItemIds").val() == "") {
            ShowMessageToastr("danger", "Please Select SupportItem.!", false);
            return
        }
        $.ajax({
                    url: '@Url.Action(Actions.GetTrialSendRequestProviderCount, Controllers.AccountSetup, new { area = "" })',
                    data: {
                        RId: $("#CategoryId").val(),
                        Pcode : $("#PinCode").val()

                    },
                    type: 'POST',
                    datatype: 'json',
                    success: function (data) {
                        //$("#myModal2").modal("show");
                        $('#myModal2').modal({
                            backdrop: 'static',
                            keyboard: false
                        })
                        var count = (data.Values.length < 10) ? '0' + data.Values.length.toString() : data.Values.length.toString();
                        $("#pn1").text(count);

                    },
                    error: function () { }
                });


    }

    function onChangeCode(type) {
        debugger
        var postcode = $("#PinCode").val();
        var stateId = $("#LookupStateId").val();
        if (type == 0) {
            var s = '';
            s += '<option value="">Select State</option>';
            $("#LookupStateId").html(s);
            $("#LookupStateId").val("");
            var s2 = '';
            s2 += '<option value="">Select City</option>';
            $("#City").html(s2);
            $("#City").val("");
        } else {
            var s = '';
            s += '<option value="">Select City</option>';
            $("#City").html(s);
            $("#City").val("");
        }

        $.ajax({
            url: '@Url.Action(Actions.GetState, Controllers.AccountSetup, new { area = "" })',
            data: { Type: type, PostCode: postcode, StateId: stateId },
            type: 'GET',
            datatype: 'json',
            success: function (data) {
                if (type == 0) {
                    if (data.length > 0) {

                        var s = '';
                        s += '<option value="">Select State</option>'
                        for (var i = 0; i < data.length; i++) {
                            s += '<option value="' + data[i].DrpId + '">' + data[i].Name + '</option>'
                        }
                        $("#LookupStateId").html(s);
                    }
                    else {
                        var s = '';
                        s += '<option value="">Select State</option>';
                        $("#LookupStateId").html(s);
                        $("#LookupStateId").val("");
                    }
                }
                else {
                    if (data.length > 0) {

                        var s = '';
                        s += '<option value="">Select City</option>'
                        for (var i = 0; i < data.length; i++) {
                            s += '<option value="' + data[i].DrpId + '">' + data[i].Name + '</option>'
                        }
                        $("#City").html(s);
                    }
                    else {
                        var s = '';
                        s += '<option value="">Select City</option>';
                        $("#City").html(s);
                        $("#City").val("");
                    }
                }
            }
        });
    }

</script>
