﻿
@{
    ViewBag.Title = "Payment Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PlannedServicesAdmin.Pages;
@using PlannedServices.Entities.V1;
@using PlannedServices.Common;
@model User

<div class="row">
    <div class="col-lg-2 col-md-3 col-sm-4 mb-3 mb-sm-0 box">
        <div class="card card-home ">
            <div class="card-body">
                <h5 class="font-weight-normal">Home</h5>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mb-3 mb-sm-0 box">
        <div class="card border-warning border-2">
            <div class="card-body">
                <h5 class="font-weight-normal  font-12 text-uppercase">Participant<br>Sign Up</h5>
                <div class="text-left w-100 mt-auto">
                    <img src="~/Content/Icons/Add_User.svg" alt="" class="img-16">
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-12 border-2px ml-5 pl-0">
        <h5 class="heading-main text-uppercase font-13 fw-400 blurhtext">STEP 4 of 4  |  BILLING</h5>
    </div>
</div>
<div>
    <p class="font-14 mt-2 fw-300" style="width:65%">
        One Year access to My REQUEST is $440.00 inc gst. A valid Tax invoice will be emailed to you upon validation of payment.
    </p>
</div>
@using (Html.BeginForm(Actions.AddPaymentDetails, Controllers.AccountSetup, FormMethod.Post, new { area = "", @id = "frmAddPayment" }))
{
    <div class="row pdl-5 mt-20">


        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.stripeToken)
        @Html.HiddenFor(model => model.stripeEmail)

        <div class="col-sm-8 pl-0">
            <div class="form-group">
                <label for="emailAddress">Name On Card</label>
                @Html.TextBoxFor(model => model.NameOnCard, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Name On Card" })
            </div>
        </div>
        <div class="col-sm-4 pl-0"></div>
        <div class="col-sm-8 pl-0">
            <div class="form-group">
                <label for="emailAddress">Billing Address</label>
                @Html.TextBoxFor(model => model.AddressLine1, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Enter full Address" })
            </div>
        </div>
        <div class="col-sm-4 pl-0"></div>
        <div class="col-sm-2 pl-0">
            <div class="form-group">
                <label for="emailAddress">Post Code</label>
                @Html.TextBoxFor(model => model.PinCode, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Post Code", @onblur = "onChangeCode(0)" })
            </div>
        </div>
        <div class="col-sm-2 pl-0">
            <div class="form-group">
                <label for="emailAddress">State</label>
                @Html.DropDownListFor(model => model.LookupStateId, (IEnumerable<SelectListItem>)ViewBag.States, "Select State", new { @class = "form-control custom-form-control", @onchange = "onChangeCode(1);" })
            </div>
        </div>
        <div class="col-sm-4 pl-0">
            <div class="form-group">
                <label for="emailAddress">City</label>
                @Html.DropDownListFor(model => model.City, (IEnumerable<SelectListItem>)ViewBag.Citys, "Select City", new { @class = "form-control custom-form-control", @Id = "City", @Name = "City" })
            </div>
        </div>
        <div class="col-sm-4 pl-0"></div>
        <div class="col-sm-4 pl-0 ">
            <div class="form-group">
                <label for="emailAddress">Email For Invoice</label>
                @Html.TextBoxFor(model => model.EmailForInvoice, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Email For Invoice" })
            </div>
        </div>
        <div class="col-sm-8 pl-0"></div>
        @*<div class="col-12 ml-5 pl-0" id="IsNominee">
                        <div class="row">
                            <div class="col-12 border-2px pl-0 ">
                                <h5 class="heading-main text-uppercase font-13">CREDIT / DEBIT CARD DETAILS</h5>
                            </div>
                            <div class="col-sm-12 pl-0">
                                <p class="font-14 mt-2 fw-300" style="width:65%">
                                    1 Year access to NDIS Request is $440.00 inc gst. A valid Tax invoice will be
                                    emailed to you upon validation of payment..
                                </p>
                            </div>
                            <div class="col-sm-4 pl-0 mt-20">
                                    <div class="form-group">
                                        <label for="emailAddress">Card Number</label>
                                        @Html.TextBoxFor(model => model.CardNumber, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Card number" })
                                    </div>
                                </div>
                                <div class="col-sm-2 pl-0 mt-20">
                                    <div class="form-group">
                                        <label for="emailAddress">Expiry Date</label>
                                        @Html.TextBoxFor(model => model.ExpiryDate, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Expiry Date" })
                                    </div>
                                </div>
                                <div class="col-sm-2 pl-0 mt-20">
                                    <div class="form-group">
                                        <label for="emailAddress">CVV Code</label>
                                        @Html.TextBoxFor(model => model.CVVCode, new { @type = "text", @class = "form-control custom-form-control", placeholder = "CVV Code" })
                                    </div>
                                </div>
                                <div class="col-sm-4 pl-0"></div>
                                <div class="col-sm-8 pl-0">
                                    <div class="form-group">
                                        <label for="emailAddress">Name On Card</label>
                                        @Html.TextBoxFor(model => model.NameOnCard, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Name On Card" })
                                    </div>
                                </div>
                                <div class="col-sm-4 pl-0"></div>
                    <div class="col-sm-4 pl-0 ">
                        <div class="form-group">
                            <label for="emailAddress">Email For Invoice</label>
                            @Html.TextBoxFor(model => model.EmailForInvoice, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Email For Invoice" })
                        </div>
                    </div>
                    <div class="col-sm-4 pl-0"></div>

            </div>
                </div>*@

        <div class="col-sm-8 pl-0 mt-20">

            <a href="@Url.Action(Actions.Location, Controllers.AccountSetup, new { Area = "" })" class="btn btn-outline-secondary mr-2 text-uppercase">Previous</a>
            <button type="button" id="customButton" class="btn btn-outline-warning text-white text-uppercase">Process Payment</button>
        </div>
        <script src="//checkout.stripe.com/v2/checkout.js"></script>
    </div>

}



<!-- Modal -->
<div id="myModal2" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content mcontent" style="border:0;">
            <div class="modal-body mbody border-secondary border-3" style="padding:10px 15px">
                <h6 class="font-13 text-left blurhtext m-0">
                    Your setup has successfully been completed. Welcome to My REQUEST.
                </h6>
            </div>
            <div class="modal-footer pl-0 pr-0" style="border:0;">
                <button data-dismiss="modal" class="btn btn-outline-warning text-white mno text-uppercase m-0">CONTINUE</button>
            </div>
        </div>
    </div>
</div>

<!--<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">-->
<!-- Modal content-->
<!--<div class="modal-content mcontent">
            <div class="modal-body mbody border-warning" style="width:394px">
                <h5>Verify Account</h5>
                <p>
                    Buy verifying your account, you acknowledge the
                    cost of using Requisition is $400.00ex and that
                    this cost will come out of you NDIS funding.
                </p>
            </div>
            <div class="modal-footer pl-0 pr-0" style="border:0;">
                <button data-dismiss="modal" class="btn btn-outline-secondary mr-2 mno">CANCEL</button>
                <button onclick="Verify()" class="btn btn-outline-secondary  myes">PROCEED</button>
            </div>
        </div>

    </div>
</div>-->
@if (TempData["displayModal"] != null)
{
    var modal = TempData["displayModal"].ToString();
    <script type='text/javascript'>
        $(document).ready(function () {
            $("#NameOnCard").val("");
            $("#AddressLine1").val("");
            $("#PinCode").val("");
            $("#LookupStateId").val("");
            $("#City").val("");
            $("#EmailForInvoice").val("");
            $('#@modal').modal('show');
        });
    </script>
}
<script>

     var handler = StripeCheckout.configure({
        key: '@System.Configuration.ConfigurationManager.AppSettings["StripePublishableKey"]',
         image: '@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]Content/images/My_Request_Logo.jpg',
         token: function (token) {
            $("#stripeToken").val(token.id);
            $("#stripeEmail").val(token.email);
           // $("#amountInCents").val(Math.floor($("#amountInDollars").val() * 100));
            $("#frmAddPayment").submit();
        }
     });
    //Stripe.confirmCardPayment(clientSecret).then(function (response) {
    //    debugger
    //    if (response.error) {
    //        // Handle error here
    //    } else if (response.paymentIntent && response.paymentIntent.status === 'succeeded') {
    //        // Handle successful payment here
    //    }
    //});
    $('#customButton').on('click', function (e) {
        var emailForInvoice = $('#EmailForInvoice').val();
        if (@ProjectSession.SetupUserID > 0) {
            if ($('#frmAddPayment').validate().form()) {
                var amountInCents = Math.floor(440.00 * 100);
                var displayAmount = parseFloat(Math.floor(amountInCents) / 100).toFixed(2);
                // Open Checkout with further options
                handler.open({
                    name: '1 year access to My Request',
                    description: 'Total Payment in AUD $' + displayAmount + ' / Year',
                    amount: amountInCents,
                    email: emailForInvoice,
                    paymentmethodtypes: ["bancontact",
                        "card",
                        "eps",
                        "giropay",
                        "ideal",
                        "p24",
                        "sepa_debit",
                        "sofort"]
                });
                e.preventDefault();
            }
        }
        else {
            ShowMessageToastr("danger", "something went wrong. please try again.", false);
        }
    });

    jQuery(document).ready(function () {
        FormValidation.init();
        $('#myModal2').on('hide.bs.modal', function () {
              $.ajax({
            url: '@Url.Action(Actions.SendEmail, Controllers.AccountSetup, new { area = "" })',
            data: {
                //Email: $("#Email").val()
            },
            type: 'POST',
            datatype: 'json',
            success: function (data) {
                if (data.Code == 200) {
                }
                window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]Dashboard/Index";

            }
           });
        })
    });

     function onChangeCode(type) {
        var postcode = $("#PinCode").val();
        var stateId = $("#LookupStateId").val();
        if (type == 0) {
            var s = '';
            s += '<option value="">Select State</option>';
            $("#LookupStateId").html(s);
            $("#LookupStateId").val("");
            var s2 = '';
            s2 += '<option value="">Select City</option>';
            $("#City").html(s2);
            $("#City").val("");
        } else {
            var s = '';
            s += '<option value="">Select City</option>';
            $("#City").html(s);
            $("#City").val("");
        }

        $.ajax({
            url: '@Url.Action(Actions.GetState, Controllers.AccountSetup, new { area = "" })',
            data: { Type: type, PostCode: postcode, StateId: stateId },
            type: 'GET',
            datatype: 'json',
            success: function (data) {
                if (type == 0) {
                    if (data.length > 0) {

                        var s = '';
                        s += '<option value="">Select State</option>'
                        for (var i = 0; i < data.length; i++) {
                            s += '<option value="' + data[i].DrpId + '">' + data[i].Name + '</option>'
                        }
                        $("#LookupStateId").html(s);
                    }
                    else {
                        var s = '';
                        s += '<option value="">Select State</option>';
                        $("#LookupStateId").html(s);
                        $("#LookupStateId").val("");
                    }
                }
                else {
                    if (data.length > 0) {

                        var s = '';
                        s += '<option value="">Select City</option>'
                        for (var i = 0; i < data.length; i++) {
                            s += '<option value="' + data[i].DrpId + '">' + data[i].Name + '</option>'
                        }
                        $("#City").html(s);
                    }
                    else {
                        var s = '';
                        s += '<option value="">Select City</option>';
                        $("#City").html(s);
                        $("#City").val("");
                    }
                }
            }
        });
    }


    var FormValidation = function () {
        // basic validation
        var handleValidation1 = function () {

            var form1 = $('#frmAddPayment');
            var error1 = $('.alert-danger', form1);
            //var success1 = $('.alert-success', form1);

            form1.validate({
                errorElement: 'label', //default input error message container
                errorClass: 'error', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",  // validate all fields including form hidden input
                rules: {
                    //CardNumber: {
                    //    required: true
                    //},
                    NameOnCard: {
                        required: true
                    },
                    //ExpiryDate: {
                    //    required: true
                    //},
                    //CVVCode: {
                    //    required: true
                    //},
                    AddressLine1: {
                        required: true
                    },
                    City: {
                        required: true
                    },
                    LookupStateId: {
                        required: true
                    },
                    PinCode: {
                        required: true
                    },
                    EmailForInvoice: {
                        required: true
                    },
                },

                nvalidHandler: function (event, validator) { //display error alert on form submit
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-control').addClass('validate-has-error'); // set error class to the control group
                },

                success: function (label) {
                    label.closest('.form-control').removeClass('validate-has-error');
                    label.remove();
                },

                errorPlacement: function (error, element) {
                    if (element.closest('.input-icon').length === 1) {
                       // error.insertAfter(element.closest('.input-icon'));
                    } else {
                        //error.insertAfter(element);
                    }
                },

                submitHandler: function (form) {

                    // $("#myModal").modal("show");
                    form.submit(); // form validation success, call ajax form submit
                }
            });

            $('#frmAddPayment input').keypress(function (e) {
                if (e.which == 13) {
                    if ($('#frmAddPayment').validate().form()) {
                        //$('#frmAddPayment').submit(); //form validation success, call ajax form submit
                    }
                    return false;
                }
            });
        }
        return {
            //main function to initiate the module
            init: function () {
                handleValidation1();
            }
        };
    }();

    function Verify() {
        $("#myModal").modal("hide");
        document.getElementById('frmAddPayment').submit();
    }
</script>



@Html.Raw(ViewBag.openPopup)
