﻿
@{
    ViewBag.Title = "Personal Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PlannedServicesAdmin.Pages;
@using PlannedServices.Entities.V1;
@using PlannedServices.Common;
@model User
<style>
    /* width */
    #BSection::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    #BSection::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    #BSection::-webkit-scrollbar-thumb {
        background: #888;
    }

        /* Handle on hover */
        #BSection::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

    #BSection {
        max-height: 100vh;
        overflow: auto;
        overflow-x: hidden
    }

    @@media (max-width: 768px) {

        .heading-main {
            margin-top: 5px !important;
        }
    }
</style>
<div class="row">
    <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
        <div class="card card-home ">
            <div class="card-body">
                <h5 class="font-weight-normal">Home</h5>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
        <div class="card border-warning border-2 mbox">
            <div class="card-body">
                <h5 class="font-weight-normal font-12 text-uppercase hideOnMobile">Participant<br>Sign Up</h5>
                <h5 class="font-weight-normal font-12 text-uppercase showOnMobile">Participant Sign Up</h5>
                <div class="text-left w-100 mt-auto">
                    <img src="~/Content/Icons/Add_User.svg" alt="" class="img-16">
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row w-100">
    <div class="col-12 border-2px ml-5 pl-0">
        <h5 class="heading-main text-uppercase font-13 fw-400 blurhtext">DISCLAIMER</h5>
    </div>
</div>
<div>
    <ul class="pl-3 mt-20">
        <li class="font-14  fw-300">It’s free to create a My Request account for managing requests, reviewing, declining or approving provider responses.</li>
        <li class="font-14  fw-300">My Request guarantees results, we have a no result no pay policy.</li>
        <li class="font-14  fw-300">The cost of a successful support request is $90.00.</li>
        <li class="font-14  fw-300">The cost is fully funded for approved participants via either their Core or Capacity Building Budgets.</li>
        <li class="font-14  fw-300">Plan Managed Participants - An invoice will be forwarded to your Plan Manager for each successful support request.</li>
        <li class="font-14  fw-300">Self Managed Participants - A Credit card is required for payment of a successful support request.</li>
    </ul>

</div>

<div class="row w-100">
    <div class="col-12 border-2px ml-5 pl-0">
        <h5 class="heading-main text-uppercase font-13 fw-400 blurhtext">ACCOUNT CREATION</h5>
    </div>
</div>
<div>
    <p class="font-14 mt-2 fw-300 ctext" style="width:65%">
        Enter a valid email address, this will be your account name.
    </p>
    <p class="font-14 mt-3 mb-2 fw-300 ctext" style="width:65%">
        Passwords need to be a minimum of
    </p>
    <ul class="pl-3 mt-20">
        <li class="font-14  fw-300">8 characters. </li>
        <li class="font-14  fw-300">Contain one uppercase.</li>
        <li class="font-14  fw-300"> Contain one number.</li>
    </ul>

</div>
@using (Html.BeginForm(Actions.AddInviteUsers, Controllers.AccountSetup, FormMethod.Post, new { area = "", @id = "frmAddEditUsers" }))
{
    <div class="row pdl-5 mt-20">

        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Age)
        @Html.HiddenFor(model => model.ManagerType)
        @Html.HiddenFor(model => model.IsPlan)
        @Html.HiddenFor(model => model.PlanManagerId)
        @Html.HiddenFor(model => model.stripeToken)
        @Html.HiddenFor(model => model.stripeEmail)
        @Html.HiddenFor(model => model.DOB)

        <div class="col-md-3 col-sm-12 pl-0 ">
            <div class="custom-control custom-radio">
                <input type="radio" id="1" checked name="customRadio" class="custom-control-input" value="1" onchange="setValue(1)">
                <label class="custom-control-label font-13 text-uppercase" style="padding-left:1.25rem;font-size:13px!important" for="1">Plan Managed</label>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 pl-0">
            <div class="custom-control custom-radio">
                <input type="radio" id="2" name="customRadio" class="custom-control-input" value="2" onchange="setValue(2)">
                <label class="custom-control-label font-13 text-uppercase" style="padding-left:1.25rem;font-size:13px!important" for="2">Self Managed</label>
            </div>
        </div>
        <div class="col-sm-5 pl-0"></div>

        <div class="col-sm-12 col-md-4 pl-0">
            <div class="form-group">
                <label for="emailAddress">Email</label>
                @Html.TextBoxFor(model => model.Email, new { @type = "email", @class = "form-control custom-form-control", placeholder = "Email", @readonly = "readonly" })
            </div>
        </div>
        <div class="col-sm-12 col-md-4 pl-0">
            <div class="form-group">
                <label for="emailAddress">Password</label>
                <i class="fa fa-eye-slash togglePassword" id="ntogglePassword" aria-hidden="true"></i>
                @Html.TextBoxFor(model => model.Password, new { @type = "password", @class = "form-control custom-form-control", placeholder = "Password" })
            </div>
        </div>
        <div class="col-sm-12 col-md-4 pl-0">
            <div class="form-group">
                <label for="emailAddress">Re Enter Password</label>
                <i class="fa fa-eye-slash togglePassword" id="rtogglePassword" aria-hidden="true"></i>
                @Html.TextBoxFor(model => model.ConfirmPassword, new { @type = "password", @class = "form-control custom-form-control", placeholder = "Re Enter Password" })
            </div>
        </div>
        <div class="col-12 border-2px pl-0 mb-20">
            <h5 class="heading-main text-uppercase font-13 fw-400 blurhtext">
                PARTICIPANT DETAILS
            </h5>
        </div>
        <div class="col-sm-12 col-md-4 pl-0">
            <div class="form-group">
                <label for="emailAddress">First Name</label>
                @Html.TextBoxFor(model => model.FirstName, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Enter your first name" })
            </div>
        </div>
        <div class="col-sm-12 col-md-4 pl-0">
            <div class="form-group">
                <label for="emailAddress">Last Name</label>
                @Html.TextBoxFor(model => model.LastName, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Enter your last name" })
            </div>
        </div>
        <div class="col-sm-12 col-md-4 pl-0">
            <div class="form-group">
                <label for="emailAddress">Date Of Birth</label>
                @*@Html.TextBoxFor(model => model.DOB, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Date Of Birth" })*@

                <div class="row m-0">
                    <div class="col-sm-12 col-md-4 pl-0">
                        <div class="form-group">
                            <select class="form-control custom-form-control" id="DobDay" name="DobDay" onchange="CreateDateFormate();">
                                <option value="" selected>Day</option>
                                <option value="01">01</option>
                                <option value="02">02</option>
                                <option value="03">03</option>
                                <option value="04">04</option>
                                <option value="05">05</option>
                                <option value="06">06</option>
                                <option value="07">07</option>
                                <option value="08">08</option>
                                <option value="09">09</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 pl-0">
                        <div class="form-group">
                            <select class="form-control custom-form-control" id="DobMonth" name="DobMonth" onchange="CreateDateFormate();">
                                <option value="" selected>Month</option>
                                <option value="01">January</option>
                                <option value="02">February</option>
                                <option value="03">March</option>
                                <option value="04">April</option>
                                <option value="05">May</option>
                                <option value="06">June</option>
                                <option value="07">July</option>
                                <option value="08">August</option>
                                <option value="09">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 pl-0">
                        <div class="form-group">
                            <select class="form-control custom-form-control" id="DobYears" name="DobYears" onchange="CreateDateFormate();">
                                <option value="" selected>Years</option>
                                <option value="1921">1921</option>
                                <option value="1922">1922</option>
                                <option value="1923">1923</option>
                                <option value="1924">1924</option>
                                <option value="1925">1925</option>
                                <option value="1926">1926</option>
                                <option value="1927">1927</option>
                                <option value="1928">1928</option>
                                <option value="1929">1929</option>
                                <option value="1930">1930</option>
                                <option value="1931">1931</option>
                                <option value="1932">1932</option>
                                <option value="1933">1933</option>
                                <option value="1934">1934</option>
                                <option value="1935">1935</option>
                                <option value="1936">1936</option>
                                <option value="1937">1937</option>
                                <option value="1938">1938</option>
                                <option value="1939">1939</option>
                                <option value="1940">1940</option>
                                <option value="1941">1941</option>
                                <option value="1942">1942</option>
                                <option value="1943">1943</option>
                                <option value="1944">1944</option>
                                <option value="1945">1945</option>
                                <option value="1946">1946</option>
                                <option value="1947">1947</option>
                                <option value="1948">1948</option>
                                <option value="1949">1949</option>
                                <option value="1950">1950</option>
                                <option value="1951">1951</option>
                                <option value="1952">1952</option>
                                <option value="1953">1953</option>
                                <option value="1954">1954</option>
                                <option value="1955">1955</option>
                                <option value="1956">1956</option>
                                <option value="1957">1957</option>
                                <option value="1958">1958</option>
                                <option value="1959">1959</option>
                                <option value="1960">1960</option>
                                <option value="1961">1961</option>
                                <option value="1962">1962</option>
                                <option value="1963">1963</option>
                                <option value="1964">1964</option>
                                <option value="1965">1965</option>
                                <option value="1966">1966</option>
                                <option value="1967">1967</option>
                                <option value="1968">1968</option>
                                <option value="1969">1969</option>
                                <option value="1970">1970</option>
                                <option value="1971">1971</option>
                                <option value="1972">1972</option>
                                <option value="1973">1973</option>
                                <option value="1974">1974</option>
                                <option value="1975">1975</option>
                                <option value="1976">1976</option>
                                <option value="1977">1977</option>
                                <option value="1978">1978</option>
                                <option value="1979">1979</option>
                                <option value="1980">1980</option>
                                <option value="1981">1981</option>
                                <option value="1982">1982</option>
                                <option value="1983">1983</option>
                                <option value="1984">1984</option>
                                <option value="1985">1985</option>
                                <option value="1986">1986</option>
                                <option value="1987">1987</option>
                                <option value="1988">1988</option>
                                <option value="1989">1989</option>
                                <option value="1990">1990</option>
                                <option value="1991">1991</option>
                                <option value="1992">1992</option>
                                <option value="1993">1993</option>
                                <option value="1994">1994</option>
                                <option value="1995">1995</option>
                                <option value="1996">1996</option>
                                <option value="1997">1997</option>
                                <option value="1998">1998</option>
                                <option value="1999">1999</option>
                                <option value="2000">2000</option>
                                <option value="2001">2001</option>
                                <option value="2002">2002</option>
                                <option value="2003">2003</option>
                                <option value="2004">2004</option>
                                <option value="2005">2005</option>
                                <option value="2006">2006</option>
                                <option value="2007">2007</option>
                                <option value="2008">2008</option>
                                <option value="2009">2009</option>
                                <option value="2010">2010</option>
                                <option value="2011">2011</option>
                                <option value="2012">2012</option>
                                <option value="2013">2013</option>
                                <option value="2014">2014</option>
                                <option value="2015">2015</option>
                                <option value="2016">2016</option>
                                <option value="2017">2017</option>
                                <option value="2018">2018</option>
                                <option value="2019">2019</option>
                                <option value="2020">2020</option>
                                <option value="2021">2021</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-2 pl-0">
            <div class="form-group">
                <label for="emailAddress">Post Code</label>
                @Html.TextBoxFor(model => model.PinCode, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Post Code", @onblur = "onChangeCode(0)" })
            </div>
        </div>
        <div class="col-sm-12 col-md-2 pl-0">
            <div class="form-group">
                <label for="emailAddress">State</label>
                @Html.DropDownListFor(model => model.LookupStateId, (IEnumerable<SelectListItem>)ViewBag.States, "Select State", new { @class = "form-control custom-form-control", @onchange = "onChangeCode(1);" })
            </div>
        </div>
        <div class="col-sm-12 col-md-4 pl-0">
            <div class="form-group">
                <label for="emailAddress">City</label>
                @Html.DropDownListFor(model => model.Surburb, (IEnumerable<SelectListItem>)ViewBag.Citys, "Select City", new { @class = "form-control custom-form-control", @Id = "City", @Name = "City" })
            </div>
        </div>
        <div class="col-12 border-2px pl-0 mb-20">
            <h5 class="heading-main text-uppercase font-13 fw-400 blurhtext">
                Nominee details
            </h5>
        </div>
        <div class="col-12 ml-5 pl-0" id="IsNominee">
            <div class="row">
                <div class="col-sm-12 col-md-4 pl-0">
                    <div class="form-group">
                        <label for="emailAddress">Nominee First Name</label>
                        @Html.TextBoxFor(model => model.NomineeFirstName, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Nominee first name" })
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 pl-0">
                    <div class="form-group">
                        <label for="emailAddress">Nominee Last Name</label>
                        @Html.TextBoxFor(model => model.NomineeLastName, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Nominee last name" })
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 border-2px pl-0 mb-10 IsPlanMange">
            <h5 class="heading-main text-uppercase font-13 fw-400 blurhtext">
                PLAN MANAGER
            </h5>
        </div>
        <div class="col-sm-12 pl-0 IsPlanMange">
            <p class="font-14 mb-2 fw-300 ctext" style="width:65%">
                Select your plan manager by using the search box below
            </p>
        </div>
        <div class="col-12 pl-0 pr-0 mt-20 IsPlanMange">
            <input type="text" id="searchText" placeholder="SEARCH PLAN MANAGER" class="form-control custom-form-control sinput" style="border: 1px solid #ECF0F1;width: 83%;float: left;" />
            <button type="button" onclick="Search()" class="btn btn-outline-primary ml-2 text-uppercase spbtn">Search</button>

        </div>
        <div class="col-12 ml-5 pl-0 IsPlanMange">
            <div class="row pl-0 BSection mt-20" id="BSection">

            </div>
        </div>
        
        <div class="col-12 border-2px pl-0 IsSelftMange" style="display:none">
            <h5 class="heading-main text-uppercase font-13 fw-400 blurhtext">
                CREDIT / DEBIT CARD DETAILS
            </h5>
        </div>
        <div class="col-12 ml-5 pl-0 IsSelftMange" style="display:none">
            <div class="row pl-0 mt-20">
                <div class="col-sm-12 col-md-8 pl-0">
                    <div class="form-group">
                        <label for="emailAddress">Cardholder Name</label>
                        @Html.TextBoxFor(model => model.NameOnCard, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Cardholder Name" })
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 pl-0"></div>
                <div class="col-sm-12 col-md-8 pl-0">
                    <div class="form-group">
                        <label for="emailAddress">Billing Address</label>
                        @Html.TextBoxFor(model => model.AddressLine1, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Enter full Address" })
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 pl-0"></div>
                <div class="col-sm-12 col-md-2 pl-0">
                    <div class="form-group">
                        <label for="emailAddress">Post Code</label>
                        @Html.TextBoxFor(model => model.BPinCode, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Post Code", @onblur = "onBChangeCode(0)" })
                    </div>
                </div>
                <div class="col-sm-12 col-md-2 pl-0">
                    <div class="form-group">
                        <label for="emailAddress">State</label>
                        @Html.DropDownListFor(model => model.BLookupStateId, (IEnumerable<SelectListItem>)ViewBag.BStates, "Select State", new { @class = "form-control custom-form-control", @onchange = "onBChangeCode(1);" })
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 pl-0">
                    <div class="form-group">
                        <label for="emailAddress">City</label>
                        @Html.DropDownListFor(model => model.BCity, (IEnumerable<SelectListItem>)ViewBag.BCitys, "Select City", new { @class = "form-control custom-form-control", @Id = "BCity", @Name = "BCity" })
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 pl-0"></div>
                <div class="col-sm-12 col-md-4 pl-0 ">
                    <div class="form-group">
                        <label for="emailAddress">Email For Invoice</label>
                        @Html.TextBoxFor(model => model.EmailForInvoice, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Email For Invoice" })
                    </div>
                </div>
                <div class="col-sm-12 col-md-8 pl-0"></div>
            </div>
        </div>
        @*<div class="col-sm-12 pl-0">
                <p class="font-14 mt-2 fw-300 ctext" style="width:65%">
                    Exercise your CHOICE and CONTROL by clicking on confirm button below to process Payment and gain immediate access to My REQUEST.
                </p>
            </div>*@
        <div class="col-sm-12 pl-0 mt-20" id="saveBtn">
            @*<button type="button"  id="isSelectType" style="opacity: 0.5;" class="btn btn-outline-secondary text-uppercase">CONFIRM</button>*@
            <button type="button" id="customButton" class="btn btn-outline-primary text-uppercase">CONFIRM</button>
        </div>

    </div>

}

<div id="myModal2" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content mcontent" style="border:0;">
            <div class="modal-body mbody border-secondary border-3" style="padding:10px 15px">
                <h6 class="font-13 text-left blurhtext m-0">
                    Your setup has successfully been completed. Welcome to My REQUEST.
                </h6>
            </div>
            <div class="modal-footer pl-0 pr-0" style="border:0;">
                <button data-dismiss="modal" class="btn btn-outline-warning text-white mno text-uppercase m-0">CONTINUE</button>
            </div>
        </div>
    </div>
</div>
<div class="overlayUpload" id="isLoading" style="display:none">
    <div class="uploadtext">Loading...</div>
</div>
<input type="hidden" id="IsMinor" value="0" />
<input type="hidden" id="ecode" />
<script src="//checkout.stripe.com/v2/checkout.js"></script>
@if (TempData["displayModal"] != null)
{
    var modal = TempData["displayModal"].ToString();
    <script type='text/javascript'>
        $(document).ready(function () {
            $('#@modal').modal('show');
        });
    </script>
}
<script>

      var handler = StripeCheckout.configure({
        key: '@System.Configuration.ConfigurationManager.AppSettings["StripePublishableKey"]',
         image: '@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]Content/images/My_Request_Logo.jpg',
         token: function (token) {
            $("#stripeToken").val(token.id);
            $("#stripeEmail").val(token.email);
           // $("#amountInCents").val(Math.floor($("#amountInDollars").val() * 100));
             if ($("#Password").val() == $("#ConfirmPassword").val()) {
                 $("#frmAddEditUsers").submit();
             }
             else {
                 toastr.clear();
                 ShowMessageToastr("danger", "Password & Re Enter Password Does Not Match!", false);
                 return
             }
        }
      });
    function CreateDateFormate() {
        var Day = $('#DobDay').val();
        var Month = $('#DobMonth').val();
        var Year = $('#DobYears').val();


        var DateOfBirth = Day + "/" + Month + "/" + Year;

        $('#DOB').val(DateOfBirth);

        var years = 2021 - Year;
        $("#Age").val(years);
        if (years > 18) {
            $("#IsMinor").val("1");
            FormValidation.init();
        }
        else {
            $("#IsMinor").val("0");
            FormValidation.init();
        }

    }

    $('#customButton').on('click', function (e) {

        var emailForInvoice = $('#EmailForInvoice').val();

        if ($('#frmAddEditUsers').validate().form()) {
            if ($("#Password").val() == $("#ConfirmPassword").val()) {
                if ($('input[name="customRadio"]:checked').val() == 2) {
                    //if ($('input[name="customRadioForIsPlan"]:checked').val() == 1) {
                    //    var amountInCents = Math.floor(440.00 * 100);
                    //    var displayAmount = parseFloat(Math.floor(amountInCents) / 100).toFixed(2);
                    //    // Open Checkout with further options
                    //    handler.open({
                    //        name: 'My Request Annual User',
                    //        description: 'AUD $' + displayAmount + ' inc gst.',
                    //        amount: amountInCents,
                    //        email: emailForInvoice,
                    //        paymentmethodtypes: ["bancontact",
                    //            "card",
                    //            "eps",
                    //            "giropay",
                    //            "ideal",
                    //            "p24",
                    //            "sepa_debit",
                    //            "sofort"]
                    //    });
                    //    e.preventDefault();
                    //}
                    //else {
                    //    $("#frmAddEditUsers").submit();
                    //}
                    $("#frmAddEditUsers").submit();
             }
             else {
                 debugger
                     var v = $('input[name="customRadio1"]:checked').val();
                     if (v == "" || v == undefined || v == null || v == "0") {
                         toastr.clear();
                         ShowMessageToastr("danger", "Please select Plan Manager!", false);
                         return
                     }
                     else {
                         var v2 = $('input[name="customRadio"]:checked').val();
                         $("#ManagerType").val(v2);
                         $("#frmAddEditUsers").submit();
                     }

                }
            }
            else {
                toastr.clear();
                ShowMessageToastr("danger", "Password & Re Enter Password Does Not Match!", false);
                return
            }

         }

    });


    $(function () {
        $('input[name="DOB"]').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            showButtonPanel: false,
            autoApply: true,
            maxDate: new Date(),
        }, function (start, end, label) {
            var years = moment().diff(start, 'years');
            $("#Age").val(years);
            if (years > 18) {
                $("#IsMinor").val("1");
                FormValidation.init();
            }
            else {
                $("#IsMinor").val("0");
                FormValidation.init();
            }
        });
    });

    $(".togglePassword").on('click', function (e) {
        const password = document.querySelector("#" + $(this).next('input').attr('id'));
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);
        if (type === 'password') {
            $("#" + $(this).attr("Id")).addClass("fa-eye-slash");
            $("#" + $(this).attr("Id")).removeClass('fa-eye');
        }
        else {
            $("#" + $(this).attr("Id")).removeClass("fa-eye-slash");
            $("#" + $(this).attr("Id")).addClass('fa-eye');
        }
    })


    jQuery(document).ready(function () {
        jQuery.validator.addMethod("strongPassword", function (value, element) {
            var number = /([0-9])/;
            var alphabets = /([A-Z])/;
            var special_characters = /([~,!,@@,#,$,%,^,&,*,-,_,+,=,?,>,<])/;
            if (value.length > 8 && value.match(number) && value.match(alphabets)) {
                return true;
            }
            else {
                return false;
            }
        }, "Minimum 8 character and at least one alphabet, one number, and one special character.");

        toastr.clear();
        if ('@ViewBag.ErrorMSG' != '' ) {
            ShowMessageToastr("danger", "@ViewBag.ErrorMSG", false);
        }
        FormValidation.init();
        $('#myModal2').on('hide.bs.modal', function () {
            $('#isLoading').show();
              $.ajax({
            url: '@Url.Action(Actions.SendEmail, Controllers.AccountSetup, new { area = "" })',
            data: {
                //Email: $("#Email").val()
            },
            type: 'POST',
            datatype: 'json',
            success: function (data) {
                if (data.Code == 200) {
                }
                $('#isLoading').hide();
                window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]Dashboard/Index";

            }
           });
        })
    });

    function setValue(type) {
        $("#isSelectType").show();
        if (type == "1") {
            $(".IsPlanMange").show();
            $(".IsSelftMange").hide();
            $("#IsPlan").val("1");
        }
        else {
            $(".IsPlanMange").hide();
            $(".IsSelftMange").show();
            $("#IsPlan").val("2");
        }
    }

    function Search() {
              $.ajax({
                      url: '@Url.Action(Actions.Search, Controllers.AccountSetup, new { area = "" })',
                  data: { Name: $("#searchText").val() },
                      type: 'Post',
                      datatype: 'json',
                  success: function (data) {
                      if (data) {
                          if (data.length > 0) {
                              $("#BSection").empty();
                              var s = '';
                              for (var i = 0; i < data.length; i++) {
                                  s += '<div class="col-12 pr-0 pl-0 border-1px">'
                                  s += '<div class="custom-control custom-radio">'
                                  if (data[i].Id == @Model.PlanManagerId) {
                                      s += '<input type="radio" checked  id="1customRadio_' + data[i].Id + '" name="customRadio1" class="custom-control-input" value="' + data[i].Id + '" >'
                                  }
                                  else {
                                      s += '<input type="radio"  id="1customRadio_' + data[i].Id + '" name="customRadio1" class="custom-control-input" value="' + data[i].Id + '">'
                                  }
                                  s += '<label class="custom-control-label w-100" for="1customRadio_' + data[i].Id + '">'
                                  s += '<div class="row">'
                                  s += '<div class="col-md-5 mb-10">'
                                  s += '<p class="font-12 blurtext">Company Name </p>'
                                  s += '<p class="mt-7 font-16 fw-400">' + data[i].CompanyName + '</p>'
                                  s += '</div>'
                                  s += '<div class="col-6">'
                                  s += '<p class="font-12 blurtext">Address </p>'
                                  s += '<p class="mt-7 font-16 fw-400">' + data[i].Address + '</p>'
                                  s += '</div>'
                                  s += ' </div>'
                                  s += '<label>'
                                  s += '</div>'
                                  s += '</div>'

                              }
                              $("#BSection").html(s);
                              $("#1Section").show();
                          }
                          else {
                              $("#BSection").empty();
                              $("#1Section").hide();
                          }
                      }
                      else {

                          ShowMessageToastr("danger", "something went wrong. please try again.", false);
                      }
                      },
                        error: function () { }
                    });

    }

    function onChangeCode(type) {
        var postcode = $("#PinCode").val();
        var stateId = $("#LookupStateId").val();
        if (type == 0) {
            var s = '';
            s += '<option value="">Select State</option>';
            $("#LookupStateId").html(s);
            $("#LookupStateId").val("");
            var s2 = '';
            s2 += '<option value="">Select City</option>';
            $("#City").html(s2);
            $("#City").val("");
        } else {
            var s = '';
            s += '<option value="">Select City</option>';
            $("#City").html(s);
            $("#City").val("");
        }
          $.ajax({
            url: '@Url.Action(Actions.GetState, Controllers.AccountSetup, new { area = "" })',
            data: { Type: type, PostCode: postcode, StateId: stateId },
            type: 'GET',
            datatype: 'json',
            success: function (data) {
                if (type == 0) {
                    if (data.length > 0) {

                        var s = '';
                        s += '<option value="">Select State</option>'
                        for (var i = 0; i < data.length; i++) {
                            s += '<option value="' + data[i].DrpId + '">' + data[i].Name + '</option>'
                        }
                        $("#LookupStateId").html(s);
                    }
                    else {
                        var s = '';
                        s += '<option value="">Select State</option>';
                        $("#LookupStateId").html(s);
                        $("#LookupStateId").val("");
                    }
                }
                else {
                    if (data.length > 0) {

                        var s = '';
                        s += '<option value="">Select City</option>'
                        for (var i = 0; i < data.length; i++) {
                            s += '<option value="' + data[i].DrpId + '">' + data[i].Name + '</option>'
                        }
                        $("#City").html(s);
                    }
                    else {
                        var s = '';
                        s += '<option value="">Select City</option>';
                        $("#City").html(s);
                        $("#City").val("");
                    }
                }
            }
        });
    }

    function onBChangeCode(type) {
        var postcode = $("#BPinCode").val();
        var stateId = $("#BLookupStateId").val();
        if (type == 0) {
            var s = '';
            s += '<option value="">Select State</option>';
            $("#BLookupStateId").html(s);
            $("#BLookupStateId").val("");
            var s2 = '';
            s2 += '<option value="">Select City</option>';
            $("#BCity").html(s2);
            $("#BCity").val("");
        } else {
            var s = '';
            s += '<option value="">Select City</option>';
            $("#BCity").html(s);
            $("#BCity").val("");
        }
          $.ajax({
            url: '@Url.Action(Actions.GetState, Controllers.AccountSetup, new { area = "" })',
            data: { Type: type, PostCode: postcode, StateId: stateId },
            type: 'GET',
            datatype: 'json',
            success: function (data) {
                if (type == 0) {
                    if (data.length > 0) {

                        var s = '';
                        s += '<option value="">Select State</option>'
                        for (var i = 0; i < data.length; i++) {
                            s += '<option value="' + data[i].DrpId + '">' + data[i].Name + '</option>'
                        }
                        $("#BLookupStateId").html(s);
                    }
                    else {
                        var s = '';
                        s += '<option value="">Select State</option>';
                        $("#BLookupStateId").html(s);
                        $("#BLookupStateId").val("");
                    }
                }
                else {
                    if (data.length > 0) {

                        var s = '';
                        s += '<option value="">Select City</option>'
                        for (var i = 0; i < data.length; i++) {
                            s += '<option value="' + data[i].DrpId + '">' + data[i].Name + '</option>'
                        }
                        $("#BCity").html(s);
                    }
                    else {
                        var s = '';
                        s += '<option value="">Select City</option>';
                        $("#BCity").html(s);
                        $("#BCity").val("");
                    }
                }
            }
        });
    }

    var FormValidation = function () {
        // basic validation
        var handleValidation1 = function () {

            var form1 = $('#frmAddEditUsers');
            var error1 = $('.alert-danger', form1);
            //var success1 = $('.alert-success', form1);


                form1.validate({
                    errorElement: 'label', //default input error message container
                    errorClass: 'error', // default input error message class
                    focusInvalid: false, // do not focus the last invalid input
                    ignore: "",  // validate all fields including form hidden input
                    rules: {

                        Email: {
                            required: true,
                            email: true
                        },
                        Password: {
                            required: true,
                            strongPassword: true,
                        },
                        ConfirmPassword: {
                            required: true
                        },
                        FirstName: {
                            required: true
                        },
                        LastName: {
                            required: true
                        },
                        DOB: {
                            required: true
                        },
                        LookupStateId: {
                            required: true
                        },
                        PinCode: {
                            required: true
                        },
                        City: {
                            required: true
                        },
                        BLookupStateId: {
                            required: {
                                depends: function (element) {
                                    if ($('input[name="customRadio"]:checked').val() == 2) {
                                        return true;
                                    } else {
                                        return false;
                                    }
                                }
                            }
                        },
                        BPinCode: {
                            required: {
                                depends: function (element) {
                                    if ($('input[name="customRadio"]:checked').val() == 2) {
                                        return true;
                                    } else {
                                        return false;
                                    }
                                }
                            }
                        },
                        BCity: {
                            required: {
                                depends: function (element) {
                                    if ($('input[name="customRadio"]:checked').val() == 2) {
                                        return true;
                                    } else {
                                        return false;
                                    }
                                }
                            }
                        },
                        AddressLine1: {
                            required: {
                                depends: function (element) {
                                    if ($('input[name="customRadio"]:checked').val() == 2) {
                                        return true;
                                    } else {
                                        return false;
                                    }
                                }
                            }
                        },
                        NameOnCard: {
                            required: {
                                depends: function (element) {
                                    if ($('input[name="customRadio"]:checked').val() == 2) {
                                        return true;
                                    } else {
                                        return false;
                                    }
                                }
                            }
                        },
                        EmailForInvoice: {
                            required: {
                                depends: function (element) {
                                    if ($('input[name="customRadio"]:checked').val() == 2) {
                                        return true;
                                    } else {
                                        return false;
                                    }
                                }
                            }
                        },
                        NomineeLastName: {
                            required: {
                                depends: function (element) {
                                    if ($('#Age').val() < 18) {
                                        return true;
                                    } else {
                                        return false;
                                    }
                                }
                            }
                        },
                        NomineeFirstName: {
                            required: {
                                depends: function (element) {
                                    if ($('#Age').val() < 18) {
                                        return true;
                                    } else {
                                        return false;
                                    }
                                }
                            }
                        },
                    },

                    nvalidHandler: function (event, validator) { //display error alert on form submit
                    },

                    highlight: function (element) { // hightlight error inputs
                        $(element)
                            .closest('.form-control').addClass('validate-has-error'); // set error class to the control group
                    },

                    success: function (label, element) {
                        $(element).closest('.form-control').removeClass('validate-has-error');
                        label.closest('.form-control').removeClass('validate-has-error');
                        label.remove();
                    },

                    errorPlacement: function (error, element) {
                        if (element.closest('.input-icon').length === 1) {
                            //error.insertAfter(element.closest('.input-icon'));
                        } else {
                           // error.insertAfter(element);
                        }
                    },

                    submitHandler: function (form) {
                        if ($("#Password").val() == $("#ConfirmPassword").val()) {
                            //$("#IsPlan").val($('input[name="customRadioForIsPlan"]:checked').val());
                            if ($('input[name="customRadio"]:checked').val() == 2) {
                                var v2 = $('input[name="customRadio"]:checked').val();
                                $("#ManagerType").val(v2);
                                form.submit(); // form validation success, call ajax form submit
                            }
                            else {
                                var v = $('input[name="customRadio1"]:checked').val();
                                if (v == "" || v == undefined || v == null) {

                                    toastr.clear();
                                    ShowMessageToastr("danger", "Please select Plan Manager!", false);
                                    return
                                }
                                else {
                                    var v2 = $('input[name="customRadio"]:checked').val();
                                    var v3 = $('input[name="customRadio1"]:checked').val();
                                    $("#ManagerType").val(v2);
                                    $("#PlanManagerId").val(v3);
                                    form.submit(); // form validation success, call ajax form submit
                                }
                            }
                        }
                        else {
                            toastr.clear();
                            ShowMessageToastr("danger", "Password & Re Enter Password Does Not Match!", false);
                            return
                        }
                    }
                });


            $('#frmAddEditUsers input').keypress(function (e) {
                if (e.which == 13) {
                    if ($('#frmAddEditUsers').validate().form()) {
                        //$('#frmAddEditUsers').submit(); //form validation success, call ajax form submit
                    }
                    return false;
                }
            });
        }
        return {
            //main function to initiate the module
            init: function () {
                handleValidation1();
            }
        };
    }();

</script>
@Html.Raw(ViewBag.openPopup)
