﻿
@{
    ViewBag.Title = "Personal Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PlannedServicesAdmin.Pages;
@using PlannedServices.Entities.V1;
@using PlannedServices.Common;
@model User
<style>

    @@media (max-width: 768px) {

        .heading-main {
            margin-top: 5px !important;
        }
    }
</style>

<div class="row">
    <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
        <div class="card card-home ">
            <div class="card-body">
                <h5 class="font-weight-normal">Home</h5>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
        <div class="card border-warning border-2 mbox">
            <div class="card-body">
                <h5 class="font-weight-normal font-12 text-uppercase hideOnMobile">Participant<br>Sign Up</h5>
                <h5 class="font-weight-normal font-12 text-uppercase showOnMobile">Participant Sign Up</h5>
                <div class="text-left w-100 mt-auto">
                    <img src="~/Content/Icons/Add_User.svg" alt="" class="img-16">
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row w-100">
    <div class="col-12 border-2px ml-5 pl-0">
        <h5 class="heading-main text-uppercase font-13 fw-400 blurhtext">DISCLAIMER</h5>
    </div>
</div>
<div>
    <ul class="pl-3 mt-20">
        <li class="font-14  fw-300">It’s free to create a My Request account for managing requests, reviewing, declining or approving provider responses.</li>
        <li class="font-14  fw-300">My Request guarantees results, we have a no result no pay policy.</li>
        <li class="font-14  fw-300">The cost of a successful support request is $90.00.</li>
        <li class="font-14  fw-300">The cost is fully funded for approved participants via either their Core or Capacity Building Budgets.</li>
        <li class="font-14  fw-300">Plan Managed Participants - An invoice will be forwarded to your Plan Manager for each successful support request.</li>
        <li class="font-14  fw-300">Self Managed Participants - A Credit card is required for payment of a successful support request.</li>
    </ul>
 
</div>

<div class="row w-100">
    <div class="col-12 border-2px ml-5 pl-0">
        <h5 class="heading-main text-uppercase font-13 fw-400 blurhtext">ACCOUNT CREATION</h5>
    </div>
</div>
<div>
    <p class="font-14 mt-2 fw-300 ctext" style="width:65%">
        Enter a valid email address, this will be your account name.
    </p>
    <p class="font-14 mt-3 mb-2 fw-300 ctext" style="width:65%">
        Passwords need to be a minimum of
    </p>
    <ul class="pl-3 mt-20">
        <li class="font-14  fw-300">8 characters. </li>
        <li class="font-14  fw-300">Contain one uppercase.</li>
        <li class="font-14  fw-300"> Contain one number.</li>
    </ul>
    
</div>
@using (Html.BeginForm(Actions.AddUsers, Controllers.AccountSetup, FormMethod.Post, new { area = "", @id = "frmAddEditUsers" }))
{
    <div class="row pdl-5 mt-20">

        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Age)
        @Html.HiddenFor(model => model.ManagerType)
        @Html.HiddenFor(model => model.LookupStateId)
        @Html.HiddenFor(model => model.PlanManagerId)
        @Html.HiddenFor(model => model.IsUserMultiple)

        @*<div class="col-sm-3 pl-0 ">
                <p class="font-14">I will use My REQUEST for:</p>
            </div>
            <div class="col-sm-3 pl-0 ">
                <div class="custom-radio">
                    <input type="radio" id="1" checked name="customRadio" class="custom-control-input" value="1">
                    <label class="custom-control-label font-13 text-uppercase" style="padding-left:1.25rem;font-size:13px!important" for="1">A SINGLE PARTICIPANT</label>
                </div>
            </div>
            <div class="col-sm-3 pl-0">
                <div class="custom-radio">
                    <input type="radio" id="2" name="customRadio" class="custom-control-input" value="2">
                    <label class="custom-control-label font-13 text-uppercase" style="padding-left:1.25rem;font-size:13px!important" for="2">MULTIPLE PARTICIPANTS</label>
                </div>
            </div>
            <div class="col-12 border-2px pl-0 mt-10">
                <h5 class="heading-main text-uppercase font-13 fw-400 blurhtext">
                    EMAIL DETAILS
                </h5>
            </div>
            <div class="col-12  pl-0 mb-20">
                <p class="font-14 mt-2 fw-300" style="width:65%">
                    Enter a valid email address, this will be your account name. Passwords need to
                    be a minimum of 8 character and should contain one uppercase and one number.
                </p>
            </div>*@
        @*<div class="col-sm-4 pl-0">
                <div class="form-group">
                    <label for="emailAddress">First Name</label>
                    @Html.TextBoxFor(model => model.FirstName, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Enter your first name" })
                </div>
            </div>
            <div class="col-sm-4 pl-0">
                <div class="form-group">
                    <label for="emailAddress">Last Name</label>
                    @Html.TextBoxFor(model => model.LastName, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Enter your last name" })
                </div>
            </div>
            <div class="col-sm-4 pl-0">
                <div class="form-group">
                    <label for="emailAddress">Date Of Birth</label>
                    @Html.TextBoxFor(model => model.DOB, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Date Of Birth" })
                </div>
            </div>
            <div class="col-sm-4 pl-0">
                <div class="form-group">
                    <label for="emailAddress">NDIS Number(Optional)</label>
                    @Html.TextBoxFor(model => model.NDISReferenceNumber, new { @type = "text", @class = "form-control custom-form-control", placeholder = "NDIS Number" })
                </div>
            </div>
            <div class="col-sm-4 pl-0">
                <div class="form-group">
                    <label for="emailAddress">Mobile (Optional)</label>
                    @Html.TextBoxFor(model => model.MobileNo, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Mobile Number" })
                </div>
            </div>*@
        <div class="col-sm-4 pl-0">
            <div class="form-group">
                <label for="emailAddress">Email</label>
                @Html.TextBoxFor(model => model.Email, new { @type = "email", @class = "form-control custom-form-control", placeholder = "Email" })
            </div>
        </div>
        @*<div class="col-sm-8 pl-0 ">
                <div class="form-group">
                    <label for="emailAddress">Address</label>
                    @Html.TextBoxFor(model => model.AddressLine1, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Enter full Address" })
                </div>
            </div>
            <div class="col-sm-4 pl-0"></div>
            <div class="col-sm-4 pl-0">
                <div class="form-group">
                    <label for="emailAddress">City</label>
                    @Html.TextBoxFor(model => model.Surburb, new { @type = "text", @class = "form-control custom-form-control", placeholder = "City" })
                </div>
            </div>
            <div class="col-sm-2 pl-0">
                <div class="form-group">
                    <label for="emailAddress">State</label>
                    @Html.DropDownListFor(model => model.LookupStateId, (IEnumerable<SelectListItem>)ViewBag.States, "Select State", new { @class = "form-control custom-form-control" })

                </div>
            </div>
            <div class="col-sm-2 pl-0">
                <div class="form-group">
                    <label for="emailAddress">Post Code</label>
                    @Html.TextBoxFor(model => model.PinCode, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Post Code" })
                </div>
            </div>*@

        <div class="col-sm-4 pl-0">
            <div class="form-group">
                <label for="emailAddress">Password</label>
                <i class="fa fa-eye-slash togglePassword" id="ntogglePassword" aria-hidden="true"></i>
                @Html.TextBoxFor(model => model.Password, new { @type = "password", @class = "form-control custom-form-control", placeholder = "Password" })
            </div>
        </div>
        <div class="col-sm-4 pl-0">
            <div class="form-group">
                <label for="emailAddress">Re Enter Password</label>
                <i class="fa fa-eye-slash togglePassword" id="rtogglePassword" aria-hidden="true"></i>
                @Html.TextBoxFor(model => model.ConfirmPassword, new { @type = "password", @class = "form-control custom-form-control", placeholder = "Re Enter Password" })
            </div>
        </div>
        <div class="col-sm-8 pl-0"></div>
        @*<div class="col-12 ml-5 pl-0" id="IsNominee">
                <div class="row">
                    <div class="col-12 border-2px pl-0 ">
                        <h5 class="heading-main text-uppercase">Nominee Details</h5>
                    </div>
                    <div class="col-sm-4 pl-0 mt-20">
                        <div class="form-group">
                            <label for="emailAddress">Nominee First Name</label>
                            @Html.TextBoxFor(model => model.NomineeFirstName, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Nominee first name" })
                        </div>
                    </div>
                    <div class="col-sm-4 pl-0 mt-20">
                        <div class="form-group">
                            <label for="emailAddress">Nominee Last Name</label>
                            @Html.TextBoxFor(model => model.NomineeLastName, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Nominee last name" })
                        </div>
                    </div>
                    <div class="col-sm-4 pl-0 mt-20">
                        <div class="form-group">
                            <label for="emailAddress">Nominee Title</label>
                            @Html.TextBoxFor(model => model.NomineeTitle, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Nominee title" })
                        </div>
                    </div>
                    <div class="col-sm-4 pl-0">
                        <div class="form-group">
                            <label for="emailAddress">Mobile (Optional)</label>
                            @Html.TextBoxFor(model => model.NomineeMobileNo, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Mobile Number" })
                        </div>
                    </div>
                    <div class="col-sm-4 pl-0">
                        <div class="form-group">
                            <label for="emailAddress">Email</label>
                            @Html.TextBoxFor(model => model.NomineeEmail, new { @type = "email", @class = "form-control custom-form-control", placeholder = "Email" })
                        </div>
                    </div>
                </div>
            </div>*@
        <div class="col-sm-12 pl-0 mt-20" id="saveBtn">
            <a href="@Url.Action("SignIn", Controllers.Authentication)" class="btn btn-outline-secondary mr-2 text-uppercase">Cancel</a>
            <button type="button" id="customButton" class="btn btn-outline-primary text-uppercase">Next</button>
        </div>

    </div>

}
<form style="display:none" id="vcodesec">
    <div class="row pdl-5 mt-10">
        <div class="col-12 border-2px  pl-0">
            <h5 class="heading-main text-uppercase font-13 fw-400 blurhtext">Email validation code</h5>
        </div>
        <div class="col-12 pl-0">
            <p class="font-14 mt-2 fw-300" style="width:65%">
                A verification code has been sent to your nominated email. Please enter the code below.
            </p>
        </div>

        <div class="col-md-4 col-sm-6 pl-0 mt-20">
            <div class="form-group">
                <label for="emailAddress">Validation Code</label>
                @Html.TextBoxFor(model => model.ECode, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Validation Code" })
                <span id="cerror" style="color:red;font-size:11px;display:none"></span>
            </div>
        </div>
        <div class="col-sm-8"></div>
        <div class="col-sm-12 pl-0 mt-20" id="saveBtn">
            <a href="@Url.Action("SignIn", Controllers.Authentication)" class="btn btn-outline-secondary mr-2 text-uppercase">Cancel</a>
            <button type="button" id="customButton2" onclick="add()" class="btn btn-outline-primary text-uppercase">Next</button>
        </div>

    </div>
</form>
<!-- Modal -->
<!--<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">-->
<!-- Modal content-->
<!--<div class="modal-content mcontent">
            <div class="modal-body mbody border-primary w-100" style="border-color:transparent!important">
                <h5 class="border-1px pb-2">Enter Verification Code</h5>
                <div class="row mt-20">
                    <div class="col-sm-12 pl-0">
                        <div class="form-group">
                            @Html.TextBoxFor(model => model.ECode, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Verification Code" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer pl-0 pr-0" style="border:0;">
                <button data-dismiss="modal" class="btn btn-outline-secondary mr-2 mno">CANCEL</button>
                <button onclick="add()" class="btn btn-outline-primary text-uppercase  myes">Verify</button>
            </div>
        </div>

    </div>
</div>-->

<input type="hidden" id="IsMinor" value="0" />
<input type="hidden" id="ecode" />
<script>
    $(".togglePassword").on('click', function (e) {
        const password = document.querySelector("#" + $(this).next('input').attr('id'));
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);
        if (type === 'password') {
            $("#" + $(this).attr("Id")).addClass("fa-eye-slash");
            $("#" + $(this).attr("Id")).removeClass('fa-eye');
        }
        else {
            $("#" + $(this).attr("Id")).removeClass("fa-eye-slash");
            $("#" + $(this).attr("Id")).addClass('fa-eye');
        }
    })

    $(function () {
        $('input[name="DOB"]').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            maxDate: new Date(),
        }, function (start, end, label) {
            var years = moment().diff(start, 'years');
            $("#Age").val(years);
            if (years > 18) {
                $("#IsMinor").val("1");
                $("#IsNominee").hide();
                FormValidation.init();
            }
            else {
                $("#IsMinor").val("0");
                $("#IsNominee").show();
                FormValidation.init();
            }
        });
    });
    jQuery(document).ready(function () {
        jQuery.validator.addMethod("strongPassword", function (value, element) {
            var number = /([0-9])/;
            var alphabets = /([A-Z])/;
            var special_characters = /([~,!,@@,#,$,%,^,&,*,-,_,+,=,?,>,<])/;
            if (value.length > 8 && value.match(number) && value.match(alphabets)) {
                return true;
            }
            else {
                return false;
            }
        }, "Minimum 8 character and at least one alphabet, one number, and one special character.");

        toastr.clear();
        if ('@ViewBag.ErrorMSG' != '' ) {
            ShowMessageToastr("danger", "@ViewBag.ErrorMSG", false);
        }
        FormValidation.init();
    });

    $('#customButton').on('click', function (e) {
        if ($('#frmAddEditUsers').validate().form()) {
            if ($("#Password").val() == $("#ConfirmPassword").val()) {
                $.ajax({
                    url: '@Url.Action(Actions.VerifyEmail, Controllers.AccountSetup, new { area = "" })',
                    data: {
                        Email: $("#Email").val()
                    },
                    type: 'POST',
                    datatype: 'json',
                    success: function (data) {
                        if (data.Code == 200) {
                            $("#ecode").val(data.Item.ECode);
                            //$("#myModal").modal("show");
                            $("#saveBtn").hide();
                            $("#vcodesec").show();
                        }
                        else if (data.Code == 403) {
                            toastr.clear();
                            ShowMessageToastr("danger", "Email already exists", false);
                            return;
                        }
                        else if (data.Code == 401) {
                            $('#frmAddEditUsers').submit();
                        }
                    }
                });
            }
            else {
                ShowMessageToastr("danger", "Password & Re Enter Password Does Not Match!", false);
                return
            }
            @*if ('@Model.IsEmailVerified' == 'True') {
                $('#frmAddEditUsers').submit();
            }
            else {*@

           // }
            //$('#frmAddEditUsers').submit(); //form validation success, call ajax form submit
        }
    })
    function add() {
        if ($("#ecode").val() != "") {
            if ($("#ecode").val() == $("#ECode").val()) {
               // $("#myModal").modal("hide");

                toastr.clear();
                ShowMessageToastr("success", "your email is successfully verified.!", false);
                $('#frmAddEditUsers').submit();
            }
            else {
                toastr.clear();
                $("#cerror").text("please enter Valid Verification Code.");
                $("#cerror").show();
                //ShowMessageToastr("danger", "Please enter Valid Verification Code..!", false);
                return;
            }
        }
        else {
            toastr.clear();
            $("#cerror").text("This field is required.");
            $("#cerror").show();
           // ShowMessageToastr("danger", "Please enter Verification Code..!", false);
            return;
        }
    }



    var FormValidation = function () {
        // basic validation
        var handleValidation1 = function () {

            var form1 = $('#frmAddEditUsers');
            var error1 = $('.alert-danger', form1);
            //var success1 = $('.alert-success', form1);


                form1.validate({
                    errorElement: 'label', //default input error message container
                    errorClass: 'error', // default input error message class
                    focusInvalid: false, // do not focus the last invalid input
                    ignore: "",  // validate all fields including form hidden input
                    rules: {

                        Email: {
                            required: true,
                            email: true
                        },
                        Password: {
                            required: true,
                            strongPassword: true,
                        },
                        ConfirmPassword: {
                            required: true
                        },

                    },

                    nvalidHandler: function (event, validator) { //display error alert on form submit
                    },

                    highlight: function (element) { // hightlight error inputs
                        $(element)
                            .closest('.form-control').addClass('validate-has-error'); // set error class to the control group
                    },

                    success: function (label, element) {
                        $(element).closest('.form-control').removeClass('validate-has-error');
                        label.closest('.form-control').removeClass('validate-has-error');
                        label.remove();
                    },

                    errorPlacement: function (error, element) {
                        if (element.closest('.input-icon').length === 1) {
                            //error.insertAfter(element.closest('.input-icon'));
                        } else {
                           // error.insertAfter(element);
                        }
                    },

                    submitHandler: function (form) {
                        if ($("#Password").val() == $("#ConfirmPassword").val()) {
                            form.submit(); // form validation success, call ajax form submit
                            //var v = $('input[name="customRadio"]:checked').val();
                            //if (v == "" || v == undefined || v == null) {
                            //    toastr.clear();
                            //    ShowMessageToastr("danger", "Please select User Type!", false);
                            //    return
                            //}
                            //else {
                            //    $("#IsUserMultiple").val(v);
                            //    form.submit(); // form validation success, call ajax form submit
                            //}
                        }
                        else {
                            ShowMessageToastr("danger", "Password & Re Enter Password Does Not Match!", false);
                            return
                        }
                    }
                });


            $('#frmAddEditUsers input').keypress(function (e) {
                if (e.which == 13) {
                    if ($('#frmAddEditUsers').validate().form()) {
                        //$('#frmAddEditUsers').submit(); //form validation success, call ajax form submit
                    }
                    return false;
                }
            });
        }
        return {
            //main function to initiate the module
            init: function () {
                handleValidation1();
            }
        };
    }();

</script>
@Html.Raw(ViewBag.openPopup)
