﻿
@{
    ViewBag.Title = "Plan Manager Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PlannedServicesAdmin.Pages;
@using PlannedServices.Entities.V1;
@using PlannedServices.Common;
@model User
<style>
    .custom-control-label::after {
        margin-top: 1rem
    }

    .custom-control-input:checked ~ .custom-control-label::before {
        margin-top: 1rem
    }

    .custom-radio .custom-control-label::before {
        margin-top: 1rem
    }
    /* width */
    #BSection::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    #BSection::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    #BSection::-webkit-scrollbar-thumb {
        background: #888;
    }

        /* Handle on hover */
        #BSection::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

    #BSection {
        max-height: 100vh;
        overflow: auto;
        overflow-x: hidden
    }
</style>
<div class="row">
    <div class="col-lg-2 col-md-3 col-sm-4 mb-3 mb-sm-0 box">
        <div class="card card-home ">
            <div class="card-body">
                <h5 class="font-weight-normal">Home</h5>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mb-3 mb-sm-0 box">
        <div class="card border-warning border-2">
            <div class="card-body">
                <h5 class="font-weight-normal font-12 text-uppercase">Participant<br>Sign Up</h5>
                <div class="text-left w-100 mt-auto">
                    <img src="~/Content/Icons/Add_User.svg" alt="" class="img-16">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 border-2px ml-5 pl-0">
        <h5 class="heading-main text-uppercase font-13 fw-400 blurhtext">STEP 4 of 4  |  PLAN MANAGER DETAILS</h5>
    </div>
</div>
<div>
    <p class="font-14 mt-2 fw-300" style="width:65%">
        Please select your Plan Manager from the list below.
    </p>
    <p class="font-14  fw-300 mt-20" style="width:65%">
        Access to <b>MY REQUEST </b>is made available to you via either your core or capacity
        building budgets. Plan Services Australia will communicate directly with your Plan Manager.
    </p>
</div>
<div class="row">
    <div class="col-12  ml-5 pl-0 pr-0 mt-20">
        <input type="text" id="searchText" placeholder="SEARCH" class="form-control custom-form-control sinput" style="border: 1px solid #ECF0F1;width: 83%;float: left;" />
        <button type="button" onclick="Search()" class="btn btn-outline-primary ml-2 text-uppercase">Search</button>

    </div>
</div>
<div class="row pl-0 BSection mt-20" id="BSection">
    @*@foreach (var item in @ViewBag.PlanManagerList)
        {
            <div class="col-12 pr-0 pl-0 ml-5 border-1px">
                <div class="custom-control custom-radio">
                    <input type="radio" @(item.Id == Model.PlanManagerId ? "checked" : "") id="1customRadio_@item.Id" name="customRadio" class="custom-control-input" value="@item.Id" onclick="SetValue(@item.Id)">
                    <label class="custom-control-label w-100" for="1customRadio_@item.Id">
                        <div class="row">
                            <div class="col-5">
                                <p class="font-12 blurtext">Company Name </p>
                                <p class="mt-7 font-16 fw-400">@item.CompanyName</p>
                            </div>
                            <div class="col-6">
                                <p class="font-12 blurtext">Address </p>
                                <p class="mt-7 font-16 fw-400">@item.Address</p>
                            </div>
                        </div>
                    </label>
                </div>
            </div>
        }*@
</div>
<div class="row mt-4" id="1Section" style="display:none">
    <div class="col-12">
        <a href="@Url.Action("Location", Controllers.AccountSetup)" class="btn btn-outline-secondary text-uppercase mr-2">Previous</a>
        <a href="#" onclick="Next()" class="btn btn-outline-primary text-uppercase">Next</a>
    </div>
</div>
@*@using (Html.BeginForm(Actions.PlanManagerDetails, Controllers.AccountSetup, FormMethod.Post, new { area = "", @id = "frmAddEditPMD" }))
    {
    <div class="row pdl-5 mt-20">

        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)
        <div class="col-sm-4 pl-0">
            <div class="form-group">
                <label for="emailAddress">Company Name</label>
                @Html.TextBoxFor(model => model.CompanyName, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Enter your first Company Name" })
            </div>
        </div>
        <div class="col-sm-4 pl-0">
            <div class="form-group">
                <label for="emailAddress">ABN</label>
                @Html.TextBoxFor(model => model.ABN, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Enter your ABN" })
            </div>
        </div>
        <div class="col-sm-8 pl-0">
            <div class="form-group">
                <label for="emailAddress">Address</label>
                @Html.TextBoxFor(model => model.AddressLine1, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Enter full Address" })
            </div>
        </div>
        <div class="col-sm-4 pl-0"></div>
        <div class="col-sm-4 pl-0">
            <div class="form-group">
                <label for="emailAddress">Surburb</label>
                @Html.TextBoxFor(model => model.Surburb, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Surburb" })
            </div>
        </div>

        <div class="col-sm-2 pl-0">
            <div class="form-group">
                <label for="emailAddress">State</label>
                @Html.DropDownListFor(model => model.LookupStateId, (IEnumerable<SelectListItem>)ViewBag.States, "Select State", new { @class = "form-control custom-form-control" })
            </div>
        </div>
        <div class="col-sm-2 pl-0">
            <div class="form-group">
                <label for="emailAddress">Post Code</label>
                @Html.TextBoxFor(model => model.PinCode, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Post Code" })
            </div>
        </div>
        <div class="col-sm-4 pl-0"></div>
        <div class="col-sm-4 pl-0">
            <div class="form-group">
                <label for="emailAddress">Telephone</label>
                @Html.TextBoxFor(model => model.PhoneNumber, new { @type = "text", @class = "form-control custom-form-control", placeholder = "xxxx" })
            </div>
        </div>
        <div class="col-sm-4 pl-0">
            <div class="form-group">
                <label for="emailAddress">Email</label>
                @Html.TextBoxFor(model => model.Email, new { @type = "email", @class = "form-control custom-form-control", placeholder = "Email" })
            </div>
        </div>
        <div class="col-sm-4 pl-0"></div>
        <div class="col-sm-4 pl-0">
            <div class="form-group">
                <label for="emailAddress">Web Site</label>
                @Html.TextBoxFor(model => model.WebSite, new { @type = "text", @class = "form-control custom-form-control", placeholder = "WebSite" })
            </div>
        </div>
        <div class="col-sm-4 pl-0">
            <div class="form-group">
                <label for="emailAddress">NDIS</label>
                @Html.TextBoxFor(model => model.NDISReferenceNumber, new { @type = "text", @class = "form-control custom-form-control", placeholder = "NDIS" })
            </div>
        </div>
        <div class="col-sm-4 pl-0"></div>
        <div class="col-sm-8 pl-0 mt-20">

            <a href="@Url.Action(Actions.PDSettings, Controllers.AccountSetup, new { Area = "", UserType = ProjectSession.SetupUserType })" class="btn btn-outline-secondary mr-2 text-uppercase">Previous</a>
            <button type="submit" class="btn btn-outline-primary text-uppercase">Next</button>
        </div>

    </div>

    }*@

<!-- Modal -->

<!--<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">-->
        <!-- Modal content-->
        <!--<div class="modal-content mcontent">
            <div class="modal-body mbody border-warning" style="width:394px">
                <h5>
                    By verifying your account, you are
                    acknowledging that you have exercised
                    choice and control, nominating
                    Requisition.
                </h5>
                <p>
                    A valid and eligible invoice will be forwarded to
                    your plan manager for payment processing,
                    which is fully funded in your NDIS Plan support
                    categories.
                </p>
            </div>
            <div class="modal-footer pl-0 pr-0" style="border:0;">
                <button data-dismiss="modal" class="btn btn-outline-secondary mr-2 mno" style="padding: 5px 68px;">CANCEL</button>
                <button onclick="Verify()" class="btn btn-outline-secondary  myes" style="padding: 5px 66px;">VERIFY</button>
            </div>
        </div>

    </div>
</div>-->
<div id="myModal2" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content mcontent" style="border:0;">
            <div class="modal-body mbody border-secondary border-3" style="padding:10px 15px">
                <h6 class="font-13 text-left blurhtext m-0">
                    Your setup has successfully been completed. Welcome to My REQUEST.
                </h6>
            </div>
            <div class="modal-footer pl-0 pr-0" style="border:0;">
                <button data-dismiss="modal" class="btn btn-outline-warning text-white mno text-uppercase m-0">CONTINUE</button>
            </div>
        </div>
    </div>
</div>


<script>

    jQuery(document).ready(function () {
        FormValidation.init();
        $('#myModal2').on('hide.bs.modal', function () {
            Verify2();
        })
    });

      function Search() {
              $.ajax({
                      url: '@Url.Action(Actions.Search, Controllers.AccountSetup, new { area = "" })',
                  data: { Name: $("#searchText").val() },
                      type: 'Post',
                      datatype: 'json',
                  success: function (data) {
                      if (data) {
                          debugger
                          if (data.length > 0) {
                              $("#BSection").empty();
                              var s = '';
                              for (var i = 0; i < data.length; i++) {
                                  s += '<div class="col-12 pr-0 pl-0 ml-5 border-1px">'
                                  s += '<div class="custom-control custom-radio">'
                                  if (data[i].Id == @Model.PlanManagerId) {
                                      s += '<input type="radio" checked  id="1customRadio_' + data[i].Id + '" name="customRadio" class="custom-control-input" value="' + data[i].Id + '" onclick="SetValue(' + data[i].Id + ')">'
                                  }
                                  else {
                                      s += '<input type="radio"  id="1customRadio_' + data[i].Id + '" name="customRadio" class="custom-control-input" value="' + data[i].Id + '" onclick="SetValue(' + data[i].Id + ')">'
                                  }
                                  s += '<label class="custom-control-label w-100" for="1customRadio_' + data[i].Id + '">'
                                  s += '<div class="row">'
                                  s += '<div class="col-5">'
                                  s += '<p class="font-12 blurtext">Company Name </p>'
                                  s += '<p class="mt-7 font-16 fw-400">' + data[i].CompanyName + '</p>'
                                  s += '</div>'
                                  s += '<div class="col-6">'
                                  s += '<p class="font-12 blurtext">Address </p>'
                                  s += '<p class="mt-7 font-16 fw-400">' + data[i].Address + '</p>'
                                  s += '</div>'
                                  s += ' </div>'
                                  s += '<label>'
                                  s += '</div>'
                                  s += '</div>'

                              }
                              $("#BSection").html(s);
                              $("#1Section").show();
                          }
                          else {
                              $("#BSection").empty();
                              $("#1Section").hide();
                          }
                      }
                      else {

                          ShowMessageToastr("danger", "something went wrong. please try again.", false);
                      }
                      },
                        error: function () { }
                    });

    }

    var FormValidation = function () {
        // basic validation
        var handleValidation1 = function () {

            var form1 = $('#frmAddEditPMD');
            var error1 = $('.alert-danger', form1);
            //var success1 = $('.alert-success', form1);

            form1.validate({
                errorElement: 'label', //default input error message container
                errorClass: 'error', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",  // validate all fields including form hidden input
                rules: {
                    CompanyName: {
                        required: true
                    },
                    ABN: {
                        required: true
                    },
                    AddressLine1: {
                        required: true
                    },
                    PhoneNumber: {
                        required: true
                    },
                    LookupStateId: {
                        required: true
                    },
                    Email: {
                        required: true,
                        email: true
                    },
                    PinCode: {
                        required: true
                    },
                    Surburb: {
                        required: true
                    },
                    NDISReferenceNumber: {
                        required: true
                    },
                    Website: {
                        required: true
                    },
                },

                nvalidHandler: function (event, validator) { //display error alert on form submit
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.input-group').addClass('validate-has-error'); // set error class to the control group
                },

                success: function (label) {
                    label.closest('.input-group').removeClass('validate-has-error');
                    label.remove();
                },

                errorPlacement: function (error, element) {
                    if (element.closest('.input-icon').length === 1) {
                        error.insertAfter(element.closest('.input-icon'));
                    } else {
                        error.insertAfter(element);
                    }
                },

                submitHandler: function (form) {
                    form.submit(); // form validation success, call ajax form submit
                }
            });

            $('#frmAddEditPMD input').keypress(function (e) {
                if (e.which == 13) {
                    if ($('#frmAddEditPMD').validate().form()) {
                        $('#frmAddEditPMD').submit(); //form validation success, call ajax form submit
                    }
                    return false;
                }
            });
        }
        return {
            //main function to initiate the module
            init: function () {
                handleValidation1();
            }
        };
    }();

    function SetValue(id) {

    }
    function Next() {
        debugger
        var v = $('input[name="customRadio"]:checked').val();
        if (v == "" || v == undefined || v == null) {
            toastr.clear();
            ShowMessageToastr("danger", "Please select Plan Manager!", false);
            return
        }
        else {
            if (@ProjectSession.SetupUserID > 0) {
                //$("#myModal").modal("show");
                Verify();
            }
            else {
                ShowMessageToastr("danger", "something went wrong. please try again.", false);
            }
        }

    }
    function Verify() {
        var v = $('input[name="customRadio"]:checked').val();

          $.ajax({
            url: '@Url.Action(Actions.UpdatePlanManager, Controllers.AccountSetup, new { area = "" })',
            data: {
                PlanManagerId: v
            },
            type: 'POST',
            datatype: 'json',
            success: function (data) {
                if (data.Code == 200) {
                    $("#myModal").modal("hide");
                    $("#myModal2").modal("show");
                    //window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]AccountSetup/Index";

                } else {
                    ShowMessageToastr("danger", "something went wrong. please try again.", false);
                }
            }
        });
    }
    function Verify2() {
           $.ajax({
            url: '@Url.Action(Actions.SendEmail, Controllers.AccountSetup, new { area = "" })',
            data: {
                //Email: $("#Email").val()
            },
            type: 'POST',
            datatype: 'json',
            success: function (data) {
                if (data.Code == 200) {
                }
                window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]Dashboard/Index";

            }
           });
    }
</script>
@Html.Raw(ViewBag.openPopup)
