﻿
@{
    ViewBag.Title = "Add Location";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PlannedServicesAdmin.Pages;
@using PlannedServices.Entities.V1;
@using PlannedServices.Common;
@model User
<div class="row">
    <div class="col-lg-2 col-md-3 col-sm-4 mb-3 mb-sm-0 box">
            <div class="card card-home ">
                <div class="card-body">
                    <h5 class="font-weight-normal">Home</h5>
                </div>
            </div>
    </div>
   

</div>

<div class="row">
    <div class="col-12 border-2px ml-5 pl-0">
        <h5 class="heading-main text-uppercase font-13 fw-400 blurhtext">Upload CSV</h5>
    </div>
</div>

@using (Html.BeginForm(Actions.Upload, Controllers.AccountSetup, FormMethod.Post, new { area = "", @id = "frmAddSubUsers", enctype = "multipart/form-data" }))
{
<div class="row pdl-5 mt-20">

    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
   

    <div class="col-sm-4 pl-0">
        <div class="form-group">
            <label for="emailAddress">Upload File</label>
            <input type="file" name="UploadedFile" />
        </div>
    </div>
    <div class="col-sm-4 pl-0"></div>
    <div class="col-sm-8 pl-0 mt-20">
        <button type="submit" class="btn btn-outline-primary">Next</button>
    </div>

</div>

}

<script>

    jQuery(document).ready(function () {
    });

    
</script>
@Html.Raw(ViewBag.openPopup)