﻿
@{
    ViewBag.Title = "Account SetUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PlannedServicesProviderPortal.Pages;
@using PlannedServices.Entities.V1;
@using PlannedServices.Common;
@model User
<div class="row">
    <div class="col-lg-2 col-md-3 col-sm-4 mb-3 mb-sm-0 box">
        <a href="@Url.Action(Actions.LogIn, Controllers.Account)">
            <div class="card card-home ">
                <div class="card-body">
                    <h5 class="font-weight-normal">Home</h5>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mb-3 mb-sm-0 box">
        <div class="card bg-primary border-0">
            <div class="card-body">
                <h5 class="font-weight-normal">Provider<br>Sign Up</h5>
                <div class="text-right w-100 mt-auto">
                    <img src="~/Content/images/icon-user-add.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row 1Section">
    <div class="col-12 border-2px ml-5 pl-0">
        <h5 class="heading-main">Is Your NDIS Funding Plan Managed Or Self Managed?</h5>
    </div>
</div>
<div class="row 2Section" style="display:none">
    <div class="col-12">
        <h5 class="text-uppercase heading-main">enter your Personal Details</h5>
    </div>
</div>
<div class="row 3Section" style="display:none">
    <div class="col-12">
        <h5 class="text-uppercase heading-main">enter your Plan Manager Details</h5>
    </div>
</div>
<div class="row 4Section" style="display:none">
    <div class="col-12">
        <h5 class="text-uppercase heading-main">do you wish to add additional users to request services on your behalf?</h5>
    </div>
</div>
<div class="row 5Section" style="display:none">
    <div class="col-12">
        <h5 class="text-uppercase heading-main">additional users details</h5>
    </div>
</div>
<div class="row 6Section" style="display:none">
    <div class="col-12">
        <h5 class="text-uppercase heading-main">existing users</h5>
    </div>
</div>
<div class="row 7Section" style="display:none">
    <div class="col-12">
        <h5 class="text-uppercase heading-main">setup complete</h5>
    </div>
</div>
<div class="row 8Section" style="display:none">
    <div class="col-12">
        <h5 class="text-uppercase heading-main">annual subscription to requisition $400 ex gst</h5>
    </div>
</div>

<div class="row pl-0 1Section">
    <div class="col-12 pr-0 ml-5 border-1px">
        <div class="radio-list-padding">
            <div class="custom-control custom-radio">
                <input type="radio" id="1customRadio" checked name="customRadio" class="custom-control-input" value="1" onclick="SetValue(0,1)">
                <label class="custom-control-label" for="1customRadio">Plan Managed</label>
            </div>
        </div>
    </div>
    <div class="col-12 pr-0 ml-5 border-1px">
        <div class="radio-list-padding">
            <div class="custom-control custom-radio">
                <input type="radio" id="2customRadio" name="customRadio" class="custom-control-input" value="2" onclick="SetValue(0,2)">
                <label class="custom-control-label" for="2customRadio">Self Managed</label>
            </div>
        </div>
    </div>
</div>

    <div class="row mt-4">
        <div class="col-12 1Section" id="1Section">
            <a href="@Url.Action("Home", Controllers.Account)" class="btn btn-outline-secondary mr-2">Cancel</a>
            <a href="#" onclick="SetSection(2)" class="btn btn-outline-primary">Next</a>
        </div>
        <div class="col-12 2Section" id="2Section" style="display:none">
            <a href="#" onclick="SetSection(1)" class="btn btn-outline-secondary mr-2">Previous</a>
            <a href="#" onclick="SetSection(3)" class="btn btn-outline-primary">Next</a>
        </div>
        <div class="col-12 3Section" id="3Section" style="display:none">
            <a href="#" onclick="SetSection(2)" class="btn btn-outline-secondary mr-2">Previous</a>
            <a href="#" onclick="SetSection(4)" class="btn btn-outline-primary">Next</a>
        </div>
        <div class="col-12 4Section" id="4Section" style="display:none">
            <a href="#" onclick="SetSection(3)" class="btn btn-outline-secondary mr-2">Previous</a>
            <a href="#" onclick="SetSection(5)" class="btn btn-outline-primary">Next</a>
        </div>
        <div class="col-12 5Section" id="5Section" style="display:none">
            <a href="#" onclick="SetSection(4)" class="btn btn-outline-secondary mr-2">Previous</a>
            <a href="#" onclick="SetSection(6)" class="btn btn-outline-primary">Next</a>
        </div>
        <div class="col-12 6Section" id="6Section" style="display:none">
            <a href="#" onclick="SetSection(5)" class="btn btn-outline-secondary mr-2">Previous</a>
            <a href="#" onclick="SetSection(7)" class="btn btn-outline-primary">Next</a>
        </div>
        <div class="col-12 7Section" id="7Section" style="display:none">
            <a href="#" onclick="SetSection(6)" class="btn btn-outline-secondary mr-2">Previous</a>
            <a href="@Url.Action("Index", Controllers.Dashboard)" class="btn btn-outline-primary">Finish</a>
        </div>
        <div class="col-12 8Section" id="8Section" style="display:none">
            <a href="#" onclick="SetSection(2)" class="btn btn-outline-secondary mr-2">Previous</a>
            <a href="#" onclick="SetSection(4)" class="btn btn-outline-primary">Next</a>
        </div>
    </div>
    <input type="hidden" id="UserType" value="1" />
    <input type="hidden" id="IsAddUser" value="1" />
    <script>

    $(document).ready(function () {
        debugger
        $(".1Section").show();
        $(".2Section").hide();
        $(".3Section").hide();
        $(".4Section").hide();
        $(".5Section").hide();
        $(".6Section").hide();
        $(".7Section").hide();
        $(".8Section").hide();

    });

    function SetValue(type, id) {
        debugger;
        if (type == 0) {
            $("#UserType").val(id);
        }
        else if (type == 4) {
            $("#IsAddUser").val(id);
        }

    }


    function SetSection(type) {
        $(".1Section").hide();
        $(".2Section").hide();
        $(".3Section").hide();
        $(".4Section").hide();
        $(".5Section").hide();
        $(".6Section").hide();
        $(".7Section").hide();
        $(".8Section").hide();

        if (type == 1) {
            $(".1Section").show();
        }
        else if (type == 2) {
            window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]AccountSetup/PDSettings?UserType=" + $('input[name="customRadio"]:checked').val();
            //$(".2Section").show();
        }
        else if (type == 3) {
            if ($("#UserType").val() == "1") {
                $(".3Section").show();
            }
            else {
                $(".8Section").show();
            }
        }
        else if (type == 4) {
            $(".4Section").show();
        }
        else if (type == 5) {
            if ($("#IsAddUser").val() == "1") {
                $(".5Section").show();
            }
            else {
                $(".7Section").show();
            }
        }
        else if (type == 6) {
            $(".6Section").show();
            $('#frmAddUser').reset();
        }
        else if (type == 7) {
            if ($("#IsAddUser").val() == "1") {
                $(".5Section").show();
            }
            else {
                $(".7Section").show();
            }
        }
    }


    
    </script>


