﻿@using PlannedServicesProviderPortal.Pages;
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- SEO & Metatags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no" /> <!-- Remove Tap Highlight on Windows Phone IE -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="subject" content="">
    <meta name="copyright" content="">
    <meta name=author content="">

    <title>Home | NDIS</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/Content/css/main.min.css">
    <link rel="stylesheet" href="~/Content/css/custom.css">
    <style>
        a {
            color: #fff;
        }
        .card {
            border-radius: 0
        }
            a:hover {
                color: #fff;
                text-decoration: none;
            }

        .img-50 {
            width: 50px
        }

        .bg-login {
            background-image: url(../Content/images/BgLogin.png);
            background-position: bottom;
            background-repeat: no-repeat;
            background-size: cover;
            min-height: 540px
        }

        @@media (max-width:800px) {
            .bg-login {
                background-size: contain;
            }
        }

        @@media (max-width: 576px) {
            .col-xs-4 {
                flex: 0 0 50%;
                max-width: 50%;
            }
        }

        .card-home h5 {
            font-family: 'Orbitron', sans-serif;
        }

        form label {
            font-size: 12px !important
        }
    </style>
</head>

<body class="min-vh-100 d-flex align-items-center">

    <div class="container bg-login">
        <div class="row mt-5">
            <div class="col-12">
                <div class="row align-items-center justify-content-center">
                            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-4 mb-3 mb-sm-0 box">
                                <div class="card card-150 card-home mr-10 ">
                                    <div class="card-body">
                                        <h5 class="font-weight-normal  mb-0">Requisition</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-4 mb-3 mb-sm-0 box">
                                <div class="card border-0 bg-white card-150 mr-10 ">
                                    <div class="card-body">
                                        <img src="~/Content/images/ndis.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-4 mb-3 mb-sm-0 box">
                                <a href="@Url.Action("PDSettings", Controllers.AccountSetup)">
                                    <div class="card bg-primary card-150 mr-10">
                                        <div class="card-body">
                                            <h5 class="font-weight-normal">Provider<br>Sign Up</h5>

                                            <div class="text-right w-100 mt-auto">
                                                <img src="~/Content/images/icon-user-add.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-4 mb-3 mb-sm-0 box">
                                <a href="@Url.Action(Actions.LogIn, Controllers.Account)">
                                    <div class="card bg-primary card-150 mr-10">
                                        <div class="card-body">
                                            <h5 class="font-weight-normal">Provider<br>Log In</h5>

                                            <div class="text-right w-100 mt-auto">
                                                <img src="~/Content/images/user.png" alt="" class="img-50">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Scripts -->
    <script src="~/Content/js/jquery/jquery.min.js"></script>
    <script src="~/Content/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="~/Content/js/main.js"></script>
</body>

</html>
