﻿@{
    Layout = null;
}
@using PlannedServicesProviderPortal.Pages;
@using PlannedServices.Entities.V1;
@model Provider
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- SEO & Metatags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no" /> <!-- Remove Tap Highlight on Windows Phone IE -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="subject" content="">
    <meta name="copyright" content="">
    <meta name=author content="">

    <title>SingUp | Planned Service Vendor</title>

    <!-- App favicon -->
    <link rel="shortcut icon" href="~/Content/images/favicon.ico">

    <!-- App css -->
    <link href="~/Content/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/app-creative.min.css" rel="stylesheet" type="text/css" id="light-style" />

    <link rel="stylesheet" href="~/Content/css/toastr.min.css">
    <style>
        .error {
            color: red;
        }
    </style>
</head>

<body class="authentication-bg pb-0" data-layout-config='{"darkMode":false}'>

    <div class="auth-fluid">
        <!--Auth fluid left content -->
        <div class="auth-fluid-form-box">
            <div class="align-items-center d-flex h-100">
                <div class="card-body">

                    <!-- Logo -->
                    <div class="mb-3 text-center text-lg-left">
                        <a href="index.html" class="logo-dark">
                            <span><img src="~/Content/images/logo-dark.png" alt="" height="60"></span>
                        </a>
                    </div>

                    <!-- title-->
                    <h4 class="mt-0">Sign Up</h4>
                    <p class="text-muted mb-4">Enter your email address and password to access account.</p>

                    @using (Html.BeginForm(Actions.UserSignUp, Controllers.Account, FormMethod.Post, new { id = "frm" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.Id, new { @Id = "Id" })
                        <div class="form-group">
                            <label for="fullName">Full name</label>
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", maxlength = 50, @placeholder = "Enter full name" })
                        </div>
                        <div class="form-group">
                            <label for="fullName">Address</label>
                            @Html.TextBoxFor(model => model.AddressLine1, new { @class = "form-control", maxlength = 50, @placeholder = "Enter address" })
                        </div>
                        <div class="form-group">
                            <label for="fullName">State</label>
                            @Html.DropDownListFor(model => model.LookupStateId, (IEnumerable<SelectListItem>)ViewBag.States, "Select State", new { @class = "form-control form-control-md" })
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="fullName">PinCode</label>
                                    @Html.TextBoxFor(model => model.PinCode, new { @class = "form-control", @type = "number", maxlength = 50, @placeholder = "Enter pincode" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="fullName">Phone</label>
                                    @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", @type = "number", @placeholder = "Enter phone" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="emailAddress">Email address</label>
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @type = "email", @placeholder = "Enter email address" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="passWord">Password</label>
                                    @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @type = "password", @placeholder = "Enter password" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="fullName">Website</label>
                            @Html.TextBoxFor(model => model.Website, new { @class = "form-control", maxlength = 50, @placeholder = "Enter Website" })
                        </div>
                        <div class="form-group">
                            <label for="fullName">Serviceable Area</label>
                            @Html.TextBoxFor(model => model.ServiceableArea, new { @class = "form-control", @placeholder = "Enter Serviceable Area" })
                        </div>
                        <div class="row no-gutters mb-4">
                            <div class="col">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="rememberMe" id="rememberMe">
                                    <label class="custom-control-label" for="rememberMe">I am agree to your <a href="">terms and conditions</a></label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group mb-0 text-center">
                            <button class="btn btn-success btn-shadow btn-block" type="submit"><i class="mdi mdi-login"></i> Sign Up </button>
                        </div>
                    }

                    <footer class="footer footer-alt">
                        <p class="text-muted">Or Already have an account? <a href="@Url.Action(Actions.LogIn,Controllers.Account)" class="text-muted ml-1"><b>Sign In</b></a></p>
                    </footer>
                </div> <!-- end .card-body -->
            </div> <!-- end .align-items-center.d-flex.h-100-->
        </div>
        <!-- end auth-fluid-form-box-->

    </div>
    <!-- end auth-fluid-->
    <!-- bundle -->
    <script src="~/Content/js/vendor.min.js"></script>
    <script src="~/Content/js/app.min.js"></script>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Scripts/toastr.min.js"></script>
    <script type="text/javascript" src="~/Scripts/ui-toastr.min.js"></script>

    <!-- Main Js -->
    <script src="~/Scripts/common.js"></script>

    <script>
        $('.carousel').carousel()
    </script>

    <script>

        jQuery(document).ready(function () {
            FormValidation.init();
            $("#Id").val(atob($("#Id").val()));
        });

        function isNumber(event) {
            var charCode = (event.which) ? event.which : event.keyCode;
            if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            } else {
                return true;
            }
        }

        var FormValidation = function () {
            // basic validation
            var handleValidation1 = function () {

                var form1 = $('#frm');
                var error1 = $('.alert-danger', form1);
                //var success1 = $('.alert-success', form1);

                form1.validate({
                    errorElement: 'label', //default input error message container
                    errorClass: 'error', // default input error message class
                    focusInvalid: false, // do not focus the last invalid input
                    ignore: "",  // validate all fields including form hidden input
                    rules: {
                        Name: {
                            required: true
                        },
                        AddressLine1: {
                            required: true
                        },
                        LookupStateId: {
                            required: true
                        },
                        PinCode: {
                            required: true
                        },
                        Phone: {
                            required: true,
                            minlength: 11
                        },
                        Email: {
                            required: true,
                            email: true
                        },
                        Password: {
                            required: true
                        },
                        Website: {
                            required: true
                        },
                        ServiceableArea: {
                            required: true
                        },
                    },

                    nvalidHandler: function (event, validator) { //display error alert on form submit
                    },

                    highlight: function (element) { // hightlight error inputs
                        $(element)
                            .closest('.input-group').addClass('validate-has-error'); // set error class to the control group
                    },

                    success: function (label) {
                        label.closest('.input-group').removeClass('validate-has-error');
                        label.remove();
                    },

                    errorPlacement: function (error, element) {
                        if (element.closest('.input-icon').length === 1) {
                            error.insertAfter(element.closest('.input-icon'));
                        } else {
                            error.insertAfter(element);
                        }
                    },

                    submitHandler: function (form) {
                        debugger
                        if ($('#rememberMe').prop('checked')) {
                            form.submit();
                        }
                        else {
                            ShowMessageToastr("danger", "Please accept term and condition", false);
                        }
                        // form validation success, call ajax form submit
                    }
                });

                $('#frm input').keypress(function (e) {
                    if (e.which == 13) {
                        if ($('#frm').validate().form()) {
                            $('#frm').submit(); //form validation success, call ajax form submit
                        }
                        return false;
                    }
                });
            }
            return {
                //main function to initiate the module
                init: function () {
                    handleValidation1();
                }
            };
        }();

    </script>

    @Html.Raw(ViewBag.openPopup)
</body>

</html>


