.fs-18{
    font-size: 1.125rem !important;
}

.mb-8px{
    margin-bottom: 0.5rem !important;
}

.mb-14px{
    margin-bottom: 0.875rem !important;
}


.request-details{
    padding: 1.375rem .875rem 0.875rem;
}


/*********************************************/
.mb-10{
    margin-bottom: 0.625rem;
}
.ml-10{
    margin-left: 0.625rem;
}
.mr-10{
    margin-right: 0.625rem;
}
.mt-10{
    margin-top: 0.625rem;
}
.cards-left{
    display: flex;
    flex-direction: column;
}

@media (max-width:767px) {
    .cards-right img{
        max-width: 100%;
        height: auto;
    }
}
.card-150{
    width: 9.375rem;
    height: 9.375rem;
}