﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PlannedServices.Entities.V1;
@using PlannedServicesAdmin.Pages;

@model Services

<div class="row justify-content-between py-3">
    <div class="col-auto">
        <h2 class="fw-extrabold mb-0">Service Request</h2>
    </div>

</div>

<div class="row mb-4">
    <div class="col-xl-12 col-lg-12">
        @using (Html.BeginForm(Actions.Search, Controllers.ServiceRequest, FormMethod.Post, new { id = "frmSearch" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.SupportItemIds, new { @Id = "SupportItemIds" })
            <div class="provider-filters clearfix">
                <div class="provider-filter-backdrop"></div>
                <div class="provider-filter">

                    <h5 class="filter-heading">Filters</h5>

                    <!-- Suburb/Postcode -->
                    <div class="filter-item ">
                        <a class="text-reset filter-title" data-toggle="collapse" href="#Category" role="button"
                           aria-expanded="true" aria-controls="postCodeFilters">
                            <span>Registration Group Name</span>
                            <i class="filter-arrow">
                                <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                                </svg>
                            </i>
                        </a>

                        <div class="collapse multi-collapse show" id="Category">
                            <div class="provider-filter-list">
                                <div class="input-group">
                                    @Html.DropDownListFor(model => model.RegistrationGroupId, (IEnumerable<SelectListItem>)ViewBag.RegistrationGroup, "Select Registration Group", new { @class = "form-control form-control-lg", @Id = "RegistrationGroupId", @onchange = "SetCategory1(0);" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="filter-item border-top">
                        <a class="text-reset filter-title" data-toggle="collapse" href="#postCodeFilters" role="button"
                           aria-expanded="true" aria-controls="postCodeFilters">
                            <span>Support Category Name</span>
                            <i class="filter-arrow">
                                <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                                </svg>
                            </i>
                        </a>

                        <div class="collapse multi-collapse show" id="postCodeFilters">
                            <div class="provider-filter-list">
                                <div class="input-group">
                                    @Html.DropDownListFor(model => model.CategoryId, (IEnumerable<SelectListItem>)ViewBag.SupportCategoryMaster, "Select Support Category", new { @class = "form-control form-control-lg", @Id = "CategoryId", @onchange = "SetCategory1(1);" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Registration Group -->
                    <div class="filter-item border-top">
                        <a class="text-reset filter-title" data-toggle="collapse" href="#regGroupFilters" role="button"
                           aria-expanded="true" aria-controls="regGroupFilters">
                            <span>Support Item Name</span>
                            <i class="filter-arrow">
                                <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                                </svg>
                            </i>
                        </a>

                        <div class="collapse multi-collapse show" id="regGroupFilters">
                            <div class="provider-filter-list mb-3" data-simplebar>
                                <div id="supportItem">

                                </div>
                                @*@if (@ViewBag.SupportItem != null)
                    {
                        foreach (var Item in @ViewBag.SupportItem)
                        {
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="@Item.Id">
                                <label class="custom-control-label product-category-link" for="@Item.Id">@Item.Name</label>
                            </div>
                        }
                    }*@

                            </div>
                        </div>
                    </div>


                    <div class="filter-item border-top">
                        <a class="text-reset filter-title" data-toggle="collapse" href="#Booking" role="button"
                           aria-expanded="true" aria-controls="postCodeFilters">
                            <span>Start Date</span>
                            <i class="filter-arrow">
                                <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                                </svg>
                            </i>
                        </a>

                        <div class="collapse multi-collapse show" id="Booking">
                            <div class="provider-filter-list">
                                <div class="input-group">
                                    @Html.TextBoxFor(model => model.BookingRequestedDate, new { @class = "form-control single-date-picker",  @placeholder = "Enter BookingRequestedDate" })
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="birthDateIcon">
                                            <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                                            </svg>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="filter-item border-top">
                        <a class="text-reset filter-title" data-toggle="collapse" href="#Comments" role="button"
                           aria-expanded="true" aria-controls="postCodeFilters">
                            <span>Comments</span>
                            <i class="filter-arrow">
                                <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                                </svg>
                            </i>
                        </a>

                        <div class="collapse multi-collapse show" id="Comments">
                            <div class="provider-filter-list">
                                <div class="input-group">
                                    @Html.TextAreaFor(model => model.Comment, new { @class = "form-control form-control-md", autofocus="true", rows = "5", @placeholder = "Enter Comment" })
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="form-group mt-3">
                    <button type="submit" class="btn btn-primary">Send Request</button>
                    <a href="@Url.Action("Index","Dashboard")" class="btn btn-link">Cancel</a>
                </div>
            </div>
        }
    </div>



</div>


    <script>
       
        jQuery(document).ready(function () {
           
        FormValidation.init();
        SendRequestValidation.init();
        var s = '';
        s += '<option value="">Select Support Category</option>';

        $("#CategoryId").html(s);
    })

      function SetCategory1(type) {
        if (type == 0) {
            var id = $("#RegistrationGroupId").val();
            var cid =0;
            if (id == 0 || id == "") {
                var s = '';
                s += '<option value="0">Select Support Category</option>';
                $("#CategoryId").html(s);
                $("#supportItem").html('');
            }
        }
        else if (type == 1) {
            var id = $("#CategoryId").val();
            var cid = $("#RegistrationGroupId").val();
            if (id == 0 || id == "") {
                $("#supportItem").html('');
            }
          }
          if (id != 0 || id != "") {
              $.ajax({
                  url: '@Url.Action(Actions.RegistrationGroupByCategoryId, Controllers.ServiceRequest, new { area = "" })',
                  data: { Type: type, RId: id, CId: cid },
                  type: 'GET',
                  datatype: 'json',
                  success: function (data) {
                      if (type == 0) {
                          if (data.length > 0) {
                              var s = '';
                              s += '<option value="">Select Support Category</option>';
                              for (var i = 0; i < data.length; i++) {
                                  s += '<option value="' + data[i].Value + '">' + data[i].Text + '</option>';
                              }
                              $("#CategoryId").html(s);
                          }
                          else {
                              $("#CategoryId").html('');
                          }
                      }
                      else if (type == 1) {
                          if (data.length > 0) {
                              var s = '';
                              for (var i = 0; i < data.length; i++) {
                                  s += '<div class="custom-control custom-checkbox"><input onclick="oncheckBox()" type="checkbox" class="custom-control-input checkBoxClass" id="' + data[i].Value + '" value="' + data[i].Value + '"><label class="custom-control-label product-category-link" for="' + data[i].Value + '">"' + data[i].Text + '"</label></div>';
                              }
                              $("#supportItem").html(s);
                          }
                          else {
                              $("#supportItem").html('');
                          }
                      }

                  },
                  error: function () { }
              });
          }
          }

    function myFunction() {
        var checkBox = document.getElementById("myCheck");
        if (checkBox.checked == true) {
            $(".checkClass").prop('checked', true);
        }
        else {
            $(".checkClass").prop('checked', false);
        }
    }

        function oncheckBox() {
        //var tblProducts = document.getElementById("CategoryTable");
        var chks = document.getElementsByClassName("checkBoxClass");
        var selectedCheck = new Array();
        for (var i = 0; i < chks.length; i++) {
            if (chks[i].checked) {
                selectedCheck.push(chks[i].value);
            }
        }
        if (selectedCheck.length > 0) {
            console.log(selectedCheck);
        }
        else {
            console.log(selectedCheck);
        }
    }

    var FormValidation = function () {
        // basic validation
        var handleValidation1 = function () {

            var form1 = $('#frmSearch');
            var error1 = $('.alert-danger', form1);
            //var success1 = $('.alert-success', form1);

            form1.validate({
                errorElement: 'label', //default input error message container
                errorClass: 'error', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",  // validate all fields including form hidden input
                rules: {
                    CategoryId: {
                        required: true
                    },
                    RegistrationGroupId: {
                        required: true
                    },
                   
                    Comment: {
                        required: true
                    },
                    BookingRequestedDate: {
                        required: true
                    },
                },

                nvalidHandler: function (event, validator) { //display error alert on form submit
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.input-group').addClass('validate-has-error'); // set error class to the control group
                },

                success: function (label) {
                    label.closest('.input-group').removeClass('validate-has-error');
                    label.remove();
                },

                errorPlacement: function (error, element) {
                    if (element.closest('.input-icon').length === 1) {
                        error.insertAfter(element.closest('.input-icon'));
                    } else {
                        error.insertAfter(element);
                    }
                },

                submitHandler: function (form) {
                    debugger
                    var chks = document.getElementsByClassName("checkBoxClass");
                    var selectedCheck = new Array();
                    for (var i = 0; i < chks.length; i++) {
                        if (chks[i].checked) {
                            selectedCheck.push(chks[i].value);
                        }
                    }
                    if (selectedCheck.length > 0) {
                        var Ids = selectedCheck.join(",");
                        $("#SupportItemIds").val(Ids);
                        form.submit();
                    }
                    else {
                        ShowMessageToastr("danger", "Please Select Support Item.!", false);
                    }

                    // form validation success, call ajax form submit
                }
            });

            $('#frmSearch input').keypress(function (e) {
                if (e.which == 13) {
                    if ($('#frmSearch').validate().form()) {
                        $('#frmSearch').submit(); //form validation success, call ajax form submit
                    }
                    return false;
                }
            });
        }
        return {
            //main function to initiate the module
            init: function () {
                handleValidation1();
            }
        };
    }();

        var SendRequestValidation = function () {
            // basic validation
            var handleValidation1 = function () {

                var form1 = $('#frmSendRequest');
                var error1 = $('.alert-danger', form1);
                //var success1 = $('.alert-success', form1);

                form1.validate({
                    errorElement: 'label', //default input error message container
                    errorClass: 'error', // default input error message class
                    focusInvalid: false, // do not focus the last invalid input
                    ignore: "",  // validate all fields including form hidden input
                    rules: {

                    },

                    nvalidHandler: function (event, validator) { //display error alert on form submit
                    },

                    highlight: function (element) { // hightlight error inputs
                        $(element)
                            .closest('.input-group').addClass('validate-has-error'); // set error class to the control group
                    },

                    success: function (label) {
                        label.closest('.input-group').removeClass('validate-has-error');
                        label.remove();
                    },

                    errorPlacement: function (error, element) {
                        if (element.closest('.input-icon').length === 1) {
                            error.insertAfter(element.closest('.input-icon'));
                        } else {
                            error.insertAfter(element);
                        }
                    },

                    submitHandler: function (form) {
                        debugger
                        var chks = document.getElementsByClassName("checkClass");
                        var selectedCheck = new Array();
                        for (var i = 0; i < chks.length; i++) {
                            if (chks[i].checked) {
                                selectedCheck.push(chks[i].value);
                            }
                        }
                        if (selectedCheck.length > 0) {
                            var Ids = selectedCheck.join(",");
                            $("#ProviderIds").val(Ids);
                            form.submit();
                        }
                        else {
                            ShowMessageToastr("danger", "Please Select Provider.!", false);
                        }

                        // form validation success, call ajax form submit
                    }
                });

                $('#frmSendRequest input').keypress(function (e) {
                    if (e.which == 13) {
                        if ($('#frmSendRequest').validate().form()) {
                            $('#frmSendRequest').submit(); //form validation success, call ajax form submit
                        }
                        return false;
                    }
                });
            }
            return {
                //main function to initiate the module
                init: function () {
                    handleValidation1();
                }
            };
        }();

    </script>

    @Html.Raw(ViewBag.openPopup)