﻿
@{
    ViewBag.Title = "Mange";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PlannedServicesAdmin.Pages;
@using PlannedServices.Entities.V1;
@model ServicesRequest
<div class="row justify-content-between py-3">
    <div class="col">
        <h2 class="fw-extrabold">Service Request</h2>
        <p>@ViewBag.ServiceData[0].CategoryName | @ViewBag.ServiceData[0].RegistrationGroupName</p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="table-card table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Provided</th>
                        <th scope="col" style="width: 10%;">Rate</th>
                        <th scope="col">Value</th>
                        <th scope="col">Quote</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var provider in ViewBag.ServiceData)
                    {
                        <tr>
                            <td>
                                <span class="fw-medium">@provider.Name</span>
                            </td>
                            <td>
                                <div class="custom-control custom-checkbox">
                                    <input disabled type="checkbox" class="for checkClass" name="checkClass" id="@provider.SupportItemId" value="@provider.SupportItemId">
                                </div>

                            </td>
                            <td>
                                <div>
                                    <input disabled type="text" class="form-control rate">
                                </div>
                            </td>
                            <td>
                                <div class="unit">
                                    @provider.Unit
                                </div>
                            </td>
                            <td>
                                <div class="quote">
                                    @provider.Quote
                                </div>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>

        </div>
        <div class="mt-3">
            @Html.HiddenFor(m => m.SupportItemIds, new { @Id = "SupportItemIds" })
            @Html.HiddenFor(m => m.ServiceRequestId, new { @Id = "ServiceRequestId" })

            @Html.TextAreaFor(model => model.Comment, new { @class = "form-control", rows = "5", disabled = true, placeholder = "Enter Comment" })
            @*@if (ViewBag.Status == 0)
            {
                <div class="row justify-content-end mt-3">
                    <div class="col-auto">
                        <a onclick="Save(1)" class="btn btn-primary btn-wide">Accept</a>
                        <a onclick="Save(2)" class="btn btn-secondary btn-wide">Reject</a>
                    </div>
                </div>
            }*@
        </div>
        @if (@ViewBag.CommunicationData.Count > 0)
        {
            <div class="mt-3" style="height:400px;overflow:auto;padding-right: 10px;padding-left: 10px;background-color:#eee">
                @foreach (var item in @ViewBag.CommunicationData)
                {
                    <div class="mt-3">
                        @if (item.CustomerId == 0)
                        {
                            <label>Provider</label> <br />
                            <label style="background-color: lightblue;padding: 10px;width: 50%;border-radius:10px">@item.Message</label>
                            <br />
                        }
                        else
                        {
                            <label style="text-align:right;width:100%">Participent</label> <br />
                            <label style="float: right;background-color:lightyellow;padding:10px;width: 50%;border-radius:10px">@item.Message</label>
                        }
                        @* <textarea rows="5" disabled class="form-control" placeholder="enter Message">@item.Message</textarea>*@

                    </div>
                }
            </div>
        }
        @if (ViewBag.Status != 0)
        {
            using (Html.BeginForm(Actions.AddCommunication, Controllers.ServiceRequest, new { Area = "" }, FormMethod.Post, new { id = "frmlogin", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.SRequestId, new { @value = ViewBag.ServiceRequestId })
                @Html.HiddenFor(model => model.ServiceChildId, new { @value = ViewBag.ServiceRequestChildId })
                @Html.HiddenFor(model => model.ProviderId, new { @value = ViewBag.ProviderId })
                <div class="mt-3">
                    <div class="mt-3">
                        <label>Add Media</label><br />
                        <input style="width:50%" type="file" class="form-control" name="images" id="images" accept="image/*">
                        <div id="preview" style="display:none;width:45%">
                            <img src="" id="blah2" style="width: 45%" />

                        </div>
                    </div>

                    <div class="mt-3">
                        <label>Message</label>
                        @Html.TextAreaFor(model => model.Message, new { @class = "form-control", rows = "5", placeholder = "Enter Message" })
                        @*<textarea rows="5" class="form-control" placeholder="enter Message" id="Message"></textarea>*@
                    </div>
                    <div class="row justify-content-end mt-3">
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary btn-wide">Reply</button>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>


<script>
    jQuery(document).ready(function () {
        if (@Html.Raw(Json.Encode(@ViewBag.ServiceData)) != null) {
            var data = @Html.Raw(Json.Encode(@ViewBag.ServiceData));
            for (var i = 0; i < data.length; i++) {
                if (data[i].SIMId != null) {
                    $("input[value='" + data[i].SIMId + "']").prop('checked', true);
                    var row = $("#" + data[i].SIMId).closest("tr");
                    var unit = row.find(".unit").text(data[i].Unit);
                    var rate = row.find(".rate").val(data[i].Rate);
                    var quote = row.find(".quote").text(data[i].Quote);
                }
            }
            $("#Comment").val(data[0].Comment);
            $("#ServiceChildId").val(@ViewBag.ServiceRequestChildId);
            $("#SRequestId").val(@ViewBag.ServiceRequestId);
            $("#ProviderId").val(@ViewBag.ProviderId);
        }
    });

    function Save(type) {
        if ($("#Comment").val() == "") {
            ShowMessageToastr("danger", "Please Enter Comment.!", false);
            return
        }

        if (type != null || type != "") {

            var chks = document.getElementsByClassName("checkClass");
            var selectedCheck = new Array();
            debugger
            for (var i = 0; i < chks.length; i++) {
                if (chks[i].checked) {
                    var row = $("#" + chks[i].value).closest("tr");
                    var unit = row.find(".unit").text().trim();
                    var rate = row.find(".rate").val();
                    var quote = row.find(".quote").text().trim();
                    if (rate == "") {
                        ShowMessageToastr("danger", "Please enter rate.!", false);
                        return
                    }
                    var obj = {
                        SupportItemId: chks[i].value,
                        Rate: rate,
                        Unit: unit,
                        Quote: quote,
                        ServiceRequestId: @ViewBag.ServiceRequestId,
                        Comment: $("#Comment").val()
                    }
                    selectedCheck.push(obj);
                }
            }
            if (selectedCheck.length > 0) {
                var Ids = selectedCheck.join(",");
                $("#SupportItemIds").val(Ids);

                  $.ajax({
                      url: '@Url.Action(Actions.AddServiceRequest, Controllers.ServiceRequest, new { area = "" })',
                      data: {
                          Type: type, Comment: $("#Comment").val(), servicesRequests: JSON.stringify(selectedCheck)
                           },
                  type: 'GET',
                  datatype: 'json',
                      success: function (data) {

                          window.location.href = "http://localhost:51894/ServiceRequest/Index";
                          if (data.length > 0) {

                          }


                  },
                  error: function () { }
              });


            }
            else {
                ShowMessageToastr("danger", "Please Select Provided.!", false);
            }


        }
    }

    function Replay() {
        if ($("#Message").val() == "") {
            ShowMessageToastr("danger", "Please Enter Message.!", false);
            return
        }

          $.ajax({
                      url: '@Url.Action(Actions.AddCommunication, Controllers.ServiceRequest, new { area = "" })',
                      data: {
                          ServiceRequestId: @ViewBag.ServiceRequestId,
                          ServiceRequestChildId: @ViewBag.ServiceRequestChildId,
                          ProviderId: @ViewBag.ProviderId,
                          Message: $("#Message").val()
                           },
                  type: 'GET',
                  datatype: 'json',
                      success: function (data) {
                          debugger
                          if (data.Code == 200) {
                              window.location.reload();
                          }

                  },
                  error: function () { }
              });
    }

    $("#images").change(function () {
        // readURL2(this);
    });


    function readURL2(input) {
        debugger
        if (input.files && input.files[0]) {
            $('#blah2').attr('src', '');
            $("#preview").hide();
            var reader = new FileReader();
            reader.readAsDataURL(input.files[0]);
            reader.onload = function (e) {
                $('#blah2').attr('src', e.target.result);
                setTimeout(() => {
                    $("#preview").show();
                }, 1000)
            }
        }
    }


    var FormValidation = function () {
        // basic validation
        var handleValidation1 = function () {

            var form1 = $('#frmlogin');
            var error1 = $('.alert-danger', form1);
            //var success1 = $('.alert-success', form1);

            form1.validate({
                errorElement: 'label', //default input error message container
                errorClass: 'error', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",  // validate all fields including form hidden input
                rules: {

                    Message: {
                        required: true
                    },
                },

                nvalidHandler: function (event, validator) { //display error alert on form submit
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.input-group').addClass('validate-has-error'); // set error class to the control group
                },

                success: function (label) {
                    label.closest('.input-group').removeClass('validate-has-error');
                    label.remove();
                },

                errorPlacement: function (error, element) {
                    if (element.closest('.input-icon').length === 1) {
                        error.insertAfter(element.closest('.input-icon'));
                    } else {
                        error.insertAfter(element);
                    }
                },

                submitHandler: function (form) {
                    form.submit(); // form validation success, call ajax form submit
                }
            });

            $('#frmlogin input').keypress(function (e) {
                if (e.which == 13) {
                    if ($('#frmlogin').validate().form()) {
                        $('#frmlogin').submit(); //form validation success, call ajax form submit
                    }
                    return false;
                }
            });
        }
        return {
            //main function to initiate the module
            init: function () {
                handleValidation1();
            }
        };
    }();

</script>


