﻿
@{
    ViewBag.Title = "Approved Service Requests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PlannedServicesProviderPortal.Pages;
@using PlannedServices.Common;
@using PlannedServices.Entities.V1;
@model ServicesRequest
<style>
    .fs-18 {
        font-size: 1.125rem !important;
    }

    .mb-8px {
        margin-bottom: 0.5rem !important;
    }

    .mb-14px {
        margin-bottom: 0.875rem !important;
    }

    .fs-30 {
        font-size: 1.8rem !important;
    }

    .line-height-sm {
        line-height: 1.5;
    }

    .custom-control-input ~ .custom-control-label::before {
        opacity: 1;
    }
    @@media (max-width: 768px) {
        .mbox {
            min-height: 100px
        }

        .bgmobile .img-16 {
            position: relative;
            bottom: -10px;
        }

        .heading-main {
            margin-bottom: 20px !important;
            margin-top: 5px !important;
        }
    }

    .bgmobile {
        background: #2C3E50;
        padding: 10px 20px 20px 10px
    }

    .pb-10 {
        padding-bottom: 10px
    }
</style>
<div class="row">
    <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
        <a href="@Url.Action(Actions.Index, Controllers.Dashboard)">
            <div class="card card-home ">
                <div class="card-body">
                    <h5 class="font-weight-normal">Home</h5>
                </div>
            </div>
        </a>
    </div>
    @*<div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
            <a href="@Url.Action("Service", Controllers.ServiceRequests)">
                <div class="card blurbg hborder">
                    <div class="card-body">
                        <h5 class="font-weight-normal font-12 text-uppercase">SUPPORT<br>Requests</h5>

                        <div class="text-left w-100 mt-auto">
                            <img src="~/Content/Icons/Active_Request.svg" alt="" class="img-16">
                        </div>

                    </div>
                </div>
            </a>
        </div>*@
    <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
        <div class="card border-success border-2 mbox">
            <div class="card-body">
                <h5 class="font-weight-normal font-12 text-uppercase hideOnMobile">Approved<br>SUPPORT<br>Requests</h5>
                <h5 class="font-weight-normal font-12 text-uppercase showOnMobile">Approved SUPPORT Requests</h5>
                <div class="text-left w-100 mt-auto">
                    <img src="~/Content/Icons/Approved_Request.svg" alt="" class="img-16">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row hideOnMobile">
    <div class="col-12 border-2px ml-5 pl-0 ">
        <h5 class="heading-main font-13 fw-400 text-uppercase blurhtext">Approved SUPPORT Requests</h5>
    </div>
</div>
<div class="row pl-0 hideOnMobile" id="requestSec">
    @if (Model.ServicesRequests.Count <= 0)
    {
    <h1 class="norecord-found">No approved requests found</h1>
    }
    @for (var i = 0; i < Model.ServicesRequests.Count; i++)
    {
        if (@Model.ServicesRequests[i].Status == 1 && @Model.ServicesRequests[i].PServiceStatus != 2)
        {
            <div class="col-12 pr-0 ml-5 border-1px">
                <div class="row">
                    <div class="col-12">
                        <div class="request-details">
                            <div class="row g-2x">
                                <div class="col-11">
                                    <a href="@Url.Action("ServiceDetails", Controllers.ServiceRequests, new { area = "",
                                            ServiceId = ConvertTo.Base64Encode(Convert.ToString(Model.ServicesRequests[i].Id)),
                                            UserId = ConvertTo.Base64Encode(Convert.ToString(Model.ServicesRequests[i].UserId)) })">
                                        <div class="row">
                                            <div class="col-auto  iconMargin mr-20 mdlsec">
                                                @*<div class="mdltext custom-control custom-checkbox pt-0">
            @if (Model.ServicesRequests[i].IsProviderRead == 2)
            {
                <input type="checkbox" id="customCheck1" disabled checked name="customCheck1" class="custom-control-input">
            }
            else
            {
                <input type="checkbox" id="customCheck1" disabled name="customCheck1" class="custom-control-input">
            }
            <label style="position:absolute" class="custom-control-label @(Model.ServicesRequests[i].IsRead == 2 ? "whitecheck" : "")"
                   for="customCheck1">
            </label>
        </div>*@
                                                @if (@Model.ServicesRequests[i].IsRead != 2 && @Model.ServicesRequests[i].IsProviderRead == 1)
                                                {
                                                    <img src="~/Content/Icons/Send_reply.svg" alt="" class="img-16">
                                                }
                                                else if (@Model.ServicesRequests[i].IsRead != 2 && @Model.ServicesRequests[i].IsProviderRead == 2)
                                                {
                                                    <img src="~/Content/Icons/Comment_Received.svg" alt="" class="img-16">
                                                }
                                                else if (@Model.ServicesRequests[i].IsRead == 2)
                                                {
                                                    <img src="~/Content/Icons/Send_reply.svg" alt="" class="img-16">
                                                }
                                                else
                                                {
                                                    <img src="~/Content/Icons/Send_reply.svg" alt="" class="img-16">
                                                }
                                            </div>

                                            <div class="col-auto mr-20">
                                                @if (@Model.ServicesRequests[i].IsRead != 2 && @Model.ServicesRequests[i].IsProviderRead == 0)
                                                {
                                                    <p class="blurtext font-12 fw-400">Request Received</p>
                                                    <h5 class="font-weight-normal font-16 fw-400 line-height-normal mb-0 mt-10">@Model.ServicesRequests[i].CreatedDateStr.ToUpper()</h5>
                                                }
                                                else if (@Model.ServicesRequests[i].IsRead != 2 && @Model.ServicesRequests[i].IsProviderRead == 1)
                                                {
                                                    <p class="blurtext font-12 fw-400">@*Date Viewed*@</p>
                                                    <p class="blurtext font-12 fw-400">Message Received</p>
                                                    <h5 class="font-weight-normal font-16 fw-400 line-height-normal mb-0 mt-10">@Model.ServicesRequests[i].ReadDateStr.ToUpper()</h5>
                                                }
                                                else if (@Model.ServicesRequests[i].IsRead != 2 && @Model.ServicesRequests[i].IsProviderRead == 2)
                                                {
                                                    <p class="blurtext font-12 fw-400">@*Reply Received*@</p>
                                                    <p class="blurtext font-12 fw-400">Message Received</p>
                                                    <h5 class="font-weight-normal font-16 fw-400 line-height-normal mb-0 mt-10">@Model.ServicesRequests[i].ReadDateStr.ToUpper()</h5>
                                                }
                                                else if (@Model.ServicesRequests[i].IsRead == 2)
                                                {
                                                    <p class="blurtext font-12 fw-400">@*Response Sent*@</p>
                                                    <p class="blurtext font-12 fw-400">Message Sent</p>
                                                    <h5 class="font-weight-normal font-16 fw-400 line-height-normal mb-0 mt-10">@Model.ServicesRequests[i].ReadDateStr.ToUpper()</h5>
                                                }
                                            </div>
                                            <div class="col-auto mr-20">
                                                <p class="blurtext font-12 fw-400">Reference</p>
                                                <h5 class="font-weight-normal font-16 fw-400 line-height-normal mb-0 mt-10">@Model.ServicesRequests[i].ServiceNumber</h5>
                                            </div>
                                            <div class="col-5">
                                                <p class="blurtext font-12 fw-400">Description of Services</p>
                                                <h5 class="mt-10 font-weight-normal font-16 fw-400 line-height-sm mb-0">@Model.ServicesRequests[i].RegistrationGroupName</h5>
                                            </div>
                                            <div class="col">
                                                <p class="blurtext font-12 fw-400">Location </p>
                                                <h5 class="mt-10 font-weight-normal font-16 fw-400 line-height-sm mb-0">
                                                    @Model.SelectUser.Surburb,
                                                    @Model.SelectUser.StateName
                                                    @Model.SelectUser.PinCode
                                                </h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                @*<div class="col-1 mdlsec">
                                    <div class="custom-control">
                                        <img onclick="onPopup(@Model.ServicesRequests[i].Id)" data-toggle="modal" data-target="#myModal" src="~/Content/Icons/Cross.svg" class="img-16" alt="">
                                    </div>
                                </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }

</div>

<div class="row pl-0 showOnMobile" id="requestSec">
    @if (Model.ServicesRequests.Count <= 0)
    {
        <h1 class="norecord-found">No approved requests found</h1>
    }
    @for (var i = 0; i < Model.ServicesRequests.Count; i++)
    {
        if (@Model.ServicesRequests[i].Status == 1 && @Model.ServicesRequests[i].PServiceStatus != 2)
        {
            <div class="col-12 pr-0 ml-5">
                <div class="row w-100 pb-10">
                    <div class="col-12 pl-0">
                        <div class="request-details bgmobile">
                            <div class="row g-2x">
                                <div class="col-12">
                                    <a href="@Url.Action("ServiceDetails", Controllers.ServiceRequests, new { area = "",
                                            ServiceId = ConvertTo.Base64Encode(Convert.ToString(Model.ServicesRequests[i].Id)),
                                            UserId = ConvertTo.Base64Encode(Convert.ToString(Model.ServicesRequests[i].UserId)) })">
                                        <div class="row">
                                            <div class="col-4">

                                                @if (@Model.ServicesRequests[i].IsRead != 2 && @Model.ServicesRequests[i].IsProviderRead == 0)
                                                {
                                                <p class="blurtext font-12 fw-400">Message Received</p>
                                                    <h5 class="font-weight-normal font-16 fw-400 line-height-normal mb-0 mt-10">@Model.ServicesRequests[i].CreatedDateStr.ToUpper()</h5>
                                                }
                                                else if (@Model.ServicesRequests[i].IsRead != 2 && @Model.ServicesRequests[i].IsProviderRead == 1)
                                                {
                                            <p class="blurtext font-12 fw-400">Message Received</p>
                                                    <h5 class="font-weight-normal font-16 fw-400 line-height-normal mb-0 mt-10">@Model.ServicesRequests[i].ReadDateStr.ToUpper()</h5>
                                                }
                                                else if (@Model.ServicesRequests[i].IsRead != 2 && @Model.ServicesRequests[i].IsProviderRead == 2)
                                                {
                                            <p class="blurtext font-12 fw-400">Message Received</p>
                                                    <h5 class="font-weight-normal font-16 fw-400 line-height-normal mb-0 mt-10">@Model.ServicesRequests[i].ReadDateStr.ToUpper()</h5>
                                                }
                                                else if (@Model.ServicesRequests[i].IsRead == 2)
                                                {
                                            <p class="blurtext font-12 fw-400">Message Sent</p>
                                                    <h5 class="font-weight-normal font-16 fw-400 line-height-normal mb-0 mt-10">@Model.ServicesRequests[i].ReadDateStr.ToUpper()</h5>
                                                }
                                                @if (@Model.ServicesRequests[i].IsRead != 2 && @Model.ServicesRequests[i].IsProviderRead == 0)
                                                {
                                                    <img src="~/Content/Icons/Comment_Received.svg" alt="" class="img-16">
                                                }
                                                else if (@Model.ServicesRequests[i].IsRead != 2 && @Model.ServicesRequests[i].IsProviderRead == 1)
                                                {
                                                    <img src="~/Content/Icons/Send_reply.svg" alt="" class="img-16">
                                                }
                                                else if (@Model.ServicesRequests[i].IsRead != 2 && @Model.ServicesRequests[i].IsProviderRead == 2)
                                                {
                                                    <img src="~/Content/Icons/Comment_Received.svg" alt="" class="img-16">
                                                }
                                                else if (@Model.ServicesRequests[i].IsRead == 2)
                                                {
                                                    <img src="~/Content/Icons/Send_reply.svg" alt="" class="img-16">
                                                }
                                            </div>

                                            <div class="col-8">
                                                <p class="blurtext font-12 fw-400">Description of Services</p>
                                                <h5 class="mt-10 font-weight-normal font-16 fw-400 line-height-sm mb-0">@Model.ServicesRequests[i].RegistrationGroupName</h5>
                                            </div>

                                        </div>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    }

</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content mcontent">
            <div class="modal-body mbody">
                <h5>Are you sure you want to delete this approval from your list?</h5>
                <p>when canceling a service request the Providers Will be Notified and request removed.</p>
            </div>
            <div class="modal-footer pl-0 pr-0" style="border:0;">
                <button data-dismiss="modal" class="btn btn-outline-secondary mr-2 mno">NO</button>
                <button onclick="Delete()" class="btn btn-outline-secondary  myes">YES</button>
            </div>
        </div>

    </div>
</div>
<input type="hidden" id="serviceid" />
<script>
    function onPopup(id) {
        $("#serviceid").val(id);
    }
    function Delete() {
              $.ajax({
                      url: '@Url.Action(Actions.DeleteServiceRequestProvider, Controllers.ServiceRequests, new { area = "" })',
                  data: { SId: $("#serviceid").val() },
                      type: 'GET',
                      datatype: 'json',
                  success: function (data) {
                      if (data) {
                          $("#myModal").modal("hide");
                          ShowMessageToastr("success", "Delete Provider Successfully.!", false);
                          window.location.reload();
                      }
                      else {
                          ShowMessageToastr("danger", "something went wrong. please try again.", false);
                      }
                      },
                        error: function () { }
                    });

    }
</script>

@Html.Raw(ViewBag.openPopup)