﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PlannedServices.Entities.V1;
@using PlannedServices.Common.Paging;
@using PlannedServices.Entities.Contract;
@using PlannedServices.Common;
@using PlannedServicesProviderPortal.Pages;
@model ServicesRequest
<style>
    .cName {
        white-space: nowrap;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .custom-control-input {
        top: 10px;
        position: absolute;
        z-index: 100;
    }
    .pd {
        padding: 1.3125rem .75rem !important;
    }
    .title{
        font-size:16px;
    }
    .stitle {
        font-size: 12px;
    }
    .textblack {
        color: #333333;
    }
    .textgray {
        color: #676666;
    }
    .lblwarning {
        height: 16px;
        width: 62px;
        font-size: 11px;
        text-align: center;
        background: #FFBC00;
        color: #333;
    }
    .lblprimary {
        height: 16px;
        width: 62px;
        font-size: 11px;
        text-align: center;
        background: #40589B;
        color:#fff;
    }
</style>
<div class="container-fluid mt-3 px-4">
    <div class="row">
        <div class="col-12">
            <ul class="nav nav-pills-custom">
                <li class="nav-item">
                    <a onclick="changeTab()" href="#inProgress" data-toggle="tab" aria-expanded="false" class="nav-link rounded-0 active">
                        <i class="mdi mdi-home-variant d-md-none d-block"></i>
                        <span class="d-none d-md-block">In Progress</span>
                    </a>
                </li>
                <li class="nav-item">
                    |
                </li>
                <li class="nav-item">
                    <a onclick="changeTab()" href="#approvedTab" data-toggle="tab" aria-expanded="true" class="nav-link rounded-0">
                        <i class="mdi mdi-account-circle d-md-none d-block"></i>
                        <span class="d-none d-md-block">Approved</span>
                    </a>
                </li>
                <li class="nav-item">
                    |
                </li>
                <li class="nav-item">
                    <a onclick="changeTab()" href="#rejectedTab" data-toggle="tab" aria-expanded="true" class="nav-link rounded-0">
                        <i class="mdi mdi-account-circle d-md-none d-block"></i>
                        <span class="d-none d-md-block">Rejected</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid mt-3 px-4">
    <div class="row">
        <div class="col-xl-4 col-lg-5">
            <div class="tab-content">
                <div class="tab-pane show active" id="inProgress">
                    <div class="row justify-content-between align-items-center no-gutters bg-primary p-2 pd">
                        <div class="col-auto">
                            <h5 class="text-white my-0 title">In Progress Service Requests</h5>
                        </div>
                    </div>
                    <hr>

                    <ul class="nav nav-list-minimal" role="tablist">
                        @for (var i = 0; i < Model.ServicesRequests.Count; i++)
                        {
                            if (@Model.ServicesRequests[i].Status == 0)
                            {
                                <li class="nav-item" role="presentation" id="list_@Model.ServicesRequests[i].Id">
                                    <a class="nav-link" id="participent-tab_@Model.ServicesRequests[i].Id" data-toggle="tab" href="#" role="tab" onclick="serviceDetails(@Model.ServicesRequests[i].UserId,@Model.ServicesRequests[i].Id)">
                                        <div class="row justify-content-between py-2">
                                            <div class="col-auto col-md-10">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div>
                                                        <p class="mb-1 fw-semibold font-12 textblack stitle">@Model.ServicesRequests[i].RegistrationGroupName</p>
                                                        <p class="mb-0 font-12 stitle textgray">@Model.ServicesRequests[i].ServiceNumber</p>
                                                        <p class="mb-0 font-12 stitle textgray">@Model.ServicesRequests[i].CreatedDateStr</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-auto text-right col-md-2">
                                                @if (@Model.ServicesRequests[i].MainStatus == 1)
                                                {
                                                    <div class="badge lblprimary">New</div>
                                                }
                                                else if (@Model.ServicesRequests[i].MainStatus == 2)
                                                {
                                                    <div class="badge lblwarning">Replied</div>
                                                }
                                                else
                                                {
                                                    <div class="badge lblwarning">Updated</div>
                                                }

                                            </div>
                                        </div>
                                    </a>
                                </li>
                            }
                        }
                    </ul>

                </div>
                <div class="tab-pane" id="approvedTab">
                    <div class="row justify-content-between align-items-center no-gutters bg-primary p-2 pd">
                        <div class="col-auto">
                            <h5 class="text-white my-0 title">Approved Service Requests</h5>
                        </div>
                    </div>
                    <hr>

                    <ul class="nav nav-list-minimal" role="tablist">
                        @for (var i = 0; i < Model.ServicesRequests.Count; i++)
                        {
                            if (@Model.ServicesRequests[i].Status == 1)
                            {
                                <li class="nav-item" role="presentation" id="list_@Model.ServicesRequests[i].Id">
                                    <a class="nav-link" id="participent-tab_@Model.ServicesRequests[i].Id" data-toggle="tab" href="#" role="tab" onclick="serviceDetails(@Model.ServicesRequests[i].UserId,@Model.ServicesRequests[i].Id)">
                                        <div class="row justify-content-between py-2">
                                            <div class="col-auto">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div>
                                                        <p class="mb-1 fw-semibold font-12">@Model.ServicesRequests[i].RegistrationGroupName</p>
                                                        <p class="mb-0 font-12">@Model.ServicesRequests[i].ServiceNumber</p>
                                                        <p class="mb-0 font-12">@Model.ServicesRequests[i].CreatedDateStr</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-auto text-right">
                                                <div class="badge badge-success font-11">Approved</div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </div>
                <div class="tab-pane" id="rejectedTab">
                    <div class="row justify-content-between align-items-center no-gutters bg-primary p-2 pd">
                        <div class="col-auto">
                            <h5 class="text-white my-0 title">Rejected Service Requests</h5>
                        </div>
                    </div>
                    <hr>

                    <ul class="nav nav-list-minimal" role="tablist">
                        @for (var i = 0; i < Model.ServicesRequests.Count; i++)
                        {
                            if (@Model.ServicesRequests[i].Status == 2)
                            {
                                <li class="nav-item" role="presentation" id="list_@Model.ServicesRequests[i].Id">
                                    <a class="nav-link" id="participent-tab_@Model.ServicesRequests[i].Id" data-toggle="tab" href="#" role="tab" onclick="serviceDetails(@Model.ServicesRequests[i].UserId,@Model.ServicesRequests[i].Id)">
                                        <div class="row justify-content-between py-2">
                                            <div class="col-auto">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div>
                                                        <p class="mb-1 fw-semibold font-12">@Model.ServicesRequests[i].RegistrationGroupName</p>
                                                        <p class="mb-0 font-12">@Model.ServicesRequests[i].ServiceNumber</p>
                                                        <p class="mb-0 font-12">@Model.ServicesRequests[i].CreatedDateStr</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-auto text-right">
                                                <div class="badge badge-danger font-11">Rejected</div>

                                            </div>
                                        </div>
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-xl-8 col-lg-7">
            <div class="tab-content">
                <div class="tab-pane" id="participent-details" role="tabpanel" style="display:block">
                    <div id="sCard" style="display:none">
                        <div class="request-details-head">
                            <div class="row font-12">
                                <div class="col-lg-4">
                                    <h5 class="text-white my-0 title" id="pName"></h5>
                                </div>
                                <div class="col-lg-4" >
                                    <h5 class="text-white my-0 stitle" id="pAddress"></h5>
                                </div>
                                @*<div class="col-lg-3">Tel. <span id="pNumber"></span></div>
                                <div class="col-lg-3">Registered with the NDIS</div>*@
                            </div>
                        </div>

                        <hr>

                        <div class="row font-16 fw-semibold">
                            <div class="col-lg-3"><div class="p-2" id="sNumber"></div></div>
                            <div class="col-lg-3"><div class="p-2" id="sDate"></div></div>
                        </div>

                        <div class="border-1x"></div>

                        <div class="row font-12">
                            <div class="col-lg-3">
                                <div class="p-2">
                                    <span class="fw-semibold">Registration Group</span><br>
                                    <span id="regName"></span>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="p-2">
                                    <span class="fw-semibold">Support Category</span><br>
                                    <span id="catName"></span>
                                </div>
                            </div>
                        </div>

                        <div class="border-1x"></div>
                        <div id="tblData">

                        </div>

                        <h5 class="font-14">Additional Information</h5>
                        <p class="text-muted-2 " id="aInformation"></p>

                        <hr>

                        <h5>Comments</h5>


                        <div class="comments-wrapper">
                            <div id="communicationSec"></div>
                        </div>

                        <div class="my-3 my-lg-5">
                            <h5>Add Comment</h5>
                            <textarea id="question" class="form-control" rows="3" placeholder="Write some note..."></textarea>

                            <div class="row">
                                <div class="col-12 text-right mt-2">
                                    <a href="javascript:void(0)" onclick="communication()" class="btn bnt-outline-secondary">Send</a>
                                </div>
                                <div class="col-12" id="btnSec">
                                    @*<button onclick="Save(1)" type="button" class="btn btn-outline-success">Approve</button>
                                    <button onclick="Save(2)" type="button" class="btn btn-outline-secondary">Reject</button>
                                    <br><br>*@
                                    <button onclick="Save(1)" type="button" class="btn btn-success">Approve</button>
                                    <button onclick="Save(2)" type="button" class="btn btn-danger">Reject</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>





@Html.HiddenFor(m => m.SupportItemIds, new { @Id = "SupportItemIds" })
@Html.HiddenFor(m => m.ServiceRequestId, new { @Id = "ServiceRequestId" })

<input type="hidden" id="uId" />
<input type="hidden" id="ServiceChildId" />

<script>
    jQuery(document).ready(function () {

        SendRequestValidation.init();
        var s = '';
        s += '<option value="">Select Support Category</option>';

        $("#CategoryId").html(s);
    })




        var SendRequestValidation = function () {
            // basic validation
            var handleValidation1 = function () {

                var form1 = $('#frmSendRequest');
                var error1 = $('.alert-danger', form1);
                //var success1 = $('.alert-success', form1);

                form1.validate({
                    errorElement: 'label', //default input error message container
                    errorClass: 'error', // default input error message class
                    focusInvalid: false, // do not focus the last invalid input
                    ignore: "",  // validate all fields including form hidden input
                    rules: {

                    },

                    nvalidHandler: function (event, validator) { //display error alert on form submit
                    },

                    highlight: function (element) { // hightlight error inputs
                        $(element)
                            .closest('.input-group').addClass('validate-has-error'); // set error class to the control group
                    },

                    success: function (label) {
                        label.closest('.input-group').removeClass('validate-has-error');
                        label.remove();
                    },

                    errorPlacement: function (error, element) {
                        if (element.closest('.input-icon').length === 1) {
                            error.insertAfter(element.closest('.input-icon'));
                        } else {
                            error.insertAfter(element);
                        }
                    },

                    submitHandler: function (form) {
                        debugger
                        var chks = document.getElementsByClassName("checkClass");
                        var selectedCheck = new Array();
                        for (var i = 0; i < chks.length; i++) {
                            if (chks[i].checked) {
                                selectedCheck.push(chks[i].value);
                            }
                        }
                        if (selectedCheck.length > 0) {
                            var Ids = selectedCheck.join(",");
                            $("#ProviderIds").val(Ids);
                            form.submit();
                        }
                        else {
                            ShowMessageToastr("danger", "Please Select Provider.!", false);
                        }

                        // form validation success, call ajax form submit
                    }
                });

                $('#frmSendRequest input').keypress(function (e) {
                    if (e.which == 13) {
                        if ($('#frmSendRequest').validate().form()) {
                            $('#frmSendRequest').submit(); //form validation success, call ajax form submit
                        }
                        return false;
                    }
                });
            }
            return {
                //main function to initiate the module
                init: function () {
                    handleValidation1();
                }
            };
        }();


    function serviceDetails(uId, srId) {
        var userId = btoa(uId);
        var serviceId = btoa(srId);
        debugger
        $.ajax({
            url: '@Url.Action(Actions.ServiceDetails, Controllers.ServiceRequests, new { area = "" })',
            data: { ServiceId: serviceId, UserId: userId },
            type: 'POST',
            datatype: 'json',
            success: function (data, textStatus, xhr, StatusCode) {
                debugger
                if (data.ServicesRequests != null) {
                    $(".nav-item").css("list-style", "none");
                    $("#list_" + srId).css("list-style", "disc");
                    $("#sCard").show();
                    if (data.ServicesRequests[0].Status == 0) {
                        $("#btnSec").show();
                        $("#ctextarea").hide();
                    }
                    else {
                        $("#btnSec").hide();
                        $("#ctextarea").show();
                    }
                    if (data.ServicesRequests[0].Comment != "" && data.ServicesRequests[0].Comment != null) {
                        $("#Comment").hide();

                    }
                    else {
                        $("#Comment").show();

                    }
                    $("#ServiceRequestId").val(srId);
                    $("#pName").html(data.SelectUser.FirstName);
                    $("#pAddress").html(data.SelectUser.AddressLine1);
                    $("#pNumber").html(data.SelectUser.PhoneNumber);
                    $("#pEmail").html(data.SelectUser.Email);
                    //$("#rating").html(data.SelectUser.Rating +' Stars');
                    $("#regName").html(data.ServicesRequests[0].RegistrationGroupName);
                    $("#catName").html(data.ServicesRequests[0].CategoryName);
                    $("#comment").html(data.ServicesRequests[0].Comment);
                    $("#aInformation").html(data.ServicesRequests[0].SComment);
                    $("#sDate").html(data.ServicesRequests[0].CreatedDateStr);
                    $("#sNumber").html(data.ServicesRequests[0].ServiceNumber);
                    $("#ServiceChildId").val(data.ServicesRequests[0].ServiceRequestChildId);
                    $("#ServiceRequestId").val(data.ServicesRequests[0].ServiceRequestId);
                    $("#uId").val(uId);
                    if (data.ServicesRequests[0].Status == 1) {
                        $("#statusName").removeClass("badge-warning");
                        $("#statusName").removeClass("badge-secondary");
                        $("#statusName").addClass("badge-success");
                        $("#statusName").html("Approved");
                    }
                    else if (data.ServicesRequests[0].Status == 2) {
                        $("#statusName").removeClass("badge-warning");
                        $("#statusName").addClass("badge-danger");
                        $("#statusName").removeClass("badge-success");
                        $("#statusName").html("Rejected");
                    }
                    else {
                        $("#statusName").addClass("badge-warning");
                        $("#statusName").removeClass("badge-danger");
                        $("#statusName").removeClass("badge-success");
                        $("#statusName").html("Sent");
                    }
                    //if (data.ServicesRequests[0].Status == 1) {
                    //    $("#apStatus").show();
                    //    $("#rjStatus").hide();
                    //}
                    //else if (data.ServicesRequests[0].Status == 2) {
                    //    $("#rjStatus").show();
                    //    $("#apStatus").hide();
                    //}
                    $("#tblData").empty();
                    for (var i = 0; i < data.ServicesRequests.length; i++) {
                        var html = "";
                        html += '<div class="row">'
                        html += '<div class="col-lg-8">'
                        html += '<h5 class="d-flex nowrap mt-0">'
                        html += '<div class="custom-control custom-checkbox">'

                        if (data.ServicesRequests[0].Status == 0) {
                            if (data.ServicesRequests[i].SIMId != 0) {
                                html += '<input type="checkbox" checked class="custom-control-input checkClass" name="checkClass" id="' + data.ServicesRequests[i].SupportItemId + '" value="' + data.ServicesRequests[i].SupportItemId + '" onclick="onCheckBox(' + data.ServicesRequests[i].SupportItemId + ')">'
                            }
                            else {
                                html += '<input type="checkbox" class="custom-control-input checkClass" name="checkClass" id="' + data.ServicesRequests[i].SupportItemId + '" value="' + data.ServicesRequests[i].SupportItemId + '" onclick="onCheckBox(' + data.ServicesRequests[i].SupportItemId + ')">'
                            }
                        }
                        else {
                            if (data.ServicesRequests[i].SIMId != 0) {
                                html += '<input disabled type="checkbox" checked class="custom-control-input checkClass" name="checkClass" id="' + data.ServicesRequests[i].SupportItemId + '" value="' + data.ServicesRequests[i].SupportItemId + '" onclick="onCheckBox(' + data.ServicesRequests[i].SupportItemId + ')">'
                            }
                            else {
                                html += '<input disabled type="checkbox" class="custom-control-input checkClass" name="checkClass" id="' + data.ServicesRequests[i].SupportItemId + '" value="' + data.ServicesRequests[i].SupportItemId + '" onclick="onCheckBox(' + data.ServicesRequests[i].SupportItemId + ')">'
                            }
                        }
                        html += '<label class="custom-control-label h5" for="customCheck1">' + data.ServicesRequests[i].Name + '</label>'
                        html += '</div>'
                        html += '</h5>'
                        if (data.ServicesRequests[i].Description != null) {
                            html += '<p class="mb-0 w-xl-75">' + data.ServicesRequests[i].Description + '</p>'
                        }
                        html += '</div>'
                        html += '<div class="col-lg-4">'
                        html += '<h5 class="font-14">Price Per ' + data.ServicesRequests[i].Unit + '</h5>'
                        html += '<input disabled="true" type="text" class="form-control rate" placeholder=""  value="' + data.ServicesRequests[i].Rate + '">'
                        //if (data.ServicesRequests[i].Rate != "" || data.ServicesRequests[i].Rate != 0) {
                        //    html += '<p class="mb-0">$' + data.ServicesRequests[i].Rate + '</p>'
                        //}
                        //else {
                        //    html += '<p class="mb-0" style="font-style: italic;">Pending</p>'
                        //}
                        html += '</div>'
                        html += '</div>'
                        html += '<div class="border-1x"></div>'
                        //if (data.ServicesRequests[i].Quote != "No") {
                        //    html += '<p class="font-14 mb-1">This item requires a Quote</p>'
                        //    html += '<div class="custom-file custom-file-btn-start">'
                        //    html += '<label class="custom-file-label" for="customFile">Choose file</label>'
                        //    html += '<input type="file" class="custom-file-input" id="customFile">'
                        //    html += '</div>'
                        //}
                        //html += '</td>'
                        //html += '<td class="w-xl-15">'
                        //html += '<p class="font-13" style="width: 120px;">Price Per ' + data.ServicesRequests[i].Unit + '</p>'
                        //html += '<div class="input-group mb-3">'
                        //html += '<div class="input-group-prepend">'
                        //html += '<span class="input-group-text">$</span>'
                        //html += '</div>'
                        //html += '<input disabled="true" type="text" class="form-control rate" placeholder="" value="' + data.ServicesRequests[i].Rate + '">'
                        //html += '</div>'
                        //html += '</td>'
                        //html += '</tr>'
                        $("#tblData").append(html);
                    }

                    $("#communicationSec").empty();
                    if (data.ServicesRequestCommunication.length > 0) {
                        $("#cShow").show();
                        for (var i = 0; i < data.ServicesRequestCommunication.length; i++) {
                            var html = "";
                            if (data.ServicesRequestCommunication[i].CustomerId == 0) {
                                html += '<div class="comment sender">'
                                html += ' <h6>Provider Comment</h6>'
                                html += ' <div class="message"> ' + data.ServicesRequestCommunication[i].Message + ''
                                html += '</div>'
                                html += '</div>'
                            }
                            else {
                                html += '<div class="comment">'
                                html += ' <h6>Participent Comment</h6>'
                                html += ' <div class="message"> ' + data.ServicesRequestCommunication[i].Message + ''
                                html += '</div>'
                                html += '</div>'
                            }


                            $("#communicationSec").append(html);
                        }

                    }
                    else {
                        $("#cShow").hide();
                    }

                }
            }
        })
    }

    function Save(type) {
        if ($("#Comment").val() == "") {
            ShowMessageToastr("danger", "Please Enter Comment.!", false);
            return
        }

        if (type != null || type != "") {

            var chks = document.getElementsByClassName("checkClass");
            var selectedCheck = new Array();
            debugger
            for (var i = 0; i < chks.length; i++) {
                if (chks[i].checked) {
                    var row = $("#" + chks[i].value).closest("tr");
                    var unit = row.find(".unit").text().trim();
                    var rate = row.find(".rate").val();
                    var quote = row.find(".quote").text().trim();
                    if (rate == "" || rate == 0) {
                        ShowMessageToastr("danger", "Please enter rate.!", false);
                        return
                    }
                    var obj = {
                        SupportItemId: chks[i].value,
                        Rate: rate,
                        Unit: unit,
                        Quote: quote,
                        ServiceRequestId:  $("#ServiceRequestId").val(),
                        Comment: $("#Comment").val()
                    }
                    selectedCheck.push(obj);
                }
            }
            if (selectedCheck.length > 0) {
                var Ids = selectedCheck.join(",");
                $("#SupportItemIds").val(Ids);

                  $.ajax({
                      url: '@Url.Action(Actions.AddServiceRequest, Controllers.ServiceRequest, new { area = "" })',
                      data: {
                          Type: type, Comment: $("#Comment").val(), servicesRequests: JSON.stringify(selectedCheck)
                           },
                  type: 'GET',
                  datatype: 'json',
                      success: function (data) {

                          window.location.reload();
                          if (data.length > 0) {

                          }


                  },
                  error: function () { }
              });


            }
            else {
                ShowMessageToastr("danger", "Please Select Provided.!", false);
            }


        }
    }

    function onCheckBox(id) {
        debugger
        var row = $("#" + id).closest(".row");
        if (!document.getElementById(id).checked) {
            var rate = row.find(".rate").prop("disabled", true);
        }
        else {
            var rate = row.find(".rate").prop("disabled", false);
        }
    }

    function communication() {
        debugger
        if ($("#question").val() == "") {
            ShowMessageToastr("danger", "Please Enter Ask a question.!", false);
            return
        }
        var obj = {
            ServiceChildId: $("#ServiceChildId").val(),
           // CustomerId: $("#uId").val(),
            SRequestId: $("#ServiceRequestId").val(),
            Message: $("#question").val()
        }
        $.ajax({
            url: '@Url.Action(Actions.AddCommunication, Controllers.ServiceRequests, new { area = "" })',
            data: {
                servicesRequest: JSON.stringify(obj)
            },
            type: 'POST',
            datatype: 'json',
            success: function (data) {
                debugger
                if (data.Code == 200) {
                    window.location.reload();
                }
                else {
                    ShowMessageToastr("danger", "something was wrong.!", false);
                }
            }
        })
    }
    function changeTab() {
        $("#sCard").hide();
        $(".nav-item").css("list-style", "none");
    }
</script>
@Html.Raw(ViewBag.openPopup)
