﻿
@{
    ViewBag.Title = "Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PlannedServicesProviderPortal.Pages;
@using PlannedServices.Entities.V1;
@model ServicesRequest

<div class="row">
    <div class="col-lg-2 col-md-12 col-sm-12 mb-3 box">
        <a href="@Url.Action(Actions.Index, Controllers.Dashboard)">
            <div class="card card-home ">
                <div class="card-body">
                    <h5 class="font-weight-normal">Home</h5>
                </div>
            </div>
        </a>
    </div>

    <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
        <a href="@Url.Action("CService", Controllers.ServiceRequests)">
            <div class="card hborder mbox">
                <div class="card-body">
                    <h5 class="font-weight-normal font-12 text-uppercase hideOnMobile">Active<br>SUPPORT<br>Requests</h5>
                    <h5 class="font-weight-normal font-12 text-uppercase showOnMobile">Active SUPPORT Requests</h5>
                    <div class="text-left w-100 mt-auto">
                        <img src="~/Content/Icons/Active_Request.svg" alt="" class="img-16">
                        @if (ViewBag.CData != null && ViewBag.CData.Count > 0 && ViewBag.CData[0].IsRead == 2)
                        {
                            <img src="~/Content/Icons/Alert_Icon.svg" alt="" class="img-16 ml-1">
                        }
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
        <a href="@Url.Action("AService", Controllers.ServiceRequests)">
            <div class="card hborder mbox">
                <div class="card-body">
                    <h5 class="font-weight-normal font-12 text-uppercase hideOnMobile">Approved<br>SUPPORT<br>Requests</h5>
                    <h5 class="font-weight-normal font-12 text-uppercase showOnMobile">Approved SUPPORT Requests</h5>
                    <div class="text-left w-100 mt-auto">
                        <img src="~/Content/Icons/Approved_Request.svg" alt="" class="img-16">
                        @if (ViewBag.CData != null && ViewBag.CData.Count > 0 && ViewBag.CData[0].IsApprovedRead == 2)
                        {
                            <img src="~/Content/Icons/Alert_Icon.svg" alt="" class="img-16 ml-1">
                        }
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
        <a href="@Url.Action("RService", Controllers.ServiceRequests)">
            <div class="card hborder mbox">
                <div class="card-body">
                    <h5 class="font-weight-normal font-12 text-uppercase hideOnMobile">Declined<br>SUPPORT<br>Requests</h5>
                    <h5 class="font-weight-normal font-12 text-uppercase showOnMobile">Declined SUPPORT Requests</h5>
                    <div class="text-left w-100 mt-auto">
                        <img src="~/Content/Icons/Declined.svg" alt="" class="img-16">
                        @if (ViewBag.CData != null && ViewBag.CData.Count > 0 && ViewBag.CData[0].IsRejectedRead == 2)
                        {
                            <img src="~/Content/Icons/Alert_Icon.svg" alt="" class="img-16 ml-1">
                        }
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="empty col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box"></div>
    <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
        <a href="@Url.Action("PSettings", Controllers.User)">
            <div class="card blurbg hborder mbox">
                <div class="card-body pdb-5">
                    <h5 class="font-weight-normal font-12 text-uppercase hideOnMobile">Profile <br />USERS<br> SETTINGS <br>PROVIDED SERVICES<br>LOGOUT</h5>
                    <h5 class="font-weight-normal font-12 text-uppercase showOnMobile">Profile, USERS, SETTINGS, PROVIDED SERVICES, LOGOUT</h5>


                    <div class="text-left w-100 mt-auto">
                        <img src="~/Content/Icons/User.svg" alt="" class="img-16">
                    </div>

                </div>
            </div>
        </a>
    </div>
</div>

<div class="row pr-2">
    <div class="col-12 border-2px ml-5 pl-0">
        <h5 class="heading-main font-13 blurhtext fw-400 text-uppercase">SUPPORT REQUESTS</h5>
    </div>
</div>
<div class="row mt-20">
    <div class="col-12 ml-5 pl-0">
        <div id="chartContainer1" style="width: 100%;"></div>
    </div>
</div>


@Html.Raw(ViewBag.openPopup)
<script src="~/Content/js/canvasjs.min.js"></script>

<script>
        var DataItem = [];
        if (@Html.Raw(Json.Encode(@ViewBag.CData)) != null) {
            var data = @Html.Raw(Json.Encode(@ViewBag.CData));
            for (var i = 0; i < data.length; i++) {
                DataItem = [
                    //{ y: data[i].NewRequestsCount, 'label': 'New Request' },
                    { y: data[i].ActiveCount, 'label': 'Active' },
                    { y: data[i].ApporveCount, 'label': 'Approved' },
                    { y: data[i].RejectedCount, 'label': 'Declined' }
                ]
            }
        }
        CanvasJS.addColorSet("greenShades",
            ["#e67e22", "#3CB371", "#e74c3b"]);

                var chart = new CanvasJS.Chart("chartContainer1", {
                    animationEnabled: true,
                    title: {
                        text: ""
                    },
                    zoomEnabled: true,
                    dataPointWidth: 70,
                    backgroundColor: "#35495e",
                    colorSet: "greenShades",
                    axisX: {
                        labelFontColor: "#f1f1f1",
                        lineColor: "#f1f1f1",

                    },
                    axisY: {
                        labelFontColor: "#f1f1f1",
                        lineColor: "#f1f1f1",
                        //gridColor: "orange",
                    },
                    legend: {
                        fontColor: "#f1f1f1",
                        //horizontalAlign: "left"
                    },
                    toolTip: {
                        backgroundColor: "#35495e",
                        borderColor: "#35495e",
                        fontColor: "#f1f1f1",

                    },
                    data: [{
                        type: "column",
                        dataPoints: DataItem,
                        click: onClick,
                    }]
                });

        chart.render();
     function onClick(e) {
        if (@Html.Raw(Json.Encode(@ViewBag.CData)) != null) {
            if (e.dataPointIndex == 0) {
                window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]ServiceRequests/CService";
        }
            else if (e.dataPointIndex == 1) {
            window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]ServiceRequests/AService"
            }
            else {
                window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]ServiceRequests/RService"
            }
        }

    }
</script>