﻿
@{
    ViewBag.Title = "ServiceDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PlannedServicesProviderPortal.Pages;
@using PlannedServices.Common;
@using PlannedServices.Entities.V1;
@model ServicesRequest
<style>
    .rate {
        float: left;
        height: 30px;
        width: 80%;
        border-radius: 0;
        border: 1px solid;
    }

    .custom-file {
        /*opacity: 0;
        width: 6%;
        position: absolute;
        height: 60px;
        bottom: 20px;*/
        /*opacity: 0;
        width: 10%;
        position: absolute;
        height: 65px;
        bottom: 40px;
        left: 68px;*/
        opacity: 0;
        width: 150px;
        position: absolute;
        height: 40px;
        /*left: 195px;*/
    }

    .showImg {
        display: block
    }

    #map {
        height: 534px;
        width: 100%;
    }

    #unchange:hover {
        color: #212529;
        background-color: transparent !important;
        border-color: #ecf0f1;
    }

    @@media (max-width: 768px) {
        .mbox {
            min-height: 100px
        }

        .bgmobile .img-16 {
            position: relative;
            bottom: -10px;
        }

        .heading-main {
            margin-bottom: 10px !important;
            margin-top: 5px !important;
        }

        .mt-7 {
            margin-top: 5px;
        }

        .mbtext .font-12 {
            font-size: 14px
        }

        .mr-3 {
            margin-right: 0 !important
        }

        .pmodel {
            height: 65px;
        }

        .pl-5 {
            padding-left: 5px !important
        }

        .custom-file {
            opacity: 0;
            width: 95%;
            position: absolute;
            height: 50px;
        }
    }

    .bgmobile {
        background: #2C3E50;
        padding: 10px 20px 20px 10px
    }

    .pb-10 {
        padding-bottom: 10px
    }
</style>
<div class="row">
    <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
        <a href="@Url.Action(Actions.Index, Controllers.Dashboard)">
            <div class="card card-home ">
                <div class="card-body">
                    <h5 class="font-weight-normal">Home</h5>
                </div>
            </div>
        </a>
    </div>
    @*<div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
            <a href="@Url.Action("Service", Controllers.ServiceRequests)">
                <div class="card blurbg hborder">
                    <div class="card-body">
                        <h5 class="font-weight-normal font-12 text-uppercase">
                            SUPPORT<br>Requests
                        </h5>

                        <div class="text-left w-100 mt-auto">
                            <img src="~/Content/Icons/Support_Requests.svg" alt="" class="img-16">
                        </div>

                    </div>
                </div>
            </a>
        </div>*@
    @if (@Model.ServicesRequests.Count > 0 && @Model.ServicesRequests[0].MainStatus == 0 && Model.ServicesRequests[0].Status != 2)
    {
        <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
            <a href="@Url.Action(Actions.Index, Controllers.Dashboard)">
                <div class="card  hborder mbox">
                    <div class="card-body">
                        <h5 class="font-weight-normal font-12 text-uppercase hideOnMobile">SUPPORT<br>Requests</h5>
                        <h5 class="font-weight-normal font-12 text-uppercase showOnMobile">SUPPORT Requests</h5>
                        <div class="text-left w-100 mt-auto">
                            <img src="~/Content/Icons/Support_Requests.svg" alt="" class="img-16">
                        </div>
                    </div>
                </div>
            </a>
        </div>
        @*<div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
                <div class="card border-0">
                    <div class="card-body">
                        <h5 class="font-weight-normal text-uppercase">
                            Service<br>Request No.
                            <br>@Model.ServicesRequests[0].ServiceNumber
                        </h5>
                    </div>
                </div>
            </div>*@
        <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
            <div class="card border-warning border-2 mbox">
                <div class="card-body">
                    <h5 class="font-weight-normal font-12 text-uppercase hideOnMobile">SUPPORT<br>Request No.<br>@Model.ServicesRequests[0].ServiceNumber </h5>
                    <h5 class="font-weight-normal font-12 text-uppercase showOnMobile">SUPPORT Requests No. @Model.ServicesRequests[0].ServiceNumber</h5>


                    <div class="text-left w-100 mt-auto">
                        <img src="~/Content/Icons/Active_Request.svg" alt="" class="img-16">
                    </div>
                </div>
            </div>
        </div>
    }
    @if (@Model.ServicesRequests.Count > 0 && @Model.ServicesRequests[0].MainStatus == 1 && @Model.ServicesRequests[0].Status != 2)
    {
        <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
            <a href="@Url.Action("AService", Controllers.ServiceRequests)">
                <div class="card blurbg hborder mbox">
                    <div class="card-body">
                        <h5 class="font-weight-normal font-12 text-uppercase hideOnMobile">Approved<br>SUPPORT<br>Requests</h5>
                        <h5 class="font-weight-normal font-12 text-uppercase showOnMobile">Approved SUPPORT Requests</h5>

                        <div class="text-left w-100 mt-auto">
                            <img src="~/Content/Icons/Approved_Request.svg" alt="" class="img-16">
                        </div>
                    </div>
                </div>
            </a>
        </div>
        @*<div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
                <div class="card border-0">
                    <div class="card-body">
                        <h5 class="font-weight-normal text-uppercase">
                           @Model.ServicesRequests[0].ServiceNumber
                        </h5>
                    </div>
                </div>
            </div>*@
        <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
            <div class="card border-success border-2 mbox">
                <div class="card-body">
                    <h5 class="font-weight-normal font-12 text-uppercase hideOnMobile">Approved<br>SUPPORT<br>Requests No. <br>@Model.ServicesRequests[0].ServiceNumber</h5>
                    <h5 class="font-weight-normal font-12 text-uppercase showOnMobile">Approved SUPPORT Requests No. @Model.ServicesRequests[0].ServiceNumber</h5>

                    <div class="text-left w-100 mt-auto">
                        <img src="~/Content/Icons/Approved_Request.svg" alt="" class="img-16">
                    </div>
                </div>
            </div>
        </div>
    }
    @if (@Model.ServicesRequests.Count > 0 && @Model.ServicesRequests[0].Status == 2)
    {

        <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
            <a href="@Url.Action("RService", Controllers.ServiceRequests)">
                <div class="card  hborder mbox">
                    <div class="card-body">
                        <h5 class="font-weight-normal font-12 text-uppercase hideOnMobile">Closed<br>SUPPORT<br>Requests</h5>
                        <h5 class="font-weight-normal font-12 text-uppercase showOnMobile">Closed SUPPORT Requests</h5>


                        <div class="text-left w-100 mt-auto">
                            <img src="~/Content/Icons/Declined.svg" alt="" class="img-16">
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
            <div class="card border-danger border-2 mbox">
                <div class="card-body">

                    <h5 class="font-weight-normal font-12 text-uppercase hideOnMobile">Closed<br>SUPPORT<br>Requests No. <br>@Model.ServicesRequests[0].ServiceNumber</h5>
                    <h5 class="font-weight-normal font-12 text-uppercase showOnMobile">Closed SUPPORT Requests No. @Model.ServicesRequests[0].ServiceNumber</h5>

                    <div class="text-left w-100 mt-auto">
                        <img src="~/Content/Icons/Declined.svg" alt="" class="img-16">
                    </div>
                </div>
            </div>
        </div>

    }
</div>
<div class="row">
    <div class="col-12 ml-5 pl-0">
        <h5 class="heading-main font-13 fw-400 blurhtext text-uppercase">@Model.ServicesRequests[0].ServiceNumber <span style="margin-left:5px;margin-right:5px">|</span>  @Model.ServicesRequests[0].RegistrationGroupName</h5>
    </div>
</div>
<div class="row">
    <div class="col-12 border-1px ml-5 pl-0">
        <h5 class="heading-submain font-13 fw-400 text-uppercase">PARTICIPANT CONTACT DETAILS</h5>
    </div>
</div>

<div class="row mt-20 ">
    <div class="col-md-8">
        <form>
            <div class="row ml-0 w-100 mbtext">
                <div class="col-sm-12 col-md-6 pl-0">
                    <div class="form-group">
                        <label for="emailAddress">Name</label>
                        <input class="form-control custom-form-control" disabled value="@Model.SelectUser.FirstName @Model.SelectUser.LastName" />
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 pl-0 pr-0">
                    <div class="form-group">
                        <label for="emailAddress">Location</label>
                        <input class="form-control custom-form-control" disabled value="@Model.SelectUser.Surburb, @Model.SelectUser.StateName @Model.SelectUser.PinCode" />
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-4 pl-0">
        <div class="@(Model.ServicesRequests[0].IsHideContactDetails != 1 ? "mt-4":"")">
            <a href="#" class="btn btn-outline-primary mr-2 text-uppercase" id="showMap" onclick="onMap(1)">View Map</a>
            <a href="#" class="btn btn-outline-primary mr-2 text-uppercase" id="hideMap" onclick="onMap(0)" style="display:none">Close Map</a>
        </div>
    </div>

</div>
@if (Model.ServicesRequests[0].IsHideContactDetails != 1)
{
    if (Model.ServicesRequests[0].IsProviderContact == 1 || Model.ServicesRequests[0].IsProviderContact == 0)
    {
    }
    else
    {
        <div class="row">
            <div class="col-12 border-1px ml-5 pl-0">
                <h5 class="heading-submain font-13 fw-400 text-uppercase">CONTACT DETAILS</h5>
            </div>
        </div>
        <div class="row mt-20 ">
            <div class="col-md-8">
                <form>
                    <div class="row ml-0 w-100 mbtext">
                        <div class="col-sm-12 col-md-6 pl-0">
                            <div class="form-group">
                                <label for="emailAddress">Name</label>
                                <input class="form-control custom-form-control" disabled value="@Model.ServicesRequests[0].PCName" />
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 pl-0">
                            <div class="form-group">
                                <label for="emailAddress">Location</label>
                                <input class="form-control custom-form-control" disabled value="@Model.SelectUser.Surburb, @Model.SelectUser.StateName @Model.SelectUser.PinCode" />
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 pl-0">
                            <div class="form-group">
                                <label for="emailAddress">Mobile</label>
                                <input class="form-control custom-form-control" disabled value="@Model.ServicesRequests[0].PCNumber" />
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 pl-0">
                            <div class="form-group">
                                <label for="emailAddress">Email</label>
                                <input class="form-control custom-form-control" disabled value="@Model.ServicesRequests[0].PCEmail" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    }
}
<div class="col-12 mb-20" id="map" style="display:none">

</div>
<div class="row">
    <div class="col-12 border-1px ml-5 pl-0">
        <h5 class="heading-submain font-13 fw-400"><span class="text-uppercase">REQUESTED SUPPORT</span> | Select the supports below that you have the capacity to provide.</h5>
    </div>
</div>
<div class="row serviceSec">

    @foreach (var provider in Model.ServicesRequests)
    {
        <div class="col-12 pr-0 ml-5 border-1px">
            <div class="radio-list-padding pl-0" style="height:100%">
                <div class="custom-control custom-checkbox" style="width:80%;float: left;">
                    @if (Model.ServicesRequests[0].Status != 2)
                    {
                        <input @(provider.SIMId != 0 ? "checked" : "") type="checkbox" onchange="saveSupportService(@provider.SupportItemId)" class="custom-control-input checkClass" id="@provider.SupportItemId"
                               value="@provider.SupportItemId" name="@provider.SupportItemId"
                               onclick="onCheckBox(@provider.SupportItemId)">
                    }
                    else
                    {
                        <input @(provider.SIMId != 0 ? "checked disabled" : "disabled") type="checkbox" class="custom-control-input checkClass" id="@provider.SupportItemId"
                               value="@provider.SupportItemId" name="@provider.SupportItemId">
                    }
                    <label class="custom-control-label" for="@provider.SupportItemId"><span class="@(provider.SIMId != 0 ? "" : "unread") R_@provider.SupportItemId">@provider.Name</span></label>
                    <p style="min-height:20px" class="pld font-14 fw-300 @(provider.SIMId != 0 ? "" : "unread") R_@provider.SupportItemId">@provider.Description</p>
                </div>
            </div>
            @*<div class="radio-list-padding pl-0" style="height:100%">
                    <div class="" style="width:80%;float: left;">
                        <label class="custom-control pl-0 pb-0" for="@provider.SupportItemId">@provider.Name</label>
                        <p style="min-height:20px" class="font-14 mb-20 fw-300">@provider.Description</p>
                    </div>
                </div>*@
        </div>
    }

</div>
@*<div class="row ml-0 mt-20">

        <div class="col-md-12 col-sm-12 pl-0">
            <div style="float:left;margin-right:20px">
                <p class="font-16 text-uppercase mt-3 fw-400">
                    Do you have the capacity to provide this support?
                </p>
            </div>
            <div class="custom-control custom-radio" style="float:left;margin-right:20px">
                <input type="radio" id="11" name="customRadioForIsPlan" @(Model.ServicesRequests[0].IsCapacity == 1 ? "checked" : "") class="custom-control-input" value="1" onclick="onCapacity(1)">
                <label class="custom-control-label font-13 text-uppercase" style="padding-left:0.25rem;font-size:13px!important" for="11">Yes</label>
            </div>
            <div class="custom-control custom-radio" style="float:left">
                <input type="radio" id="22" name="customRadioForIsPlan" @(Model.ServicesRequests[0].IsCapacity == 2 ? "checked" : "") class="custom-control-input" value="2" onclick="onCapacity(2)">
                <label class="custom-control-label font-13 text-uppercase" style="padding-left:0.25rem;font-size:13px!important" for="22">No</label>
            </div>
        </div>

    </div>*@




@*<div class="col-12 pr-0 ml-5">
        <div class="row">
            <div class="col-5 pl-5">
                <p class="font-16 fw-400 mb-10">@Model.SelectUser.FirstName @Model.SelectUser.LastName</p>
                <p class="font-14 fw-300">@Model.SelectUser.AddressLine1, @Model.SelectUser.Surburb, @Model.SelectUser.StateName. @Model.SelectUser.PinCode</p>
                <p class="font-14 fw-300">
                    NDIS No. @Model.SelectUser.NDISReferenceNumber
                </p>
            </div>
        </div>
    </div>*@
@*@if (Model.ServicesRequests[0].MainStatus == 1 && Model.SelectPlanManager != null)
    {
        <div class="col-12 pr-0 ml-5">
            <div class="row">
                <div class="col-2 pr-0 pl-0">
                    <div class="custom-control custom-checkbox pt-0">
                        <input type="checkbox" id="customCheck2" disabled name="customCheck2" class="custom-control-input">
                        <label class="custom-control-label dark" for="customCheck2">Invoice to:</label>
                    </div>
                </div>
                <div class="col-3">
                    <p class="font-16 fw-400">@Model.SelectPlanManager.CompanyName </p>
                </div>
                <div class="col-6">
                    <p class="font-16 fw-400">@Model.SelectPlanManager.AddressLine1, @Model.SelectPlanManager.Surburb, @Model.SelectPlanManager.StateName. @Model.SelectPlanManager.PinCode</p>
                </div>
            </div>
        </div>
    }*@
@*<div class="col-3">
        <p class="font-11">Participate Name </pclass="font-11">
        <p class="mt-7 font-14 fw-500">@Model.SelectUser.FirstName @Model.SelectUser.LastName</p>
    </div>
    <div class="col-3">
        <p class="font-11">Contact </p>
        <p class="mt-7 font-14 fw-400"> @Model.SelectUser.PhoneNumber</p>
    </div>
    <div class="col-6">
        <p class="font-11">Address </p>
        <p class="mt-7 font-14 fw-400">@Model.SelectUser.AddressLine1</p>
    </div>*@

<!--if (Model.SelectPlanManager != null)
{
    <div class="row mt-20">
        <div class="col-12 border-1px ml-5 pl-0">
            <h5 class="heading-submain font-13 fw-400 text-uppercase">Plan Manager</h5>
        </div>
    </div>
    <div class="row mt-20 ">-->
@*<div class="row w-100">
        <div class="col-1"></div>
        <div class="col-3">
            <p class="font-16 fw-400">@Model.SelectPlanManager.CompanyName</p>
        </div>
        <div class="col-4">
            <p class="font-12 blurtext">Location </p>
            <p class="mt-7 font-16 fw-400">@Model.SelectPlanManager.AddressLine1,<br /> @Model.SelectPlanManager.Surburb @Model.SelectPlanManager.StateName @Model.SelectPlanManager.PinCode</p>
        </div>
        <div class="col-2">
            <p class="font-12 blurtext">Phone </p>
            <p class="mt-7 font-16 fw-400">@Model.SelectPlanManager.PhoneNumber</p>
        </div>
        <div class="col-2">
            <p class="font-12 blurtext">Email </p>
            <p class="mt-7 font-16 fw-400">@Model.SelectPlanManager.Email</p>
        </div>
    </div>*@
<!--<div class="col-md-1"></div>
        <div class="col-md-6 pl-5">
            <p class="font-16 fw-400 mb-10">Model.SelectPlanManager.CompanyName</p>
            <p class="font-14 fw-300">Model.SelectPlanManager.AddressLine1</p>
            <p class="font-14 fw-300">
                Telephone. Model.SelectPlanManager.PhoneNumber
            </p>
            <p class="font-14 fw-300">
                Email. Model.SelectPlanManager.Email
            </p>
        </div>


    </div>
}-->
@*<div class="row" style="margin-top:20px">
        <div class="col-12 border-1px ml-5 pl-0">
            <h5 class="heading-submain font-13 fw-400 text-uppercase">attachments</h5>
        </div>
    </div>
    <div class="row" style="margin-top:20px">
        <div class="w-100" style="margin:10px 0 30px 0">
            @if (ViewBag.ShowEBtn || ViewBag.ShowBtn)
            {
                <input type="file" id="fileInput" multiple class="custom-file" onchange="readURL(this)" />
                <button class="btn btn-outline-primary" style="float:left">UPLOAD </button>
            }
                <div id="fileSec">

                </div>
            </div>

    </div>*@

@if (Model.ServicesRequestCommunication != null && Model.ServicesRequestCommunication.Count > 0)
{
    <div class="row" style="margin-top:20px">
        <div class="col-12 border-1px ml-5 pl-0">
            <h5 class="heading-submain font-13 fw-400 text-uppercase">MESSAGES</h5>
        </div>
    </div>

}
<div class="row ptb5 mt-20 " id="cSec">
    @if (Model.ServicesRequestCommunication != null && Model.ServicesRequestCommunication.Count > 0)
    {
        foreach (var provider in Model.ServicesRequestCommunication)
        {
            if (provider.CustomerId == 0)
            {
                <div class="col-sm-12 mb-3">
                    <div class="cbox" style="float:right;width:60%;background:#35495E ">
                        <p class="mb-20 font-12 text-white"> @provider.Name</p>
                        <p class="font-13">@provider.Message</p>
                    </div>
                    <div style="float: right;width:60%;">
                        <p class="text-right">@(provider.UserReadStr != "01 Jan 0001" ? (provider.UserReadStr + " - Seen") : "Not seen yet")</p>
                    </div>
                </div>
            }
            else
            {
                <div class="col-sm-12 mb-3 ">
                    <div class="cbox  @(provider.IsRead == 0 ? "border-warning" : "")" style="width:60%">
                        <h5 class="mb-20 font-12 text-white">@provider.UserName</h5>
                        <p class="font-13">@provider.Message</p>
                    </div>
                </div>
            }
        }
    }
</div>

@*@if (@Model.ServicesRequests[0].MainStatus != 1)
    {
        <div class="row">
            <div class="col-12 border-1px ml-5 pl-0">
                <h5 class="heading-submain">Add Comment</h5>
            </div>
        </div>


        <div class="row ">
            <div class="col-12 ml-5 pl-0 pr-0">
                <textarea id="question" rows="3" class="form-control custom-textbox"></textarea>
            </div>
            <div class="col-12 text-right mt-3 ml-5 pl-0 pr-0" style="padding-right:0">
                <a href="javascript:void(0)" class="btn btn-outline-primary" onclick="communication()">SUBMIT</a>
            </div>
        </div>
    }*@

@if (ViewBag.ShowBtn)
{
    <div class="row mt-20 ml-0">
        <button class="btn btn-outline-primary  btn-pedding btn-border text-uppercase mr-3" data-toggle="modal" data-target="#myModal2">Send message to participant</button>

    </div>
}
@if (ViewBag.ShowEBtn)
{
    <div class="row mt-20 ml-0">
        <button class="btn btn-outline-primary text-uppercase btn-pedding mr-3 btn-border text-uppercase" data-toggle="modal" data-target="#myModal2">Send message to participant</button>
        @*<button id="unchange" style="opacity: 0.5;" class="btn btn-outline-secondary text-white mr-3 btn-pedding text-uppercase btn-border">Send </button>
                <button onclick="Save(1)" id="change" style="display:none" class="btn btn-outline-success text-white mr-3 btn-pedding text-uppercase btn-border">Send </button>
            <button onclick="Save(2)" class="btn btn-outline-danger text-white btn-pedding btn-border text-uppercase ">DECLINE REQUEST</button>*@

    </div>
}
@*@if (ViewBag.ShowRBtn)
    {
        <div class="row mt-20 ">
            <button onclick="Save(1)" class="btn border-success mr-3 btn-pedding btn-border">Send Response</button>
            <button class="btn btn-outline-primary mr-3 btn-pedding btn-border" data-toggle="modal" data-target="#myModal2">Add Comment</button>
        </div>
    }*@

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content mcontent">
            <div class="modal-body mbody">
                <div class="col-12 border-2px ml-5 pl-0">
                    <h5 class="heading-main">For what reason are you <span id="stext"></span> this provider response?</h5>
                </div>
                @foreach (var item in ViewBag.ReasonData)
                {
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 pr-0 ml-5 border-1px">
                                <div class="radio-list-padding">
                                    <div class="row g-2x">
                                        <div class="col-12 mr-20">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" id="customCheck_@item.Value" name="customCheck_@item.Value" value="@item.Value" class="custom-control-input checkReason">
                                                <label class="custom-control-label" for="customCheck_@item.Value">@item.Text</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                }
            </div>
            <div class="modal-footer pl-0 pr-0" style="border:0;">
                <button data-dismiss="modal" class="btn btn-outline-secondary mr-2 mno">NO</button>
                <button onclick="addService()" class="btn btn-outline-secondary  myes">YES</button>
            </div>
        </div>

    </div>
</div>

<!-- Modal -->
<div id="myModal2" class="modal fade" role="dialog">
    <div class="modal-dialog modal-xl">
        <!-- Modal content-->
        <div class="modal-content mcontent">
            <div class="modal-body ">

                <div class="row ">
                    <div class="col-12 ml-5 pl-0 pr-0">
                        <h5 class="heading-submain">Add Message</h5>
                        <textarea id="question" rows="3" class="form-control custom-textbox" style="margin-top:5px"></textarea>
                    </div>
                    <div class="col-12 text-right mt-3 ml-5 pl-0 pr-0" style="padding-right:0">
                        <a href="javascript:void(0)" class="btn btn-outline-primary mr-2 msBtn" onclick="communication()">SUBMIT</a>
                        <a href="javascript:void(0)" data-dismiss="modal" class="btn btn-outline-secondary mcBtn">CANCEL</a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>


<!-- Modal -->
<div id="myModal3" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content mcontent">
            <div class="modal-body mbody pmodel border-secondary border-3" id="srBorder">
                <h6 class="font-13 text-center blurhtext" id="srId">DECLINE SUPPORT response HC001_012?</h6>
            </div>
            <div class="modal-footer pl-0 pr-0" style="border:0;">
                <button onclick="addService()" class="btn btn-outline-success mr-2 text-white  myes">YES</button>
                <button data-dismiss="modal" class="btn btn-outline-secondary border-danger mno">NO</button>
            </div>
        </div>

    </div>
</div>
<div id="myModal4" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content mcontent" style="border:0;">
            <div class="modal-footer pl-0 pr-0" style="border:0;">
                <button data-dismiss="modal" class="btn btn-outline-danger text-white text-uppercase myes" style="width: 310px;">
                    Support request has been declined
                </button>
            </div>
        </div>

    </div>
</div>
<div id="myModal5" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content mcontent" style="border:0;">
            <div class="modal-footer pl-0 pr-0" style="border:0;">
                <button data-dismiss="modal" class="btn btn-outline-success text-white text-uppercase myes" style="width: 310px;">
                    Support request capacity updated
                </button>
            </div>
        </div>

    </div>
</div>
<input type="hidden" id="SupportItemIds" />
<input type="hidden" id="ReasonIds" />
<input type="hidden" id="Type" />
<input type="hidden" id="pName" value="@ProjectSession.ProviderName" />
<input type="hidden" id="fName" value="@Model.ServicesRequests[0].FileName" />
<input type="hidden" id="fUrl" value="@Model.ServicesRequests[0].FileURL" />
<script>
    $(document).ready(function () {
           $('#myModal4').on('hide.bs.modal', function () {
                    window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]ServiceRequests/RService";
                });
        var fileurl = $("#fUrl").val().split(',');
        var filename = $("#fName").val().split(',');
        var s = '';
        debugger
        for (var i = 0; i < filename.length; i++) {
            if (filename[i] != "" && filename[i] != null) {
                s += '<div  style="float:left;margin-bottom:10px">'
                s += '<a target="_blank" href="../' + fileurl[i] +'">'
                s += '<img src = "../Content/images/fileIcon.png" style = "margin:0px 0 10px 0;padding-left: 2.25rem;" />'
                s += '<p style="padding-left: 2.25rem;margin-bottom:0;min-height:17px">' + filename[i] + '</p>'
                s += '</a>'
                s += '</div>'
            }
        }
        $("#fileSec").html(s);
    })

    function onMap(type) {
        if (type == 0) {
            $("#map").hide();
            $("#hideMap").hide();
            $("#showMap").show();
        }
        else {
            $("#map").show();
            $("#hideMap").show();
            $("#showMap").hide();
            initMap();

        }
    }

    function onCapacity(v) {
        if (v == 1) {
            var chks = document.getElementsByClassName("checkClass");
                    var selectedCheck = new Array();
                    debugger
                    for (var i = 0; i < chks.length; i++) {
                        if (chks[i].checked) {
                            var obj = {
                                SupportItemId: chks[i].value,
                        }
                        selectedCheck.push(obj);
                    }
                    }

            saveCapacity(v);
            //if (selectedCheck.length > 0) {
            //    saveCapacity(v);
            //    $('input[name=customRadioForIsPlan]').removeClass('no-before'); //Re-add before

            //}
            //else {
            //    $('input[name=customRadioForIsPlan]').addClass('no-before'); //Remove before
            //    ShowMessageToastr("danger", "Please Select Services.!", false);
            //}
        }
        else {
            saveCapacity(v);
        }
    }

    function saveCapacity(v) {
         $.ajax({
                url: '@Url.Action(Actions.UpdateProviderIsCapacity, Controllers.ServiceRequests, new { area = "" })',
                data: {
                    SId: @ViewBag.ServiceRequestId, IsCapacity: v
                },
                type: 'GET',
                datatype: 'json',
                success: function (data) {
                    $("#myModal5").modal("show");
                    //window.location.reload();
                },
                error: function () { }
            });
    }

    var sObj = null;
    function readURL(input) {
        var formData = new FormData();
        if (input.files && input.files[0]) {
            debugger
            var file = input.files;
            var fileInput = document.getElementById('fileInput');
            for (i = 0; i < fileInput.files.length; i++) {

                var sfilename = fileInput.files[i].name;

                formData.append(sfilename, fileInput.files[i]);
            };
            formData.append("files", file);

            $.ajax({
                type: "POST",
                url: "@Url.Action("Upload", Controllers.ServiceRequests, new { area = "" })",
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response.Code == 200) {
                        var filename = response.Item.FileName.split(',');
                        var fileurl = response.Item.ImageUrl.split(',');
                        var s = '';
                        for (var i = 0; i < filename.length; i++) {
                            if (filename[i] != "" && filename[i] != null) {
                                s += '<div  style="float:left;margin-bottom:10px">'
                                s += '<a target="_blank" href="../' + fileurl[i] +'">'
                                s += '<img src = "../Content/images/fileIcon.png" style = "margin:0px 0 10px 0;padding-left: 2.25rem;" />'
                                s += '<p style="padding-left: 2.25rem;margin-bottom:0;min-height:17px">' + filename[i] + '</p>'
                                s += '</a>'
                                s += '</div>'
                            }
                        }
                        $("#fileSec").html(s);
                        $("#fName").val(response.Item.FileName);
                        $("#fUrl").val(response.Item.ImageUrl);
                        $("#fileSec").show();
                        $("#unchange").hide();
                        $("#change").show();
                    }
                    else {
                        //$("#file_" + id).val("");
                        $("#fileSec").hide();
                    }
                }

            });
            //    var reader = new FileReader();
            //    reader.onload = function (e) {
            //        $('#blah2').attr('src', e.target.result);
            //    }
            //}
            //else {
            //}
        }
    }

    function onCheckBox(id) {
        if (!document.getElementById(id).checked) {
             //$("#R_"+id).prop("disabled", true);
             //$("#f_" + id).prop("disabled", true);
             //$("#R_" + id).addClass("unread");
            $(".R_" + id).addClass("unread");
        }
        else {
            //$("#R_" + id).prop("disabled", false);
            //$("#f_" + id).prop("disabled", false);
            //$("#R_" + id).removeClass("unread");
            $(".R_" + id).removeClass("unread");
        }
        $("#unchange").hide();
        $("#change").show();
    }
    function communication() {
        debugger
        if ($("#question").val() == "") {
            ShowMessageToastr("danger", "Please Enter Comment.!", false);
            return
        }
        var obj = {
            ServiceChildId: @ViewBag.ServiceChildId,
            SRequestId: @ViewBag.ServiceRequestId,
            Message: $("#question").val()
        }
        $.ajax({
            url: '@Url.Action(Actions.AddCommunication, Controllers.ServiceRequests, new { area = "" })',
            data: {
                servicesRequest: JSON.stringify(obj)
            },
            type: 'POST',
            datatype: 'json',
            success: function (data) {
                debugger
                if (data.Code == 200) {
                    var n = $("#pName").val();
                    var s = '';
                    s += '<div class="col-sm-12 mb-3">'
                    s += '<div class="cbox" style="float:right;width:60%;background:#35495E ">'
                    s += '<p class="mb-20 font-12 text-white"> ' +n+'</p>'
                    s += '<p class="font-13">' + obj.Message + '</p>'
                    s += '</div>'
                    s += '<div style="float: right;width:60%;">'
                    s += '<p class="text-right">' + (data.Item.UserReadStr !="01 Jan 0001" ? data.Item.UserReadStr: "Not seen yet")+'</p>'
                    s += '</div>'
                    s += '</div>'
                    $("#cSec").append(s);
                    $("#question").val('');
                    $("#myModal2").modal("hide");
                    //window.location.reload();

                    if (@Model.ServicesRequests[0].IsNew == 0) {
                        Save(1);
                    }
                }
                else {
                    ShowMessageToastr("danger", "something was wrong.!", false);
                }
            }
        })
    }

    function addRequest() {
        Save($("#Type").val());
    }

     function Save(type) {
        //if ($("#Comment").val() == "") {
        //    ShowMessageToastr("danger", "Please Enter Comment.!", false);
        //    return
        //}

         if (type != null || type != "") {
            if (type == 1) {
                var chks = document.getElementsByClassName("checkClass");
                var selectedCheck = new Array();
                debugger
                @*for (var i = 0; i < chks.length; i++) {
                    if (chks[i].checked) {
                        var unit = $("#U_" + chks[i].id).text().trim();
                        var quote = $("#Q_" + chks[i].id).text().trim();
                        var rate = $("#R_" + chks[i].id).val();
                        var file = $("#fUrl").val();
                        var filename = $("#fName").val();
                        //if (rate == "" || rate == 0) {
                        //    ShowMessageToastr("danger", "Please enter rate.!", false);
                        //    return
                        //}
                        //else if (quote == "Yes" && filename == "") {
                        //    ShowMessageToastr("danger", "Please upload quote file.!", false);
                        //    return
                        //}
                        var obj = {
                            SupportItemId: chks[i].value,
                            Rate: rate,
                            Unit: unit,
                            Quote: quote,
                            ServiceRequestId:  @ViewBag.ServiceRequestId,
                            Comment: $("#Comment").val(),
                            FileURL: file,
                            FileName: filename
                        }
                        selectedCheck.push(obj);
                    }
                }*@
                var file = $("#fUrl").val();
                var filename = $("#fName").val();
                var data = @Html.Raw(Json.Encode(@Model.ServicesRequests));
                for (var i = 0; i < data.length; i++) {
                     var obj = {
                         SupportItemId: data[i].SupportItemId,
                            Rate: "0.00",
                            Unit: "",
                            Quote: "",
                            ServiceRequestId:  @ViewBag.ServiceRequestId,
                            Comment: $("#Comment").val(),
                            FileURL: file,
                            FileName: filename
                        }
                        selectedCheck.push(obj);
                }


                if (selectedCheck.length > 0) {
                    //var Ids = selectedCheck.join(",");
                    //$("#SupportItemIds").val(selectedCheck);
                    sObj = selectedCheck;
                    $("#Type").val(type);
                    //if (type == 1) {
                    //    $("#stext").text("approving");
                    //    $(".modal-body").addClass("border-success");
                    //}
                    //else {
                    //    $("#stext").text("rejecting");
                    //    $(".modal-body").removeClass("border-success");
                    //}
                    //debugger
                    @*$("#srId").text("APPROVE SUPPORT REQUEST @Model.ServicesRequests[0].ServiceNumber?");
                    $(".modal-body").addClass("border-success");
                    $("#myModal3").modal("show");*@

                      $.ajax({
                url: '@Url.Action(Actions.AddServiceRequest, Controllers.ServiceRequest, new { area = "" })',
                data: {
                    Type: $("#Type").val(), ReasonId: "0", servicesRequests: JSON.stringify(sObj)
                },
                type: 'GET',
                datatype: 'json',
                success: function (data) {
                    $("#myModal3").modal("hide");
                    window.location.reload();
                    @*if ($("#Type").val() == 1 && @Model.ServicesRequests[0].MainStatus == 1) {
                        window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]ServiceRequests/AService";
                    }
                    else {

                        window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]ServiceRequests/CService";
                    }
                    if (data.length > 0) {

                    }*@

                },
                error: function () { }
            });



                }
                else {
                    ShowMessageToastr("danger", "Please Select Services.!", false);
                }
            }
            else {
                //$("#srId").text("DECLINE SUPPORT REQUEST @Model.ServicesRequests[0].ServiceNumber?");
                $("#srId").text("Are you sure you want to decline the response?");
                $(".modal-body").removeClass("border-success");
                $("#myModal3").modal("show");
            }

        }
    }
    function addService() {
        //var chks = document.getElementsByClassName("checkReason");
        //var selectedCheck = new Array();
        //for (var i = 0; i < chks.length; i++) {
        //    if (chks[i].checked) {
        //        selectedCheck.push(chks[i].value);
        //    }
        //}
        //if (selectedCheck.length > 0) {
        //    var Ids = selectedCheck.join(",");
        //    $("#ReasonIds").val(Ids);
        //}
        //else {
        //    $("#ReasonIds").val("");
        //}

        //if ($("#ReasonIds").val() == "") {
        //    ShowMessageToastr("danger", "Please Select Reason.!", false);
        //    return
        //}
        if ($("#Type").val() == 1) {

        }
        else {
             var selectedCheck = new Array();
                var obj = {
                            SupportItemId: "0",
                            Rate: "0",
                            Unit: "0",
                            Quote: "0",
                            ServiceRequestId:  @ViewBag.ServiceRequestId,
                            Comment: $("#Comment").val(),
                            FileURL: null,
                            FileName: "0"
                        }
                        selectedCheck.push(obj);
                 $.ajax({
                        url: '@Url.Action(Actions.AddServiceRequest, Controllers.ServiceRequest, new { area = "" })',
                        data: {
                            Type: 2, ReasonId: "0", servicesRequests: JSON.stringify(selectedCheck)
                        },
                        type: 'GET',
                        datatype: 'json',
                     success: function (data) {
                         $("#myModal3").modal("hide");
                         $("#myModal4").modal("show");
                           // window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]ServiceRequests/RService"
                        },
                        error: function () { }
                    });
        }
    }

                function saveSupportService(id) {
                    var chks = document.getElementsByClassName("checkClass");
                    var selectedCheck = new Array();
                    debugger
                    for (var i = 0; i < chks.length; i++) {
                        if (chks[i].checked) {
                            var unit = $("#U_" + chks[i].id).text().trim();
                            var quote = $("#Q_" + chks[i].id).text().trim();
                            var rate = $("#R_" + chks[i].id).val();
                            var file = $("#fUrl").val();
                            var filename = $("#fName").val();

                            var obj = {
                                SupportItemId: chks[i].value,
                                Rate: rate,
                                Unit: unit,
                                Quote: quote,
                                ServiceRequestId:  @ViewBag.ServiceRequestId,
                            Comment: $("#Comment").val(),
                                FileURL: file,
                                    FileName: filename
                        }
                        selectedCheck.push(obj);
                    }
                    }


                     if (selectedCheck.length > 0) {

                    sObj = selectedCheck;

                      $.ajax({
                url: '@Url.Action(Actions.AddServiceRequestSupport, Controllers.ServiceRequest, new { area = "" })',
                data: {
                     servicesRequests: JSON.stringify(sObj)
                },
                type: 'GET',
                datatype: 'json',
                success: function (data) {
                    //$("#myModal3").modal("hide");
                    onCapacity(1);

                },
                error: function () { }
            });



                }
                     else {

                         //var v = $('input[name="customRadioForIsPlan"]:checked').val();
                         //if (v == 1) {
                         //    $("#" + id).prop('checked', true);
                         //    ShowMessageToastr("danger", "Please Update Capacity to NO.!", false);
                         //}
                         //else {
                             //ShowMessageToastr("danger", "Please Select Services.!", false);
                             $.ajax({
                                 url: '@Url.Action(Actions.DeleteServiceRequestSupport, Controllers.ServiceRequest, new { area = "" })',
                                 data: {
                                     ServiceRequestId:  @ViewBag.ServiceRequestId
                },
                                 type: 'GET',
                                 datatype: 'json',
                                 success: function (data) {
                                     //$("#myModal3").modal("hide");
                                     onCapacity(2);
                                 },
                                 error: function () { }
                             });
                         //}
                    }

                }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxBohfRsvD31g8JfwxDrqZY54H5LkfClY&v=weekly"
        async></script>

<script type="text/javascript">
    var map;
    var icons;
    var sicons;
    var eicons;
    function initMap() {
        const styles = {
            silver: [
                {
                    "featureType": "all",
                    "stylers": [
                        {
                            "saturation": 0
                        },
                        {
                            "hue": "#e7ecf0"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "stylers": [
                        {
                            "saturation": -70
                        }
                    ]
                },
                {
                    "featureType": "transit",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "stylers": [
                        {
                            "visibility": "simplified"
                        },
                        {
                            "saturation": -60
                        }
                    ]
                }
            ]
            }
        const directionsService = new google.maps.DirectionsService();
        const directionsRenderer = new google.maps.DirectionsRenderer();
        map = new google.maps.Map(document.getElementById("map"), {
            zoom: 7,
            center: { lat: @Model.SelectProvider.Lat, lng: @Model.SelectProvider.Long },
        });
        map.setOptions({ styles: styles["silver"] });

        directionsRenderer.setMap(map);
        calculateAndDisplayRoute(directionsService, directionsRenderer);

        sicons = {
            url: "../../Content/Icons/Provider_Map_Green.svg", // url
            scaledSize: new google.maps.Size(44, 32), // scaled size
            origin: new google.maps.Point(0, 0), // origin
            anchor: new google.maps.Point(22, 32) // anchor
        };
         eicons = {
             url: "../../Content/Icons/Provider_Map_Red.svg", // url
             scaledSize: new google.maps.Size(44, 32), // scaled size
            origin: new google.maps.Point(0, 0), // origin
             anchor: new google.maps.Point(22, 32) // anchor
        };
    }

    function calculateAndDisplayRoute(directionsService, directionsRenderer) {
        directionsService
            .route({
                origin: {
                    query:'@Model.SelectProvider.Lat,@Model.SelectProvider.Long',
                },
                destination: {
                    query: '@Model.SelectUser.lat,@Model.SelectUser.lng',
                },
                    unitSystem: google.maps.UnitSystem.METRIC,
                travelMode: google.maps.TravelMode.DRIVING,

            })
            .then((response) => {
                debugger
                new google.maps.DirectionsRenderer({
                    map: map,
                    directions: response,
                    suppressMarkers: true
                });
               // directionsRenderer.setDirections(response);
                var leg = response.routes[0].legs[0];
                var d = leg.distance.text;
                $("#droute").text(d);
                makeMarker(leg.start_location, sicons, leg.start_address, map);
                makeMarker(leg.end_location, eicons, leg.end_address, map);
                const flightPlanCoordinates = [
                    { lat: @Model.SelectProvider.Lat, lng: @Model.SelectProvider.Long },
                    { lat: @Model.SelectUser.lat, lng: @Model.SelectUser.lng },
                ];
                const flightPath = new google.maps.Polyline({
                    path: flightPlanCoordinates,
                    geodesic: true,
                    strokeColor: "#FF0000",
                    strokeOpacity: 1.0,
                    strokeWeight: 2,
                });

                flightPath.setMap(map);
            })
            .catch((e) => window.alert("Directions request failed due to " + e));
    }

    function makeMarker(position, icon, title, map) {
        new google.maps.Marker({
            position: position,
            map: map,
            icon: icon,
            title: title,
        });
    }

</script>

@Html.Raw(ViewBag.openPopup)
