﻿@using PlannedServicesProviderPortal.Pages;
@using PlannedServices.Common;

<div class="navbar-custom topnav-navbar topnav-navbar-light" style="background-color:transparent">
    <div class="container-fluid">

        <a class="button-menu-mobile disable-btn mr-2">
            <div class="lines">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </a>

        <!-- LOGO -->
        <a href="@Url.Action(Actions.Index, Controllers.ServiceRequests)" class="topnav-logo">
            <span class="topnav-logo-lg">
                <img src="~/Content/images/logo-sm.png" alt="" class="img-fluid mr-2">
                <img src="~/Content/images/logo-name.png" alt="" class="img-fluid ml-1">
            </span>
            <span class="topnav-logo-sm">
                <img src="~/Content/images/logo-sm.png" alt="" class="img-fluid">
            </span>
        </a>

        <ul class="list-unstyled topbar-right-menu float-right mb-0">
            <li class="notification-list">
                <a class="nav-link arrow-none" href="@Url.Action(Actions.Index, Controllers.ServiceRequests)">
                    <i class="dripicons-home noti-icon"></i>
                </a>
            </li>
            <li class="dropdown notification-list">
                <a class="nav-link dropdown-toggle nav-user arrow-none mx-0" data-toggle="dropdown" id="topbar-userdrop" href="#" role="button" aria-haspopup="true"
                   aria-expanded="false">
                    <i class="dripicons-user noti-icon"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated topbar-dropdown-menu profile-dropdown" aria-labelledby="topbar-userdrop">
                    <!-- item-->
                    <div class=" dropdown-header noti-title">
                        <h6 class="text-overflow m-0">Welcome !</h6>
                    </div>

                    <!-- item-->
                    <a href="@Url.Action("EditUserProfile", Controllers.User, new { area = "", userId = ConvertTo.Base64Encode(Convert.ToString(ProjectSession.ProviderId)) })" class="dropdown-item notify-item">
                        <i class="mdi mdi-account-circle mr-1"></i>
                        <span>My Account</span>
                    </a>


                    <!-- item-->
                    <a href="@Url.Action(Actions.Logout, Controllers.Account)" class="dropdown-item notify-item">
                        <i class="mdi mdi-logout mr-1"></i>
                        <span>Logout</span>
                    </a>

                </div>
            </li>

        </ul>

    </div>
</div>
