﻿@using PlannedServicesAdmin.Pages;
@{
    Layout = null;
}
@using PlannedServices.Entities.V1;
@using PlannedServicesAdmin.Pages;

@model User
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Parent User | NDIS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/Content/images/favicon.ico">

    <!-- App css -->
    <link href="~/Content/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/app-creative.min.css" rel="stylesheet" type="text/css" id="light-style" />

    <link rel="stylesheet" href="~/Content/css/toastr.min.css">
    <style>
        .error {
            color: red;
        }
    </style>
</head>

<body>
    <div class="container py-4">
        <div class="card">
            <div class="card-header">
                <h5>Select User</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    @foreach (var item in Model.Users)
                    {
                        <div class="col-4" >
                            <div class="card  bg-gray-50 mb-5" style="cursor:pointer" onclick="loginUser(@item.Id)">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12">
                                            Email : @item.Email
                                        </div>
                                        <div class="col-12">
                                            First Name : @item.FirstName
                                        </div>
                                        <div class="col-12">
                                            Last Name : @item.LastName
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        </div>


        <script src="~/Content/js/vendor.min.js"></script>
        <script src="~/Content/js/app.min.js"></script>
        <script>
        function loginUser(id) {
              $.ajax({
                      url: '@Url.Action(Actions.SelectedUser, Controllers.Authentication, new { area = "" })',
                      data: {
                          Id: id
                           },
                  type: 'POST',
                  datatype: 'json',
                      success: function (data) {
                          window.location = 'http://localhost:61169/ServiceRequests/Index'
                  },
                  error: function () { }
              });
        }
        </script>
        @Html.Raw(ViewBag.openPopup)
</body>

</html>
