﻿@using PlannedServices.Entities.V1;
@using PlannedServicesAdmin.Pages;

@model User
@{
    ViewBag.Title = "Signin | NDIS";
    string userName = string.Empty;
    string password = string.Empty;
    Layout = "";
    if (Request.Cookies["UserLogin"] != null)
    {
        userName = Convert.ToString(Request.Cookies["UserLogin"].Values["UserName"]);
        password = Convert.ToString(Request.Cookies["UserLogin"].Values["Password"]);
    }
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Log In | NDIS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/Content/images/favicon.ico">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/css/main.min.css">
    <link rel="stylesheet" href="~/Content/css/custom.css">
    <link href="~/Content/css/app-creative.min.css" rel="stylesheet" type="text/css" id="light-style" />
    <link rel="stylesheet" href="~/Content/css/toastr.min.css">
    <style>
        a {
            color: #fff;
        }

            a:hover {
                color: #fff;
                text-decoration: none;
            }

        .error {
            color: red;
        }

        .validate-has-error {
            border: 1px solid red;
        }

        .custom-form-control {
            color: #fff;
            background-color: transparent !important;
        }

        .form-control:focus {
            color: #fff;
            background-color: transparent !important;
        }

        .form-control::placeholder {
            color: #fff;
            font-size: 13px
        }

        .img-50 {
            width: 50px
        }

        .card {
            border-radius: 0
        }

        .bg-login {
            background-image: url(../Content/images/BgLogin1.png);
            background-position: bottom;
            background-repeat: no-repeat;
            background-size: contain;
            min-height: 540px
        }

        .card-home h5 {
            font-family: 'Orbitron', sans-serif;
        }

        form label {
            font-size: 11px !important;
            font-weight: 400;
            opacity: 0.8
        }

        @@media (min-width: 992px) {
            .container-lg, .container-md, .container-sm, .container {
                max-width: 1200px;
            }
        }

        .auth-fluid .auth-fluid-form-box {
            background-color: #35495e;
            padding: 0.2rem 2.5rem 0 3rem;
            max-width: 450px;
        }

        .card {
            position: relative !important;
            display: flex !important;
            flex-direction: column !important;
            min-width: 0 !important;
            word-wrap: break-word !important;
            background-color: transparent !important;
            background-clip: border-box !important;
            border: 4px solid #ecf0f1 !important;
            border-radius: 0.25rem !important;
        }

        body {
            color: #fff;
        }

        .custom-form-control {
            border-radius: 0 !important
        }

        .border-2px {
            border-width: 4px !important
        }

        .border-warning {
            border-color: #e67e22 !important;
        }

        .btn-outline-warning:hover {
            color: #fff;
            background-color: #e67e22;
            border-color: #e67e22;
        }

        .blurhtext {
            opacity: 0.8
        }

        .auth-fluid {
            background: url(../../Content/images/Login_Scree_Image.jpg);
            background-size: cover;
        }

        .card.card-home {
            background-image: url('../../Content/images/My_Request Logo.jpg');
        }
        form i {
            position: relative;
            float: right;
            right: 10px;
            top: 40px;
            cursor: pointer;
        }
        .box {
            width: 150px
        }

        @@media (max-width: 952px) {
            .box {
                max-height: 150px;
                width: 150px;
                margin-bottom: 20px !important;
            }
        }

        @@media (max-width: 768px) {
            .box {
                width: 100%;
                max-height: 150px;
                margin-bottom: 20px !important;
            }

            .card.card-home {
                width: 150px;
                background-size: contain;
                background-color: #34495e;
            }
        }

        @@media (max-width: 450px) {
            .box {
                width: 100%;
                max-height: 150px;
                margin-bottom: 20px !important;
            }
        }
    </style>
</head>

<body class="authentication-bg pb-0 pt-0" data-layout-config='{"darkMode":false}'>

    <div class="auth-fluid">
        <!--Auth fluid left content -->
        <div class="auth-fluid-form-box">
            <div class="align-items-center d-flex h-100">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-3 mb-sm-0 box">
                            <a href="@Url.Action(Actions.SignIn, Controllers.Authentication)">
                                <div class="card card-home" style="border-radius:0!important">

                                </div>
                            </a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-3 mb-sm-0 box ndisbox">
                            <img src="~/Content/images/NDIS.jpg" alt="" style="width:150px">
                            @*<div class="card border-0 bg-white card-150 mr-10 " style="border: none !important;">
                    <div class="card-body" style="background:#fff">
                        <img src="~/Content/images/ndis.png" alt="">
                    </div>
                </div>*@
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-12 border-2px ml-2 pr-3 pl-0">
                            <h5 class="heading-main text-uppercase font-13 pt-0 blurhtext" style="padding-bottom:5px;font-weight:400">NDIS PARTIciPANT Login</h5>
                        </div>
                    </div>
                    <div class="d-flex">
                        @using (Html.BeginForm(Actions.SetPassword, Controllers.Authentication, new { Area = "" }, FormMethod.Post, new { id = "frmlogin", style = "width:100%;margin-top:20px" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <label for="emailAddress">Email</label>
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control custom-form-control", @placeholder = "Email" })
                            </div>
                            <div class="form-group">
                                <label for="passWord">Password</label>
                                <i class="fa fa-eye-slash togglePassword" id="ptogglePassword" aria-hidden="true"></i>
                                @Html.TextBoxFor(model => model.Password, new { @class = "form-control custom-form-control", @placeholder = "Password", @type = "password" })
                            </div>
                            <div class="form-group">
                                <label for="passWord">Re-Enter Password</label>
                                <i class="fa fa-eye-slash togglePassword" id="rtogglePassword" aria-hidden="true"></i>
                                @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control custom-form-control", @placeholder = "Re-Enter Password", @type = "Password" })
                            </div>
                            <div class="form-group mb-0 text-center" style="margin-top:30px">
                                <button class="btn btn-outline-success border-success text-white border-2px btn-block" type="submit"><i class="mdi mdi-login"></i> LOGIN </button>
                            </div>
                            <div class="mt-2">
                                @*<a class="text-left blurhtext" style="font-size: 13px;" href="#">Terms</a>*@
                            </div>

                        }

                    </div>

                    @*<footer class="footer footer-alt">
            <a href="@Url.Action(Actions.SignIn,Controllers.Authentication)" class="btn btn-outline-success border-success text-white border-2px btn-block">Signup for MY REQUEST</a>
        </footer>*@
                </div>

                @*<div class="cards-right">
                        <img src="~/Content/images/media-01.png" alt="">
                    </div>*@
            </div>
        </div>
        @*<div class="col-8 pr-0">
                <img src="~/Content/images/media/bg-signin.jpg" alt="" style="height: 95vh !important; width: 100%; ">
            </div>*@
    </div>

    <!-- bundle -->
    <script src="~/Content/js/jquery/jquery.min.js"></script>
    <script src="~/Content/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="~/Content/js/main.js"></script>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Scripts/toastr.min.js"></script>
    <script type="text/javascript" src="~/Scripts/ui-toastr.min.js"></script>

    <!-- Main Js -->
    <script src="~/Scripts/common.js"></script>

    <script>
        $(".togglePassword").on('click', function (e) {
            const password = document.querySelector("#" + $(this).next('input').attr('id'));
            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);
            if (type === 'password') {
                $("#" + $(this).attr("Id")).addClass("fa-eye-slash");
                $("#" + $(this).attr("Id")).removeClass('fa-eye');
            }
            else {
                $("#" + $(this).attr("Id")).removeClass("fa-eye-slash");
                $("#" + $(this).attr("Id")).addClass('fa-eye');
            }
        })
        $('.carousel').carousel();

        jQuery(document).ready(function () {
            jQuery.validator.addMethod("strongPassword", function (value, element) {
                var number = /([0-9])/;
                var alphabets = /([A-Z])/;
                //var special_characters = /([~,!,@@,#,$,%,^,&,*,-,_,+,=,?,>,<])/;
                if (value.length > 8 && value.match(number) && value.match(alphabets)) {
                    return true;
                }
                else {
                    return false;
                }
            }, "Minimum 8 character and at least one alphabet, one number, and one special character.");

            FormValidation.init();
        });

        var FormValidation = function () {
            // basic validation
            var handleValidation1 = function () {

                var form1 = $('#frmlogin');
                var error1 = $('.alert-danger', form1);
                //var success1 = $('.alert-success', form1);

                form1.validate({
                    errorElement: 'label', //default input error message container
                    errorClass: 'error', // default input error message class
                    focusInvalid: false, // do not focus the last invalid input
                    ignore: "",  // validate all fields including form hidden input
                    rules: {
                        Email: {
                            required: true,
                            email: true
                        },
                        Password: {
                            required: true,
                            strongPassword: true,
                        },
                        ConfirmPassword: {
                            required: true
                        },
                    },

                    nvalidHandler: function (event, validator) { //display error alert on form submit
                    },

                    highlight: function (element) { // hightlight error inputs
                        $(element)
                            .closest('.form-control').addClass('validate-has-error'); // set error class to the control group
                    },

                    success: function (label, element) {
                        $(element).closest('.form-control').removeClass('validate-has-error');
                        label.closest('.form-control').removeClass('validate-has-error');
                        label.remove();
                    },

                    errorPlacement: function (error, element) {
                        if (element.closest('.input-icon').length === 1) {
                            //error.insertAfter(element.closest('.input-icon'));
                        } else {
                           // error.insertAfter(element);
                        }
                    },

                    submitHandler: function (form) {
                        if ($("#Password").val() == $("#ConfirmPassword").val()) {
                            form.submit(); // form validation success, call ajax form submit
                        }
                        else {
                            ShowMessageToastr("danger", "Password & Confirm Password Does Not Match!", false);
                            return
                        }
                    }
                });

                $('#frmlogin input').keypress(function (e) {
                    if (e.which == 13) {
                        if ($('#frmlogin').validate().form()) {
                            if ($("#Password").val() == $("#ConfirmPassword").val()) {
                                $('#frmlogin').submit(); //form validation success, call ajax form submit
                            }
                            else {
                                ShowMessageToastr("danger", "Password & Confirm Password Does Not Match!", false);
                                return
                            }
                        }
                        return false;
                    }
                });
            }
            return {
                //main function to initiate the module
                init: function () {
                    handleValidation1();
                }
            };
        }();

    </script>

    @Html.Raw(ViewBag.openPopup)
</body>

</html>
