﻿@using PlannedServicesAdmin.Pages;
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- SEO & Metatags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no" /> <!-- Remove Tap Highlight on Windows Phone IE -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="subject" content="">
    <meta name="copyright" content="">
    <meta name=author content="">

    <title>Signup | NDIS</title>

    <link rel="apple-touch-icon" sizes="180x180" href="./apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/dist/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/dist/favicon-16x16.png">
    <link rel="manifest" href="~/Content/dist/site.webmanifest">
    <link rel="mask-icon" href="~/Content/dist/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#ffffff">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Stylesheets -->
    <!-- Vendor Stylesheet -->
    <link rel="stylesheet" href="~/Content/dist/vendors/simplebar/dist/simplebar.min.css">
    <link rel="stylesheet" href="~/Content/dist/vendors/bootstrap-select/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="~/Content/dist/vendors/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="~/Content/dist/js/vendors/bootstrap-timepicker/timepicker.css">

    <!-- Main Stylesheet -->
    <link href="~/Content/dist/css/main.min.css" rel="stylesheet" />



</head>

<body>
    <div class="container py-4">
        <div class="row">
            <div class="col-12">
                <img class="img-fluid mb-5" src="~/Content/dist/images/logo.png" alt="">
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8 text-center mb-5">
                <lottie-player class="mx-auto" src="https://assets4.lottiefiles.com/packages/lf20_y2hxPc.json" background="transparent" speed="1" style="width: 250px; height: 250px; " autoplay></lottie-player>
                <h2 class="fw-extrabold">Your request send successfully</h2>
                <p class="text-muted lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores, quaerat soluta nam ex dignissimos ab debitis laborum vitae omnis similique nostrum iure exercitationem sequi a.</p>

                <a href="@Url.Action(Actions.Index, Controllers.Dashboard)" class="btn btn-primary btn-wide">Continue</a>

            </div>
        </div>
    </div>



    <!-- Scripts -->
    <script src="~/Content/dist/vendors/jquery/dist/jquery.min.js"></script>
    <script src="~/Content/dist/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/dist/vendors/simplebar/dist/simplebar.min.js"></script>
    <script src="~/Content/dist/vendors/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="~/Content/dist/vendors/daterangepicker/moment.min.js"></script>
    <script src="~/Content/dist/vendors/daterangepicker/daterangepicker.js"></script>
    <script src="~/Content/dist/js/vendors/bootstrap-timepicker/timepicker.js"></script>

    <!-- Main Js -->
    <script src="~/Content/dist/js/main.min.js"></script>

    <script src=@Url.Content("https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js")></script>


</body>

</html>
