﻿
@{
    ViewBag.Title = "Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PlannedServicesAdmin.Pages;
@using PlannedServices.Common;
@using PlannedServices.Entities.V1;
@model ServicesRequest
<style>
    .fs-18 {
        font-size: 1.125rem !important;
    }

    .fs-30 {
        font-size: 2.1rem !important
    }

    .mb-8px {
        margin-bottom: 0.5rem !important;
    }

    .mb-14px {
        margin-bottom: 0.875rem !important;
    }

    .mdlsec {
        display: table;
        margin-right: 10px;
    }


    .line-height-sm {
        line-height: 1.5;
    }
    @@media (max-width: 768px) {
        .card.border-warning {
            min-height: 100px
        }
    }
        .bgmobile {
            background: #2C3E50;
            padding: 10px 20px 20px 10px
        }

        .pb-10 {
            padding-bottom: 10px
        }
</style>
<div class="row" id="fixed">
    @if (ProjectSession.SetupUserType != "3")
    {
        <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
            <a href="@Url.Action(Actions.Index, Controllers.Dashboard)">
                <div class="card card-home ">
                    <div class="card-body">
                        <h5 class="font-weight-normal">Home</h5>
                    </div>
                </div>
            </a>
        </div>
    }
    else
    {
        <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
            <a href="@Url.Action(Actions.Index, Controllers.Dashboard, new { area = "", userId = ConvertTo.Base64Encode(Convert.ToString(ProjectSession.UserID)) })">
                <div class="card card-home ">
                    <div class="card-body">
                        <h5 class="font-weight-normal">Home</h5>
                    </div>
                </div>
            </a>
        </div>
    }
    @*<div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
            <a href="@Url.Action("Service", Controllers.ServiceRequests)">
                <div class="card blurbg hborder">
                    <div class="card-body">
                        <h5 class="font-weight-normal font-12 text-uppercase">SUPPORT<br>Requests</h5>

                        <div class="text-left w-100 mt-auto">
                            <img src="~/Content/Icons/Support_Requests.svg" alt="" class="img-16">
                        </div>

                    </div>
                </div>
            </a>
        </div>*@
    <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
        <div class="card border-warning border-2">
            <div class="card-body">
                <h5 class="font-weight-normal font-12 text-uppercase hideOnMobile">Active<br>SUPPORT<br>Requests</h5>
                <h5 class="font-weight-normal font-12 text-uppercase showOnMobile">Active SUPPORT Requests</h5>
                <div class="text-left w-100 mt-auto">
                    <img src="~/Content/Icons/Active_Request.svg" alt="" class="img-16">
                </div>
            </div>
        </div>
    </div>
    @*<div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
            <div class="card bg-primary">
                <div class="card-body">
                    <div class="d-flex align-items-start justify-content-between w-100">
                        <h5 class="font-weight-normal">Active<br>Requests</h5>
                        <h4 class="font-weight-medium count-line-height">@ViewBag.ACount</h4>
                    </div>
                    <div class="text-right w-100 mt-auto">
                        <img src="~/Content/images/icon-arrow-up-sm.png" alt="">
                    </div>
                </div>
            </div>
        </div>*@
</div>
<div class="row hideOnMobile">
    <div class="col-12 border-2px ml-5 pl-0">
        <h5 class="heading-main font-13 fw-400 blurhtext text-uppercase">Active SUPPORT Requests</h5>
    </div>
</div>

<div class="row pl-0 hideOnMobile" id="requestSec">
    @*<div class="col-12 ptb-20 border-bottom">
            <img src="~/Content/images/icon-arrow-up-sm.png" alt="" class="gridtext ml-20">
            <h5 class="gridtext font-weight-normal mb-0">2 SEP 2021</h5>
            <b class="gridtext mr-40">12</b>
            <h5 class="gridtext font-weight-normal mb-0">HC0001_011</h5>
            <h5 class="gridtext font-weight-normal mb-0">dfsf esffedsrtret faesrefewtertet rwterteter</h5>

        </div>*@
    @if (Model.ServicesRequests.Count <= 0)
    {
    <h1 class="norecord-found text-center w-100">No active requests found</h1>
    }
    @for (var i = 0; i < Model.ServicesRequests.Count; i++)
    {
        if (@Model.ServicesRequests[i].Status == 0)
        {
            <div class="col-12 pr-0 ml-5 border-1px">
                <div class="row">
                    <div class="col-12">
                        <div class="request-details ">
                            <div class="row g-2x">
                                <div class="col-11">
                                    <a href="@Url.Action("PService", Controllers.ServiceRequests, new { area = "", ServiceId = ConvertTo.Base64Encode(Convert.ToString(@Model.ServicesRequests[i].Id)) })">
                                        <div class="row">
                                            <div class="col-1 mr-20">
                                                <p class="blurtext font-12 fw-400">Sent</p>
                                                <h5 class="font-weight-medium fs-30 mb-0 line-height-normal @(Model.ServicesRequests[i].IsRead == 2 ? "text-warning" : "")">
                                                    @Model.ServicesRequests[i].ProviderCount.ToString("00")
                                                </h5>
                                            </div>

                                            <div class="col-auto mr-20">
                                                <p class="blurtext font-12 fw-400">Date Sent</p>
                                                <h5 class="font-weight-normal font-16 fw-400 line-height-normal mb-0 mt-10">@Model.ServicesRequests[i].CreatedDateStr.ToUpper()</h5>
                                            </div>
                                            <div class="col-auto mr-20">
                                                <p class="blurtext font-12 fw-400">Reference</p>
                                                <h5 class="font-weight-normal font-16 fw-400 line-height-normal mb-0 mt-10">@Model.ServicesRequests[i].ServiceNumber</h5>
                                            </div>
                                            <div class="col">
                                                <p class="blurtext font-12 fw-400">Description of Services</p>
                                                <h5 class="mt-10 font-weight-normal font-16 fw-400 line-height-sm mb-0">@Model.ServicesRequests[i].RegistrationGroupName</h5>
                                            </div>

                                        </div>
                                    </a>
                                </div>
                                <div class="col-1">
                                    <div class="custom-control">
                                        <img onclick="onPopup(@Model.ServicesRequests[i].Id,'@Model.ServicesRequests[i].ServiceNumber')" data-toggle="modal" data-target="#myModal" src="~/Content/Icons/Cross.svg" class="img-16" alt="">
                                    </div>
                                </div>
                            </div>


                            <div class="row g-2x showOnMobile">
                                <div class="col-12">
                                    <a href="@Url.Action("PService", Controllers.ServiceRequests, new { area = "", ServiceId = ConvertTo.Base64Encode(Convert.ToString(@Model.ServicesRequests[i].Id)) })">
                                        <div class="row">
                                            <div class="col-1 mr-20">
                                                <p class="blurtext font-12 fw-400">Sent</p>
                                                <h5 class="mtop-5 font-weight-medium font-20 mb-0 line-height-normal @(Model.ServicesRequests[i].IsRead == 2 ? "text-warning" : "")">
                                                    @Model.ServicesRequests[i].ProviderCount.ToString("00")
                                                </h5>
                                            </div>
                                            <div class="col">
                                                <p class="blurtext font-12 fw-400">Description of Services</p>
                                                <h5 class="mt-10 font-weight-normal font-16 fw-400 line-height-sm mb-0">@Model.ServicesRequests[i].RegistrationGroupName</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                                </div>
                            </div>
                        </div>
            </div>
            @*</div>
                    <a href="@Url.Action("PService", Controllers.ServiceRequests, new { area = "", ServiceId = ConvertTo.Base64Encode(Convert.ToString(@Model.ServicesRequests[i].Id)) })">
                        <h5 class="gridtext font-weight-normal mb-0 ml-20">@Model.ServicesRequests[i].CreatedDateStr</h5>
                        <b class="gridtext mr-40">@Model.ServicesRequests[i].ProviderCount</b>
                        <h5 class="gridtext font-weight-normal mb-0">@Model.ServicesRequests[i].ServiceNumber</h5>
                        <h5 class="gridtext font-weight-normal mb-0">@Model.ServicesRequests[i].RegistrationGroupName</h5>
                    </a>
                </div>*@
        }
    }

</div>

<div class="row pl-0 showOnMobile" id="requestSec">
   
    @if (Model.ServicesRequests.Count <= 0)
    {
        <h1 class="norecord-found text-center ">No active requests found</h1>
    }
    @for (var i = 0; i < Model.ServicesRequests.Count; i++)
    {
        if (@Model.ServicesRequests[i].Status == 0)
        {
            <div class="col-12 pr-0 ml-5">
                <div class="row w-100 pb-10">
                    <div class="col-12 pl-0">
                        <div class="request-details bgmobile">
                            <div class="row g-2x">
                                <div class="col-12">
                                    <a href="@Url.Action("PService", Controllers.ServiceRequests, new { area = "", ServiceId = ConvertTo.Base64Encode(Convert.ToString(@Model.ServicesRequests[i].Id)) })">
                                        <div class="row">
                                            <div class="col-1 mr-20">
                                                <p class="blurtext font-12 fw-400">Sent</p>
                                                <h5 class="mtop-5 font-weight-medium font-20 mb-0 line-height-normal @(Model.ServicesRequests[i].IsRead == 2 ? "text-warning" : "")">
                                                    @Model.ServicesRequests[i].ProviderCount.ToString("00")
                                                </h5>
                                            </div>
                                            <div class="col">
                                                <p class="blurtext font-12 fw-400">Description of Services</p>
                                                <h5 class="mt-10 font-weight-normal font-16 fw-400 line-height-sm mb-0">@Model.ServicesRequests[i].RegistrationGroupName</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
           
        }
    }

</div>

<!-- Modal -->

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content mcontent">
            <div class="modal-body mbody border-secondary border-3" style="padding:10px 15px">
                <h5 class="font-13 blurhtext m-0">Are you sure you want to cancel support request <span id="snumber">AT000_00</span>?</h5>
                <p>@*when canceling a service request the Providers Will be Notified and request removed.*@</p>
            </div>
            <div class="modal-footer pl-0 pr-0" style="border:0;">
                <button onclick="Delete()" class="btn btn-outline-success text-white mr-2 myes">YES</button>
                <button data-dismiss="modal" class="btn btn-outline-danger text-white  mno">NO</button>
            </div>
        </div>

    </div>
</div>
<div id="myModal2" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content mcontent" style="border:0;">
            <div class="modal-footer pl-0 pr-0" style="border:0;">
                <button data-dismiss="modal" class="btn btn-outline-success text-white text-uppercase myes" style="width: 310px;">
                    Support request has been removed
                </button>
            </div>
        </div>

    </div>
</div>
<input type="hidden" id="serviceid" />

<script>
    jQuery(document).ready(function () {

       $('#myModal2').on('hide.bs.modal', function () {
           window.location.reload();
       });

    });

    function onPopup(id, snumber) {
        $("#serviceid").val(id);
        $("#snumber").text(snumber);
    }
    function Delete() {
              $.ajax({
                      url: '@Url.Action(Actions.DeleteServiceRequest, Controllers.ServiceRequests, new { area = "" })',
                      data: {SId: $("#serviceid").val() },
                  type: 'GET',
                      datatype: 'json',
                  success: function (data) {
                      if (data) {
                          $("#myModal").modal("hide");
                          //ShowMessageToastr("success", "Delete Service Request Successfully.!", false);
                          //window.location.reload();
                          $("#myModal2").modal("show");
                      }
                      else {
                          ShowMessageToastr("danger", "something went wrong. please try again.", false);
                      }
                      },
                        error: function () { }
                    });

    }



</script>

@Html.Raw(ViewBag.openPopup)