﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PlannedServices.Entities.V1;
@using PlannedServices.Common.Paging;
@using PlannedServices.Entities.Contract;
@using PlannedServices.Common;
@using PlannedServicesAdmin.Pages;
@model ServicesRequest
<style>
    .cName {
        white-space: nowrap;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .lblwarning {
        height: 16px;
        width: 62px;
        font-size: 11px;
        text-align: center;
        background: #FFBC00;
        color: #333;
    }

    .lblprimary {
        height: 16px;
        width: 62px;
        font-size: 11px;
        text-align: center;
        background: #40589B;
        color: #fff;
    }

    .lblsecondary {
        height: 16px;
        width: 62px;
        font-size: 11px;
        text-align: center;
        background: #D6D8DD;
        color: #333;
    }
    .lblinfo {
        height: 16px;
        width: 62px;
        font-size: 11px;
        text-align: center;
        background: #44badc;
        color: #fff;
    }
    .lbldanger {
        height: 16px;
        width: 62px;
        font-size: 11px;
        text-align: center;
        background: #E66C4E;
        color: #fff;
    }
</style>

<div class="container-fluid mt-3 px-3">
    <div class="row">
        <div class="col-12">
            <ul class="nav nav-pills-custom">
                <li class="nav-item">
                    <a onclick="changeTab()" href="#inProgress" data-toggle="tab" aria-expanded="false" class="nav-link rounded-0 active">
                        <i class="mdi mdi-home-variant d-md-none d-block"></i>
                        <span class="d-none d-md-block">Active Requests</span>
                    </a>
                </li>
                <li class="nav-item">
                    |
                </li>
                <li class="nav-item">
                    <a onclick="changeTab()" href="#compltedTab" data-toggle="tab" aria-expanded="true" class="nav-link rounded-0">
                        <i class="mdi mdi-account-circle d-md-none d-block"></i>
                        <span class="d-none d-md-block">Completed Requests</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid mt-3 px-3">
    <div class="row">
        <div class="col-xl-4 col-lg-5">
            <div class="tab-content">
                <div class="tab-pane show active" id="inProgress">
                    <div class="row justify-content-between align-items-center no-gutters bg-primary p-2">
                        <div class="col-auto">
                            <h5 class="text-white my-0">Active Service Requests</h5>
                        </div>
                        <div class="col-auto">
                            <a onclick="showPopup()" href="#" class="btn btn-light btn-block mt-3 mt-sm-0" data-toggle="modal" data-target="#newServiceRequest">New Request</a>
                        </div>
                    </div>
                    <hr>
                    <div class="accordion accordion-list" id="serviceRequests">
                        @for (var i = 0; i < Model.ServicesRequests.Count; i++)
                        {
                            if (@Model.ServicesRequests[i].Status == 0)
                            {
                                <div class="accordion-item">
                                    <a class="accordion-link py-2 d-block collapsed" role="button" data-toggle="collapse" data-target="#collapse_@Model.ServicesRequests[i].Id">
                                        <div class="row">
                                            <div class="col-9">
                                                <p class="request-id">@Model.ServicesRequests[i].ServiceNumber</p>
                                                <p class="request-details mb-0">@Model.ServicesRequests[i].RegistrationGroupName</p>
                                            </div>
                                            <div class="col-3 text-right">
                                                <h6 class="mb-1">@Model.ServicesRequests[i].ProviderCount</h6>
                                                <img class="layout-icon" src="~/Content/images/icons/layout.png" alt="">
                                            </div>
                                        </div>
                                    </a>

                                    <div id="collapse_@Model.ServicesRequests[i].Id" class="collapse" data-parent="#serviceRequests">

                                        <ul class="nav nav-list-minimal" role="tablist">
                                            @foreach (var provider in Model.ServicesRequests[i].Providers)
                                            {
                                                <li class="nav-item" role="presentation" id="list_@Model.ServicesRequests[i].Id@provider.Id">
                                                    <a class="nav-link" id="participent-tab_@provider.Id" data-toggle="tab" href="#" role="tab" onclick="serviceDetails(@provider.Id,@provider.ServiceRequestId)">
                                                        <div class="row justify-content-between py-2">
                                                            <div class="col-auto col-md-9">
                                                                <div class="d-flex justify-content-between align-items-center">
                                                                    <div>
                                                                        <p class="mb-1 fw-semibold font-12">@provider.Name</p>
                                                                        <p class="mb-0 font-12">@provider.AddressLine1</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-auto text-right col-md-3">
                                                                @if (provider.Status == 0)
                                                                {
                                                                    if (provider.MainStatus == 1)
                                                                    {
                                                                        <div class="badge lblsecondary">Responded</div>
                                                                    }
                                                                    else if (provider.MainStatus == 2)
                                                                    {
                                                                        <div class="badge lblsecondary">Updated</div>
                                                                    }
                                                                    else
                                                                    {
                                                                        <div class="badge lblinfo">Sent</div>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    if (provider.Status == 1)
                                                                    {
                                                                        @*<div class="badge badge-warning font-12 p-1">Responded</div>*@
                                                                        <div class="badge badge-secondary font-11">Responded</div>
                                                                    }
                                                                    else if (provider.Status == 2)
                                                                    {
                                                                        @*<div class="badge badge-secondary font-12 p-1">Declined</div>*@
                                                                        <div class="badge lbldanger">Rejected</div>
                                                                    }
                                                                    else
                                                                    {
                                                                        <div class="badge lblinfo">Sent</div>
                                                                    }
                                                                }
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            }
                        }


                    </div>
                </div>
                <div class="tab-pane" id="compltedTab">
                    <div class="accordion accordion-list" id="serviceRequests" style="max-height: 47.5rem; overflow: auto;">
                        @for (var i = 0; i < Model.ServicesRequests.Count; i++)
                        {
                            if (@Model.ServicesRequests[i].Status != 0)
                            {
                                <div class="accordion-item">
                                    <a class="accordion-link py-2 d-block collapsed" role="button" data-toggle="collapse" data-target="#collapse_@Model.ServicesRequests[i].Id">
                                        <div class="row" style="width:100%">
                                            <div class="col-9">
                                                <p class="request-id">@Model.ServicesRequests[i].ServiceNumber</p>
                                                <p class="request-details mb-0">@Model.ServicesRequests[i].RegistrationGroupName</p>
                                            </div>
                                            <div class="col-3 text-right">
                                                <h6 class="mb-1">@Model.ServicesRequests[i].ProviderCount</h6>
                                                <img class="layout-icon" src="~/Content/images/icons/layout.png" alt="">
                                            </div>
                                        </div>
                                    </a>

                                    <div id="collapse_@Model.ServicesRequests[i].Id" class="collapse" data-parent="#serviceRequests">

                                        <ul class="nav nav-list-minimal" role="tablist">
                                            @foreach (var provider in Model.ServicesRequests[i].Providers)
                                            {
                                                <li class="nav-item" role="presentation" id="list_@Model.ServicesRequests[i].Id@provider.Id">
                                                    <a class="nav-link" id="participent-tab_@provider.Id" data-toggle="tab" href="#" role="tab" onclick="serviceDetails(@provider.Id,@provider.ServiceRequestId)">
                                                        <div class="row justify-content-between py-2" style="width:100%">
                                                            <div class="col-auto col-md-9">
                                                                <div class="d-flex justify-content-between align-items-center">
                                                                    <div>
                                                                        <p class="mb-1 fw-semibold font-12">@provider.Name</p>
                                                                        <p class="mb-0 font-12">@provider.AddressLine1</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-auto text-right col-md-3">
                                                                @if (provider.Status == 0)
                                                                {
                                                                    if (provider.MainStatus == 1)
                                                                    {
                                                                        <div class="badge lblsecondary">Responded</div>
                                                                    }
                                                                    else
                                                                    {
                                                                        <div class="badge lblsecondary">Updated</div>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    if (provider.Status == 1)
                                                                    {
                                                                        @*<div class="badge badge-warning font-12 p-1">Responded</div>*@
                                                                        <div class="badge badge-secondary font-11">Responded</div>
                                                                    }
                                                                    else if (provider.Status == 2)
                                                                    {
                                                                        @*<div class="badge badge-secondary font-12 p-1">Declined</div>*@
                                                                        <div class="badge badge-danger font-11">Rejected</div>
                                                                    }
                                                                    else
                                                                    {
                                                                        <div class="badge badge-info font-12 p-1">Sent</div>
                                                                    }
                                                                }
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>

                                            }

                                        </ul>
                                    </div>
                                </div>
                            }
                        }


                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-8 col-lg-7">
            <div class="tab-content">
                <div class="tab-pane" id="participent-details" role="tabpanel" style="display:block">
                    <div id="sCard" style="display:none">
                        <div class="request-details-head">
                            <div class="row font-12">
                                <div class="col-lg-3" id="pName"></div>
                                <div class="col-lg-3" id="pAddress"></div>
                                <div class="col-lg-3">Tel. <span id="pNumber"></span></div>
                                <div class="col-lg-3">Registered with the NDIS</div>
                            </div>
                        </div>

                        <hr>

                        <div class="row font-16 fw-semibold">
                            <div class="col-lg-3"><div class="p-2" id="sNumber"></div></div>
                            <div class="col-lg-3"><div class="p-2" id="sdate"></div></div>
                        </div>

                        <div class="border-1x"></div>

                        <div class="row font-12">
                            <div class="col-lg-3">
                                <div class="p-2">
                                    <span class="fw-semibold">Registration Group</span><br>
                                    <span id="regName"></span>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="p-2">
                                    <span class="fw-semibold">Support Category</span><br>
                                    <span id="catName"></span>
                                </div>
                            </div>
                        </div>

                        <div class="border-1x"></div>
                        <div id="tblData">

                        </div>

                        <h5 class="font-14">Additional Information</h5>
                        <p class="text-muted-2 " id="aInformation"></p>

                        <hr>

                        <h5>Comments</h5>


                        <div class="comments-wrapper">
                            <div id="communicationSec"></div>
                        </div>

                        <div class="my-3 my-lg-5">
                            <h5>Add Comment</h5>
                            <textarea id="question" class="form-control" rows="3" placeholder="Write some note..."></textarea>

                            <div class="row">
                                <div class="col-12 text-right mt-2">
                                    <a href="javascript:void(0)" onclick="communication()" class="btn bnt-outline-secondary">Send</a>
                                </div>
                                <div class="col-12" id="btnSec">
                                    @*<button onclick="Save(1)" type="button" class="btn btn-outline-success">Approve</button>
                                        <button onclick="Save(2)" type="button" class="btn btn-outline-secondary">Reject</button>
                                        <br><br>*@
                                    <button onclick="Save(1)" type="button" class="btn btn-success">Approve</button>
                                    <button onclick="Save(2)" type="button" class="btn btn-danger">Reject</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="newServiceRequest" tabindex="-1" aria-labelledby="newServiceRequestLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content  p-2">
            <div class="modal-header rounded-0 bg-primary justify-content-between align-items-center">
                <h5 class="modal-title text-white mb-0" id="newServiceRequestLabel">New Service Request</h5>
                <h5 class="text-uppercase text-white mt-lg-0 mb-0"></h5>
            </div>
            @using (Html.BeginForm(Actions.SendRequest, Controllers.ServiceRequests, FormMethod.Post, new { id = "frmSearch" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.serviceObj.SupportItemIds, new { @Id = "SupportItemIds" })
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6 mb-2">
                            <p>
                                Select the categories and items that best suit your requirements
                                and then press submit to notify Providers.
                            </p>
                        </div>

                        <div class="col-12">
                            <div class="form-group">
                                <label for="budgetInput" class="form-label fw-normal">Budget</label>
                                @Html.DropDownListFor(model => model.serviceObj.BudgetId, (IEnumerable<SelectListItem>)ViewBag.BudgetMaster, "Select Budget", new { @class = "form-control", @Id = "BudgetId", @Name = "BudgetId", @onchange = "SetCategory1(0);" })
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="budgetInput" class="form-label fw-normal">Registration Group</label>
                                @Html.DropDownListFor(model => model.serviceObj.RegistrationGroupId, (IEnumerable<SelectListItem>)ViewBag.RegistrationGroup, "Select Registration Group", new { @class = "form-control", @Id = "RegistrationGroupId", @Name = "RegistrationGroupId", @onchange = "SetCategory1(1);" })
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group">
                                <label for="budgetInput" class="form-label fw-normal">Support Category Name</label>
                                @Html.DropDownListFor(model => model.serviceObj.CategoryId, (IEnumerable<SelectListItem>)ViewBag.SupportCategoryMaster, "Select Support Category", new { @class = "form-control", @Id = "CategoryId", @Name = "CategoryId", @onchange = "SetCategory1(2);" })
                            </div>
                        </div>

                        <div class="col-12">
                            <label class="form-label fw-normal">Support Item Name</label>
                            <div class="border rounded mb-3" style="max-height: 22.5rem; overflow-y: auto;">
                                <div id="supportItem">
                                    <p style="padding:10px">No Support Item Name Found</p>
                                </div>

                            </div>

                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="budgetInput" class="form-label fw-normal">Start Date</label>
                                @Html.TextBoxFor(model => model.serviceObj.BookingRequestedDate, new { @class = "form-control single-date-picker", @Name = "BookingRequestedDate", @placeholder = "Enter BookingRequestedDate", autocomplete = "off" })
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="budgetInput" class="form-label fw-normal">Additional Information</label>
                                @Html.TextAreaFor(model => model.serviceObj.Comment, new { @class = "form-control", autofocus = "true", rows = "5", @Name = "Comment", @placeholder = "Write some note.." })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-start">
                    <button type="submit" class="btn btn-success">Submit</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            }
        </div>
    </div>
</div>

@Html.HiddenFor(m => m.ServiceChildId, new { @Id = "ServiceChildId" })
@Html.HiddenFor(m => m.ServiceRequestId, new { @Id = "ServiceRequestId" })
<input type="hidden" id="pId" />

<script>
    jQuery(document).ready(function () {

        $('.single-date-picker').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true
        });

        FormValidation.init();
        SendRequestValidation.init();
        var s = '';
        s += '<option value="">Select Support Category</option>';

        $("#CategoryId").html(s);
    })

    function showPopup() {

        setTimeout(function () {
            $(".daterangepicker").css('display', 'none');
        }, 1000);

    }

     function SetCategory1(type) {
        if (type == 0) {
            var id = $("#BudgetId").val();
            var bid = $("#BudgetId").val();
            var cid = 0;
            if (id == 0 || id == "") {
                var s = '';
                s += '<option value="0">Select Registration Group</option>';
                $("#RegistrationGroupId").html(s);
                $("#CategoryId").html('');
                $("#supportItem").html('');
            }
        }
        else if (type == 1) {
            var id = $("#RegistrationGroupId").val();
            var cid = 0;
            if (id == 0 || id == "") {
                var s = '';
                s += '<option value="0">Select Support Category</option>';
                $("#CategoryId").html(s);
                $("#supportItem").html('');
            }
        }
        else if (type == 2) {
            var id = $("#CategoryId").val();
            var cid = $("#RegistrationGroupId").val();
            if (id == 0 || id == "") {
                $("#supportItem").html('');
            }
          }
          if (id != 0 || id != "") {
              $.ajax({
                  url: '@Url.Action(Actions.RegistrationGroupByCategoryId, Controllers.ServiceRequests, new { area = "" })',
                  data: { Type: type, RId: id, CId: cid,BId:bid },
                  type: 'GET',
                  datatype: 'json',
                  success: function (data) {
                      if (type == 0) {
                          if (data.length > 0) {
                              var s = '';
                              s += '<option value="">Select Registration Group</option>';
                              for (var i = 0; i < data.length; i++) {
                                  s += '<option value="' + data[i].DrpId + '">' + data[i].Name + '</option>';
                              }
                              $("#RegistrationGroupId").html(s);
                          }
                          else {
                              $("#RegistrationGroupId").html('');
                          }
                      }
                      else if (type == 1) {
                          if (data.length > 0) {
                              var s = '';
                              s += '<option value="">Select Support Category</option>';
                              for (var i = 0; i < data.length; i++) {
                                  s += '<option value="' + data[i].DrpId + '">' + data[i].Name + '</option>';
                              }
                              $("#CategoryId").html(s);
                          }
                          else {
                              $("#CategoryId").html('');
                          }
                      }
                      else if (type == 2) {
                          if (data.length > 0) {
                              var s = '';
                              for (var i = 0; i < data.length; i++) {
                                 s += '<div class="p-1">'
                                 s += '<div class="custom-control custom-checkbox">'
                                  s += '<input type="checkbox" class="custom-control-input checkBoxClass" id="' + data[i].DrpId + '" value="' + data[i].DrpId + '">'
                                  s += '<label class="custom-control-label" for="' + data[i].DrpId + '">' + data[i].Name + '</label>'
                                 s += '</div>'
                                  s += '<p class="pl-3 font-13">' + data[i].Description + '</p>'
                                  s += '</div>'
                                  //s += '<div class="custom-control custom-checkbox"><input onclick="oncheckBox()" type="checkbox" class="custom-control-input checkBoxClass" id="' + data[i].Value + '" value="' + data[i].Value + '"><label class="custom-control-label product-category-link" for="' + data[i].Value + '">"' + data[i].Text + '"</label></div>';
                              }
                              $("#supportItem").html(s);
                          }
                          else {
                              $("#supportItem").html('');
                          }
                      }

                  },
                  error: function () { }
              });
          }
          }



    var FormValidation = function () {
        // basic validation
        var handleValidation1 = function () {

            var form1 = $('#frmSearch');
            var error1 = $('.alert-danger', form1);
            //var success1 = $('.alert-success', form1);

            form1.validate({
                errorElement: 'label', //default input error message container
                errorClass: 'error', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",  // validate all fields including form hidden input
                rules: {
                    BudgetId: {
                        required: true
                    },
                    CategoryId: {
                        required: true
                    },
                    RegistrationGroupId: {
                        required: true
                    },

                    Comment: {
                        required: true
                    },
                    BookingRequestedDate: {
                        required: true
                    },
                },

                nvalidHandler: function (event, validator) { //display error alert on form submit
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.input-group').addClass('validate-has-error'); // set error class to the control group
                },

                success: function (label) {
                    label.closest('.input-group').removeClass('validate-has-error');
                    label.remove();
                },

                errorPlacement: function (error, element) {
                    if (element.closest('.input-icon').length === 1) {
                        error.insertAfter(element.closest('.input-icon'));
                    } else {
                        error.insertAfter(element);
                    }
                },

                submitHandler: function (form) {
                    debugger
                    var chks = document.getElementsByClassName("checkBoxClass");
                    var selectedCheck = new Array();
                    for (var i = 0; i < chks.length; i++) {
                        if (chks[i].checked) {
                            selectedCheck.push(chks[i].value);
                        }
                    }
                    if (selectedCheck.length > 0) {
                        var Ids = selectedCheck.join(",");
                        $("#SupportItemIds").val(Ids);
                        form.submit();
                    }
                    else {
                        ShowMessageToastr("danger", "Please Select Support Item.!", false);
                    }

                    // form validation success, call ajax form submit
                }
            });

            $('#frmSearch input').keypress(function (e) {
                if (e.which == 13) {
                    if ($('#frmSearch').validate().form()) {
                        $('#frmSearch').submit(); //form validation success, call ajax form submit
                    }
                    return false;
                }
            });
        }
        return {
            //main function to initiate the module
            init: function () {
                handleValidation1();
            }
        };
    }();

        var SendRequestValidation = function () {
            // basic validation
            var handleValidation1 = function () {

                var form1 = $('#frmSendRequest');
                var error1 = $('.alert-danger', form1);
                //var success1 = $('.alert-success', form1);

                form1.validate({
                    errorElement: 'label', //default input error message container
                    errorClass: 'error', // default input error message class
                    focusInvalid: false, // do not focus the last invalid input
                    ignore: "",  // validate all fields including form hidden input
                    rules: {

                    },

                    nvalidHandler: function (event, validator) { //display error alert on form submit
                    },

                    highlight: function (element) { // hightlight error inputs
                        $(element)
                            .closest('.input-group').addClass('validate-has-error'); // set error class to the control group
                    },

                    success: function (label) {
                        label.closest('.input-group').removeClass('validate-has-error');
                        label.remove();
                    },

                    errorPlacement: function (error, element) {
                        if (element.closest('.input-icon').length === 1) {
                            error.insertAfter(element.closest('.input-icon'));
                        } else {
                            error.insertAfter(element);
                        }
                    },

                    submitHandler: function (form) {
                        debugger
                        var chks = document.getElementsByClassName("checkClass");
                        var selectedCheck = new Array();
                        for (var i = 0; i < chks.length; i++) {
                            if (chks[i].checked) {
                                selectedCheck.push(chks[i].value);
                            }
                        }
                        if (selectedCheck.length > 0) {
                            var Ids = selectedCheck.join(",");
                            $("#ProviderIds").val(Ids);
                            form.submit();
                        }
                        else {
                            ShowMessageToastr("danger", "Please Select Provider.!", false);
                        }

                        // form validation success, call ajax form submit
                    }
                });

                $('#frmSendRequest input').keypress(function (e) {
                    if (e.which == 13) {
                        if ($('#frmSendRequest').validate().form()) {
                            $('#frmSendRequest').submit(); //form validation success, call ajax form submit
                        }
                        return false;
                    }
                });
            }
            return {
                //main function to initiate the module
                init: function () {
                    handleValidation1();
                }
            };
        }();


    function serviceDetails(pId, srId) {
        var providerId = btoa(pId);
        var serviceId = btoa(srId);
        debugger
        $.ajax({
            url: '@Url.Action(Actions.ServiceDetails, Controllers.ServiceRequests, new { area = "" })',
            data: { ServiceId: serviceId, ProviderId: providerId },
            type: 'POST',
            datatype: 'json',
            success: function (data, textStatus, xhr, StatusCode) {
                debugger
                if (data.ServicesRequests != null) {
                    $(".nav-item").css("list-style", "none");
                    $("#list_" + srId+""+pId).css("list-style", "disc");
                    $("#sCard").show();
                    $("#pName").html(data.SelectProvider.Name);
                    $("#pAddress").html(data.SelectProvider.AddressLine1);
                    $("#pNumber").html(data.SelectProvider.Phone);
                    $("#pWebSite").html(data.SelectProvider.Website);
                    $("#rating").html(data.SelectProvider.Rating +' Stars');
                    $("#regName").html(data.ServicesRequests[0].RegistrationGroupName);
                    $("#catName").html(data.ServicesRequests[0].CategoryName);

                    if (data.ServicesRequests[0].Comment != null && data.ServicesRequests[0].Comment != "") {
                        $("#pcomment").show();
                    }
                    else {
                        $("#pcomment").hide();
                    }
                    $("#comment").html(data.ServicesRequests[0].Comment);
                    $("#aInformation").html(data.ServicesRequests[0].SComment);
                    $("#sNumber").html(data.ServicesRequests[0].ServiceNumber);
                    $("#pContactName").html(data.SelectProvider.ContactName);
                    $("#CancelDate").html(data.ServicesRequests[0].CancelDateStr);

                    $("#ServiceChildId").val(data.ServicesRequests[0].ServiceRequestChildId);
                    $("#ServiceRequestId").val(data.ServicesRequests[0].ServiceRequestId);
                    $("#pId").val(pId);


                    if (data.ServicesRequests[0].Status == 1) {
                        $("#sdate").html(data.ServicesRequests[0].AcceptDateStr);
                    }
                    else if (data.ServicesRequests[0].Status == 2) {
                        $("#sdate").html(data.ServicesRequests[0].CancelDateStr);
                    }
                    else {
                        $("#sdate").html(data.ServicesRequests[0].CreatedDateStr);
                    }


                    if (data.ServicesRequests[0].MainStatus == 0) {
                        $("#rejectSec").hide();
                        if (data.ServicesRequests[0].Status == 1) {
                            $("#statusName").removeClass("badge-info");
                            $("#statusName").removeClass("badge-secondary");
                            $("#statusName").addClass("badge-warning");
                            $("#statusName").html("Responded");
                            $("#btnSec").show();
                        }
                        else if (data.ServicesRequests[0].Status == 2) {
                            $("#statusName").removeClass("badge-info");
                            $("#statusName").addClass("badge-secondary");
                            $("#statusName").removeClass("badge-warning");
                            $("#statusName").html("Declined");
                            $("#btnSec").hide();
                        }
                        else {
                            $("#statusName").addClass("badge-info");
                            $("#statusName").removeClass("badge-secondary");
                            $("#statusName").removeClass("badge-warning");
                            $("#statusName").html("Sent");
                            $("#btnSec").hide();
                        }
                    }
                    else {
                        if (data.ServicesRequests[0].Status == 1) {
                            $("#rejectSec").hide();

                        }
                        else {
                            $("#rejectSec").show();

                        }
                    }
                    $("#tblData").empty();
                    for (var i = 0; i < data.ServicesRequests.length; i++) {
                        var html = "";
                       html += '<div class="row">'
                       html += '<div class="col-lg-8">'
                       html += '<h5 class="d-flex nowrap mt-0">'
                        html += '<div class="custom-control custom-checkbox">'
                        if (data.ServicesRequests[i].SIMId != 0) {
                            html += '<input disabled type="checkbox" class="custom-control-input" id="customCheck1" checked>'
                        }
                        else {
                            html += '<input disabled type="checkbox" class="custom-control-input" id="customCheck1">'
                        }
                        html += '<label class="custom-control-label h5" for="customCheck1">' + data.ServicesRequests[i].Name + '</label>'
                       html += '</div>'
                        html += '</h5>'
                        if (data.ServicesRequests[i].Description != null) {
                            html += '<p class="text-muted-2 mb-0 w-xl-75">' + data.ServicesRequests[i].Description + '</p>'
                        }
                            html += '</div>'
                       html += '<div class="col-lg-4">'
                        html += '<h5 class="font-14">Price Per ' + data.ServicesRequests[i].Unit + '</h5>'
                        if (data.ServicesRequests[i].Rate != "" || data.ServicesRequests[i].Rate != 0) {
                            html += '<p class="mb-0">$' + data.ServicesRequests[i].Rate + '</p>'
                        }
                        else {
                            html += '<p class="mb-0" style="font-style: italic;">Pending</p>'
                        }
                       html += '</div>'
                       html += '</div>'
                        html += '<div class="border-1x"></div>'

                        $("#tblData").append(html);
                    }

                    $("#communicationSec").empty();
                    if (data.ServicesRequestCommunication.length > 0) {
                        $("#cShow").show();
                        for (var i = 0; i < data.ServicesRequestCommunication.length; i++) {
                            var html = "";
                            if (data.ServicesRequestCommunication[i].CustomerId == 0) {
                                html += '<div class="comment">'
                                html += ' <h6>Provider Comment</h6>'
                                html += ' <div class="message"> ' + data.ServicesRequestCommunication[i].Message +''
                                html += '</div>'
                                html += '</div>'
                            }
                            else {
                                html += '<div class="comment sender">'
                                html += ' <h6>Participent Comment</h6>'
                                html += ' <div class="message"> ' + data.ServicesRequestCommunication[i].Message + ''
                                html += '</div>'
                                html += '</div>'
                            }


                            $("#communicationSec").append(html);
                        }
                    }
                    else {
                        $("#cShow").hide();
                    }
                }
            }
        })
    }

    function communication() {
        debugger
        if ($("#question").val() == "") {
            ShowMessageToastr("danger", "Please Enter Comment.!", false);
            return
        }
        var obj = {
            ServiceChildId: $("#ServiceChildId").val(),
            ProviderId: $("#pId").val(),
            SRequestId: $("#ServiceRequestId").val(),
            Message: $("#question").val()
        }
        $.ajax({
            url: '@Url.Action(Actions.AddCommunication, Controllers.ServiceRequests, new { area = "" })',
            data: {
                servicesRequest: JSON.stringify(obj)
            },
            type: 'POST',
            datatype: 'json',
            success: function (data) {
                debugger
                if (data.Code == 200) {
                    window.location.reload();
                }
                else {
                    ShowMessageToastr("danger", "something was wrong.!", false);
                }
            }
        })
    }

     function Save(type) {

                  $.ajax({
                      url: '@Url.Action(Actions.ChangeServiceStatus, Controllers.ServiceRequests, new { area = "" })',
                      data: {
                          Type: type, ServiceRequestId: $("#ServiceRequestId").val(), ProviderId: $("#pId").val()
                           },
                  type: 'POST',
                  datatype: 'json',
                      success: function (data) {
                          window.location.reload();
                  },
                  error: function () { }
              });

    }

    function changeTab() {
        $("#sCard").hide();
        $(".nav-item").css("list-style", "none");
    }

</script>
@Html.Raw(ViewBag.openPopup)
