﻿
@{
    ViewBag.Title = "Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PlannedServicesAdmin.Pages;
@using PlannedServices.Common;
<style>
    .tab.active {
        border: 4px solid #ff9800;
    }

    .tab2.active {
        border: 4px solid #ff9800;
    }

    .tab3.active {
        border: 4px solid #ff9800;
    }

    .tab4.active {
        border: 4px solid #ff9800;
    }

    .showImage {
        display: block !important
    }
</style>

<div class="row">
    @if (ProjectSession.SetupUserType != "3")
    {
        <div class="col-lg-2 col-md-3 col-sm-4 mb-3 mb-sm-0 box">
            <a href="@Url.Action(Actions.Index, Controllers.Dashboard)">
                <div class="card card-home ">
                    <div class="card-body">
                        <h5 class="font-weight-normal">Home</h5>
                    </div>
                </div>
            </a>
        </div>
    }
    else
    {
        <div class="col-lg-2 col-md-3 col-sm-4 mb-3 mb-sm-0 box">
            <a href="@Url.Action(Actions.Index, Controllers.Dashboard, new { area = "", userId = ConvertTo.Base64Encode(Convert.ToString(ProjectSession.UserID)) })">
                <div class="card card-home ">
                    <div class="card-body">
                        <h5 class="font-weight-normal">Home</h5>
                    </div>
                </div>
            </a>
        </div>
    }
    @*<div class="col-lg-2 col-md-3 col-sm-4 mb-3 mb-sm-0 box">
            <a href="@Url.Action("Service", Controllers.ServiceRequests)">
                <div class="card blurbg hborder">
                    <div class="card-body">
                        <h5 class="font-weight-normal font-12 text-uppercase">SUPPORT<br>Requests</h5>

                        <div class="text-left w-100 mt-auto">
                            <img src="~/Content/Icons/Support_Requests.svg" alt="" class="img-16">
                        </div>

                    </div>
                </div>
            </a>
        </div>*@
    <div class="col-lg-2 col-md-3 col-sm-4 mb-3 mb-sm-0 box">
        <div class="card border-warning border-2">
            <div class="card-body">
                <h5 class="font-weight-normal font-12 text-uppercase">New<br>SUPPORT<br>Request</h5>
                <div class="text-left w-100 mt-auto">
                    <img src="~/Content/Icons/New_Request.svg" alt="" class="img-16">
                </div>
            </div>
        </div>
    </div>

</div>


<div class="row BSection w-100">
    <div class="col-12 border-2px ml-5 pl-0">
        <h5 class="heading-main text-uppercase font-13 fw-400 blurhtext">STEP 1 : 6  |  Select the support purpose.</h5>
    </div>
</div>
@*<div class="BSection">
    <p class="font-14 mt-2 fw-300" style="width:65%">
        NDIS participant budgets are allocated to three separate support purposes:
    </p>
</div>
<div class="row GSection w-100" style="display:none">
    <div class="col-12 border-2px ml-5 pl-0">
        <h5 class="heading-main text-uppercase font-13 fw-400 blurhtext">
            STEP 2 : 7 |  What is the goal you want to achieve with this support request?
        </h5>
    </div>
</div>*@
<div class="GSection  mb-20" style="display:none">
    <p class="font-14 mt-2 fw-300" style="width:65%">
        Select the the category that best describe your goal for the support request.
    </p>
</div>
<div class="row RSection w-100 mb-20" style="display:none">
    <div class="col-12 border-2px ml-5 pl-0">
        <h5 class="heading-main font-13 fw-400 blurhtext text-uppercase"> STEP 2 : 6  |  SELECT THE SUPPORT CATEGORY.</h5>
    </div>
</div>
<div class="row CSection w-100 mb-20" style="display:none">
    <div class="col-12 border-2px ml-5 pl-0">
        <h5 class="heading-main font-13 fw-400 blurhtext text-uppercase">STEP 3 : 6  |  Select the support sub category.</h5>
    </div>
</div>

<div class="row SSection w-100 mb-20" style="display:none">
    <div class="col-12 border-2px ml-5 pl-0">
        <h5 class="heading-main font-13 fw-400 blurhtext text-uppercase">STEP 4 : 6  |  SELECT THE SUPPORTS YOU REQUIRE.</h5>
    </div>
</div>
<div class="row MSection w-100" style="display:none">
    <div class="col-12 border-2px ml-5 pl-0">
        <h5 class="heading-main font-13 fw-400 blurhtext text-uppercase">
            STEP 5 : 6  |  ADD COMMENTS.
        </h5>
    </div>
</div>
<div class="MSection" style="display:none">
    <p class="font-14 mt-2 fw-300" style="width:65%">
        Add additional information if required to assist Providers with their response.
    </p>
</div>
<div class="row PCSection w-100" style="display:none">
    <div class="col-12 border-2px ml-5 pl-0">
        <h5 class="heading-main font-13 fw-400 blurhtext text-uppercase">
            STEP 6 : 6  |  PROVIDER CONTACT.
        </h5>
    </div>
</div>
<div class="PCSection" style="display:none">
    <p class="font-14 mt-2 fw-300" style="width:65%">
        How should providers make contact with you?
    </p>
</div>

<div class="row w-100 pl-0 BSection mt-10" id="BSection">
    @foreach (var item in @ViewBag.BudgetMaster)
    {
        <div class="col-12 pr-0 ml-5 border-1px">
            <div class="radio-list-padding">
                <div class="custom-control custom-radio">
                    <input type="radio" id="1customRadio_@item.Id" name="customRadio" class="custom-control-input" onclick="SetValue(0,@item.Id)">
                    <label class="custom-control-label text-uppercase font-16 fw-400 " for="1customRadio_@item.Id">@item.Name</label>
                    <p style="min-height:20px" class="pld font-14 fw-300 mt-0">@item.Description</p>
                </div>
            </div>
        </div>
    }
</div>

<div class="row w-100 pl-0 GSection" id="GSection"></div>
<div class="row w-100 pl-0 RSection" id="RSection"></div>
<div class="row w-100 pl-0 CSection" id="CSection"></div>
<div class="row w-100 pl-0 SSection" id="SSection"></div>
<div class="row w-100 pl-0 MSection" id="MSection" style="display:none">
    <textarea id="Comment" rows="3" class="form-control custom-textbox ml-5"></textarea>
</div>
<div class="row w-100 pl-0 PCSection" id="PCSection" style="display:none">
    <div class="col-12 pr-0 ml-5 border-1px">
        <div class="radio-list-padding">
            <div class="custom-control custom-radio">
                <input type="radio" id="pcCheck" name="customPcCheck" checked class="custom-control-input" value="1" onclick="onPCsection(1)">
                <label class="custom-control-label text-uppercase font-16 fw-400 " for="pcCheck">My REQUEST</label>
                <p style="min-height:20px" class="pld font-14 fw-300 mt-0">Providers can only contact me via My Request.</p>
            </div>
        </div>
    </div>
    <div class="col-12 pr-0 ml-5 border-1px">
        <div class="radio-list-padding">
            <div class="custom-control custom-radio">
                <input type="radio" id="pcCheck1" name="customPcCheck" class="custom-control-input" value="2" onclick="onPCsection(2)">
                <label class="custom-control-label text-uppercase font-16 fw-400 " for="pcCheck1">Direct</label>
                <p style="min-height:20px" class="pld font-14 fw-300 mt-0">Providers can contact me directly using the information provided below.</p>
            </div>
            <div id="pcsec" style="display:none">
                <div class="form-group" style="width:45%;padding-left:8%">
                    <label for="emailAddress">Contact Name</label>
                    <input type="text" id="PCName" class="form-control custom-form-control" placeholder="Contact Name" />
                </div>
                <div class="form-group" style="width:45%;padding-left:8%">
                    <label for="emailAddress">Contact Number</label>
                    <input type="text" id="PCNumber" class="form-control custom-form-control" placeholder="Contact Number" />
                </div>
                <div class="form-group" style="width:45%;padding-left:8%">
                    <label for="emailAddress">Contact Email</label>
                    <input type="text" id="PCEmail" class="form-control custom-form-control" placeholder="Contact Email" />
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row mt-4">
    <div class="col-12" id="1Section">
        <a href="@Url.Action("Service", Controllers.ServiceRequests)" class="btn btn-outline-secondary text-uppercase mr-2">Cancel</a>
        <a href="#" onclick="SetCategory1(3)" class="btn btn-outline-primary text-uppercase">Next</a>
    </div>
    @*<div class="col-12" id="6Section" style="display:none">
        <a href="#" onclick="SetValue(5,0)" class="btn btn-outline-secondary mr-2 text-uppercase">Previous</a>
        <a href="#" onclick="SetCategory1(0)" class="btn btn-outline-primary text-uppercase">Next</a>
    </div>*@
    <div class="col-12" id="2Section" style="display:none">
        <a href="#" onclick="SetValue(5,0)" class="btn btn-outline-secondary mr-2 text-uppercase">Previous</a>
        <a href="#" onclick="SetCategory1(1)" class="btn btn-outline-primary text-uppercase">Next</a>
    </div>
    <div class="col-12" id="3Section" style="display:none">
        <a href="#" onclick="SetValue(6,0)" class="btn btn-outline-secondary mr-2 text-uppercase">Previous</a>
        <a href="#" onclick="SetCategory1(2)" class="btn btn-outline-primary text-uppercase">Next</a>
    </div>
    <div class="col-12" id="4Section" style="display:none">
        <a href="#" onclick="SetValue(7,0)" class="btn btn-outline-secondary mr-2 text-uppercase">Previous</a>
        <a href="#" onclick="SetValue(8,0)" class="btn btn-outline-primary text-uppercase">Next</a>
    </div>
    <div class="col-12" id="5Section" style="display:none">
        <a href="#" onclick="SetValue(9,0)" class="btn btn-outline-secondary mr-2 text-uppercase">Previous</a>
        <a href="#" onclick="SetValue(88,0)" class="btn btn-outline-primary text-uppercase">Next</a>
    </div>
    <div class="col-12" id="7Section" style="display:none">
        <a href="#" onclick="SetValue(99,0)" class="btn btn-outline-secondary mr-2 text-uppercase">Previous</a>
        <a href="#" onclick="Save()" class="btn border-success text-uppercase">Send</a>
    </div>
</div>
<!-- Modal -->

<div id="myModal3" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content mcontent" style="border:0;">
            @*<div class="modal-body mbody border-secondary border-3" style="padding:10px 15px">
                <h6 class="font-13 text-left blurhtext m-0">
                        Your support request <span id="snumber">AT000_00</span> has been sent to <span id="pn">45</span> providers.
                    </h6>
               
            </div>*@
            <div class="modal-footer pl-0 pr-0" style="border:0;">
                <button data-dismiss="modal" class="btn btn-outline-success text-white mno text-uppercase  pmodel"><span class="blurhtext">SUPPORT REQUEST SENT TO <span id="pn3">15</span> Providers</span></button>
                @*<button data-dismiss="modal" class="btn btn-outline-warning text-white mno text-uppercase m-0">Ok</button>*@
               
            </div>
        </div>

    </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content mcontent">
            <div class="modal-body mbody border-secondary border-3" style="padding:10px 15px">
                <h6 class="font-13 text-left  m-0">
                    We have found <span id="pn">45</span> providers that meet your support requirements.
                </h6>
                <h6 class="font-13 text-left  mt-4 m-0">
                    By proceeding you are acknowledging the cost of $90 and that an invoice will be sent to your Plan Manager for payment.

                </h6>
            </div>
            <div class="modal-footer pl-0 pr-0" style="border:0;">
                <button data-dismiss="modal" class="btn btn-outline-danger text-white mr-2  mno">Cancel</button>
                <button onclick="planUserRequest()" class="btn btn-outline-success text-white myes">Proceed</button>
            </div>
        </div>

    </div>
</div>

<div id="myModal2" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content mcontent">
            <div class="modal-body mbody border-secondary border-3" style="padding:10px 15px">
                <h6 class="font-13 text-left  m-0">
                    We have found <span id="pn1">45</span> providers that meet your support requirements.
                   
                </h6>
                <h6 class="font-13 text-left  mt-4 m-0">
                    By proceeding you are acknowledging the cost of $90 will be charged to your Credit Card
                </h6>
            </div>
            <div class="modal-footer pl-0 pr-0" style="border:0;">
                <button data-dismiss="modal" class="btn btn-outline-danger text-white mr-2  mno">Cancel</button>
                <button onclick="saveRequest()" class="btn btn-outline-success text-white myes">Proceed</button>
            </div>
        </div>

    </div>
</div>
<div class="overlayUpload" id="isLoading" style="display:none">
    <div class="uploadtext">Loading...</div>
</div>
<input type="hidden" id="BudgetId" />
<input type="hidden" id="GoalId" />
<input type="hidden" id="RegistrationGroupId" />
<input type="hidden" id="CategoryId" />
<input type="hidden" id="SupportItemIds" />
<input type="hidden" id="sId" />
<input type="hidden" id="stripeToken" />
<input type="hidden" id="stripeEmail" />
<input type="hidden" id="IsProviderContact" />
<script src="//checkout.stripe.com/v2/checkout.js"></script>
<script>

    $(document).ready(function () {
        $("#1Section").show();
        $("#2Section").hide();
        $("#3Section").hide();
        $("#4Section").hide();
        $("#5Section").hide();
        $("#6Section").hide();
        $("#7Section").hide();

        $(".PCSection").hide();
        $(".MSection").hide();
        $(".RSection").hide();
        $(".CSection").hide();
        $(".SSection").hide();
        $(".BSection").show();
        $(".GSection").hide();

        $(".tab").click(function () {
            $(".tab").removeClass("active");
            $(this).addClass("active");
        });

        $('#myModal3').on('hidden.bs.modal', function () {
            // do something…
            var s = btoa($("#sId").val());

            window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]ServiceRequests/PService?ServiceId=" + s;
    });
    });

      var handler = StripeCheckout.configure({
        key: '@System.Configuration.ConfigurationManager.AppSettings["StripePublishableKey"]',
         image: '@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]Content/images/My_Request_Logo.jpg',
         token: function (token) {
            $("#stripeToken").val(token.id);
            $("#stripeEmail").val(token.email);
           // $("#amountInCents").val(Math.floor($("#amountInDollars").val() * 100));
             planUserRequest();
        }
      });
    function onPCsection(type) {
        $("#pcsec").hide();
        if (type == 2) {
            $("#pcsec").show();
        }

    }
    function SetValue(type, id) {
        debugger;
        if (type == 0) {
            $("#BudgetId").val(id);
        }
        else if (type == 1) {
            $("#RegistrationGroupId").val(id);
            //$(".tab2").removeClass("active");
            //$("#tab2" + id).addClass("active");
        }
        else if (type == 11) {
            var v = $('input[name="2customRadio"]:checked').val();
            $("#GoalId").val(v);
        }

        else if (type == 2) {
            $("#CategoryId").val(id);
            //$(".tab3").removeClass("active");
            //$("#tab3" + id).addClass("active");
        }
        else if (type == 3) {
            var chks = document.getElementsByClassName("checkBoxClass");
            var selectedCheck = new Array();
            for (var i = 0; i < chks.length; i++) {
                if (chks[i].checked) {
                    selectedCheck.push(chks[i].value);
                }
            }
            if (selectedCheck.length > 0) {
                var Ids = selectedCheck.join(",");
                $("#SupportItemIds").val(Ids);
            }
            else {
                $("#SupportItemIds").val("");
            }
            //$("#tab4" + id).toggleClass("active");
            //$("#tab4" + id +" div").children('img').toggleClass("showImage");
            //var arr = $(".tab4.active").map(function () {
            //    return $(this).attr("data");
            //}).get().join();
            //$("#SupportItemIds").val(arr);
        }

        if (type == 5) {
            $(".RSection").hide();
            $(".CSection").hide();
            $(".SSection").hide();
            $(".BSection").show();
            $(".GSection").hide();
            $(".PCSection").hide();

            $("#7Section").hide();
            $("#6Section").hide();
            $("#1Section").show();
            $("#2Section").hide();
            $("#3Section").hide();
            $("#4Section").hide();
        }
        else if (type == 6) {
            $(".RSection").show();
            $(".CSection").hide();
            $(".SSection").hide();
            $(".BSection").hide();
            $(".GSection").hide();
            $(".PCSection").hide();

            $("#7Section").hide();
            $("#6Section").hide();
            $("#1Section").hide();
            $("#2Section").show();
            $("#3Section").hide();
            $("#4Section").hide();
        }
        else if (type == 7) {
            $(".RSection").hide();
            $(".CSection").show();
            $(".SSection").hide();
            $(".BSection").hide();
            $(".GSection").hide();
            $(".PCSection").hide();

            $("#7Section").hide();
            $("#6Section").hide();
            $("#1Section").hide();
            $("#2Section").hide();
            $("#3Section").show();
            $("#4Section").hide();
        }
        else if (type == 8) {

            if ($("#SupportItemIds").val() == "") {
                ShowMessageToastr("danger", "Please Select Support Item.!", false);
                return
            }
            $(".RSection").hide();
            $(".CSection").hide();
            $(".SSection").hide();
            $(".BSection").hide();
            $(".MSection").show();
            $(".GSection").hide();
            $(".PCSection").hide();

            $("#7Section").hide();
            $("#6Section").hide();
            $("#1Section").hide();
            $("#2Section").hide();
            $("#3Section").hide();
            $("#4Section").hide();
            $("#5Section").show();
        }
        else if (type == 9) {
            $(".RSection").hide();
            $(".CSection").hide();
            $(".SSection").show();
            $(".BSection").hide();
            $(".MSection").hide();
            $(".GSection").hide();
            $(".PCSection").hide();

            $("#7Section").hide();
            $("#6Section").hide();
            $("#1Section").hide();
            $("#2Section").hide();
            $("#3Section").hide();
            $("#4Section").show();
            $("#5Section").hide();
        }
        else if (type == 10) {
            $(".RSection").hide();
            $(".CSection").hide();
            $(".GSection").show();
            $(".BSection").hide();
            $(".MSection").hide();
            $(".SSection").hide();
            $(".PCSection").hide();

            $("#7Section").hide();
            $("#1Section").hide();
            $("#2Section").hide();
            $("#3Section").hide();
            $("#6Section").show();
            $("#5Section").hide();
            $("#4Section").hide();
        }

        else if (type == 88) {
            $(".RSection").hide();
            $(".CSection").hide();
            $(".SSection").hide();
            $(".BSection").hide();
            $(".MSection").hide();
            $(".GSection").hide();
            $(".PCSection").show();

            $("#7Section").show();
            $("#6Section").hide();
            $("#1Section").hide();
            $("#2Section").hide();
            $("#3Section").hide();
            $("#4Section").hide();
            $("#5Section").hide();
        }
        else if (type == 99) {
            $(".RSection").hide();
            $(".CSection").hide();
            $(".SSection").hide();
            $(".BSection").hide();
            $(".MSection").show();
            $(".GSection").hide();
            $(".PCSection").hide();

            $("#7Section").hide();
            $("#6Section").hide();
            $("#1Section").hide();
            $("#2Section").hide();
            $("#3Section").hide();
            $("#4Section").hide();
            $("#5Section").show();
        }
    }

    function SetCategory1(type) {
        debugger
        if (type == 0) {
            var gid = $("#GoalId").val();
            var bid = $("#BudgetId").val();
            var cid = 0;
            var id = 0;
            $("#RegistrationGroupId").val("");
            $("#CategoryId").val("");
            if (gid == "") {
                ShowMessageToastr("danger", "Please Select Goal.!", false);
                return
            }

        }
        else if (type == 1) {
            var gid = $("#GoalId").val();
            var bid = $("#BudgetId").val();
            var id = $("#RegistrationGroupId").val();
            var cid = $("#RegistrationGroupId").val();
            $("#CategoryId").val("");
            if (id == "") {
                ShowMessageToastr("danger", "Please Select Registration Group.!", false);
                return
            }
        }
        else if (type == 2) {
            var gid = $("#GoalId").val();
            var bid = $("#BudgetId").val();
            var id = $("#CategoryId").val();
            var cid = $("#RegistrationGroupId").val();
            $("#SupportItemIds").val("");
            $(".tab4").removeClass("active");
            if (id == "") {
                ShowMessageToastr("danger", "Please Select Category.!", false);
                return
            }
          }
        else if (type == 3) {
            var id = $("#BudgetId").val();
            var bid = $("#BudgetId").val();
            var cid = 0;
            var gid = 0;
            $("#GoalId").val("");
            $("#RegistrationGroupId").val("");
            $("#CategoryId").val("");
            if (id == "") {
                ShowMessageToastr("danger", "Please Select Budget.!", false);
                return
            }
        }
              $.ajax({
                  url: '@Url.Action(Actions.RegistrationGroupByCategoryId, Controllers.ServiceRequests, new { area = "" })',
                  data: { Type: type, RId: id, CId: cid, GName: gid, BId: bid},
                  type: 'GET',
                  datatype: 'json',
                  success: function (data) {
                      if (type == 3) {
                          //$(".GSection").show();
                          //$(".CSection").hide();
                          //$(".SSection").hide();
                          //$(".BSection").hide();
                          //$(".RSection").hide();
                          //$(".PCSection").hide();

                          //$("#7Section").hide();
                          //$("#1Section").hide();
                          //$("#6Section").show();
                          //$("#3Section").hide();
                          //$("#4Section").hide();
                          //$("#2Section").hide();

                          //if (data.length > 0) {
                          //    var s = '';
                          //    for (var i = 0; i < data.length; i++) {
                          //        s += '<div class="col-12 pr-0 ml-5 border-1px">'
                          //        s += '<div class="radio-list-padding">'
                          //        s += '<div class="custom-control custom-radio">'
                          //        s += '<input type="radio" id="2customRadio' + data[i].DrpId + '" name="2customRadio" class="custom-control-input" value="' + data[i].Name + '" onclick="SetValue(11,0)">'
                          //        s += '<label class="custom-control-label" for="2customRadio' + data[i].DrpId + '">' + data[i].Name + '</label>'
                          //        s += '</div>'
                          //        s += '</div>'
                          //        s += '</div>'

                          //    }
                          //    $("#GSection").html(s);
                          //}
                          //else {
                          //    $("#GSection").html('');
                          //}

                          $(".RSection").show();
                          $(".CSection").hide();
                          $(".SSection").hide();
                          $(".BSection").hide();
                          $(".GSection").hide();
                          $(".PCSection").hide();

                          $("#7Section").hide();
                          $("#6Section").hide();
                          $("#1Section").hide();
                          $("#2Section").show();
                          $("#3Section").hide();
                          $("#4Section").hide();

                          if (data.length > 0) {
                              var s = '';
                              for (var i = 0; i < data.length; i++) {
                                  s += '<div class="col-12 pr-0 ml-5 border-1px">'
                                  s += '<div class="radio-list-padding">'
                                  s += '<div class="custom-control custom-radio">'
                                  s += '<input type="radio" id="5customRadio' + data[i].DrpId + '" name="5customRadio" class="custom-control-input" onclick="SetValue(1,' + data[i].DrpId + ')">'
                                  s += '<label class="custom-control-label" for="5customRadio' + data[i].DrpId + '">' + data[i].Name + '</label>'
                                  s += '<p class="pld font-14 fw-300 mt-0 pr-4">' + data[i].Description + '</p>'
                                  s += '</div>'
                                  s += '</div>'
                                  s += '</div>'

                              }
                              $("#RSection").html(s);
                          }
                          else {
                              $("#RSection").html('');
                          }
                      }
                      if (type == 0) {
                          $(".RSection").show();
                          $(".CSection").hide();
                          $(".SSection").hide();
                          $(".BSection").hide();
                          $(".GSection").hide();
                          $(".PCSection").hide();

                          $("#7Section").hide();
                          $("#6Section").hide();
                          $("#1Section").hide();
                          $("#2Section").show();
                          $("#3Section").hide();
                          $("#4Section").hide();

                          if (data.length > 0) {
                              var s = '';
                              for (var i = 0; i < data.length; i++) {
                                  s += '<div class="col-12 pr-0 ml-5 border-1px">'
                                  s += '<div class="radio-list-padding">'
                                  s += '<div class="custom-control custom-radio">'
                                  s += '<input type="radio" id="5customRadio' + data[i].DrpId + '" name="5customRadio" class="custom-control-input" onclick="SetValue(1,' + data[i].DrpId + ')">'
                                  s += '<label class="custom-control-label" for="5customRadio' + data[i].DrpId + '">' + data[i].Name + '</label>'
                                  s += '<p class="pld font-14 fw-300 mt-0 pr-4">' + data[i].Description + '</p>'
                                  s += '</div>'
                                  s += '</div>'
                                  s += '</div>'

                              }
                              $("#RSection").html(s);
                          }
                          else {
                              $("#RSection").html('');
                          }
                      }
                      else if (type == 1) {
                          debugger;
                          $(".RSection").hide();
                          $(".CSection").show();
                          $(".SSection").hide();
                          $(".BSection").hide();
                          $(".GSection").hide();
                          $(".PCSection").hide();

                          $("#7Section").hide();
                          $("#6Section").hide();
                          $("#1Section").hide();
                          $("#2Section").hide();
                          $("#3Section").show();
                          $("#4Section").hide();
                          if (data.length > 0) {
                              var s = '';
                              //s += '<option value="">Select Support Category</option>';
                              for (var i = 0; i < data.length; i++) {
                                  s += '<div class="col-12 pr-0 ml-5 border-1px">'
                                  s += '<div class="radio-list-padding">'
                                  s += '<div class="custom-control custom-radio">'
                                  s += '<input type="radio" id="3customRadio' + data[i].DrpId + '" name="3customRadio" class="custom-control-input" onclick="SetValue(2,' + data[i].DrpId + ')">'
                                  s += '<label class="custom-control-label" for="3customRadio' + data[i].DrpId + '">' + data[i].Name + '</label>'
                                  s += '<p class="pld font-14 fw-300 mt-0 pr-4">' + data[i].Description + '</p>'
                                  s += '</div>'
                                  s += '</div>'
                                  s += '</div>'

                              }
                              $("#CSection").html(s);
                          }
                          else {
                              $("#CSection").html('');
                          }
                      }
                      else if (type == 2) {
                          $(".RSection").hide();
                          $(".CSection").hide();
                          $(".SSection").show();
                          $(".BSection").hide();
                          $(".GSection").hide();
                          $(".PCSection").hide();

                          $("#7Section").hide();
                          $("#6Section").hide();
                          $("#1Section").hide();
                          $("#2Section").hide();
                          $("#3Section").hide();
                          $("#4Section").show();

                          if (data.length > 0) {
                              $("#SSection").empty();
                              var s = '';
                              for (var i = 0; i < data.length; i++) {
                                  s += '<div class="col-12 pr-0 ml-5 border-1px">'
                                  //s += '<div class="border-bottom">'
                                  s += '<div class="custom-control custom-checkbox ctext" style="width:60%">'
                                  s += '<input type="checkbox" id="customCheck1' + data[i].DrpId + '" name="customCheck1' + data[i].DrpId + '" value="' + data[i].DrpId + '" class="custom-control-input checkBoxClass" onclick="SetValue(3,' + data[i].DrpId + ')">'
                                  s += '<label class="custom-control-label" for="customCheck1' + data[i].DrpId + '">' + data[i].Name + '</label>'
                                  //s += '<p class="pld font-14 fw-300 mt-0 pr-4">' + data[i].Description + '</p>'
                                  s += '</div>'
                                  //s += '</div>'
                                  s += '</div>'

                              }
                              $("#SSection").html(s);
                          }
                          else {
                              $("#SSection").html('');
                          }
                      }

                  },
                  error: function () { }
              });
          }

    function Save() {
        debugger;
        var v = $('input[name="customPcCheck"]:checked').val();
        $("#IsProviderContact").val(v);
        var isValid = true;
        if (v == "2") {
            if ($("#PCName").val() == "") {
                $("#PCName").addClass("validate-has-error");
                isValid = false;
            }
            else {
                $("#PCName").removeClass("validate-has-error");
            }
            if ($("#PCNumber").val() == "" && $("#PCEmail").val() == "") {
                $("#PCNumber").addClass("validate-has-error");
                $("#PCEmail").addClass("validate-has-error");
                isValid = false;
                ShowMessageToastr("danger", "Please enter any one email or number.!", false);
                return
            }
            else {
                $("#PCNumber").removeClass("validate-has-error");
                $("#PCEmail").removeClass("validate-has-error");
               

            }

            //if ($("#PCNumber").val() == "") {
            //    $("#PCNumber").addClass("validate-has-error");
            //    isValid = false;
            //}
            //else {
            //    $("#PCNumber").removeClass("validate-has-error");
            //}
            //if ($("#PCEmail").val() == "") {
            //    $("#PCEmail").addClass("validate-has-error");
            //    isValid = false;
            //}
            //else {
            //    $("#PCEmail").removeClass("validate-has-error");
            //}
        }

        if (!isValid) {
            return
        }

        if ($("#SupportItemIds").val() == "") {
            ShowMessageToastr("danger", "Please Select SupportItem.!", false);
            return
        }
        $("#isLoading").show();

        @*if (@Html.Raw(Json.Encode(@ViewBag.userdata)) != null) {
            var data1 = @Html.Raw(Json.Encode(@ViewBag.userdata));*@
            //if (data1.ManagerType == "2" && data1.IsPlan == "2") {
                $.ajax({
                    url: '@Url.Action(Actions.GetSendRequestProviderCount, Controllers.ServiceRequests, new { area = "" })',
                    data: {
                        RId: $("#CategoryId").val()
                    },
                    type: 'POST',
                    datatype: 'json',
                    success: function (data) {
                        $("#isLoading").hide();
                        if (@Html.Raw(Json.Encode(@ViewBag.userdata)) != null) {
                            var data1 = @Html.Raw(Json.Encode(@ViewBag.userdata));
                            if (data1.ManagerType == "2" && data1.IsPlan == "2") {
                                $("#myModal2").modal("show");
                                var count = (data.Values.length < 10) ? '0' + data.Values.length.toString() : data.Values.length.toString();
                                $("#pn1").text(count);
                            }
                            else {
                                $("#myModal").modal("show");
                                var count = (data.Values.length < 10) ? '0' + data.Values.length.toString() : data.Values.length.toString();
                                $("#pn").text(count);
                            }
                        }
                        else {
                            $("#myModal").modal("show");
                            var count = (data.Values.length < 10) ? '0' + data.Values.length.toString() : data.Values.length.toString();
                            $("#pn").text(count);
                        }

                    },
                    error: function () { }
                });

            //}
            //else {
            //    planUserRequest();
            //}
        //}
        //else {
        //    planUserRequest();
        //}



    }

    function planUserRequest() {
        var obj = {
            BudgetId: $("#BudgetId").val(),
            SupportGoal: $("#GoalId").val(),
            RegistrationGroupId: $("#CategoryId").val(),
            CategoryId: $("#RegistrationGroupId").val(),
            SupportItemIds: $("#SupportItemIds").val(),
            Comment: $("#Comment").val(),
            stripeEmail: $("#stripeEmail").val(),
            stripeToken: $("#stripeToken").val(),
            IsProviderContact: $("#IsProviderContact").val(),
            PCName: $("#PCName").val(),
            PCNumber: $("#PCNumber").val(),
            PCEmail: $("#PCEmail").val()

        }
         $("#isLoading").show();
          $.ajax({
                      url: '@Url.Action(Actions.SaveServiceRequest, Controllers.ServiceRequests, new { area = "" })',
                      data: {
                          servicesRequest: JSON.stringify(obj)
                           },
                  type: 'POST',
                  datatype: 'json',
              success: function (data) {
                  $("#isLoading").hide();
                  if (data.Code == 200) {
                      $("#myModal2").modal("hide");
                      $("#myModal").modal("hide");
                      var count = (data.Item.PCount < 10) ? '0' + data.Item.PCount.toString() : data.Item.PCount.toString();
                      $("#pn3").text(count);
                      $("#snumber").text(data.Item.ServiceNumber);
                      $("#sId").val(data.Item.Id);

                      $("#myModal3").modal("show");

                     

                  }
                  else {
                      ShowMessageToastr("danger", data.Message, false);
                      return
                  }
                  },
                  error: function () { }
              });
    }

    function saveRequest() {
        if (@Html.Raw(Json.Encode(@ViewBag.userdata)) != null) {
            var data = @Html.Raw(Json.Encode(@ViewBag.userdata));
            debugger
            if (data.ManagerType == "2") {
                var emailForInvoice = data.EmailForInvoice;
                var amountInCents = Math.floor(90 * 100);
                var displayAmount = parseFloat(Math.floor(amountInCents) / 100).toFixed(2);
                // Open Checkout with further options
                handler.open({
                    name: 'My Request Support Request',
                    description: 'AUD $' + displayAmount + ' inc gst per request',
                    amount: amountInCents,
                    email: emailForInvoice,
                    paymentmethodtypes: ["bancontact",
                        "card",
                        "eps",
                        "giropay",
                        "ideal",
                        "p24",
                        "sepa_debit",
                        "sofort"]
                });
                //e.preventDefault();

            }
        }

    }

    @*function successPayment() {
        $("#isLoading").show();
         $.ajax({
                      url: '@Url.Action(Actions.SaveSelfMServiceRequest, Controllers.ServiceRequests, new { area = "" })',
                      data: {
                          Id: $("#sId").val()
                           },
                  type: 'POST',
                  datatype: 'json',
              success: function (data) {
                  $("#isLoading").hide();
                  if (data.Code == 200) {
                      $("#myModal").modal("show");
                      var count = (data.Item.PCount < 10) ? '0' + data.Item.PCount.toString() : data.Item.PCount.toString();
                      $("#pn").text(count);
                      $("#snumber").text(data.Item.ServiceNumber);
                      $("#sId").val(data.Item.Id);
                  }
                  else {
                      ShowMessageToastr("danger", data.Message, false);
                      return
                  }
                  },
                  error: function () { }
              });
    }*@

     function Delete() {
              $.ajax({
                      url: '@Url.Action(Actions.DeleteServiceRequest, Controllers.ServiceRequests, new { area = "" })',
                  data: { SId: $("#sId").val() },
                  type: 'GET',
                      datatype: 'json',
                  success: function (data) {
                      if (data) {
                          var s = btoa($("#sId").val());

            window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]Dashboard/Index";
                      }
                      else {
                          ShowMessageToastr("danger", "something went wrong. please try again.", false);
                      }
                      },
                        error: function () { }
                    });

    }

</script>
