﻿
@{
    ViewBag.Title = "Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PlannedServicesAdmin.Pages;
@using PlannedServices.Common;
@using PlannedServices.Common.Paging;
@using PlannedServices.Entities.Contract;
@model PagedList<AbstractProvider>
<style>
    .fs-18 {
        font-size: 1.125rem !important;
    }

    .mb-8px {
        margin-bottom: 0.5rem !important;
    }

    .mb-14px {
        margin-bottom: 0.875rem !important;
    }

    .line-height-sm {
        line-height: 1.5;
    }

    @@media (max-width: 768px) {
        .mbox {
            min-height: 100px
        }

        .bgmobile .img-16 {
            position: relative;
            bottom: -10px;
        }

        .heading-main {
            margin-bottom: 20px !important;
            margin-top: 5px !important;
        }
    }

    .bgmobile {
        background: #2C3E50;
        padding: 10px 20px 20px 10px
    }

    .pb-10 {
        padding-bottom: 10px
    }
</style>
<div class="row">
    @if (ProjectSession.SetupUserType != "3")
    {
        <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
            <a href="@Url.Action(Actions.Index, Controllers.Dashboard)">
                <div class="card card-home ">
                    <div class="card-body">
                        <h5 class="font-weight-normal">Home</h5>
                    </div>
                </div>
            </a>
        </div>
    }
    else
    {
        <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
            <a href="@Url.Action(Actions.Index, Controllers.Dashboard, new { area = "", userId = ConvertTo.Base64Encode(Convert.ToString(ProjectSession.UserID)) })">
                <div class="card card-home ">
                    <div class="card-body">
                        <h5 class="font-weight-normal">Home</h5>
                    </div>
                </div>
            </a>
        </div>
    }
    <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
        <a href="@Url.Action("Service", Controllers.ServiceRequests)">
            <div class="card border-warning  hborder mbox">
                <div class="card-body">
                    <h5 class="font-weight-normal font-12 text-uppercase hideOnMobile">SUPPORT<br>Requests</h5>
                    <h5 class="font-weight-normal font-12 text-uppercase showOnMobile">SUPPORT Requests</h5>
                    <div class="text-left w-100 mt-auto">
                        <img src="~/Content/Icons/Support_Requests.svg" alt="" class="img-16">
                    </div>

                </div>
            </div>
        </a>
    </div>

    @if (Model.Values.Count > 0 && Model.Values[0].ServiceStatus == 0)
    {
        <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
            <div class="card border-2 mbox">
                <div class="card-body">
                    <h5 class="font-weight-normal font-12 text-uppercase hideOnMobile">SUPPORT<br>Request No.<br>@ViewBag.ServiceNumber </h5>
                    <h5 class="font-weight-normal font-12 text-uppercase showOnMobile">SUPPORT Requests No. @ViewBag.ServiceNumber</h5>

                    <div class="text-left w-100 mt-auto">
                        <img src="~/Content/Icons/Active_Request.svg" alt="" class="img-16">
                    </div>
                </div>
            </div>
        </div>
    }
    else if (Model.Values.Count > 0 && Model.Values[0].ServiceStatus == 1)
    {
        <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
            <a href="@Url.Action("CService", Controllers.ServiceRequests)">
                <div class="card bg-primary mbox">
                    <div class="card-body">
                        <div class="d-flex align-items-start justify-content-between w-100">
                            <h5 class="font-weight-normal font-12 text-uppercase hideOnMobile">Approved<br>SUPPORT<br>Request No.<br>@ViewBag.ServiceNumber </h5>
                            <h5 class="font-weight-normal font-12 text-uppercase showOnMobile">Approved SUPPORT Requests No. @ViewBag.ServiceNumber</h5>

                        </div>
                    </div>
                </div>
            </a>
        </div>

    }
    else if (Model.Values.Count > 0 && Model.Values[0].ServiceStatus == 2)
    {
<div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
    <a href="@Url.Action("RService", Controllers.ServiceRequests)">
        <div class="card border-2 mbox">
            <div class="card-body">
                <h5 class="font-weight-normal font-12 text-uppercase hideOnMobile">Closed<br>SUPPORT<br>Request No.<br>@ViewBag.ServiceNumber </h5>
                <h5 class="font-weight-normal font-12 text-uppercase showOnMobile">Closed SUPPORT Requests No. @ViewBag.ServiceNumber</h5>

                <div class="text-left w-100 mt-auto">
                    <img src="~/Content/Icons/Declined.svg" alt="" class="img-16">
                </div>
            </div>
        </div>
        </a>
</div>
    }
    @if (Model.Values.Count > 0 && Model.Values[0].IsProviderContact == 2)
    {
        <div class="col-lg-4 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
            <div class="card border-2">
                <div class="card-body">
                    <div class="d-flex align-items-start justify-content-between w-100">
                        <h5 class="font-weight-normal font-12 text-uppercase">
                            @Model.Values[0].PCName.ToUpper()<br />
                            @if (Model.Values[0].PCNumber != "")
                            {
                               <span> @Model.Values[0].PCNumber.ToUpper() <br /></span>
                            }
                            @(Model.Values[0].PCEmail == null ? "": Model.Values[0].PCEmail.ToUpper())
                        </h5>
                    </div>

                    <div class="w-100 mt-auto">
                        <div class="custom-control custom-checkbox ctext pb-0">
                            <input type="checkbox" id="customCheck1" name="customCheck1" class="custom-control-input checkBoxClass" @(Model.Values[0].IsHideContactDetails == 1 ? "checked" : "") onclick="hidePDetails()">
                            <label class="custom-control-label pl-0 blurhtext font-weight-normal font-12 text-uppercase" for="customCheck1"> Hide Contact Details From Providers</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@if (ViewBag.IsClosed != 1)
        {
    <div class="col-sm-12 col-md-8 pl-0 mt-20">
        <button onclick="onCancel()" class="btn btn-outline-danger mr-3 text-white btn-pedding btn-border  text-uppercase">Cancel Request</button>
    </div>
}
@*@if (Model.Values.Count <= 0)
{
    <h1 class="norecord-found text-center mt-20 ">No provider found</h1>
}*@
@if (Model.Values.Count > 0)
{
    <div class="row hideOnMobile w-100">
        <div class="col-12 border-2px ml-5 pl-0">
            <h5 class="heading-main font-13 fw-400 blurhtext text-uppercase">
                @Model.Values[0].ServiceRequestDateStr.ToUpper()
                <span style="margin-left:5px;margin-right:5px">|</span>
                REQUEST NO. @ViewBag.ServiceNumber
                <span style="margin-left:5px;margin-right:5px">|</span>
                @ViewBag.RegistrationGroupName
            </h5>
        </div>
    </div>
}
<div class="row pl-0 hideOnMobile w-100" id="requestSec">
    @foreach (var provider in Model.Values)
    {
        //if (provider.ServiceStatus == 0)
        //{
        //    if (provider.Status != 2)
        //    {
                <div class="col-12 pr-0 ml-5 border-1px">
                    <div class="row">
                        <div class="col-12">
                            <div class="request-details">
                                <div class="row g-2x">
                                    <div class="col-11">
                                        <a href="@Url.Action("ServiceDetails", Controllers.ServiceRequests, new { area = "", ServiceId = ConvertTo.Base64Encode(Convert.ToString(ViewBag.ServiceRequestId)), ProviderId = ConvertTo.Base64Encode(Convert.ToString(@provider.Id)) })">
                                            <div class="row">

                                                <div class="col-auto  pl-0 mr-20 mdlsec @(provider.MainStatus != 1 && provider.IsProviderRead == 0 ? "unread" : "")">

                                                    @if (provider.IsProviderRead == 0 && provider.IsProviderRead != 2)
                                                    {
                                                        <p class="btn btn-outline-secondary mr-2 text-uppercase mt-1 btn-width">
                                                            Request Sent
                                                        </p>
                                                        @*<p class="blurtext font-12 fw-400">Request Sent</p>
                                                            <h5 class="font-weight-normal font-16 fw-400 line-height-normal mb-0 mt-10">@provider.ServiceRequestDateStr.ToUpper()</h5>*@
                                                    }
                                                    else if (provider.IsProviderRead == 1 && provider.MessageCount == 0)
                                                    {
                                                        <p class="btn btn-outline-secondary mr-2 text-uppercase mt-1 btn-width">
                                                            Pending Response
                                                        </p>
                                                        @*<p class="blurtext font-12 fw-400">Message Received</p>
                                                            <h5 class="font-weight-normal font-16 fw-400 line-height-normal mb-0 mt-10">@provider.ReadDateStr.ToUpper()</h5>*@
                                                    }
                                                    else if (provider.IsProviderRead == 1 && provider.IsRead != 2)
                                                    {
                                                <p class="btn btn-outline-secondary mr-2 text-white text-uppercase mt-1 btn-width">
                                                    Awaiting Response
                                                </p>
                                                        @*<p class="blurtext font-12 fw-400">Message Received</p>
                                                            <h5 class="font-weight-normal font-16 fw-400 line-height-normal mb-0 mt-10">@provider.ReadDateStr.ToUpper()</h5>*@
                                                    }
                                                    else if (provider.IsRead == 2)
                                                    {
                                                <p class="btn btn-outline-warning mr-2 text-uppercase mt-1 btn-width">
                                                    Response Received
                                                </p>

                                                        @*<p class="blurtext font-12 fw-400">Message Received</p>
                                                            <h5 class="font-weight-normal font-16 fw-400 line-height-normal mb-0 mt-10">@provider.ReadDateStr.ToUpper()</h5>*@
                                                    }
                                                    else if (provider.IsProviderRead == 2)
                                                    {
                                                        <p class="btn btn-outline-secondary mr-2 text-uppercase mt-1 unread btn-width">
                                                            Message Sent
                                                        </p>
                                                        @*<p class="blurtext font-12 fw-400">Message Sent</p>
                                                            <h5 class="font-weight-normal font-16 fw-400 line-height-normal mb-0 mt-10">@provider.MessageDateStr.ToUpper()</h5>*@
                                                    }


                                                </div>
                                                <div class="col @(provider.MainStatus != 1 && provider.IsProviderRead == 0 ? "unread" : "")">
                                                    <p class="blurtext font-12 fw-400">Provider Name</p>
                                                    <h5 class="mt-10 font-weight-normal font-16 fw-400 line-height-sm mb-0">@(provider.CompanyName != null ? provider.CompanyName : provider.Name +' '+ provider.LastName) </h5>
                                                </div>
                                                <div class="col-2 @(provider.MainStatus != 1 && provider.IsProviderRead == 0 ? "unread" : "")">
                                                    <p class="blurtext font-12 fw-400">Capacity To Support </p>
                                                    @if (provider.IsCapacity == 0)
                                                    {
                                                        <h5 class="mt-10 font-weight-normal font-16 fw-400 line-height-sm mb-0">Unknown</h5>
                                                    }
                                                    else if (provider.IsCapacity == 1)
                                                    {
                                                        <h5 class="mt-10 font-weight-normal font-16 fw-400 line-height-sm mb-0">Yes</h5>
                                                    }
                                                    else if (provider.IsCapacity == 2)
                                                    {
                                                        <h5 class="mt-10 font-weight-normal font-16 fw-400 line-height-sm mb-0">No</h5>
                                                    }

                                                </div>
                                                @*<div class="col @(provider.MainStatus != 1 && provider.IsProviderRead == 0 ? "unread" : "")">
                                                        <p class="blurtext font-12 fw-400">Location </p>

                                                        <h5 class="mt-10 font-weight-normal font-16 fw-400 line-height-sm mb-0">@provider.City, @provider.StateName @provider.PinCode</h5>
                                                    </div>*@
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-1 mdlsec">
                                        <div class="custom-control">
                                            <img onclick="onPopup(@ViewBag.ServiceRequestId,@provider.Id,'@(provider.CompanyName != null ? provider.CompanyName : provider.Name +' '+ provider.LastName)')" data-toggle="modal" data-target="#myModal" src="~/Content/Icons/Cross.svg" class="img-16" alt="">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>



            
        <!--else
        {
            <div class="col-12 pr-0 ml-5 border-1px">
                <div class="row">
                    <div class="col-12">
                        <div class="request-details">
                            <div class="row g-2x">
                                <div class="col-11">
                                    <a href="@Url.Action("ServiceDetails", Controllers.ServiceRequests, new { area = "", ServiceId = ConvertTo.Base64Encode(Convert.ToString(ViewBag.ServiceRequestId)), ProviderId = ConvertTo.Base64Encode(Convert.ToString(@provider.Id)) })">
                                        <div class="row">
                                            <div class="col-auto mr-20 mdlsec @(provider.MainStatus != 1 && provider.IsRead == 3 ? "unread" : "")">
                                                <div class="mdltext custom-control custom-checkbox pt-0">
                                                    @if (provider.IsRead == 1)
                                                    {
                                                        <input type="checkbox" id="customCheck1" disabled checked name="customCheck1" class="custom-control-input">
                                                    }
                                                    else
                                                    {
                                                        <input type="checkbox" id="customCheck1" disabled name="customCheck1" class="custom-control-input">
                                                    }-->
        @*<label style="position:absolute" class="custom-control-label"
                   for="customCheck1">
            </label>*@
        <!--<label style="position:absolute" class="custom-control-label @(provider.Status == 1 ? "success" : "") @(provider.Status == 2 ? "danger" : "")"
                                                           for="customCheck1">
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-auto mr-20 mdlsec @(provider.MainStatus != 1 && provider.IsRead == 3 ? "unread" : "")">

                                                @if (provider.MainStatus != 1)
                                                {
                                                    if (provider.IsRead != 3)
                                                    {
                                                        <p>Date @(provider.IsRead == 1 ? "Replied" : "Seen") </p>
                                                        <h5 class="font-weight-normal line-height-normal mb-0 mt-10">@provider.MessageDateStr.ToUpper()</h5>
                                                    }
                                                    else
                                                    {
                                                        <p>Date Sent </p>
                                                        <h5 class="font-weight-normal line-height-normal mb-0 mt-10">@provider.MessageDateStr.ToUpper()</h5>
                                                    }
                                                }
                                                else
                                                {
                                                    <p>Date @(provider.IsRead == 1 ? "Replied" : "Seen") </p>
                                                    <h5 class="font-weight-normal line-height-normal mb-0 mt-10">@provider.MessageDateStr.ToUpper()</h5>
                                                }

                                            </div>
                                            <div class="col @(provider.MainStatus != 1 && provider.IsRead == 3 ? "unread" : "")">
                                                <p>Company Name </p>

                                                <h5 class="mt-10 font-weight-normal line-height-sm mb-0">@provider.Name</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-1 mdlsec">
                                    <div class="mdltext text-center">
                                        <img onclick="onPopup(@ViewBag.ServiceRequestId,@provider.Id)" data-toggle="modal" data-target="#myModal" src="~/Content/images/remove.png" alt="">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        }-->

    }

</div>

@if (Model.Values.Count > 0)
{
    <div class="row showOnMobile">
        <div class="col-12 ml-5 pl-0">
            <h5 class="heading-main font-13 fw-400 blurhtext text-uppercase"> @ViewBag.RegistrationGroupName</h5>
        </div>
    </div>
}
<div class="row pl-0 showOnMobile" id="requestSec">
    @foreach (var provider in Model.Values)
    {
        if (provider.ServiceStatus == 0)
        {
            if (provider.Status != 2)
            {
                <div class="col-12 pr-0 ml-5">
                    <div class="row w-100 pb-10">
                        <div class="col-12 pl-0">
                            <div class="request-details bgmobile">
                                <div class="row g-2x">
                                    <div class="col-12">
                                        <a href="@Url.Action("ServiceDetails", Controllers.ServiceRequests, new { area = "", ServiceId = ConvertTo.Base64Encode(Convert.ToString(ViewBag.ServiceRequestId)), ProviderId = ConvertTo.Base64Encode(Convert.ToString(@provider.Id)) })">
                                            <div class="row">

                                                <div class="col-auto pl-0 mr-20 mdlsec @(provider.MainStatus != 1 && provider.IsProviderRead == 0 ? "unread" : "")">

                                                    @if (provider.IsProviderRead == 0 && provider.IsProviderRead != 2)
                                                    {
                                                        <p class="btn btn-outline-secondary mr-2 text-uppercase mt-1 btn-width">
                                                            Request Sent
                                                        </p>
                                                    }
                                                    else if (provider.IsProviderRead == 1 && provider.IsRead != 2)
                                                    {
                                                        <p class="btn btn-outline-secondary mr-2 text-uppercase mt-1 btn-width">
                                                            Request Sent
                                                        </p>
                                                    }
                                                    else if (provider.IsRead == 2)
                                                    {
                                                <p class="btn btn-outline-warning mr-2 text-uppercase mt-1 btn-width">
                                                    Response Received
                                                </p>
                                                    }
                                                    else if (provider.IsProviderRead == 2)
                                                    {
                                                <p class="btn btn-outline-success mr-2 text-uppercase mt-1 btn-width">
                                                    Awaiting Response
                                                </p>
                                                    }

                                                </div>
                                                <div class="col @(provider.MainStatus != 1 && provider.IsProviderRead == 0 ? "unread" : "")">
                                                    <p class="blurtext font-12 fw-400">Company Name </p>
                                                    <h5 class="mt-10 font-weight-normal font-16 fw-400 line-height-sm mb-0">@(provider.CompanyName != null ? provider.CompanyName : provider.Name +' '+ provider.LastName) </h5>
                                                </div>

                                            </div>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            }
        }

    }

</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content mcontent">
            <div class="modal-body mbody border-secondary border-3" style="padding:10px 15px">
                <h5 class="font-13 blurhtext m-0">Are you sure you want to delete this support request sent to <span id="snumber">COMPANY NAME</span>?</h5>
                <p>@*when canceling a service request the Providers Will be Notified and request removed.*@</p>
            </div>
            <div class="modal-footer pl-0 pr-0" style="border:0;">
                <button onclick="Delete()" class="btn btn-outline-success text-white mr-2 myes">YES</button>
                <button data-dismiss="modal" class="btn btn-outline-danger text-white  mno">NO</button>
            </div>
        </div>

    </div>
</div>
<div id="myModal2" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content mcontent" style="border:0;">
            <div class="modal-footer pl-0 pr-0" style="border:0;">
                <button data-dismiss="modal" class="btn btn-outline-success text-white text-uppercase myes" style="width: 310px;">
                    provider has been removed
                </button>
            </div>
        </div>

    </div>
</div>
<div id="myModal3" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content mcontent">
            <div class="modal-body mbody border-secondary border-3" style="padding:10px 15px">
                <h6 class="font-13 text-left  m-0">
                    Are you sure you want to cancel this Support Request?
                </h6>
                <h6 class="font-13 text-left  mt-4 m-0">
                    All Providers that have responded will be notified of this cancelation if you proceed.
                </h6>
            </div>
            <div class="modal-footer pl-0 pr-0" style="border:0;">
                <button data-dismiss="modal" class="btn btn-outline-danger text-white mr-2  mno">Cancel</button>
                <button onclick="cancelRequest()" class="btn btn-outline-success text-white myes">Proceed</button>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="serviceid" />
<input type="hidden" id="providerid" />
<script>
    jQuery(document).ready(function () {

        $('#myModal2').on('hide.bs.modal', function () {
            window.location.reload();
        });

    });
    function onPopup(id, pid, cname) {
        $("#serviceid").val(id);
        $("#providerid").val(pid);
        $("#snumber").text(cname);
    }
    function Delete() {
              $.ajax({
                      url: '@Url.Action(Actions.DeleteServiceRequestProvider, Controllers.ServiceRequests, new { area = "" })',
                  data: { SId: $("#serviceid").val(), PId: $("#providerid").val() },
                      type: 'GET',
                      datatype: 'json',
                  success: function (data) {
                      if (data) {
                          $("#myModal").modal("hide");
                          //ShowMessageToastr("success", "Delete Provider Successfully.!", false);
                          //window.location.reload();
                          $("#myModal2").modal("show");
                      }
                      else {
                          ShowMessageToastr("danger", "something went wrong. please try again.", false);
                      }
                      },
                        error: function () { }
                    });

    }

    function onCancel() {
        $("#myModal3").modal("show");
    }
    function cancelRequest() {
        $.ajax({
               url: '@Url.Action(Actions.ChangeServiceStatus, Controllers.ServiceRequests, new { area = "" })',
                      data: {
                          Type: 2, IsApproved : 0, ReasonId: $("#ReasonIds").val(), ServiceRequestId: @ViewBag.ServiceRequestId, ProviderId: 0
                           },
                  type: 'POST',
                  datatype: 'json',
                      success: function (data) {
                          window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]ServiceRequests/RService"
                   },
                  error: function () { }
               });
    }
    function hidePDetails() {
        var isCheck = 2;
        if ($("#customCheck1").prop('checked') == true) {
            isCheck = 1;
        }
          $.ajax({
               url: '@Url.Action(Actions.UpdateIsHideContactDetails, Controllers.ServiceRequests, new { area = "" })',
                      data: {
                          ServiceRequestId: @ViewBag.ServiceRequestId, IsHideContactDetails: isCheck
                           },
                  type: 'POST',
                  datatype: 'json',
              success: function (data) {
                  window.location.reload();
                   },
                  error: function () { }
               });
    }
</script>

@Html.Raw(ViewBag.openPopup)
