﻿
@{
    ViewBag.Title = "ServiceDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PlannedServicesAdmin.Pages;
@using PlannedServices.Common;
@using PlannedServices.Entities.V1;
@model ServicesRequest
<style>
    /*.boxinputred {
        float: left;
        cursor: default;
        max-width: 84px;
        background-color: transparent !important;
        box-shadow: none;
    }
    .boxinput {
        float: left;
        cursor: default;
        background-color: transparent !important;
        box-shadow: none;
        border: 3px solid #ECF0F1;
        max-width: 84px;
    }*/
    .boxtextboxlabel {
        font: normal normal normal 16px/20px Roboto;
    }

    .boxtextbox {
        max-width: 17%;
        text-align: center;
    }

    .custom-file {
        /*opacity: 0;
        width: 6%;
        position: absolute;
        height: 60px;
        bottom: 20px;*/
        opacity: 0;
        width: 10%;
        position: absolute;
        height: 60px;
        left: 12%;
        bottom: 20px;
    }

    .tboxBorder {
        border-radius: 0.25rem;
        border: 0.125rem solid #ced4da;
        background: #2d3e50;
    }

    #map {
        height: 534px;
        width: 100%;
    }

    @@media (max-width: 768px) {
        .mbox {
            min-height: 100px
        }

        .bgmobile .img-16 {
            position: relative;
            bottom: -10px;
        }

        .heading-main {
            margin-bottom: 10px !important;
            margin-top: 5px !important;
        }

        .mt-7 {
            margin-top: 5px;
        }

        .mbtext .font-12 {
            font-size: 14px
        }

        .mr-3 {
            margin-right: 0 !important
        }

        .pmodel {
            height: 65px;
        }
    }

    .bgmobile {
        background: #2C3E50;
        padding: 10px 20px 20px 10px
    }

    .pb-10 {
        padding-bottom: 10px
    }
</style>
<div class="row">
    @if (ProjectSession.SetupUserType != "3")
    {
        <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
            <a href="@Url.Action(Actions.Index, Controllers.Dashboard)">
                <div class="card card-home ">
                    <div class="card-body">
                        <h5 class="font-weight-normal">Home</h5>
                    </div>
                </div>
            </a>
        </div>
    }
    else
    {
        <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
            <a href="@Url.Action(Actions.Index, Controllers.Dashboard, new { area = "", userId = ConvertTo.Base64Encode(Convert.ToString(ProjectSession.UserID)) })">
                <div class="card card-home ">
                    <div class="card-body">
                        <h5 class="font-weight-normal">Home</h5>
                    </div>
                </div>
            </a>
        </div>
    }
    @*<div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
            <a href="@Url.Action("Service", Controllers.ServiceRequests)">
                <div class="card blurbg hborder">
                    <div class="card-body">
                        <h5 class="font-weight-normal font-12 text-uppercase">
                            SUPPORT<br>Requests
                        </h5>

                        <div class="text-left w-100 mt-auto">
                            <img src="~/Content/Icons/Support_Requests.svg" alt="" class="img-16">
                        </div>

                    </div>
                </div>
            </a>
        </div>*@
    @if (@Model.ServicesRequests[0].MainStatus != 1)
    {
        <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
            <a href="@Url.Action("Service", Controllers.ServiceRequests)">
                <div class="card  hborder mbox">
                    <div class="card-body">
                        <h5 class="font-weight-normal font-12 text-uppercase hideOnMobile">SUPPORT<br>Requests</h5>
                        <h5 class="font-weight-normal font-12 text-uppercase showOnMobile">SUPPORT Requests</h5>
                        <div class="text-left w-100 mt-auto">
                            <img src="~/Content/Icons/Active_Request.svg" alt="" class="img-16">
                        </div>
                    </div>
                </div>
            </a>
        </div>
        @*<div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
                <a href="@Url.Action("PService", Controllers.ServiceRequests, new { area = "", ServiceId = ConvertTo.Base64Encode(Convert.ToString(@ViewBag.ServiceRequestId)) })">
                    <div class="card ">
                        <div class="card-body">
                            <h5 class="font-weight-normal">
                                Service<br>Request No.
                                <br>@Model.ServicesRequests[0].ServiceNumber
                            </h5>
                        </div>
                    </div>
                </a>
            </div>*@
        if (Model.ServicesRequests[0].IsProviderRead == 0 && Model.ServicesRequests[0].IsProviderRead != 2)
        {
            <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
                <a href="@Url.Action("PService", Controllers.ServiceRequests, new { area = "", ServiceId = ConvertTo.Base64Encode(Convert.ToString(@ViewBag.ServiceRequestId)),IsClosed=(Model.ServicesRequests[0].MainStatus == 2?1:0) })">
                    <div class="card border-warning border-2 mbox" style="border: 4px solid #8C97A1">
                        <div class="card-body">
                            <h5 class="font-weight-normal font-12 text-uppercase hideOnMobile">SUPPORT<br>Request No.<br>@Model.ServicesRequests[0].ServiceNumber </h5>
                            <h5 class="font-weight-normal font-12 text-uppercase showOnMobile">SUPPORT Requests No. @Model.ServicesRequests[0].ServiceNumber</h5>

                            <div class="text-left w-100 mt-auto">
                                <img src="~/Content/Icons/Active_Request.svg" alt="" class="img-16">
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }
        else
        {
            <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
                <a href="@Url.Action("PService", Controllers.ServiceRequests, new { area = "", ServiceId = ConvertTo.Base64Encode(Convert.ToString(@ViewBag.ServiceRequestId)),IsClosed=(Model.ServicesRequests[0].MainStatus == 2?1:0) })">
                    <div class="card  border-warning  mbox">
                        <div class="card-body">
                            <h5 class="font-weight-normal font-12 text-uppercase hideOnMobile">SUPPORT<br>Request No.<br>@Model.ServicesRequests[0].ServiceNumber </h5>
                            <h5 class="font-weight-normal font-12 text-uppercase showOnMobile">SUPPORT Requests No. @Model.ServicesRequests[0].ServiceNumber</h5>

                            <div class="text-left w-100 mt-auto">
                                <img src="~/Content/Icons/Active_Request.svg" alt="" class="img-16">
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }

    }
    @*@if (@Model.ServicesRequests[0].MainStatus == 1)
        {
            <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
                <a href="@Url.Action("CService", Controllers.ServiceRequests)">
                    <div class="card blurbg hborder mbox">
                        <div class="card-body">
                            <h5 class="font-weight-normal font-12 text-uppercase hideOnMobile">Approved<br>SUPPORT<br>Requests</h5>
                            <h5 class="font-weight-normal font-12 text-uppercase showOnMobile">Approved SUPPORT Requests</h5>

                            <div class="text-left w-100 mt-auto">
                                <img src="~/Content/Icons/Approved_Request.svg" alt="" class="img-16">
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
                <div class="card border-success border-2 mbox">
                    <div class="card-body">
                        <h5 class="font-weight-normal font-12 text-uppercase hideOnMobile">Approved<br>SUPPORT<br>Requests No. <br>@Model.ServicesRequests[0].ServiceNumber</h5>
                        <h5 class="font-weight-normal font-12 text-uppercase showOnMobile">Approved SUPPORT Requests No. @Model.ServicesRequests[0].ServiceNumber</h5>

                        <div class="text-left w-100 mt-auto">
                            <img src="~/Content/Icons/Approved_Request.svg" alt="" class="img-16">
                        </div>
                    </div>
                </div>
            </div>
        }*@
    @*<div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
            <div class="card border-2 mbox @(Model.ServicesRequests[0].IsCapacity == 1 ? "border-success":"border-danger")">
                <div class="card-body">
                    <h5 class="font-weight-normal font-12 text-uppercase hideOnMobile">
                        PROVIDER <br>@(Model.ServicesRequests[0].IsCapacity == 1 ? "HAS" : "DOESN’T HAVE ")CAPACITY TO<br />PROVIDE<br />SUPPORTS
                    </h5>
                    <h5 class="font-weight-normal font-12 text-uppercase showOnMobile">
                        PROVIDER  @(Model.ServicesRequests[0].IsCapacity == 1 ? "HAS" : "DOESN’T HAVE ") CAPACITY TO PROVIDE SUPPORTS
                    </h5>
                </div>
            </div>
        </div>*@

</div>
<div class="@(Model.ServicesRequests[0].IsProviderRead == 0 && Model.ServicesRequests[0].IsProviderRead != 2 ? "unread" : "")">
    <div class="row">
        <div class="col-12 ml-5 pl-0">
            <h5 class="heading-main font-13 fw-400 blurhtext text-uppercase">REQUEST NO. @Model.ServicesRequests[0].ServiceNumber <span style="margin-left:5px;margin-right:5px">|</span>  @Model.ServicesRequests[0].RegistrationGroupName</h5>
        </div>
    </div>
</div>

@*@if (ViewBag.ShowBtn)
    {
        <div class="row mt-20 ml-0">
            <button onclick="Save(1)" class="btn btn-outline-success text-white mr-3 btn-pedding btn-border text-uppercase">
                Approve Provider
            </button>
            <button onclick="Save(2)" class="btn btn-outline-danger text-white btn-pedding btn-border  text-uppercase">DECLINE Provider</button>
        </div>
    }
    @if (ViewBag.ShowRBtn)
    {
        <div class="row mt-20 ml-0">
            <button onclick="Save(2)" class="btn btn-outline-danger text-white btn-pedding btn-border text-uppercase">Cancel Request</button>
        </div>
    }
    @if (!ViewBag.ShowBtn && Model.ServicesRequests[0].IsProviderRead == 0 && Model.ServicesRequests[0].IsProviderRead != 2)
    {
        <div class="row mt-20 ml-0">
            <button onclick="Save(2)" class="btn btn-outline-danger text-white btn-pedding btn-border mr-3 text-uppercase">Cancel Request</button>
        </div>

    }
    else if (Model.ServicesRequests[0].Status == 0)
    {
        <div class="row mt-20 ml-0">
            <button onclick="Save(2)" class="btn btn-outline-danger mr-3 text-white btn-pedding btn-border  text-uppercase">Cancel Request</button>
        </div>
    }*@

<div class="@(Model.ServicesRequests[0].IsProviderRead == 0 && Model.ServicesRequests[0].IsProviderRead != 2 ? "unread" : "")">
    <div class="row w-100 ">
        <div class="col-12 border-1px ml-5 pl-0">
            <h5 class="heading-submain font-13 fw-400 text-uppercase">Provider</h5>
        </div>
    </div>
    @if (Model.SelectProvider != null)
    {
        <div class="row mt-20">
            <div class="col-md-12 pl-0">
                <form>
                    <div class="row ml-0 w-100 mbtext">
                        @if (Model.SelectProvider.CompanyLogoURL != null && Model.SelectProvider.CompanyLogoURL != "")
                        {
                            <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
                                <div class="">
                                    <img class="card border-1 mbox"
                                         style="width:150px;height:150px;"
                                         src="@System.Configuration.ConfigurationManager.AppSettings["MediaURL"]@Model.SelectProvider.CompanyLogoURL" />
                                </div>
                            </div>
                        }
                        <div class="col-sm-12 col-md-4 pl-0 mt-m-10 p-l-5">
                            <div class="form-group">
                                <label for="emailAddress">Company Name</label>
                                <input class="form-control custom-form-control" disabled value="@(Model.SelectProvider.CompanyName != null ? Model.SelectProvider.CompanyName : Model.SelectProvider.Name +' '+Model.SelectProvider.LastName)" />
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 pl-0 mt-m-10 p-l-5">
                            <div class="form-group">
                                <label for="emailAddress">Location</label>
                                <input class="form-control custom-form-control" disabled value="@Model.SelectProvider.Surburb, @Model.SelectProvider.StateName @Model.SelectProvider.PinCode" />
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-2 pl-0 mt-m-10 p-l-5 p-0">
                            <div class="mt-4">
                                <a href="#" class="btn btn-outline-primary mr-2 text-uppercase w-100" id="showMap" onclick="onMap(1)">View Map</a>
                                <a href="#" class="btn btn-outline-primary mr-2 text-uppercase w-100" id="hideMap" onclick="onMap(0)" style="display:none">Close Map</a>
                            </div>
                        </div>
                        @*<div class="col-sm-12 col-md-6 pl-0">
                                <div class="form-group">
                                    <label for="emailAddress">Mobile</label>
                                    <input class="form-control custom-form-control" disabled value="@Model.SelectProvider.Phone" />
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 pl-0">
                                <div class="form-group">
                                    <label for="emailAddress">Email</label>
                                    <input class="form-control custom-form-control" disabled value="@Model.SelectProvider.Email" />
                                </div>
                            </div>*@
                        @*<div class="col-md-6 ">
                                <p class="font-16 fw-400 mb-10">@(Model.SelectProvider.CompanyName != null ? Model.SelectProvider.CompanyName : Model.SelectProvider.Name +' '+Model.SelectProvider.LastName)</p>
                                <p class="font-14 fw-300">@Model.SelectProvider.Surburb, @Model.SelectProvider.StateName @Model.SelectProvider.PinCode</p>

                            </div>*@
                    </div>
                </form>
            </div>

            <div class="row ml-0 mb-10 mt-10 ml-1 mr-1" id="map" style="display:none">
                <div class="col-12 mt-20 ml-5">

                </div>
            </div>
            @*<div class="col-12 pr-0 ml-5">
                    <div class="row">
                        <div class="col-5 pl-5">
                            <p class="font-16 fw-400 mb-10">@Model.SelectProvider.CompanyName</p>
                            <p class="font-14 fw-300">@Model.SelectProvider.AddressLine1, @Model.SelectProvider.Surburb, @Model.SelectProvider.StateName. @Model.SelectProvider.PinCode</p>
                            <p class="font-14 fw-300">
                                ABN. @Model.SelectProvider.ABN
                            </p>
                            <p class="font-14 fw-300">
                                Telephone. @Model.SelectProvider.Phone
                            </p>
                            <p class="font-14 fw-300">
                                Email. @Model.SelectProvider.Email
                            </p>
                        </div>
                    </div>

                </div>*@
            @if (Model.SelectProvider.ProviderProfileAndServices != null)
            {
                <div class="col-12 border-1px ml-5 pl-0 ">
                    <h5 class="heading-submain font-13 fw-400 text-uppercase">Provider Profile</h5>
                </div>
                <div class="col-md-12 mt-20 mb-3">
                    <p class="font-14 fw-300">
                        <textarea rows="5" class="form-control custom-form-control font-13 fw-400" disabled> @Model.SelectProvider.ProviderProfileAndServices</textarea>
                </div>
            }





        </div>
    }
    @*@if (Model.SelectProvider != null && Model.SelectProvider.ProviderProfileAndServices != null)
        {
            <div class="row w-100 mt-20">
                <div class="col-12 border-1px ml-5 pl-0">
                    <h5 class="heading-submain font-13 fw-400 text-uppercase">Provider</h5>
                </div>
            </div>
            <div class="row mt-20">
                <div class="row ml-5 w-100 mbtext">
                    <div class="col-md-6 ">
                        <p class="font-14 fw-300">@Model.SelectProvider.ProviderProfileAndServices

                    </div>
                </div>
            </div>



        }*@
    <div class="row ml-0 mb-10" id="map" style="display:none">
        <div class="col-12 mt-20 ml-5">

        </div>
    </div>
    @if (ViewBag.CompanyDoc != null && ViewBag.CompanyDoc.Length > 0)
    {
        <div class="row w-100 ">
            <div class="col-12 border-1px ml-5 pl-0">
                <h5 class="heading-submain font-13 fw-400 text-uppercase">Provider documents</h5>
            </div>
        </div>
        <div class="row w-100 mt-20 ml-0">
            @for (int i = 0; i < ViewBag.CompanyDoc.Length; i++)
            {
                <div class="col-sm-6 pl-0 @((i%2!=0)?"pr-0":"")">
                    <div class="row">
                        <div class="col-8">
                            <div class="form-group">
                                <input class="form-control custom-form-control" disabled value="@ViewBag.CompanyDocFileName[i]" />
                            </div>
                        </div>
                        <div class="col-4 pl-0">
                            <a target="_blank" href="@System.Configuration.ConfigurationManager.AppSettings["MediaURL"]@ViewBag.CompanyDoc[i]" class="btn btn-outline-warning text-white" style="float:left;">Download</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    <div class="row w-100 mt-20">
        <div class="col-12 border-1px ml-5 pl-0">
            <h5 class="heading-submain font-13 fw-400 text-uppercase">Provider contact person</h5>
        </div>
    </div>
    <div class="row mt-20">
        <div class="col-md-8 pl-0">
            <form>
                <div class="row ml-5 w-100 mbtext">

                    <div class="col-sm-12 col-md-6 pl-0">
                        <div class="form-group mt-m-9">
                            <label for="emailAddress">Name</label>
                            <input class="form-control custom-form-control" disabled value="@(Model.SelectProvider.Name +' '+Model.SelectProvider.LastName)" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 pl-0">
                        <div class="form-group mt-m-9">
                            <label for="emailAddress">Position</label>
                            <input class="form-control custom-form-control" disabled value="@Model.SelectProvider.Position" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 pl-0">
                        <div class="form-group mt-m-9">
                            <label for="emailAddress">Mobile</label>
                            <input class="form-control custom-form-control" disabled value="@Model.SelectProvider.Phone" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 pl-0">
                        <div class="form-group mt-m-9">
                            <label for="emailAddress">Email</label>
                            <input class="form-control custom-form-control" disabled value="@Model.SelectProvider.Email" />
                        </div>
                    </div>

                </div>
            </form>
        </div>

    </div>




    <div class="row mt-20 ">
        <div class="col-12 border-1px ml-5 pl-0">
            <h5 class="heading-submain font-13 fw-400 text-uppercase">THIS PROVIDER HAS THE CAPACITY FOR THE FOLLOWING SELECTED SUPPORTS</h5>
        </div>
    </div>


    <div class="row serviceSec">
        @foreach (var provider in Model.ServicesRequests)
        {
            if (provider.SIMId == 0)
            {
                <div class="col-12 pr-0 ml-5 border-1px">
                    <div class="radio-list-padding pl-0" style="height:100%">
                        <div class="custom-control custom-checkbox" style="width:80%;float: left;">
                            <input type="checkbox" class="custom-control-input" id="customCheck1" @(provider.SIMId != 0 ? "checked disabled" : "disabled")>
                            <label class="custom-control-label" for="@provider.SupportItemId">
                                <span class="@(provider.SIMId != 0 ? "" : "unread")">@provider.Name</span>
                            </label>
                            <p style="min-height:20px" class="pld font-14 fw-300 @(provider.SIMId != 0 ? "" : "unread")">@provider.Description</p>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="row mt-20 ">
                    <div class="col-12 border-1px ml-5 pl-0">
                        <h5 class="heading-submain font-13 fw-400 text" style="font-size: 16px;">HIGH INTENSITY DAILY PERSONAL ACTIVITIES</h5>
                        <h5 class="heading-submain font-13 fw-400 text" style="margin-bottom: 23px; color: #F1F1F1; font-size: 14px; ">These support items provide a participant who requires High Intensity Supports to provide assistance with, or supervision of, personal tasks of daily life to develop the skills of the participant to live as autonomously as possible in circumstances where a more skilled or experienced support worker is required.</h5>

                    </div>
                </div>
                <div>
                    <div class="radio-list-padding pl-0" style="height:100%">
                        <div class="custom-control custom-checkbox" style="float: left;">
                            <input type="checkbox" class="custom-control-input" id="customCheck1" @(provider.SIMId != 0 ? "checked disabled" : "disabled")>
                            <label class="custom-control-label" for="@provider.SupportItemId">
                                <span class="@(provider.SIMId != 0 ? "" : "unread")">@provider.Name</span>
                            </label>
                            <p style="min-height:20px" class="pld font-14 fw-300 @(provider.SIMId != 0 ? "" : "unread")">@provider.Description</p>
                        </div>
                    </div>
                </div>
                <div class="row" style=" margin-top: -23px;">
                    <div class="col-3 boxtextbox">
                        <label for="emailAddress" class="boxtextboxlabel">National</label>
                        <input type="text" class="btn btn-outline-warning text-white boxinput" style="float: left; background-color: transparent !important; cursor: default; box-shadow: none; border: 3px solid #ECF0F1; max-width: 84px;" value="$57.23" readonly />
                    </div>
                    <div class="col-3 boxtextbox">
                        <label for="emailAddress" class="boxtextboxlabel" style="margin-left: 10px;">Remote</label>
                        <input type="text" class="btn btn-outline-warning text-white boxinput" style="float: left; cursor: default; background-color: transparent !important; box-shadow: none; border: 3px solid #ECF0F1; max-width: 84px;" value="$80.12" readonly />
                    </div>
                    <div class="col-3 boxtextbox">
                        <label for="emailAddress" class="boxtextboxlabel" style="margin-left: 10px;">Very Remote</label>
                        <input type="text" class="btn btn-outline-warning text-white boxinput" style="float: left; cursor: default; background-color: transparent !important; box-shadow: none; border: 3px solid #ECF0F1; max-width: 84px;" value="$85.85" readonly />
                    </div>
                    <div class="col-3 boxtextbox">
                        <label for="emailAddress" class="boxtextboxlabel" style="margin-left: 10px;">Provider</label>
                        <input type="text" class="btn btn-outline-warning text-white boxinputred" style="float: left; cursor: default; max-width: 84px; background-color: transparent !important; box-shadow: none;" value="$50.00" />
                    </div>
                </div>
            }
        }
    </div>



    @*<div class="row" style="margin-top:20px">
            <div class="col-12 border-1px ml-5 pl-0">
                <h5 class="heading-submain font-13 fw-400 text-uppercase">attachments</h5>
            </div>
        </div>
        <div class="row" style="margin-top:20px">
            <div class="w-100" style="margin:10px 0 30px 0">
                <div id="fileSec">


                </div>
            </div>

        </div>*@
    @if (Model.ServicesRequestCommunication.Count > 0)
    {
        <div class="row" style="margin-top:20px">
            <div class="col-12 border-1px ml-5 pl-0">
                <h5 class="heading-submain font-13 fw-400 text-uppercase">MESSAGES</h5>
            </div>
        </div>

    }
    <div class="row ptb5 mt-20 " id="cSec">
        @foreach (var provider in Model.ServicesRequestCommunication)
        {
            if (provider.CustomerId == 0)
            {
                <div class="col-sm-12 mb-3 ">
                    <div class="cbox  @(provider.IsRead == 0 ? "border-warning" : "")" style="width:60%">
                        <h5 class="mb-20 font-12 text-white">@provider.Name</h5>
                        <p class="font-13">@provider.Message</p>
                    </div>
                </div>
            }
            else
            {

                <div class="col-sm-12 mb-3">
                    <div class="cbox" style="float:right;width:60%;background:#35495E ">
                        <p class="mb-20 font-12 text-white"> @provider.UserName</p>
                        <p class="font-13">@provider.Message</p>
                    </div>
                    <div style="float: right;width:60%;">
                        <p class="text-right">@(provider.ProviderReadStr != "01 Jan 0001" ? (provider.ProviderReadStr + " - Seen") : "Not seen yet")</p>
                    </div>
                </div>

            }
        }
    </div>


</div>
@*@if (@Model.ServicesRequests[0].Status != 1)
    {*@
@*<div class="row">
        <div class="col-12 border-1px ml-5 pl-0">
            <h5 class="heading-submain">Add Comment</h5>
        </div>
    </div>


    <div class="row ">
        <div class="col-12 ml-5 pl-0 pr-0">
            <textarea id="question" rows="3" class="form-control custom-textbox"></textarea>
        </div>
        <div class="col-12 text-right mt-3 ml-5 pl-0 pr-0" style="padding-right:0">
            <a href="javascript:void(0)" class="btn btn-outline-primary" onclick="communication()">SUBMIT</a>
        </div>
    </div>*@
@*}*@

@if (Model.ServicesRequests[0].IsProviderRead != 0)
{
    if (ViewBag.ShowBtn)
    {
        <div class="row mt-20 ml-0">
            <button class="btn btn-outline-primary  btn-pedding btn-border mr-3 text-uppercase" data-toggle="modal" data-target="#myModal2">Send message to provider</button>

        </div>
    }
    if (ViewBag.ShowRBtn)
    {
        <div class="row mt-20 ml-0">
            <button class="btn btn-outline-primary btn-pedding btn-border mr-3 text-uppercase" data-toggle="modal" data-target="#myModal2">Send message to provider</button>
        </div>
    }

    else if (Model.ServicesRequests[0].Status == 0)
    {
        <div class="row mt-20 ml-0">
            <button class="btn btn-outline-primary  btn-pedding btn-border text-uppercase mr-3" data-toggle="modal" data-target="#myModal2">Send message to provider</button>
        </div>
    }
}

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content mcontent">
            <div class="modal-body mbody">
                <div class="col-12 border-2px ml-5 pl-0">
                    <h5 class="heading-main">Why are you <span id="stext"></span> this providers response?</h5>
                </div>
                @foreach (var item in ViewBag.ReasonData)
                {
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 pr-0 ml-5 border-1px">
                                <div class="radio-list-padding">
                                    <div class="row g-2x">
                                        <div class="col-12 mr-20">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" id="customCheck_@item.Value" name="customCheck_@item.Value" value="@item.Value" class="custom-control-input checkReason">
                                                <label class="custom-control-label" for="customCheck_@item.Value">@item.Text</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                }
            </div>
            <div class="modal-footer pl-0 pr-0" style="border:0;">
                <button data-dismiss="modal" class="btn btn-outline-secondary mr-2 mno">NO</button>
                <button onclick="addService()" class="btn btn-outline-secondary  myes">YES</button>
            </div>
        </div>

    </div>
</div>
<!-- Modal -->
<div id="myModal2" class="modal fade" role="dialog">
    <div class="modal-dialog modal-xl">
        <!-- Modal content-->
        <div class="modal-content mcontent border-0">
            <div class="modal-body ">

                <div class="row ">
                    <div class="col-12 ml-5 pl-0 pr-0">
                        <h5 class="heading-submain">Add Message</h5>
                        <textarea id="question" rows="3" class="form-control custom-textbox" style="margin-top:5px"></textarea>
                    </div>
                    <div class="col-12 text-right mt-3 ml-5 pl-0 pr-0" style="padding-right:0">
                        <a href="javascript:void(0)" class="btn btn-outline-primary mr-2 msBtn" onclick="communication()">SUBMIT</a>
                        <a href="javascript:void(0)" data-dismiss="modal" class="btn btn-outline-secondary mcBtn">CANCEL</a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<!-- Modal -->
<div id="myModal3" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content mcontent">
            <div class="modal-body mbody pmodel border-secondary border-3" id="srBorder">
                <h6 class="font-13 text-center blurhtext" id="srId">Are you sure you want to approve this response?</h6>
            </div>
            <div class="modal-footer pl-0 pr-0" style="border:0;">
                <button onclick="addService()" class="btn btn-outline-success mr-2 text-white  myes">YES</button>
                <button data-dismiss="modal" class="btn btn-outline-secondary border-danger mno">NO</button>
            </div>
        </div>

    </div>
</div>

<input type="hidden" id="ReasonIds" />
<input type="hidden" id="Type" />
<input type="hidden" id="pName" value="@ProjectSession.UserName" />
<input type="hidden" id="fName" value="@Model.ServicesRequests[0].FileName" />
<input type="hidden" id="fUrl" value="@Model.ServicesRequests[0].FileURL" />

<script>
                $(document).ready(function () {

                    var fileurl = $("#fUrl").val().split(',');
                    var filename = $("#fName").val().split(',');
                    var s = '';
                    for (var i = 0; i < filename.length; i++) {
                        if (filename[i] != "" && filename[i] != null) {
                            s += '<div  style="float:left;margin-bottom:10px">'
                            s += '<a target="_blank" href="@System.Configuration.ConfigurationManager.AppSettings["MediaURL"]' + fileurl[i] + '">'
                            s += '<img src = "../Content/images/fileIcon.png" style = "margin:0px 0 10px 5px;" />'
                            s += '<p style="margin:0px 10px 0 5px;;min-height:17px">' + filename[i] + '</p>'
                            s += '</a>'
                            s += '</div>'
                        }
                    }
                    $("#fileSec").html(s);
                });

                function onMap(type) {
                    if (type == 0) {
                        $("#map").hide();
                        $("#hideMap").hide();
                        $("#showMap").show();
                    }
                    else {
                        $("#map").show();
                        $("#hideMap").show();
                        $("#showMap").hide();
                        initMap();
                    }
                }

    function communication() {

        if ($("#question").val() == "") {
            ShowMessageToastr("danger", "Please Enter Comment.!", false);
            return
        }
        var obj = {
            ServiceChildId: @ViewBag.ServiceChildId,
            ProviderId: @ViewBag.ProviderId,
            SRequestId: @ViewBag.ServiceRequestId,
            Message: $("#question").val()
        }
        $.ajax({
            url: '@Url.Action(Actions.AddCommunication, Controllers.ServiceRequests, new { area = "" })',
            data: {
                servicesRequest: JSON.stringify(obj)
            },
            type: 'POST',
            datatype: 'json',
            success: function (data) {
                debugger
                if (data.Code == 200) {
                    //var n = $("#pName").val();
                    //var s = '';
                    //s += '<div class="col-sm-12 ml-5 cbox mb-3">'
                    //s += '<p class="mb-20 font-12"> ' + n + '</p>'
                    //s += '<p class="font-13">' + obj.Message + '</p>'
                    //s += '</div>'
                    //$("#cSec").append(s);
                    //$("#question").val('');
                    //$("#myModal2").modal("hide");
                    window.location.reload();
                }
                else {
                    ShowMessageToastr("danger", "something was wrong.!", false);
                }
            }
        })
    }

    function Save(type) {
        $("#Type").val(type);
        if (type == 1) {
            //$("#stext").text("approving");
            //$(".modal-body").addClass("border-success");
            $("#srId").text("Are you sure you want to approve this response?");
            $(".modal-body").removeClass("border-success");
        }
        else {
            //$("#stext").text("rejecting");
            //$(".modal-body").removeClass("border-danger");
            $("#srId").text("Are you sure you want to decline the request?");
            $(".modal-body").removeClass("border-success");
        }
        $("#myModal3").modal("show");
        //$("#myModal").modal("show");
                  @*$.ajax({
                      url: '@Url.Action(Actions.ChangeServiceStatus, Controllers.ServiceRequests, new { area = "" })',
                      data: {
                          Type: type, ServiceRequestId: @ViewBag.ServiceRequestId, ProviderId: @ViewBag.ProviderId
                           },
                  type: 'POST',
                  datatype: 'json',
                      success: function (data) {
                          window.location.reload();
                  },
                  error: function () { }
              });*@

    }
      function addService() {
        //var chks = document.getElementsByClassName("checkReason");
        //var selectedCheck = new Array();
        //for (var i = 0; i < chks.length; i++) {
        //    if (chks[i].checked) {
        //        selectedCheck.push(chks[i].value);
        //    }
        //}
        //if (selectedCheck.length > 0) {
        //    var Ids = selectedCheck.join(",");
        //    $("#ReasonIds").val(Ids);
        //}
        //else {
        //    $("#ReasonIds").val("");
        //}

        //if ($("#ReasonIds").val() == "") {
        //    ShowMessageToastr("danger", "Please Select Reason.!", false);
        //    return
        //  }
          var isApproved = 0;
           if (@Model.ServicesRequests[0].MainStatus == 1)
           {
               isApproved = 1;
               }
          $.ajax({
               url: '@Url.Action(Actions.ChangeServiceStatus, Controllers.ServiceRequests, new { area = "" })',
                      data: {
                          Type: $("#Type").val(), isApproved, ReasonId: $("#ReasonIds").val(), ServiceRequestId: @ViewBag.ServiceRequestId, ProviderId: @ViewBag.ProviderId
                           },
                  type: 'POST',
                  datatype: 'json',
                      success: function (data) {
                       //window.location.reload();
                       if ($("#Type").val() == 1) {
                           window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]ServiceRequests/CService"
                          }
                       else {
                           window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]ServiceRequests/PService?ServiceId="+btoa(@ViewBag.ServiceRequestId)
                          }
                   },
                  error: function () { }
               });
           }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxBohfRsvD31g8JfwxDrqZY54H5LkfClY&v=weekly"
        async></script>

<script type="text/javascript">
    var map;
    var icons;
    var sicons;
    var eicons;
    function initMap() {
        const styles = {
            silver: [
                {
                    "featureType": "all",
                    "stylers": [
                        {
                            "saturation": 0
                        },
                        {
                            "hue": "#e7ecf0"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "stylers": [
                        {
                            "saturation": -70
                        }
                    ]
                },
                {
                    "featureType": "transit",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "stylers": [
                        {
                            "visibility": "simplified"
                        },
                        {
                            "saturation": -60
                        }
                    ]
                }
            ]
            }
        const directionsService = new google.maps.DirectionsService();
        const directionsRenderer = new google.maps.DirectionsRenderer();
        map = new google.maps.Map(document.getElementById("map"), {
            zoom: 7,
            center: { lat: @Model.SelectUser.lat, lng: @Model.SelectUser.lng },
        });
        map.setOptions({ styles: styles["silver"] });

        directionsRenderer.setMap(map);
        calculateAndDisplayRoute(directionsService, directionsRenderer);
        //const onChangeHandler = function () {

        //};

        //document.getElementById("start").addEventListener("change", onChangeHandler);
        //document.getElementById("end").addEventListener("change", onChangeHandler);
        // icons = {
        //    start: new google.maps.MarkerImage(
        //        // URL
        //        'http://maps.google.com/mapfiles/ms/micons/blue.png',
        //        // (width,height)
        //        new google.maps.Size(44, 32),
        //        // The origin point (x,y)
        //        new google.maps.Point(0, 0),
        //        // The anchor point (x,y)
        //        new google.maps.Point(22, 32)),
        //    end: new google.maps.MarkerImage(
        //        // URL
        //        'http://maps.google.com/mapfiles/ms/micons/green.png',
        //        // (width,height)
        //        new google.maps.Size(44, 32),
        //        // The origin point (x,y)
        //        new google.maps.Point(0, 0),
        //        // The anchor point (x,y)
        //        new google.maps.Point(22, 32))
        //};
        sicons = {
            url: "../../Content/Icons/Provider_Map_Green.svg", // url
            scaledSize: new google.maps.Size(44, 32), // scaled size
            origin: new google.maps.Point(0, 0), // origin
            anchor: new google.maps.Point(22, 32) // anchor
        };
         eicons = {
             url: "../../Content/Icons/Provider_Map_Red.svg", // url
             scaledSize: new google.maps.Size(44, 32), // scaled size
            origin: new google.maps.Point(0, 0), // origin
             anchor: new google.maps.Point(22, 32) // anchor
        };
    }

    function calculateAndDisplayRoute(directionsService, directionsRenderer) {
        directionsService
            .route({
                origin: {
                    query: '@Model.SelectUser.lat,@Model.SelectUser.lng',
                },
                destination: {
                    query: '@Model.SelectProvider.Lat,@Model.SelectProvider.Long',
                },
                    unitSystem: google.maps.UnitSystem.METRIC,
                travelMode: google.maps.TravelMode.DRIVING,

            })
            .then((response) => {
                debugger
                new google.maps.DirectionsRenderer({
                    map: map,
                    directions: response,
                    suppressMarkers: true
                });
               // directionsRenderer.setDirections(response);
                var leg = response.routes[0].legs[0];
                var d = leg.distance.text;
                $("#droute").text(d);
                makeMarker(leg.start_location, sicons, leg.start_address, map);
                makeMarker(leg.end_location, eicons, leg.end_address, map);
                const flightPlanCoordinates = [
                    { lat: @Model.SelectUser.lat, lng: @Model.SelectUser.lng },
                    { lat: @Model.SelectProvider.Lat, lng: @Model.SelectProvider.Long },
                ];
                const flightPath = new google.maps.Polyline({
                    path: flightPlanCoordinates,
                    geodesic: true,
                    strokeColor: "#FF0000",
                    strokeOpacity: 1.0,
                    strokeWeight: 2,
                });

                flightPath.setMap(map);
            })
            .catch((e) => window.alert("Directions request failed due to " + e));
    }

    function makeMarker(position, icon, title, map) {
        new google.maps.Marker({
            position: position,
            map: map,
            icon: icon,
            title: title,
        });
    }

</script>
@Html.Raw(ViewBag.openPopup)
