﻿
@{
    ViewBag.Title = "EditUserProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PlannedServicesAdmin.Pages;
@using PlannedServices.Entities.V1;
@using PlannedServices.Common;
@model User


<div class="card  bg-gray-50 mb-5">
    <div class="card-body">

        <ul class="nav nav-pills bg-nav-pills nav-justified mb-3">
            <li class="nav-item">
                <a href="#inProgress" data-toggle="tab" aria-expanded="false" class="nav-link rounded-0 active">
                    <i class="mdi mdi-home-variant d-md-none d-block"></i>
                    <span class="d-none d-md-block">Personal Details</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#compltedTab" data-toggle="tab" aria-expanded="true" class="nav-link rounded-0">
                    <i class="mdi mdi-account-circle d-md-none d-block"></i>
                    <span class="d-none d-md-block">View User</span>
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane show active" id="inProgress">
                <div class="row">
                    <div class="col-lg-12">
                        <h5>Personal Information</h5>
                        <p>Fill the Form below in order to ensure correct delivery of information.</p>
                    </div>
                    <div class="col-lg-8">
                        <div class="card" style="background-color:transparent;box-shadow:none">
                            @using (Html.BeginForm(Actions.AddUsers, Controllers.User, FormMethod.Post, new { area = "", @id = "frmAddEditUsers" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(model => model.Id)
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="firstName">Name</label>
                                                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", placeholder = "Enter Name" })
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="emailAddress">Email</label>
                                                @Html.TextBoxFor(model => model.Email, new { @type = "email", @class = "form-control", placeholder = "Enter Email" })
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="mobileNumber">Phone</label>
                                                @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control", @type = "number", @placeholder = "Enter phone" })
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="mobileNumber">State</label>
                                                @Html.DropDownListFor(model => model.LookupStateId, (IEnumerable<SelectListItem>)ViewBag.States, "Select State", new { @class = "form-control form-control-md" })
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="mobileNumber">Address</label>
                                                @Html.TextBoxFor(model => model.AddressLine1, new { @class = "form-control", maxlength = 50, @placeholder = "Enter address" })
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row justify-content-end">
                                        <div class="col-auto">
                                            <button type="submit" class="btn btn-primary btn-wide">Save</button>
                                            <a href="@Url.Action("Index", Controllers.ServiceRequests, new { area = "" })" class="btn btn-secondary">Cancel</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="compltedTab">
                @if (ProjectSession.LoginUserID == ProjectSession.UserID)
                {
                    <div class="row">
                        <div class="col-lg-12">
                            <h5>Sub User Information</h5>
                            <p>Fill the Form below in order to ensure correct delivery of information.</p>
                        </div>
                        <div class="col-lg-8">
                            <div class="card" style="background-color:transparent;box-shadow:none">
                                @using (Html.BeginForm(Actions.AddSubUsers, Controllers.User, FormMethod.Post, new { area = "", @id = "frmAddSubUsers" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label for="emailAddress">Email</label>
                                                    @Html.TextBoxFor(model => model.SubEmail, new { @type = "email", @class = "form-control", placeholder = "Enter Email" })
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label for="firstName">Title</label>
                                                    @Html.TextBoxFor(model => model.Title, new { @class = "form-control", placeholder = "Enter Title" })
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label for="firstName">First Name</label>
                                                    @Html.TextBoxFor(model => model.SubFirstName, new { @class = "form-control", placeholder = "Enter First Name" })
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label for="firstName">Last Name</label>
                                                    @Html.TextBoxFor(model => model.SubLastName, new { @class = "form-control", placeholder = "Enter Last Name" })
                                                </div>
                                            </div>


                                        </div>

                                        <div class="row justify-content-end">
                                            <div class="col-auto">
                                                <button type="submit" class="btn btn-primary btn-wide">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="col-lg-8">
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <td>Email</td>
                                        <td>Title</td>
                                        <td>First Name</td>
                                        <td>Last Name</td>
                                    </tr>
                                </thead>
                                @foreach (var item in Model.Users)
                                {
                                    <tr>
                                        <td>@item.Email</td>
                                        <td>@item.Title</td>
                                        <td>@item.FirstName</td>
                                        <td>@item.LastName</td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script>

    jQuery(document).ready(function () {
        FormValidation.init();
        SubFormValidation.init();
    });


    var FormValidation = function () {
        // basic validation
        var handleValidation1 = function () {

            var form1 = $('#frmAddEditUsers');
            var error1 = $('.alert-danger', form1);
            //var success1 = $('.alert-success', form1);

            form1.validate({
                errorElement: 'label', //default input error message container
                errorClass: 'error', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",  // validate all fields including form hidden input
                rules: {
                    FirstName: {
                        required: true
                    },
                    AddressLine1: {
                        required: true
                    },
                    PhoneNumber: {
                        required: true
                    },
                    LookupStateId: {
                        required: true
                    },
                    AddressLine1: {
                        required: true
                    },
                    Email: {
                        required: true,
                        email: true
                    },
                    //PinCode: {
                    //    required: true
                    //},
                    //Phone: {
                    //    required: true,
                    //    minlength: 11
                    //},
                    //Password: {
                    //    required: true
                    //},
                    //Website: {
                    //    required: true
                    //},
                },

                nvalidHandler: function (event, validator) { //display error alert on form submit
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.input-group').addClass('validate-has-error'); // set error class to the control group
                },

                success: function (label) {
                    label.closest('.input-group').removeClass('validate-has-error');
                    label.remove();
                },

                errorPlacement: function (error, element) {
                    if (element.closest('.input-icon').length === 1) {
                        error.insertAfter(element.closest('.input-icon'));
                    } else {
                        error.insertAfter(element);
                    }
                },

                submitHandler: function (form) {
                    form.submit(); // form validation success, call ajax form submit
                }
            });

            $('#frmAddEditUsers input').keypress(function (e) {
                if (e.which == 13) {
                    if ($('#frmAddEditUsers').validate().form()) {
                        $('#frmAddEditUsers').submit(); //form validation success, call ajax form submit
                    }
                    return false;
                }
            });
        }
        return {
            //main function to initiate the module
            init: function () {
                handleValidation1();
            }
        };
    }();

    var SubFormValidation = function () {
        // basic validation
        var handleValidation1 = function () {

            var form1 = $('#frmAddSubUsers');
            var error1 = $('.alert-danger', form1);
            //var success1 = $('.alert-success', form1);

            form1.validate({
                errorElement: 'label', //default input error message container
                errorClass: 'error', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",  // validate all fields including form hidden input
                rules: {
                    SubFirstName: {
                        required: true
                    },
                    SubLastName: {
                        required: true
                    },
                    SubEmail: {
                        required: true,
                        email: true
                    },
                    //SubPassword: {
                    //    required: true
                    //},
                    Title: {
                        required: true
                    },
                },

                nvalidHandler: function (event, validator) { //display error alert on form submit
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.input-group').addClass('validate-has-error'); // set error class to the control group
                },

                success: function (label) {
                    label.closest('.input-group').removeClass('validate-has-error');
                    label.remove();
                },

                errorPlacement: function (error, element) {
                    if (element.closest('.input-icon').length === 1) {
                        error.insertAfter(element.closest('.input-icon'));
                    } else {
                        error.insertAfter(element);
                    }
                },

                submitHandler: function (form) {
                    form.submit(); // form validation success, call ajax form submit
                }
            });

        }
        return {
            //main function to initiate the module
            init: function () {
                handleValidation1();
            }
        };
    }();

</script>
@Html.Raw(ViewBag.openPopup)
