﻿
@{
    ViewBag.Title = "Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PlannedServicesAdmin.Pages;
@using PlannedServices.Entities.V1;
@using PlannedServices.Common;
@model User
<div class="row">
    <div class="col-lg-2 col-md-3 col-sm-4 mb-3 mb-sm-0 box">
        <a href="@Url.Action(Actions.ManagerDashboard, Controllers.Dashboard)">
            <div class="card card-home ">
                <div class="card-body">
                    <h5 class="font-weight-normal">Home</h5>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mb-3 mb-sm-0 box">
        <a href="@Url.Action("ManagerPSettings", Controllers.User)">
            <div class="card blurbg hborder">
                <div class="card-body">
                    <h5 class="font-weight-normal font-12 text-uppercase">Profile<br>SETTINGS<br>HELP<br>LOGOUT</h5>

                    <div class="text-left w-100 mt-auto">
                        <img src="~/Content/Icons/User.svg" alt="" class="img-16">
                    </div>

                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mb-3 mb-sm-0 box">
        <div class="card border-warning border-2">
            <div class="card-body">
                <h5 class="font-weight-normal font-12 text-uppercase">USER <br />Details</h5>
                <div class="text-left w-100 mt-auto">
                    <img src="~/Content/Icons/User.svg" alt="" class="img-16">
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-12 border-2px ml-5 pl-0">
        <h5 class="heading-main font-13 fw-400 blurhtext text-uppercase">USER Details</h5>
    </div>
</div>
@using (Html.BeginForm(Actions.AddUpdateManagerUsers, Controllers.User, FormMethod.Post, new { area = "", @id = "frmAddEditUsers" }))
{
    <div class="row pdl-5 mt-20">

        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Age)
       
        <div class="col-sm-4 pl-0">
            <div class="form-group">
                <label for="emailAddress">Email</label>
                @Html.TextBoxFor(model => model.Email, new { @type = "email", @class = "form-control custom-form-control", placeholder = "Email" })
            </div>
        </div>

        <div class="col-sm-8 pl-0"></div>
        
            <div class="col-sm-8 pl-0 mt-20" id="saveBtn">
                <button type="button" class="btn btn-outline-primary mr-2 text-uppercase" id="sbtn" style="display:none">Save</button>
                <button type="button" class="btn btn-outline-primary mr-2 text-uppercase" id="ebtn" onclick="onEdit(1);">Edit</button>
                <a href="#" class="btn btn-outline-secondary text-uppercase" onclick="onEdit(2);" id="cbtn" style="display:none">Cancel</a>
            </div>
    </div>

}
<form style="display:none" id="vcodesec">
    <div class="row pdl-5">
        <div class="col-12 border-2px  pl-0">
            <h5 class="heading-main text-uppercase font-13 fw-400 blurhtext">Email validation code</h5>
        </div>
        <div class="col-12 pl-0">
            <p class="font-14 mt-2 fw-300" style="width:65%">
                A verification code has been sent to your nominated email. Please enter the code below.
            </p>
        </div>

        <div class="col-sm-4 pl-0 mt-20">
            <div class="form-group">
                <label for="emailAddress">Validation Code</label>
                @Html.TextBoxFor(model => model.ECode, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Validation Code" })
                <span id="cerror" style="color:red;font-size:11px;display:none"></span>
            </div>
        </div>
        <div class="col-sm-8"></div>
        <div class="col-sm-8 pl-0 mt-20" id="2saveBtn">
            <button type="button" id="customButton2" onclick="add()" class="btn btn-outline-primary mr-2 text-uppercase">Save</button>
            <a href="#" class="btn btn-outline-secondary text-uppercase" onclick="onEdit(2);">Cancel</a>
        </div>

    </div>
</form>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content mcontent" style="border:0;">
            <div class="modal-footer pl-0 pr-0" style="border:0;">
                <button data-dismiss="modal" class="btn btn-outline-success text-white text-uppercase myes" style="width: 310px;">Personal details have been updated</button>
            </div>
        </div>

    </div>
</div>

<input type="hidden" id="ecode" />
<input type="hidden" id="IsMinor" value="0" />
<input type="hidden" id="SetupUserType" value="4" />

@if (TempData["displayModal"] != null)
{
    var modal = TempData["displayModal"].ToString();
    <script type='text/javascript'>
        $(document).ready(function () {
            $('#@modal').modal('show');
        });
    </script>
}
<script>
            $(function () {
                $('input[name="DOB"]').daterangepicker({
                    singleDatePicker: true,
                    showDropdowns: true,
                    showButtonPanel: false,
                    autoApply: true,
                    maxDate: new Date(),
                }, function (start, end, label) {
                    var years = moment().diff(start, 'years');
                    $("#Age").val(years);
                    if (years > 18) {
                        $("#IsMinor").val("1");
                        $("#IsNominee").hide();
                    }
                    else {
                        $("#IsMinor").val("0");
                        $("#IsNominee").show();
                    }
                });
            });
            jQuery(document).ready(function () {
                FormValidation.init();
                $("input").prop('disabled', true);
                $("#LookupStateId").prop('disabled', true);
                $("#City").prop('disabled', true);

                if ($('#Age').val() < 18) {
                    $("#IsNominee").show();
                }
                else {
                   // $("#IsNominee").hide();
                }

                $('#myModal').on('hide.bs.modal', function () {
                    if (@ProjectSession.SetupUserType != "3") {
                        window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]User/PSettings";
                    }
                    else {
                           window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]User/ManagerPSettings";
                    }
                });

            });

            function onEdit(type) {
                if (type == 1) {
                    $("input").prop('disabled', false);
                    $("#LookupStateId").prop('disabled', false);
                    $("#City").prop('disabled', false);
                    $("#DOB").prop('disabled', true);

                    $("#ebtn").hide();
                    $("#sbtn").show();
                    $("#cbtn").show();
                }
                else {
                    $("input").prop('disabled', true);
                    $("#LookupStateId").prop('disabled', true);
                    $("#City").prop('disabled', true);
                    $("#ebtn").show();
                    $("#sbtn").hide();
                    $("#cbtn").hide();
                    $("#vcodesec").hide();
                    $("#2saveBtn").hide();
                    $("#saveBtn").show();
                }
            }

     $('#sbtn').on('click', function (e) {
        if ($('#frmAddEditUsers').validate().form()) {

                $.ajax({
                    url: '@Url.Action(Actions.VerifyEmail, Controllers.User, new { area = "" })',
                    data: {
                        Email: $("#Email").val()
                    },
                    type: 'POST',
                    datatype: 'json',
                    success: function (data) {
                        if (data.Code == 200) {
                            $("#Email").prop('disabled', true);
                            $("#ecode").val(data.Item.ECode);
                            //$("#myModal").modal("show");
                            //$("#saveBtn").hide();
                            $("#vcodesec").show();
                            $("#saveBtn").hide();
                            $("#2saveBtn").show();
                        }
                        else if (data.Code == 403) {
                            toastr.clear();
                            ShowMessageToastr("danger", "Email already exists", false);
                            return;
                        }
                        else if (data.Code == 401) {
                            $('#frmAddEditUsers').submit();
                        }
                    }
                });

        }
      })

    function add() {
        if ($('#frmAddEditUsers').validate().form()) {

            if ($("#ecode").val() != "") {
                if ($("#ecode").val() == $("#ECode").val()) {
                    // $("#myModal").modal("hide");
                    $("#Email").prop('disabled', false);
                    toastr.clear();
                    ShowMessageToastr("success", "your email is successfully verified.!", false);
                    $("#cerror").hide();
                    $('#frmAddEditUsers').submit();
                }
                else {
                    toastr.clear();
                    $("#cerror").text("please enter Valid Verification Code.");
                    $("#cerror").show();
                    //ShowMessageToastr("danger", "Please enter Valid Verification Code..!", false);
                    return;
                }
            }
            else {
                toastr.clear();
                $("#cerror").text("This field is required.");
                $("#cerror").show();
                // ShowMessageToastr("danger", "Please enter Verification Code..!", false);
                return;
            }
        }
    }

             function onChangeCode(type) {
        var postcode = $("#PinCode").val();
        var stateId = $("#LookupStateId").val();
        if (type == 0) {
            var s = '';
            s += '<option value="">Select State</option>';
            $("#LookupStateId").html(s);
            $("#LookupStateId").val("");
            var s2 = '';
            s2 += '<option value="">Select City</option>';
            $("#City").html(s2);
            $("#City").val("");
        } else {
            var s = '';
            s += '<option value="">Select City</option>';
            $("#City").html(s);
            $("#City").val("");
        }

        $.ajax({
            url: '@Url.Action(Actions.GetState, Controllers.AccountSetup, new { area = "" })',
            data: { Type: type, PostCode: postcode, StateId: stateId },
            type: 'GET',
            datatype: 'json',
            success: function (data) {
                if (type == 0) {
                    if (data.length > 0) {

                        var s = '';
                        s += '<option value="">Select State</option>'
                        for (var i = 0; i < data.length; i++) {
                            s += '<option value="' + data[i].DrpId + '">' + data[i].Name + '</option>'
                        }
                        $("#LookupStateId").html(s);
                    }
                    else {
                        var s = '';
                        s += '<option value="">Select State</option>';
                        $("#LookupStateId").html(s);
                        $("#LookupStateId").val("");
                    }
                }
                else {
                    if (data.length > 0) {

                        var s = '';
                        s += '<option value="">Select City</option>'
                        for (var i = 0; i < data.length; i++) {
                            s += '<option value="' + data[i].DrpId + '">' + data[i].Name + '</option>'
                        }
                        $("#City").html(s);
                    }
                    else {
                        var s = '';
                        s += '<option value="">Select City</option>';
                        $("#City").html(s);
                        $("#City").val("");
                    }
                }
            }
        });
    }


            var FormValidation = function () {
                // basic validation
                var handleValidation1 = function () {

                    var form1 = $('#frmAddEditUsers');
                    var error1 = $('.alert-danger', form1);
                    //var success1 = $('.alert-success', form1);
                    form1.validate({
                        errorElement: 'label', //default input error message container
                        errorClass: 'error', // default input error message class
                        focusInvalid: false, // do not focus the last invalid input
                        ignore: "",  // validate all fields including form hidden input
                        rules: {

                            Email: {
                                required: true,
                                email: true
                            },


                        },

                        nvalidHandler: function (event, validator) { //display error alert on form submit
                        },

                        highlight: function (element) { // hightlight error inputs
                            $(element)
                                .closest('.form-control').addClass('validate-has-error'); // set error class to the control group
                        },

                        success: function (label, element) {
                            $(element).closest('.form-control').removeClass('validate-has-error');
                            label.closest('.form-control').removeClass('validate-has-error');
                            label.remove();
                        },

                        errorPlacement: function (error, element) {
                            if (element.closest('.input-icon').length === 1) {
                               // error.insertAfter(element.closest('.input-icon'));
                            } else {
                                //error.insertAfter(element);
                            }
                        },

                        submitHandler: function (form) {
                            form.submit(); // form validation success, call ajax form submit
                        }
                    });

                    $('#frmAddEditUsers input').keypress(function (e) {
                        if (e.which == 13) {
                            if ($('#frmAddEditUsers').validate().form()) {
                               // $('#frmAddEditUsers').submit(); //form validation success, call ajax form submit
                            }
                            return false;
                        }
                    });
                }
                return {
                    //main function to initiate the module
                    init: function () {
                        handleValidation1();
                    }
                };
            }();

</script>
@Html.Raw(ViewBag.openPopup)
