﻿
@{
    ViewBag.Title = "Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PlannedServicesAdmin.Pages;
@using PlannedServices.Entities.V1;
@using PlannedServices.Common;
@model User
<style>
    .custom-control-label::after {
        margin-top: 1rem
    }

    .custom-control-input:checked ~ .custom-control-label::before {
        margin-top: 1rem
    }

    .custom-radio .custom-control-label::before {
        margin-top: 1rem
    }
    /* width */
    #BSection::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    #BSection::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    #BSection::-webkit-scrollbar-thumb {
        background: #888;
    }

        /* Handle on hover */
        #BSection::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

    #BSection {
        max-height: 100vh;
        overflow: auto;
        overflow-x: hidden
    }

    @@media(min-width: 992px) {
        .searchBTN {
            margin-left: 0.725rem;
            margin-top: 0rem;
        }
    }

    @@media(max-width: 992px) {
        .searchBTN {
            margin-left: 0rem;
            margin-top: 0.725rem;
        }
    }
    @@media(max-width: 768px) {
        .pdtext {
            padding-bottom: 20px !important;
            padding-left: 0 !important
        }
    }
    .pdtext {
        padding-bottom: 20px;
        padding-left: 4.4rem
    }
</style>

<div class="row">
    @if (ProjectSession.SetupUserType != "3")
    {
        <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
            <a href="@Url.Action(Actions.Index, Controllers.Dashboard)">
                <div class="card card-home ">
                    <div class="card-body">
                        <h5 class="font-weight-normal">Home</h5>
                    </div>
                </div>
            </a>
        </div>
    }
    else
    {
        <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
            <a href="@Url.Action(Actions.Index, Controllers.Dashboard, new { area = "", userId = ConvertTo.Base64Encode(Convert.ToString(ProjectSession.UserID)) })">
                <div class="card card-home ">
                    <div class="card-body">
                        <h5 class="font-weight-normal">Home</h5>
                    </div>
                </div>
            </a>
        </div>
    }
    <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
        <a href="@Url.Action("PSettings", Controllers.User)">
            <div class="card blurbg hborder mbox">
                <div class="card-body">
                    <h5 class="font-weight-normal font-12 text-uppercase hideOnMobile">Profile<br>SETTINGS<br>HELP<br>LOGOUT</h5>
                    <h5 class="font-weight-normal font-12 text-uppercase showOnMobile">Profile, SETTINGS, HELP, LOGOUT</h5>

                    <div class="text-left w-100 mt-auto">
                        <img src="~/Content/Icons/User.svg" alt="" class="img-16">
                    </div>

                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0  box">
        <div class="card  border-warning border-2 mbox">
            <div class="card-body">
                <h5 class="font-weight-normal font-12 text-uppercase hideOnMobile">PLAN<br>MANAGER<br>Details</h5>
                <h5 class="font-weight-normal font-12 text-uppercase showOnMobile">PLAN MANAGER Details</h5>
                <div class="text-left w-100 mt-auto">
                    <img src="~/Content/Icons/Plan_Manager.svg" alt="" class="img-16">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 border-2px ml-5 pl-0">
        <h5 class="heading-main font-13 fw-400 blurhtext text-uppercase">CURRENT PLAN MANAGER DETAILS</h5>
    </div>
</div>
@if (@ViewBag.SelectedPlanManager != null && @ViewBag.SelectedPlanManager.Count > 0)
{
    <div class="row mt-20 border-1px pdtext" style="">
        <div class="col-5">
            <p class="font-12 blurtext">Company Name </p>
            <p class="mt-7 font-16 fw-400">@ViewBag.SelectedPlanManager[0].CompanyName</p>
        </div>
        <div class="col-6">
            <p class="font-12 blurtext">Address </p>
            <p class="mt-7 font-16 fw-400">@ViewBag.SelectedPlanManager[0].Address</p>
        </div>
    </div>
}
<div>
    <p class="font-14 mt-20 fw-300 ctext" style="width:65%">
        If you have changed Plan Managers please update by selecting your<br /> Plan Manager from this list below.
    </p>
</div>
<div class="row">
    <div class="col-12  ml-5 pl-0 pr-0 mt-20">
        <input type="text" id="searchText" placeholder="SEARCH" class="form-control custom-form-control sinput" style="border: 1px solid #ECF0F1;width: 83%;float: left;" />
        <button type="button" onclick="Search()" class="btn btn-outline-primary searchBTN text-uppercase">Search</button>

    </div>

</div>

<div class="row pl-0 BSection mt-20" id="BSection">
    @*@foreach (var item in @ViewBag.PlanManagerList)
        {
            <div class="col-12 pr-0 pl-0 ml-5 border-1px">
                <div class="custom-control custom-radio">
                    <input type="radio" @(item.Id == Model.PlanManagerId ? "checked" : "") id="1customRadio_@item.Id" name="customRadio" class="custom-control-input" value="@item.Id" onclick="SetValue(@item.Id)">
                    <label class="custom-control-label w-100" for="1customRadio_@item.Id">
                        <div class="row">
                            <div class="col-5">
                                <p class="font-12 blurtext">Company Name </p>
                                <p class="mt-7 font-16 fw-400">@item.CompanyName</p>
                            </div>
                            <div class="col-6">
                                <p class="font-12 blurtext">Address </p>
                                <p class="mt-7 font-16 fw-400">@item.Address</p>
                            </div>
                        </div>
                    </label>
                </div>
            </div>
        }*@
</div>
<div class="row mt-4" id="1Section" style="display:none">
    <div class="col-12">
        <div class="col-sm-12 col-md-8  pl-0 ">
            <button type="button" onclick="Next()" class="btn btn-outline-primary mr-2  text-uppercase">Change</button>
        </div>
    </div>
</div>
@*<div class="row mt-4" id="1Section">
        <div class="col-12" >
            <div class="col-sm-8 pl-0 ">
                <button type="button" onclick="Next()" class="btn btn-outline-primary mr-2  text-uppercase" id="sbtn" style="display:none">Save</button>
                <button type="button" class="btn btn-outline-primary mr-2  text-uppercase" id="ebtn" onclick="onEdit(1);">Edit</button>
                <a href="#" class="btn btn-outline-secondary  text-uppercase" onclick="onEdit(2);" id="cbtn" style="display:none">Cancel</a>
            </div>
        </div>
    </div>*@
@*@using (Html.BeginForm(Actions.PlanManagerDetails, Controllers.User, FormMethod.Post, new { area = "", @id = "frmAddEditPMD" }))
    {
    <div class="row pdl-5 mt-20">

        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Password)
        <div class="col-sm-4 pl-0">
            <div class="form-group">
                <label for="emailAddress">Company name</label>
                @Html.TextBoxFor(model => model.CompanyName, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Enter your company name" })
            </div>
        </div>
        <div class="col-sm-4 pl-0">
            <div class="form-group">
                <label for="emailAddress">ABN</label>
                @Html.TextBoxFor(model => model.ABN, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Enter your ABN" })
            </div>
        </div>
        <div class="col-sm-8 pl-0">
            <div class="form-group">
                <label for="emailAddress">Address</label>
                @Html.TextBoxFor(model => model.AddressLine1, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Enter full Address" })
            </div>
        </div>
        <div class="col-sm-4 pl-0"></div>
        <div class="col-sm-4 pl-0">
            <div class="form-group">
                <label for="emailAddress">Surburb</label>
                @Html.TextBoxFor(model => model.Surburb, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Surburb" })
            </div>
        </div>

        <div class="col-sm-2 pl-0">
            <div class="form-group">
                <label for="emailAddress">State</label>
                @Html.DropDownListFor(model => model.LookupStateId, (IEnumerable<SelectListItem>)ViewBag.States, "Select State", new { @class = "form-control custom-form-control" })
            </div>
        </div>
        <div class="col-sm-2 pl-0">
            <div class="form-group">
                <label for="emailAddress">Post code</label>
                @Html.TextBoxFor(model => model.PinCode, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Post Code" })
            </div>
        </div>
        <div class="col-sm-4 pl-0"></div>
        <div class="col-sm-4 pl-0">
            <div class="form-group">
                <label for="emailAddress">Telephone</label>
                @Html.TextBoxFor(model => model.PhoneNumber, new { @type = "text", @class = "form-control custom-form-control", placeholder = "xxxx" })
            </div>
        </div>
        <div class="col-sm-4 pl-0">
            <div class="form-group">
                <label for="emailAddress">Email</label>
                @Html.TextBoxFor(model => model.Email, new { @type = "email", @class = "form-control custom-form-control", placeholder = "Email" })
            </div>
        </div>
        <div class="col-sm-4 pl-0"></div>
        <div class="col-sm-4 pl-0">
            <div class="form-group">
                <label for="emailAddress">Web site</label>
                @Html.TextBoxFor(model => model.WebSite, new { @type = "text", @class = "form-control custom-form-control", placeholder = "WebSite" })
            </div>
        </div>
        <div class="col-sm-4 pl-0">
            <div class="form-group">
                <label for="emailAddress">NDIS number</label>
                @Html.TextBoxFor(model => model.NDISReferenceNumber, new { @type = "text", @class = "form-control custom-form-control", placeholder = "NDIS Number" })
            </div>
        </div>
        <div class="col-sm-4 pl-0"></div>
        @if (ProjectSession.UserID == ProjectSession.LoginUserID)
        {
            <div class="col-sm-8 pl-0 mt-20">
                <button type="submit" class="btn btn-outline-primary mr-2" id="sbtn" style="display:none">Save</button>
                <button type="button" class="btn btn-outline-primary mr-2" id="ebtn" onclick="onEdit(1);">Edit</button>
                <a href="#" class="btn btn-outline-secondary" onclick="onEdit(2);" id="cbtn" style="display:none">Cancel</a>
            </div>
        }
        </div>

    }*@
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content mcontent" style="border:0;">
            <div class="modal-footer pl-0 pr-0" style="border:0;">
                <button data-dismiss="modal" class="btn btn-outline-success text-white text-uppercase myes" style="width: 310px;">
                    Plan Manager have been updated
                </button>
            </div>
        </div>
    </div>
</div>

<script>

    jQuery(document).ready(function () {
        FormValidation.init();
        $("input").prop('disabled', true);
        $("#LookupStateId").prop('disabled', true);
        $(".sinput").prop('disabled', false);

         $('#myModal').on('hide.bs.modal', function () {
            window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]User/PSettings";
         });
    });
    function Next() {
        var v = $('input[name="customRadio"]:checked').val();
        if (v == "" || v == undefined || v == null) {
            ShowMessageToastr("danger", "Please select Plan Manager!", false);
            return
        }
        else {
          $.ajax({
            url: '@Url.Action(Actions.UpdatePlanManager, Controllers.User, new { area = "" })',
            data: {
                PlanManagerId: v
            },
            type: 'POST',
            datatype: 'json',
            success: function (data) {
                if (data.Code == 200) {
                    $('#myModal').modal('show');
                }
            }
        });

        }

    }
    function onEdit(type) {
        if (type == 1) {
            $("input").prop('disabled', false);
            $("#LookupStateId").prop('disabled', false);
            $("#ebtn").hide();
            $("#sbtn").show();
            $("#cbtn").show();
        }
        else {
            $("input").prop('disabled', true);
            $("#LookupStateId").prop('disabled', true);
            $("#ebtn").show();
            $("#sbtn").hide();
            $("#cbtn").hide();
        }
    }

    var FormValidation = function () {
        // basic validation
        var handleValidation1 = function () {

            var form1 = $('#frmAddEditPMD');
            var error1 = $('.alert-danger', form1);
            //var success1 = $('.alert-success', form1);

            form1.validate({
                errorElement: 'label', //default input error message container
                errorClass: 'error', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",  // validate all fields including form hidden input
                rules: {
                    CompanyName: {
                        required: true
                    },
                    ABN: {
                        required: true
                    },
                    AddressLine1: {
                        required: true
                    },
                    PhoneNumber: {
                        required: true
                    },
                    LookupStateId: {
                        required: true
                    },
                    Email: {
                        required: true,
                        email: true
                    },
                    PinCode: {
                        required: true
                    },
                    Surburb: {
                        required: true
                    },
                    NDISReferenceNumber: {
                        required: true
                    },
                    WebSite: {
                        required: true
                    },
                },

                nvalidHandler: function (event, validator) { //display error alert on form submit
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.input-group').addClass('validate-has-error'); // set error class to the control group
                },

                success: function (label) {
                    label.closest('.input-group').removeClass('validate-has-error');
                    label.remove();
                },

                errorPlacement: function (error, element) {
                    if (element.closest('.input-icon').length === 1) {
                        error.insertAfter(element.closest('.input-icon'));
                    } else {
                        error.insertAfter(element);
                    }
                },

                submitHandler: function (form) {
                    form.submit(); // form validation success, call ajax form submit
                }
            });

            $('#frmAddEditPMD input').keypress(function (e) {
                if (e.which == 13) {
                    if ($('#frmAddEditPMD').validate().form()) {
                        $('#frmAddEditPMD').submit(); //form validation success, call ajax form submit
                    }
                    return false;
                }
            });
        }
        return {
            //main function to initiate the module
            init: function () {
                handleValidation1();
            }
        };
    }();

    function Search() {
              $.ajax({
                      url: '@Url.Action(Actions.Search, Controllers.User, new { area = "" })',
                  data: { Name: $("#searchText").val() },
                      type: 'Post',
                      datatype: 'json',
                  success: function (data) {
                      if (data) {
                          if (data.length > 0) {
                              $("#BSection").empty();
                              var s = '';
                              for (var i = 0; i < data.length; i++) {
                                  s += '<div class="col-12 pr-0 pl-0 ml-5 border-1px">'
                                  s += '<div class="custom-control custom-radio">'
                                  if (data[i].Id == @Model.PlanManagerId) {
                                      s += '<input type="radio" checked  id="1customRadio_' + data[i].Id + '" name="customRadio" class="custom-control-input" value="' + data[i].Id + '" onclick="SetValue(' + data[i].Id + ')">'
                                  }
                                  else {
                                      s += '<input type="radio"  id="1customRadio_' + data[i].Id + '" name="customRadio" class="custom-control-input" value="' + data[i].Id + '" onclick="SetValue(' + data[i].Id + ')">'
                                  }
                                  s += '<label class="custom-control-label w-100" for="1customRadio_'+data[i].Id+'">'
                                  s += '<div class="row">'
                                  s += '<div class="col-md-5 mb-10">'
                                  s += '<p class="font-12 blurtext">Company Name </p>'
                                  s += '<p class="mt-7 font-16 fw-400">' + data[i].CompanyName+'</p>'
                                  s += '</div>'
                                  s += '<div class="col-6">'
                                  s += '<p class="font-12 blurtext">Address </p>'
                                  s += '<p class="mt-7 font-16 fw-400">' + data[i].Address+'</p>'
                                  s += '</div>'
                                  s += ' </div>'
                                  s += '<label>'
                                  s += '</div>'
                                  s += '</div>'

                              }
                              $("#BSection").html(s);
                              $("#1Section").show();

                          }
                          else {
                              $("#BSection").empty();
                              $("#1Section").hide();
                          }
                      }
                      else {
                          ShowMessageToastr("danger", "something went wrong. please try again.", false);
                      }
                      },
                        error: function () { }
                    });

    }

</script>
@Html.Raw(ViewBag.openPopup)
