﻿
@{
    ViewBag.Title = "Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PlannedServicesAdmin.Pages;
@using PlannedServices.Common;
<div class="row">
    @if (ProjectSession.SetupUserType != "3")
    {
        <div class="col-lg-2 col-md-12 col-sm-12 mb-10 box">
            <a href="@Url.Action(Actions.Index, Controllers.Dashboard)">
                <div class="card card-home ">
                    <div class="card-body">
                        <h5 class="font-weight-normal">Home</h5>
                    </div>
                </div>
            </a>
        </div>
    }
    else
    {
        <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
            <a href="@Url.Action(Actions.Index, Controllers.Dashboard, new { area = "", userId = ConvertTo.Base64Encode(Convert.ToString(ProjectSession.UserID)) })">
                <div class="card card-home ">
                    <div class="card-body">
                        <h5 class="font-weight-normal">Home</h5>
                    </div>
                </div>
            </a>
        </div>
    }
    <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
        <a href="@Url.Action("PSettings", Controllers.User)">
            <div class="card border-warning  mbox">
                <div class="card-body">
                    <h5 class="font-weight-normal font-12 text-uppercase hideOnMobile">Profile<br>SETTINGS<br>HELP<br>LOGOUT</h5>
                    <h5 class="font-weight-normal font-12 text-uppercase showOnMobile">Profile, SETTINGS, HELP, LOGOUT</h5>

                    <div class="text-left w-100 mt-auto">
                        <img src="~/Content/Icons/User.svg" alt="" class="img-16">
                    </div>

                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0  box">
        @*<a name="emailLink" id="emailLink" href="#">*@
        <a name="emailLink" id="emailLink" href="https://myrequest.com.au/faq">
            <div class="card hborder mbox">
                <div class="card-body">
                    <h5 class="font-weight-normal font-12 text-uppercase hideOnMobile">HELP AND <br>SUPPORT</h5>
                    <h5 class="font-weight-normal font-12 text-uppercase showOnMobile">HELP AND SUPPORT</h5>

                    <div class="text-left w-100 mt-auto">
                        <img src="~/Content/Icons/Help_Support.svg" alt="" class="img-16">
                    </div>

                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
        <a href="@Url.Action(Actions.PDSettings, Controllers.User)">
            <div class="card hborder mbox">
                <div class="card-body">
                    <h5 class="font-weight-normal font-12 text-uppercase hideOnMobile">USER <br />Details</h5>
                    <h5 class="font-weight-normal font-12 text-uppercase showOnMobile">USER Details</h5>

                    <div class="text-left w-100 mt-auto">
                        <img src="~/Content/Icons/User.svg" alt="" class="img-16">
                    </div>
                </div>
            </div>
        </a>
    </div>
    @*<div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
            <a href="@Url.Action("UserInvite", Controllers.User)">
                <div class="card hborder">
                    <div class="card-body">
                        <h5 class="font-weight-normal font-12 text-uppercase">Invite USERS</h5>
                        <div class="text-left w-100 mt-auto">
                            <img src="~/Content/Icons/Add_User.svg" alt="" class="img-16">
                        </div>
                    </div>
                </div>
            </a>
        </div>*@
    @if (ProjectSession.SetupUserType != "2")
    {
        <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
            <a href="@Url.Action(Actions.PMDSettings, Controllers.User)">
                <div class="card hborder mbox">
                    <div class="card-body">
                        <h5 class="font-weight-normal font-12 text-uppercase hideOnMobile">PLAN<br>MANAGER<br>OPTIONS</h5>
                        <h5 class="font-weight-normal font-12 text-uppercase showOnMobile">PLAN MANAGER OPTIONS</h5>

                        <div class="text-left w-100 mt-auto">
                            <img src="~/Content/Icons/Plan_Manager.svg" alt="" class="img-16">
                        </div>
                    </div>
                </div>
            </a>
        </div>
    }
    @if (ProjectSession.ManagaerUserId == 0)
    {
        <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
            <a href="@Url.Action("CPSettings", Controllers.User)">
                <div class="card hborder mbox">
                    <div class="card-body">
                        <h5 class="font-weight-normal font-12 text-uppercase hideOnMobile">Change<br> Password</h5>
                        <h5 class="font-weight-normal font-12 text-uppercase showOnMobile">Change  Password</h5>

                        <div class="text-left w-100 mt-auto">
                            <img src="~/Content/Icons/Password.svg" alt="" class="img-16">
                        </div>
                    </div>
                </div>
            </a>
        </div>


        <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
            <a href="#" onclick="Next()">
                <div class="card hborder mbox">
                    <div class="card-body">
                        <h5 class="font-weight-normal font-12 text-uppercase">LOGOUT</h5>

                        <div class="text-left w-100 mt-auto">
                            <img src="~/Content/Icons/Logout.svg" alt="" class="img-16">
                        </div>

                    </div>
                </div>
            </a>
        </div>
    }

</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content mcontent">
            <div class="modal-body mbody pmodel border-secondary" style="border-width:3px">
                <h6 class="font-13 text-center blurhtext">Are you sure you want to logout?</h6>
            </div>
            <div class="modal-footer pl-0 pr-0" style="border:0;">
                <button onclick="logout()" class="btn btn-outline-success text-white mr-2 m-0 myes">YES</button>
                <button data-dismiss="modal" class="btn btn-outline-secondary border-danger m-0 mno">NO</button>
            </div>
        </div>

    </div>
</div>
<!--<div class="row">
    <div class="col-12 border-2px ml-5 pl-0">
        <h5 class="heading-main font-13 blurhtext fw-400 text-uppercase"> Settings</h5>
    </div>
</div>
<div class="row pl-0">
    <div class="col-12 pr-0 ml-5 border-1px">
        <div class="radio-list-padding">
            <div class="custom-control custom-radio">
                <input type="radio" id="1customRadio" checked name="customRadio" class="custom-control-input" value="1">
                <label class="custom-control-label" for="1customRadio">Personal Details</label>
            </div>
        </div>
    </div>
    <div class="col-12 pr-0 ml-5 border-1px">
        <div class="radio-list-padding">
            <div class="custom-control custom-radio">
                <input type="radio" id="2customRadio" name="customRadio" class="custom-control-input" value="2">
                <label class="custom-control-label" for="2customRadio">Add and Remove Users</label>
            </div>
        </div>
    </div>
    @if (ProjectSession.SetupUserType != "2")
    {
        <div class="col-12 pr-0 ml-5 border-1px">
            <div class="radio-list-padding">
                <div class="custom-control custom-radio">
                    <input type="radio" id="3customRadio" name="customRadio" class="custom-control-input" value="3">
                    <label class="custom-control-label" for="3customRadio">Plan Manager Details</label>
                </div>
            </div>
        </div>
    }-->
@*@if (ProjectSession.SetupUserType == "2")
    {
        <div class="col-12 pr-0 ml-5 border-1px">
            <div class="radio-list-padding">
                <div class="custom-control custom-radio">
                    <input type="radio" id="4customRadio" name="customRadio" class="custom-control-input" value="4">
                    <label class="custom-control-label" for="4customRadio">Payment Details</label>
                </div>
            </div>
        </div>
    }*@
<!--<div class="col-12 pr-0 ml-5 border-1px">
            <div class="radio-list-padding">
                <div class="custom-control custom-radio">
                    <input type="radio" id="5customRadio" name="customRadio" class="custom-control-input" value="5">
                    <label class="custom-control-label" for="5customRadio">Change your Password</label>
                </div>
            </div>
        </div>
    </div>
<div class="row mt-4">
    <div class="col-12">
        <a href="#" onclick="Next()" class="btn btn-outline-primary text-uppercase">Next</a>
    </div>
</div>-->
<script>
    function Next() {
        $("#myModal").modal("show");
    }
    function logout() {
            window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]Authentication/Logout"

    }

    $(function () {
        $('#emailLink').on('click', function (event) {
            event.preventDefault();
            var email = 'Support@myrequest.com.au';
            var subject = 'Support';
            //var emailBody = 'Some blah';
            window.location = 'mailto:' + email + '?subject=' + subject;// + '&body=' + emailBody;
        });
    });

</script>

@*<script>
        function Next() {
            var v = $('input[name="customRadio"]:checked').val();
            if (v == 1) {
                window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]User/PDSettings"
            }
            else if (v == 2) {
                window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]User/USettings"
            }
            else if (v == 3) {
                window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]User/PMDSettings"
            }
            else if (v == 4) {
                window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]User/PaymentDetails"
            }
            else if (v == 5) {
                window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]User/CPSettings"
            }
        }
    </script>*@

@*<div class="row mt-20">
        <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
            <a href="@Url.Action("PDSettings", Controllers.User, new { area = "", userId = ConvertTo.Base64Encode(Convert.ToString(ProjectSession.UserID)) })">
                <div class="card bg-primary">
                    <div class="card-body">
                        <h5 class="font-weight-normal">Personal<br>Details</h5>
                        <div class="text-right w-100 mt-auto">
                            <img src="~/Content/images/icon-user.png" alt="" class="mt-auto">
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
            <a href="@Url.Action("USettings", Controllers.User)">
                <div class="card bg-primary">
                    <div class="card-body">
                        <h5 class="font-weight-normal">Users</h5>
                        <div class="text-right w-100 mt-auto">
                            <img src="~/Content/images/icon-user.png" alt="" class="mt-auto">
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
            <a href="@Url.Action("PMDSettings", Controllers.User)">
                <div class="card bg-primary">
                    <div class="card-body">
                        <h5 class="font-weight-normal">Plan Manager<br>Details</h5>
                        <div class="text-right w-100 mt-auto">
                            <img src="~/Content/images/icon-user.png" alt="" class="mt-auto">
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
            <a href="@Url.Action("PaymentDetails", Controllers.User)">
                <div class="card bg-primary">
                    <div class="card-body">
                        <h5 class="font-weight-normal">Payment<br>Details</h5>
                        <div class="text-right w-100 mt-auto">
                            <img src="~/Content/images/icon-user.png" alt="" class="mt-auto">
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
            <a href="@Url.Action("CPSettings", Controllers.User)">
                <div class="card bg-primary">
                    <div class="card-body">
                        <h5 class="font-weight-normal">Change<br>Password</h5>
                        <div class="text-right w-100 mt-auto">
                            <img src="~/Content/images/icon-user.png" alt="" class="mt-auto">
                        </div>
                    </div>
                </div>
            </a>
        </div>



    </div>*@


