﻿
@{
    ViewBag.Title = "Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PlannedServicesAdmin.Pages;
@using PlannedServices.Entities.V1;
@using PlannedServices.Common;
@model User
<style>
    .custom-control-input ~ .custom-control-label::before {
        opacity: 1;
    }
</style>
<div class="row">
    <div class="col-lg-2 col-md-3 col-sm-4 mb-3 mb-sm-0 box">
        <a href="@Url.Action(Actions.Index, Controllers.Dashboard)">
            <div class="card card-home ">
                <div class="card-body">
                    <h5 class="font-weight-normal">Home</h5>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mb-3 mb-sm-0 box">
        <a href="@Url.Action("PSettings", Controllers.User)">
            <div class="card blurbg hborder">
                <div class="card-body">
                    <h5 class="font-weight-normal font-12 text-uppercase">Profile<br>SETTINGS<br>HELP<br>LOGOUT</h5>

                    <div class="text-left w-100 mt-auto">
                        <img src="~/Content/Icons/User.svg" alt="" class="img-16">
                    </div>

                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mb-3 mb-sm-0 box">
        <div class="card border-warning border-2">
            <div class="card-body">
                <h5 class="font-weight-normal font-12 text-uppercase">Add and <br />Remove<br /> Users</h5>
                <div class="text-left w-100 mt-auto">
                    <img src="~/Content/Icons/Add_User.svg" alt="" class="img-16">
                </div>
            </div>
        </div>
    </div>
</div>
@if (Model.Users != null)
{
    <div class="row">
        <div class="col-12 border-2px ml-5 pl-0">
            <h5 class="heading-main font-13 blurhtext fw-400 text-uppercase"> Users</h5>
        </div>
    </div>
    <div class="row">


        @foreach (var item in Model.Users)
        {
            <div class="col-12">
                <div class="row">
                    <div class="col-12 pr-0 ml-5 border-1px">
                        <div class="radio-list-padding">
                            <div class="row mt-20 mb-20 g-2x">
                                <div class="col-11">
                                    <a href="@Url.Action("UserDetails", Controllers.User, new { area = "", userId = ConvertTo.Base64Encode(Convert.ToString(item.Id)) })">

                                        <div class="row">
                                            <div class="col-1 mr-20 iconMargin mdlsec @(item.DeletedBy != 0? "unread" : "")">
                                                <img src="~/Content/Icons/User.svg" alt="" class="img-16">
                                            </div>
                                            <div class="col mr-20 mdlsec  @(item.DeletedBy != 0? "unread" : "")">
                                                <p class="blurtext font-12 fw-400">Name</p>
                                                <h5 class="font-weight-normal font-16 fw-400 line-height-normal mb-0 mt-10">@item.FirstName @item.LastName</h5>
                                            </div>
                                            <div class="col @(item.DeletedBy != 0? "unread" : "")">
                                                <p class="blurtext font-12 fw-400">Title </p>

                                                <h5 class="mt-10 font-weight-normal font-16 fw-400 line-height-sm mb-0">@item.Title</h5>
                                            </div>
                                            <div class="col @(item.DeletedBy != 0? "unread" : "")">
                                                <p class="blurtext font-12 fw-400">Status </p>
                                                <h5 class="mt-10 font-weight-normal font-16 fw-400 line-height-sm mb-0">@(item.DeletedBy == 0? "Active" : "InActive")</h5>
                                            </div>
                                        </div>
                                    </a>

                                </div>

                                <div class="col-1 mdlsec" style="text-align: right; width: 12%;">
                                    @if (ProjectSession.UserID == ProjectSession.LoginUserID)
                                    {
                                        <div class="mtp-10">
                                            <img onclick="onPopup(@item.Id,@item.DeletedBy)" src="~/Content/Icons/Cross.svg" class="img-16" alt="">
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }

    </div>
}


@if (ProjectSession.UserID == ProjectSession.LoginUserID)
{
    <div class="row mt-20">
        <a href="@Url.Action("UserDetails", Controllers.User, new { area = "",userId = ConvertTo.Base64Encode(Convert.ToString(0)) })" class="btn btn-outline-primary  btn-pedding btn-border text-uppercase">Add User</a>
    </div>
    @*<div class="row">
            <div class="col-12 pr-0 ml-5 border-1px">
                <div class="radio-list-padding">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="3customRadio" checked name="customRadio1" class="custom-control-input" value="1">
                        <label class="custom-control-label" for="3customRadio">Yes</label>
                    </div>
                </div>
            </div>
            <div class="col-12 pr-0 ml-5 border-1px">
                <div class="radio-list-padding">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="4customRadio" name="customRadio1" class="custom-control-input" value="2">
                        <label class="custom-control-label" for="4customRadio">No</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-20">
            <div class="col-12">
                <a href="#" onclick="onNext()" class="btn btn-outline-primary text-uppercase ">Next</a>
            </div>
        </div>*@
}
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content mcontent">
            <div class="modal-body mbody">
                <h5><span class="stext"></span> User</h5>
                <p>
                    Are you sure you want to
                    <span class="stext"></span> the user?
                </p>
            </div>
            <div class="modal-footer pl-0 pr-0" style="border:0;">
                <button data-dismiss="modal" class="btn btn-outline-secondary mr-2 mno">NO</button>
                <button onclick="Delete()" class="btn btn-outline-secondary text-white  myes">YES</button>
            </div>
        </div>

    </div>
</div>
<input type="hidden" id="userId" />
<input type="hidden" id="deleteId" />


<script>


    function onPopup(id,deleteId) {
        $("#userId").val(id);
        $("#deleteId").val(deleteId);
        if (deleteId != 0) {
            $(".stext").text("Activate");
            $(".modal-body").addClass("border-success");
        }
        else {
            $(".stext").text("Deactivate");
            $(".modal-body").removeClass("border-danger");
            $(".modal-body").removeClass("border-success");
        }
        $("#myModal").modal("show");
    }

      function Delete() {
              $.ajax({
                      url: '@Url.Action(Actions.DeleteUser, Controllers.User, new { area = "" })',
                  data: { UId: $("#userId").val() },
                      type: 'GET',
                      datatype: 'json',
                  success: function (data) {
                      if (data) {
                          $("#myModal").modal("hide");
                          if ($("#deleteId").val() != "0") {
                              ShowMessageToastr("success", "Activate User Successfully.!", false);
                          }
                          else {
                              ShowMessageToastr("success", "Deactivate User Successfully.!", false);
                          }
                          window.location.reload();
                      }
                      else {
                          ShowMessageToastr("danger", "something went wrong. please try again.", false);
                      }
                      },
                        error: function () { }
                    });

    }

        function onNext() {
            var v = $('input[name="customRadio1"]:checked').val();
            if (v == 1) {
                window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]User/UserDetails?userId=MA==";
            }
            else {
                window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]User/PSettings";
            }
        }
</script>
@Html.Raw(ViewBag.openPopup)