﻿
@{
    ViewBag.Title = "Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PlannedServicesProviderPortal.Pages;
@using PlannedServices.Entities.V1;
@using PlannedServices.Common;
@model Provider
<div class="row">
    <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
        <a href="@Url.Action(Actions.Index, Controllers.Dashboard)">
            <div class="card card-home ">
                <div class="card-body">
                    <h5 class="font-weight-normal">Home</h5>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
        <a href="@Url.Action("PSettings", Controllers.User)">
            <div class="card blurbg hborder mbox">
                <div class="card-body pdb-5">
                    <h5 class="font-weight-normal font-12 text-uppercase hideOnMobile mb-0">Profile <br />USERS<br> SETTINGS <br>PROVIDED SERVICES<br>LOGOUT</h5>
                    <h5 class="font-weight-normal font-12 text-uppercase showOnMobile">Profile, USERS, SETTINGS, PROVIDED SERVICES, LOGOUT</h5>


                    <div class="text-left w-100 mt-auto">
                        <img src="~/Content/Icons/User.svg" alt="" class="img-16">
                    </div>

                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0  box">
        <div class="card  border-warning border-2 mbox">
            <div class="card-body">
                <h5 class="font-weight-normal font-12 text-uppercase hideOnMobile">Change<br> Password</h5>
                <h5 class="font-weight-normal font-12 text-uppercase showOnMobile">Change  Password</h5>
                <div class="text-left w-100 mt-auto">
                    <img src="~/Content/Icons/Password.svg" alt="" class="img-16">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row w-100">
    <div class="col-12 border-2px ml-5 pl-0">
        <h5 class="heading-main font-13 fw-400 blurhtext text-uppercase">Change Password</h5>
    </div>
</div>
@using (Html.BeginForm(Actions.ChangePassword, Controllers.User, FormMethod.Post, new { area = "", @id = "frmAddEditCP" }))
{
    <div class="row pdl-5 mt-20">

        @Html.AntiForgeryToken()
        <div class="col-md-4 col-sm-12 pl-0">
            <div class="form-group">
                <label for="emailAddress">Current Password</label>
                <i class="fa fa-eye-slash togglePassword" id="ctogglePassword" aria-hidden="true"></i>
                @Html.TextBoxFor(model => model.OldPassword, new { @type = "password", @class = "form-control custom-form-control", placeholder = "Current Password" })
            </div>
        </div>
        <div class="col-md-8 col-sm-12 pl-0"></div>
        <div class="col-md-4 col-sm-12 pl-0">
            <div class="form-group">
                <label for="emailAddress">New Password</label>
                <i class="fa fa-eye-slash togglePassword" id="ntogglePassword" aria-hidden="true"></i>
                @Html.TextBoxFor(model => model.NewPassword, new { @type = "password", @class = "form-control custom-form-control", placeholder = "New Password" })
            </div>
        </div>
        <div class="col-md-8 col-sm-12 pl-0"></div>
        <div class="col-md-4 col-sm-12 pl-0">
            <div class="form-group">
                <label for="emailAddress">Re-Enter Password</label>
                <i class="fa fa-eye-slash togglePassword" id="rtogglePassword" aria-hidden="true"></i>
                @Html.TextBoxFor(model => model.ConfirmPassword, new { @type = "password", @class = "form-control custom-form-control", placeholder = "Re-Enter Password" })
            </div>
        </div>

        <div class="col-md-8 col-sm-12 pl-0"></div>

        <div class="col-md-8 col-sm-12 pl-0 mt-20">
            <button type="submit" class="btn btn-outline-primary mr-2 text-uppercase">Save</button>
            <a href="@Url.Action("PSettings", Controllers.User)" class="btn btn-outline-secondary text-uppercase">Cancel</a>
        </div>

    </div>

}
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content mcontent" style="border:0;">
            <div class="modal-footer pl-0 pr-0" style="border:0;">
                <button data-dismiss="modal" id="btnText" class="btn btn-outline-success text-white text-uppercase myes" style="width: 310px;height: 100%;">
                    Password changed successfully
                </button>
            </div>
        </div>

    </div>
</div>
@if (TempData["displayModal"] != null)
{
    var modal = TempData["displayModal"].ToString();
    var modalMSG = TempData["displayModalMSG"].ToString();
    <script type='text/javascript'>
        $(document).ready(function () {
            if ('@modalMSG' != "") {
                $("#btnText").removeClass("btn btn-outline-success");
                $("#btnText").addClass("btn btn-outline-danger");
                $("#btnText").html('@modalMSG');

            }
            $('#@modal').modal('show');
        });
    </script>
}
<script>
    $(".togglePassword").on('click', function (e) {
        const password = document.querySelector("#" + $(this).next('input').attr('id'));
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);
        if (type === 'password') {
            $("#" + $(this).attr("Id")).addClass("fa-eye-slash");
            $("#" + $(this).attr("Id")).removeClass('fa-eye');
        }
        else {
            $("#" + $(this).attr("Id")).removeClass("fa-eye-slash");
            $("#" + $(this).attr("Id")).addClass('fa-eye');
        }
    })
    jQuery(document).ready(function () {
        jQuery.validator.addMethod("strongPassword", function (value, element) {
            var number = /([0-9])/;
            var alphabets = /([A-Z])/;
            var special_characters = /([~,!,@@,#,$,%,^,&,*,-,_,+,=,?,>,<])/;
            if (value.length > 8 && value.match(number) && value.match(alphabets)) {
                return true;
            }
            else {
                return false;
            }
        }, "Minimum 8 character and at least one alphabet, one number, and one special character.");

        FormValidation.init();
         $('#myModal').on('hide.bs.modal', function () {
                    window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]User/PSettings";
                });

    });


    var FormValidation = function () {
        // basic validation
        var handleValidation1 = function () {

            var form1 = $('#frmAddEditCP');
            var error1 = $('.alert-danger', form1);
            //var success1 = $('.alert-success', form1);

            form1.validate({
                errorElement: 'label', //default input error message container
                errorClass: 'error', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",  // validate all fields including form hidden input
                rules: {
                    CurrentPassword: {
                        required: true
                    },
                    NewPassword: {
                        required: true,
                        strongPassword: true,
                    },
                    ConfirmPassword: {
                        required: true
                    },
                },

                nvalidHandler: function (event, validator) { //display error alert on form submit
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-control').addClass('validate-has-error'); // set error class to the control group
                },

                success: function (label, element) {
                    $(element).closest('.form-control').removeClass('validate-has-error');
                    label.closest('.form-control').removeClass('validate-has-error');
                    label.remove();
                },

                errorPlacement: function (error, element) {
                    if (element.closest('.input-icon').length === 1) {
                        //error.insertAfter(element.closest('.input-icon'));
                    } else {
                      //  error.insertAfter(element);
                    }
                },

                submitHandler: function (form) {
                    if ($("#NewPassword").val() == $("#ConfirmPassword").val()) {
                        form.submit(); // form validation success, call ajax form submit
                    }
                    else {
                        ShowMessageToastr("danger", "New Password & Confirm Password Does Not Match!", false);
                        return
                    }
                }
            });

            $('#frmAddEditCP input').keypress(function (e) {
                if (e.which == 13) {
                    if ($('#frmAddEditCP').validate().form()) {
                        $('#frmAddEditCP').submit(); //form validation success, call ajax form submit
                    }
                    return false;
                }
            });
        }
        return {
            //main function to initiate the module
            init: function () {
                handleValidation1();
            }
        };
    }();

</script>
@Html.Raw(ViewBag.openPopup)