﻿
@{
    ViewBag.Title = "EditUserProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PlannedServicesProviderPortal.Pages;
@using PlannedServices.Entities.V1;
@using PlannedServices.Common;
@model Provider

@*<div class="row justify-content-between py-5">
        <div class="col">
            <h2 class="fw-extrabold mb-0">Edit profile</h2>
        </div>
    </div>*@

<div class="card  bg-gray-50 mb-5">
    <div class="card-body">
        <ul class="nav nav-pills bg-nav-pills nav-justified mb-3">
            <li class="nav-item">
                <a href="#inProgress" data-toggle="tab" aria-expanded="false" class="nav-link rounded-0 active">
                    <i class="mdi mdi-home-variant d-md-none d-block"></i>
                    <span class="d-none d-md-block">Personal Details</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#compltedTab" data-toggle="tab" aria-expanded="true" class="nav-link rounded-0">
                    <i class="mdi mdi-account-circle d-md-none d-block"></i>
                    <span class="d-none d-md-block">Sub Provider</span>
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane show active" id="inProgress">
                <div class="row">
                    <div class="col-lg-12">
                        <h5>Personal Information</h5>
                        <p>Fill the Form below in order to ensure correct delivery of information.</p>
                    </div>
                    <div class="col-lg-8">
                        <div class="card" style="background-color:transparent;box-shadow:none">
                            @using (Html.BeginForm(Actions.AddUsers, Controllers.User, FormMethod.Post, new { area = "", @id = "frmAddEditUsers" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(model => model.Id)
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label for="firstName">Company Name</label>
                                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Enter Name" })
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="emailAddress">Email</label>
                                                @Html.TextBoxFor(model => model.Email, new { @type = "email", @class = "form-control", placeholder = "Enter Email" })
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="mobileNumber">Phone</label>
                                                @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", @type = "number", @placeholder = "Enter phone" })
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label for="mobileNumber">Address</label>
                                                @Html.TextBoxFor(model => model.AddressLine1, new { @class = "form-control", maxlength = 50, @placeholder = "Enter address" })
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="mobileNumber">State</label>
                                                @Html.DropDownListFor(model => model.LookupStateId, (IEnumerable<SelectListItem>)ViewBag.States, "Select State", new { @class = "form-control form-control-md" })
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="mobileNumber">PinCode</label>
                                                @Html.TextBoxFor(model => model.PinCode, new { @class = "form-control", @type = "number", maxlength = 50, @placeholder = "Enter pincode" })
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="mobileNumber">Website</label>
                                                @Html.TextBoxFor(model => model.Website, new { @class = "form-control", maxlength = 50, @placeholder = "Enter Website" })
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="mobileNumber">Serviceable Area</label>
                                                @Html.TextBoxFor(model => model.ServiceableArea, new { @class = "form-control", @placeholder = "Enter Serviceable Area" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row justify-content-end">
                                        <div class="col-auto">
                                            <button type="submit" class="btn btn-primary btn-wide">Save</button>
                                            <a href="@Url.Action("Index", Controllers.ServiceRequests, new { area = "" })" class="btn btn-secondary">Cancel</a>
                                        </div>
                                    </div>
                                </div>
                            }


                        </div>


                    </div>
                </div>


            </div>
            <div class="tab-pane" id="compltedTab">

                <div class="row">
                    <div class="col-lg-12">
                        <h5>Sub Provider Information</h5>
                        <p>Fill the Form below in order to ensure correct delivery of information.</p>
                    </div>
                    <div class="col-lg-8">
                        <div class="card" style="background-color:transparent;box-shadow:none">
                            @if (ProjectSession.ParentId == 0)
                            {

                            using (Html.BeginForm(Actions.AddSubProvider, Controllers.User, FormMethod.Post, new { area = "", @id = "frmAddSubProvider" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(model => model.Id)
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label for="firstName">Company Name</label>
                                                @Html.TextBoxFor(model => model.SubName, new { @class = "form-control", placeholder = "Enter Name" })
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="emailAddress">Email</label>
                                                @Html.TextBoxFor(model => model.SubEmail, new { @type = "email", @class = "form-control", placeholder = "Enter Email" })
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="mobileNumber">Phone</label>
                                                @Html.TextBoxFor(model => model.SubPhone, new { @class = "form-control", @type = "number", @placeholder = "Enter phone" })
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label for="mobileNumber">Address</label>
                                                @Html.TextBoxFor(model => model.SubAddressLine1, new { @class = "form-control", maxlength = 50, @placeholder = "Enter address" })
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="mobileNumber">State</label>
                                                @Html.DropDownListFor(model => model.SubLookupStateId, (IEnumerable<SelectListItem>)ViewBag.States, "Select State", new { @class = "form-control form-control-md" })
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="mobileNumber">PinCode</label>
                                                @Html.TextBoxFor(model => model.SubPinCode, new { @class = "form-control", @type = "number", maxlength = 50, @placeholder = "Enter pincode" })
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="mobileNumber">Website</label>
                                                @Html.TextBoxFor(model => model.SubWebsite, new { @class = "form-control", maxlength = 50, @placeholder = "Enter Website" })
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="mobileNumber">Serviceable Area</label>
                                                @Html.TextBoxFor(model => model.SubServiceableArea, new { @class = "form-control", @placeholder = "Enter Serviceable Area" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row justify-content-end">
                                        <div class="col-auto">
                                            <button type="submit" class="btn btn-primary btn-wide">Save</button>
                                            <a href="@Url.Action("Index", Controllers.ServiceRequests, new { area = "" })" class="btn btn-secondary">Cancel</a>
                                        </div>
                                    </div>
                                </div>
                            }
                            
                            }

                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="table-responsive">
                                        <table class="table mb-0">
                                            <thead>
                                                <tr>
                                                    <td>Name</td>
                                                    <td>Email</td>
                                                    <td>Phone</td>
                                                    <td>Address</td>
                                                </tr>
                                            </thead>
                                            @foreach (var item in Model.Provider)
                                            {
                                                <tr>
                                                    <td>@item.Name</td>
                                                    <td>@item.Email</td>
                                                    <td>@item.Phone</td>
                                                    <td>@item.AddressLine1</td>
                                                </tr>
                                            }
                                        </table>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<script>

    jQuery(document).ready(function () {
        FormValidation.init();
        $("#Id").val(atob($("#Id").val()));
    });

    function isNumber(event) {
        var charCode = (event.which) ? event.which : event.keyCode;
        if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        } else {
            return true;
        }
    }

    var FormValidation = function () {
        // basic validation
        var handleValidation1 = function () {

            var form1 = $('#frmAddEditUsers');
            var error1 = $('.alert-danger', form1);
            //var success1 = $('.alert-success', form1);

            form1.validate({
                errorElement: 'label', //default input error message container
                errorClass: 'error', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",  // validate all fields including form hidden input
                rules: {
                    Name: {
                        required: true
                    },
                    AddressLine1: {
                        required: true
                    },
                    LookupStateId: {
                        required: true
                    },
                    PinCode: {
                        required: true
                    },
                    Phone: {
                        required: true,
                        minlength: 11
                    },
                    Email: {
                        required: true,
                        email: true
                    },
                    Password: {
                        required: true
                    },
                    ServiceableArea: {
                        required: true
                    },
                    Website: {
                        required: true
                    },
                },

                nvalidHandler: function (event, validator) { //display error alert on form submit
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.input-group').addClass('validate-has-error'); // set error class to the control group
                },

                success: function (label) {
                    label.closest('.input-group').removeClass('validate-has-error');
                    label.remove();
                },

                errorPlacement: function (error, element) {
                    if (element.closest('.input-icon').length === 1) {
                        error.insertAfter(element.closest('.input-icon'));
                    } else {
                        error.insertAfter(element);
                    }
                },

                submitHandler: function (form) {
                    form.submit(); // form validation success, call ajax form submit
                }
            });

            $('#frmAddEditUsers input').keypress(function (e) {
                if (e.which == 13) {
                    if ($('#frmAddEditUsers').validate().form()) {
                        $('#frmAddEditUsers').submit(); //form validation success, call ajax form submit
                    }
                    return false;
                }
            });
        }
        return {
            //main function to initiate the module
            init: function () {
                handleValidation1();
            }
        };
    }();

    var FormValidation = function () {
        // basic validation
        var handleValidation1 = function () {

            var form1 = $('#frmAddSubProvider');
            var error1 = $('.alert-danger', form1);
            //var success1 = $('.alert-success', form1);

            form1.validate({
                errorElement: 'label', //default input error message container
                errorClass: 'error', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",  // validate all fields including form hidden input
                rules: {
                    SubName: {
                        required: true
                    },
                    SubAddressLine1: {
                        required: true
                    },
                    SubLookupStateId: {
                        required: true
                    },
                    SubPinCode: {
                        required: true
                    },
                    SubPhone: {
                        required: true,
                        minlength: 11
                    },
                    SubEmail: {
                        required: true,
                        email: true
                    },
                    SubServiceableArea: {
                        required: true
                    },
                    SubWebsite: {
                        required: true
                    },
                },

                nvalidHandler: function (event, validator) { //display error alert on form submit
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.input-group').addClass('validate-has-error'); // set error class to the control group
                },

                success: function (label) {
                    label.closest('.input-group').removeClass('validate-has-error');
                    label.remove();
                },

                errorPlacement: function (error, element) {
                    if (element.closest('.input-icon').length === 1) {
                        error.insertAfter(element.closest('.input-icon'));
                    } else {
                        error.insertAfter(element);
                    }
                },

                submitHandler: function (form) {
                    form.submit(); // form validation success, call ajax form submit
                }
            });


        }
        return {
            //main function to initiate the module
            init: function () {
                handleValidation1();
            }
        };
    }();


</script>

