﻿
@{
    ViewBag.Title = "Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PlannedServicesProviderPortal.Pages;
@using PlannedServices.Entities.V1;
@using PlannedServices.Common;
@model User
<div class="row">
    <div class="col-sm-2 boxsize">
        <a href="@Url.Action(Actions.Index, Controllers.Dashboard)">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="font-weight-normal">Home</h5>
                    <img src="~/Content/Icons/icons8-home-button-100.png" alt="" class="mt-auto img-50">
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-2 boxsize">
        <a href="@Url.Action("PSettings", Controllers.User)">
            <div class="card h-100 bg-primary">
                <div class="card-body">
                    <h5 class="font-weight-normal">Personal Settings</h5>
                    <img src="~/Content/Icons/icons8-user-128.png" alt="" class="mt-auto img-50">
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-2 boxsize">
        <div class="card h-100 bg-primary border-0">
            <div class="card-body">
                <h5 class="font-weight-normal"><span class="mr-15">Payment</span> Details</h5>
                <p>For Self Managed User Only</p>
                <img src="~/Content/images/icon-user.png" alt="" class="mt-auto">
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm(Actions.AddSubUsers, Controllers.User, FormMethod.Post, new { area = "", @id = "frmAddSubUsers" }))
{
    <div class="row mt-20">
        <div class="col-sm-12 pl-0 mb-20">
            <h5><b>Credit/Debit Card</b></h5>
            <p>We support MasterCard, Visa and Stripe</p>
        </div>

        @Html.AntiForgeryToken()
        <div class="col-sm-8 pl-0">
            <div class="form-group">
                <label for="emailAddress">Card Number</label>
                @Html.TextBoxFor(model => model.CardNumber, new { @type = "text", @class = "form-control", placeholder = "Enter card number" })
            </div>
        </div>
        <div class="col-sm-4 pl-0"></div>
        <div class="col-sm-4 pl-0">
            <div class="form-group">
                <label for="emailAddress">Name On Card</label>
                @Html.TextBoxFor(model => model.NameOnCard, new { @type = "text", @class = "form-control", placeholder = "Name On Card" })
            </div>
        </div>

        <div class="col-sm-2 pl-0">
            <div class="form-group">
                <label for="emailAddress">Expiry Date</label>
                @Html.TextBoxFor(model => model.ExpiryDate, new { @type = "text", @class = "form-control", placeholder = "Expiry Date" })
            </div>
        </div>
        <div class="col-sm-2 pl-0">
            <div class="form-group">
                <label for="emailAddress">CVV Code</label>
                @Html.TextBoxFor(model => model.CVVCode, new { @type = "text", @class = "form-control", placeholder = "CVV Code" })
            </div>
        </div>
        <div class="col-sm-4 pl-0"></div>
        
        <div class="col-sm-8 pl-0 mt-20">
            <button type="submit" class="btn btn-success mr-3 btn-pedding btn-border">Save</button>
            <a href="@Url.Action("PSettings", Controllers.User)" class="btn btn-pedding btn-border">Cancel</a>
        </div>

    </div>

}
