﻿
@{
    ViewBag.Title = "Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PlannedServicesProviderPortal.Pages;
@using PlannedServices.Entities.V1;
@using PlannedServices.Common;
@model Provider
<div class="row">
    <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
        <a href="@Url.Action(Actions.Index, Controllers.Dashboard)">
            <div class="card card-home ">
                <div class="card-body">
                    <h5 class="font-weight-normal">Home</h5>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
        <a href="@Url.Action("PSettings", Controllers.User)">
            <div class="card blurbg hborder mbox">
                <div class="card-body pdb-5">
                    <h5 class="font-weight-normal font-12 text-uppercase hideOnMobile mb-0">Profile <br />USERS<br> SETTINGS <br>PROVIDED SERVICES<br>LOGOUT</h5>
                    <h5 class="font-weight-normal font-12 text-uppercase showOnMobile">Profile, USERS, SETTINGS, PROVIDED SERVICES, LOGOUT</h5>

                    <div class="text-left w-100 mt-auto">
                        <img src="~/Content/Icons/User.svg" alt="" class="img-16">
                    </div>

                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0  box">
        <div class="card  border-warning border-2 mbox">
            <div class="card-body">
                <h5 class="font-weight-normal font-12 text-uppercase hideOnMobile">USER <br />Details</h5>
                <h5 class="font-weight-normal font-12 text-uppercase showOnMobile">USER Details</h5>

                <div class="text-left w-100 mt-auto">
                    <img src="~/Content/Icons/User.svg" alt="" class="img-16">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row w-100">
    <div class="col-12 border-2px ml-5 pl-0">
        <h5 class="heading-main font-13 fw-400 blurhtext text-uppercase">User DETAILS</h5>
    </div>
</div>
@using (Html.BeginForm(Actions.AddUsers, Controllers.User, FormMethod.Post, new { area = "", @id = "frmAddEditUsers" }))
{
<div class="row pdl-5 mt-20">

    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.CompanyLogoURL)
    @Html.HiddenFor(model => model.FileName)
    @Html.HiddenFor(model => model.FileURL)
    <div class="col-sm-12 col-md-4 pl-0">
        <div class="form-group">
            <label for="emailAddress">First name</label>
            @Html.TextBoxFor(model => model.Name, new { @type = "text", @class = "form-control custom-form-control", placeholder = "First name" })
        </div>
    </div>
    <div class="col-sm-12 col-md-4 pl-0">
        <div class="form-group">
            <label for="emailAddress">Last name</label>
            @Html.TextBoxFor(model => model.LastName, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Last name" })
        </div>
    </div>
    <div class="col-sm-12 col-md-4 pl-0">
        <div class="form-group">
            <label for="emailAddress">Position</label>
            @Html.TextBoxFor(model => model.Position, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Position" })
        </div>
    </div>
    <div class="col-sm-12 col-md-4 pl-0">
        <div class="form-group">
            <label for="emailAddress">Mobile</label>
            @Html.TextBoxFor(model => model.Phone, new { @type = "number", @class = "form-control custom-form-control", placeholder = "Mobile" })
        </div>
    </div>
    <div class="col-sm-12 col-md-4 pl-0">
        <div class="form-group">
            <label for="emailAddress">Email</label>
            @Html.TextBoxFor(model => model.Email, new { @type = "email", @class = "form-control custom-form-control", placeholder = "Email" })
        </div>
    </div>

    <div class="col-sm-12 col-md-4 pl-0"></div>

    @*<div class="col-sm-4 pl-0">
            <div class="form-group">
                <label for="emailAddress">Company name</label>
                @Html.TextBoxFor(model => model.CompanyName, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Company name" })
            </div>
        </div>
        <div class="col-sm-2 pl-0">
            <div class="form-group">
                <label for="emailAddress">ABN</label>
                @Html.TextBoxFor(model => model.ABN, new { @type = "text", @class = "form-control custom-form-control", placeholder = "ABN" })
            </div>
        </div>
        <div class="col-sm-2 pl-0">
            <div class="form-group">
                <label for="emailAddress">NDIS</label>
                @Html.TextBoxFor(model => model.NDISReferenceNumber, new { @type = "text", @class = "form-control custom-form-control", placeholder = "NDIS" })
            </div>
        </div>
        <div class="col-sm-4 pl-0"></div>*@

    <div class="col-sm-12 col-md-8 pl-0 mt-20" id="saveBtn">
        <button type="button" class="btn btn-outline-primary mr-2 text-uppercase" id="sbtn" style="display:none">Save</button>
        <button type="button" class="btn btn-outline-primary mr-2 text-uppercase" id="ebtn" onclick="onEdit(1);">Edit</button>
        <a href="#" class="btn btn-outline-secondary text-uppercase" onclick="onEdit(2);" id="cbtn" style="display:none">Cancel</a>
    </div>

</div>

}
<form style="display:none" id="vcodesec">
    <div class="row pdl-5">
        <div class="col-12 border-2px  pl-0">
            <h5 class="heading-main text-uppercase font-13 fw-400 blurhtext">Email validation code</h5>
        </div>
        <div class="col-12 pl-0">
            <p class="font-14 mt-2 fw-300" style="width:65%">
                A verification code has been sent to your nominated email. Please enter the code below.
            </p>
        </div>

        <div class="col-sm-12 col-md-4 pl-0 mt-20">
            <div class="form-group">
                <label for="emailAddress">Validation Code</label>
                @Html.TextBoxFor(model => model.ECode, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Validation Code" })
                <span id="cerror" style="color:red;font-size:11px;display:none"></span>
            </div>
        </div>
        <div class="col-sm-12 col-md-8"></div>
        <div class="col-sm-12 col-md-8 pl-0 mt-20" id="2saveBtn">
            <button type="button" id="customButton2" onclick="add()" class="btn btn-outline-primary mr-2 text-uppercase">Save</button>
            <a href="#" class="btn btn-outline-secondary text-uppercase" onclick="onEdit(2);">Cancel</a>
        </div>

    </div>
</form>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content mcontent" style="border:0;">
            <div class="modal-footer pl-0 pr-0" style="border:0;">
                <button data-dismiss="modal" class="btn btn-outline-success text-white text-uppercase myes" style="width: 310px;">Personal details have been updated</button>
            </div>
        </div>

    </div>
</div>
<input type="hidden" id="ecode" />
@if (TempData["displayModal"] != null)
{
    var modal = TempData["displayModal"].ToString();
    <script type='text/javascript'>
        $(document).ready(function () {
            $('#@modal').modal('show');
        });
    </script>
}
<script>

    jQuery(document).ready(function () {
        FormValidation.init();
        $("input").prop('disabled', true);
        $("#LookupStateId").prop('disabled', true);
        $('#myModal').on('hide.bs.modal', function () {
                    window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]User/PSettings";
                });

    });


    function onEdit(type) {
        if (type == 1) {
            $("input").prop('disabled', false);
            $("#LookupStateId").prop('disabled', false);
            $("#ebtn").hide();
            $("#sbtn").show();
            $("#cbtn").show();
        }
        else {
            $("input").prop('disabled', true);
            $("#LookupStateId").prop('disabled', true);
            $("#ebtn").show();
            $("#sbtn").hide();
            $("#cbtn").hide();
            $("#vcodesec").hide();
            $("#2saveBtn").hide();
            $("#saveBtn").show();
        }
    }

    $('#sbtn').on('click', function (e) {
        if ($('#frmAddEditUsers').validate().form()) {

            if ($("#Password").val() == $("#ConfirmPassword").val()) {
                $.ajax({
                    url: '@Url.Action(Actions.VerifyEmail, Controllers.User, new { area = "" })',
                    data: {
                        Email: $("#Email").val()
                    },
                    type: 'POST',
                    datatype: 'json',
                    success: function (data) {
                        if (data.Code == 200) {
                            $("#Email").prop('disabled', true);
                            $("#ecode").val(data.Item.ECode);
                            //$("#myModal").modal("show");
                            //$("#saveBtn").hide();
                            $("#vcodesec").show();
                            $("#saveBtn").hide();
                            $("#2saveBtn").show();
                        }
                        else if (data.Code == 403) {
                            toastr.clear();
                            ShowMessageToastr("danger", "Email already exists", false);
                            return;
                        }
                        else if (data.Code == 401) {
                            $('#frmAddEditUsers').submit();
                        }
                    }
                });
            }
            else {
                ShowMessageToastr("danger", "Password & Re Enter Password Does Not Match!", false);
                return
            }
           // }
        }
    })

    function add() {
        debugger
        if ($('#frmAddEditUsers').validate().form()) {

            if ($("#ecode").val() != "") {
                if ($("#ecode").val() == $("#ECode").val()) {
                    // $("#myModal").modal("hide");
                    $("#Email").prop('disabled', false);
                    toastr.clear();
                    ShowMessageToastr("success", "your email is successfully verified.!", false);
                    $("#cerror").hide();
                    $('#frmAddEditUsers').submit();
                }
                else {
                    toastr.clear();
                    $("#cerror").text("please enter Valid Verification Code.");
                    $("#cerror").show();
                    //ShowMessageToastr("danger", "Please enter Valid Verification Code..!", false);
                    return;
                }
            }
            else {
                toastr.clear();
                $("#cerror").text("This field is required.");
                $("#cerror").show();
                // ShowMessageToastr("danger", "Please enter Verification Code..!", false);
                return;
            }
        }
    }

    var FormValidation = function () {
        // basic validation
        var handleValidation1 = function () {

            var form1 = $('#frmAddEditUsers');
            var error1 = $('.alert-danger', form1);
            //var success1 = $('.alert-success', form1);

            form1.validate({
                errorElement: 'label', //default input error message container
                errorClass: 'error', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",  // validate all fields including form hidden input
                rules: {
                    Name: {
                        required: true
                    },
                    LastName: {
                        required: true
                    },
                    Email: {
                        required: true,
                        email: true
                    },
                    CompanyName: {
                        required: true
                    },
                },

                nvalidHandler: function (event, validator) { //display error alert on form submit
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-control').addClass('validate-has-error'); // set error class to the control group
                },

                success: function (label, element) {
                    $(element).closest('.form-control').removeClass('validate-has-error');
                    label.closest('.form-control').removeClass('validate-has-error');
                    label.remove();
                },

                errorPlacement: function (error, element) {
                    if (element.closest('.input-icon').length === 1) {
                        //error.insertAfter(element.closest('.input-icon'));
                    } else {
                        //error.insertAfter(element);
                    }
                },

                submitHandler: function (form) {
                    form.submit(); // form validation success, call ajax form submit
                }
            });

            $('#frmAddEditUsers input').keypress(function (e) {
                if (e.which == 13) {
                    if ($('#frmAddEditUsers').validate().form()) {
                       // $('#frmAddEditUsers').submit(); //form validation success, call ajax form submit
                    }
                    return false;
                }
            });
        }
        return {
            //main function to initiate the module
            init: function () {
                handleValidation1();
            }
        };
    }();

</script>
@Html.Raw(ViewBag.openPopup)