﻿
@{
    ViewBag.Title = "Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PlannedServicesProviderPortal.Pages;
@using PlannedServices.Entities.V1;
@using PlannedServices.Common;
@model Provider
<style>
    .custom-file {
        opacity: 0;
        width: 150px;
        position: absolute;
        height: 40px;
        /*left: 195px;*/
    }
    .rounded{
        border-radius:0px!important;
    }
    .showImg{
        display:none
    }
</style>
<div class="row">
    <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
        <a href="@Url.Action(Actions.Index, Controllers.Dashboard)">
            <div class="card card-home ">
                <div class="card-body">
                    <h5 class="font-weight-normal">Home</h5>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
        <a href="@Url.Action("PSettings", Controllers.User)">
            <div class="card blurbg hborder mbox">
                <div class="card-body pdb-5">
                    <h5 class="font-weight-normal font-12 text-uppercase hideOnMobile mb-0">Profile <br />USERS<br> SETTINGS <br>PROVIDED SERVICES<br>LOGOUT</h5>
                    <h5 class="font-weight-normal font-12 text-uppercase showOnMobile">Profile, USERS, SETTINGS, PROVIDED SERVICES, LOGOUT</h5>


                    <div class="text-left w-100 mt-auto">
                        <img src="~/Content/Icons/User.svg" alt="" class="img-16">
                    </div>

                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0  box">
        <div class="card  border-warning border-2 mbox">
            <div class="card-body">
                <h5 class="font-weight-normal font-12 text-uppercase hideOnMobile">Company <br>Details</h5>
                <h5 class="font-weight-normal font-12 text-uppercase showOnMobile">Company  Details</h5>
                <div class="text-left w-100 mt-auto">
                    <img src="~/Content/Icons/User.svg" alt="" class="img-16">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row w-100">
    <div class="col-12 border-2px ml-5 pl-0">
        <h5 class="heading-main font-13 fw-400 blurhtext text-uppercase">Company DETAILS</h5>
    </div>
</div>
@*@using (Html.BeginForm(Actions.PlanManagerDetails, Controllers.User, FormMethod.Post, new { area = "", @id = "frmAddEditPMD" }))*@
@using (Html.BeginForm(Actions.AddUsers, Controllers.User, FormMethod.Post, new { area = "", @id = "frmAddEditPMD" }))
{
<div class="row pdl-5 mt-20">

    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Email)
    @Html.HiddenFor(model => model.CompanyLogoURL)
    @Html.HiddenFor(model => model.FileName)
    @Html.HiddenFor(model => model.FileURL)
    @Html.HiddenFor(model => model.Position)
    @Html.HiddenFor(model => model.Phone)
    @Html.HiddenFor(model => model.NDISReferenceNumber)
    @Html.HiddenFor(model => model.OfficeType, new { @Value = "0" })

    <div class="col-lg-5 col-md-12 pl-0">
        <label for="emailAddress">NDIS Number (Required if Registered with the NDIS)</label>
        <div id="otp" class="inputs d-flex flex-row justify-content-center">
            <input class="mr-1 text-center form-control custom-form-control rounded" type="text" disabled id="NDIS_1" maxlength="1" value="4" />
            <input class="mr-1 text-center form-control custom-form-control rounded" type="text" disabled id="NDIS_2" maxlength="1" value="3" />
            <input class="mr-1 text-center form-control custom-form-control rounded" type="text" id="NDIS_3" maxlength="1" />
            <input class="mr-1 text-center form-control custom-form-control rounded" type="text" id="NDIS_4" maxlength="1" />
            <input class="mr-1 text-center form-control custom-form-control rounded" type="text" id="NDIS_5" maxlength="1" />
            <input class="mr-1 text-center form-control custom-form-control rounded" type="text" id="NDIS_6" maxlength="1" />
            <input class="mr-1 text-center form-control custom-form-control rounded" type="text" id="NDIS_7" maxlength="1" />
            <input class="mr-1 text-center form-control custom-form-control rounded" type="text" id="NDIS_8" maxlength="1" />
            <input class="mr-1 text-center form-control custom-form-control rounded" type="text" id="NDIS_9" maxlength="1" />
        </div>
    </div>
    <div class="col-lg-7 col-md-12 pl-0"></div>
        <div class="col-lg-4 col-md-12 mt-10 pl-0">
            <div class="form-group">
                <label for="emailAddress">Company name</label>
                @Html.TextBoxFor(model => model.CompanyName, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Enter your company name" })
            </div>
        </div>
        @*<div class="col-lg-2 col-md-12 pl-0">
                <div class="form-group">
                    <label for="emailAddress">ABN</label>
                    @Html.TextBoxFor(model => model.ABN, new { @type = "number", @minlength = 11, @maxlength = 11, @class = "form-control custom-form-control", placeholder = "ABN", onblur = "onABN()" })
                </div>
            </div>
            <div class="col-lg-2 col-md-12 pl-0">
                <div class="form-group">
                    <label for="emailAddress">NDIS number (optional) </label>
                    @Html.TextBoxFor(model => model.NDISReferenceNumber, new { @type = "number", @minlength = 9, @maxlength = 9, @class = "form-control custom-form-control", placeholder = "NDIS Number", onblur = "onNDIS()" })
                </div>
            </div>*@
        <div class="col-lg-4 col-sm-12 pl-0"></div>
        <div class="col-sm-12 pl-0">
            <div class="form-group">
                <label for="emailAddress">Company Profile</label>
                @Html.TextAreaFor(model => model.ProviderProfileAndServices, new { @rows = "5", @type = "text", @class = "form-control custom-form-control font-13 fw-400", placeholder = "Company Profile" })
            </div>
        </div>
        <div class="col-sm-12 pl-0">
            <div class="form-group">
                <label for="emailAddress">Company Logo</label>
                
                    <div id="clsec" class="@(Model.CompanyLogoURL == null ? "showImg" : "")">
                        <img src="" id="cLogo"
                              style="width:150px;height:150px" />
                    </div>
                
            </div>
        </div>
        <div class="col-sm-12 pl-0" id="logoBtn" style="display:none">
            <div class="w-100">
                <input type="file" id="fileInput" class="custom-file" onchange="readURL(this)" />
                <button class="btn btn-outline-warning" style="float:left;margin-right:10px">Upload Logo </button>
                <p>Logo size requirement 150x150 pixels.<br /> JPEG or PNG</p>
            </div>
        </div>
        <div class="row w-100 ml-0">
            <div class="col-12 border-2px mb-20 pl-0">
                <h5 class="heading-main font-13 fw-400 blurhtext text-uppercase">SUPPORTING DOCUMENTS</h5>
            </div>
        </div>
        <div class="row w-100 ml-0 unread" id="cDocSec">
            @*<div class="col-sm-6 pl-0">
                    <div class="row">
                        <div class="col-8">
                            <div class="form-group">
                                <input class="form-control custom-form-control" disabled value="PDF" />
                            </div>
                        </div>
                        <div class="col-4">
                            <button class="btn btn-outline-danger text-white" style="float:left;margin-right:10px">Delete</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 pl-0">
                    <div class="row">
                        <div class="col-8">
                            <div class="form-group">
                                <input class="form-control custom-form-control" disabled value="PDF" />
                            </div>
                        </div>
                        <div class="col-4">
                            <button class="btn btn-outline-danger text-white" style="float:left;margin-right:10px">Delete</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 pl-0">
                    <div class="row">
                        <div class="col-8">
                            <div class="form-group">
                                <input class="form-control custom-form-control" disabled value="PDF" />
                            </div>
                        </div>
                        <div class="col-4">
                            <button class="btn btn-outline-danger text-white" style="float:left;margin-right:10px">Delete</button>
                        </div>
                    </div>
                </div>*@
        </div>
        <div class="col-sm-12 pl-0" id="cDocBtn" style="display:none">
            <div class="w-100" style="margin:10px 0 30px 0">
                <input type="file" id="fileInput1" multiple class="custom-file" onchange="readURL1(this)" />
                <button class="btn btn-outline-warning" style="float:left;margin-right:10px">Upload Files </button>
            </div>
        </div>
        @*<div class="col-sm-8 pl-0">
                <div class="form-group">
                    <label for="emailAddress">Address</label>
                    @Html.TextBoxFor(model => model.AddressLine1, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Enter full Address" })
                </div>
            </div>
            <div class="col-md-4 col-sm-12 pl-0"></div>
            <div class="col-md-4 col-sm-12 pl-0">
                <div class="form-group">
                    <label for="emailAddress">Surburb</label>
                    @Html.TextBoxFor(model => model.Surburb, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Surburb" })
                </div>
            </div>

            <div class="col-sm-2 pl-0">
                <div class="form-group">
                    <label for="emailAddress">State</label>
                    @Html.DropDownListFor(model => model.LookupStateId, (IEnumerable<SelectListItem>)ViewBag.States, "Select State", new { @class = "form-control custom-form-control" })
                </div>
            </div>
            <div class="col-sm-2 pl-0">
                <div class="form-group">
                    <label for="emailAddress">Post code</label>
                    @Html.TextBoxFor(model => model.PinCode, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Post Code" })
                </div>
            </div>
            <div class="col-sm-4 pl-0"></div>
            <div class="col-sm-4 pl-0">
                <div class="form-group">
                    <label for="emailAddress">Telephone</label>
                    @Html.TextBoxFor(model => model.Phone, new { @type = "text", @class = "form-control custom-form-control", placeholder = "xxxx" })
                </div>
            </div>
            <div class="col-sm-4 pl-0">
                <div class="form-group">
                    <label for="emailAddress">Email</label>
                    @Html.TextBoxFor(model => model.CompanyEmail, new { @type = "email", @class = "form-control custom-form-control", placeholder = "Email" })
                </div>
            </div>
            <div class="col-sm-4 pl-0"></div>
            <div class="col-sm-4 pl-0">
                <div class="form-group">
                    <label for="emailAddress">Web site</label>
                    @Html.TextBoxFor(model => model.Website, new { @type = "text", @class = "form-control custom-form-control", placeholder = "WebSite" })
                </div>
            </div>
            <div class="col-sm-4 pl-0">
                <div class="form-group">
                    <label for="emailAddress">NDIS number</label>
                    @Html.TextBoxFor(model => model.NDISReferenceNumber, new { @type = "text", @class = "form-control custom-form-control", placeholder = "NDIS Number" })
                </div>
            </div>
            <div class="col-sm-4 pl-0"></div>*@

        <div class="col-md-8 col-sm-12 pl-0 mt-20">
            <button type="submit" class="btn btn-outline-primary mr-2" id="sbtn" onclick="save()" style="display:none">Save</button>
            <button type="button" class="btn btn-outline-primary mr-2" id="ebtn" onclick="onEdit(1);">Edit</button>
            <a href="#" class="btn btn-outline-secondary" onclick="onEdit(2);" id="cbtn" style="display:none">Cancel</a>
        </div>

    </div>

    }

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content mcontent" style="border:0;">
                <div class="modal-footer pl-0 pr-0" style="border:0;">
                    <button data-dismiss="modal" class="btn btn-outline-success text-white text-uppercase myes" style="width: 310px;">
                        Company details have been updated
                    </button>
                </div>
            </div>

        </div>
    </div>

    <input type="hidden" id="fName" value="@Model.FileName" />
    <input type="hidden" id="fUrl" value="@Model.FileURL" />
    <input type="hidden" id="clUrl" value="@Model.CompanyLogoURL" />

    <div class="overlayUpload" id="isLoading" style="display:none">
        <div class="uploadtext">Loading...</div>
    </div>

    @if (TempData["displayModal"] != null)
    {
        var modal = TempData["displayModal"].ToString();
        <script type='text/javascript'>
        $(document).ready(function () {
            $('#@modal').modal('show');
        });
        </script>
    }
<script>

        var cDocNameArray = [];
        var cDocUrlArray = [];

    function onNDIS() {
        FormValidation.init();
    }
    function onABN() {
        FormValidation.init();
    }
    jQuery(document).ready(function () {
        cDocNameArray = $("#fName").val() != "" ? ($("#fName").val()).split(','):[];
        cDocUrlArray = $("#fUrl").val() != "" ? ($("#fUrl").val()).split(',') : [];

        var s = '';
        for (var i = 0; i < cDocNameArray.length; i++) {
            if (cDocNameArray[i] != "" && cDocNameArray[i] != null) {
                s += '<div class="col-sm-6 pl-0" id="doc_' + i + '">'
                s += '<div class="row">'
                s += '<div class="col-8">'
                s += '<div class="form-group">'
                s += '<input class="form-control custom-form-control" disabled value="' + cDocNameArray[i] + '" />'
                s += '</div>'
                s += '</div>'
                s += '<div class="col-4">'
                s += '<a class="btn btn-outline-secondary text-white" style="float:left;margin-right:10px">Active</a>'
                s += '</div>'
                s += '</div>'
                s += '</div>'

            }
        }
        $("#cDocSec").html(s);

        var ndisNumber = ($("#NDISReferenceNumber").val()).split("");
        for (var i = 0; i < ndisNumber.length; i++) {
            $("#NDIS_" + (i + 1)).val(ndisNumber[i]);
            //number += ndisNumber[i];
        }
        debugger
        if ($("#clUrl").val() != "") {
            $("#cLogo").attr("src", "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]" + $("#clUrl").val());
        }
        FormValidation.init();
        $("input").prop('disabled', true);
        $("#LookupStateId").prop('disabled', true);
        $("#ProviderProfileAndServices").prop('disabled', true);
     $('#myModal').on('hide.bs.modal', function () {
                    window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]User/PSettings";
                });

    });

    function onEdit(type) {
        debugger
        if (type == 1) {
            $("input").prop('disabled', false);
            $("#LookupStateId").prop('disabled', false);
            $("#ProviderProfileAndServices").prop('disabled', false);
            $("#NDIS_1").prop('disabled', true);
            $("#NDIS_2").prop('disabled', true);
            $("#ebtn").hide();
            $("#sbtn").show();
            $("#cbtn").show();
            $("#logoBtn").show();
            $("#cDocBtn").show();

            var s = '';
            for (var i = 0; i < cDocNameArray.length; i++) {
                if (cDocNameArray[i] != "" && cDocNameArray[i] != null) {
                    s += '<div class="col-sm-6 pl-0" id="doc_' + i + '">'
                    s += '<div class="row">'
                    s += '<div class="col-8">'
                    s += '<div class="form-group">'
                    s += '<input class="form-control custom-form-control" disabled value="' + cDocNameArray[i] + '" />'
                    s += '</div>'
                    s += '</div>'
                    s += '<div class="col-4">'
                    s += '<a class="btn btn-outline-danger text-white" style="float:left;margin-right:10px" onclick="removeDoc(' + i + ')" >Delete</a>'
                    s += '</div>'
                    s += '</div>'
                    s += '</div>'
                }
            }
            $("#cDocSec").html(s);
            $("#cDocSec").removeClass("unread");

        }
        else {
            $("input").prop('disabled', true);
            $("#LookupStateId").prop('disabled', true);
            $("#ebtn").show();
            $("#sbtn").hide();
            $("#cbtn").hide();
            $("#logoBtn").hide();
            $("#cDocBtn").hide();


            var s = '';
            for (var i = 0; i < cDocNameArray.length; i++) {
                if (cDocNameArray[i] != "" && cDocNameArray[i] != null) {
                    s += '<div class="col-sm-6 pl-0" id="doc_' + i + '">'
                    s += '<div class="row">'
                    s += '<div class="col-8">'
                    s += '<div class="form-group">'
                    s += '<input class="form-control custom-form-control" disabled value="' + cDocNameArray[i] + '" />'
                    s += '</div>'
                    s += '</div>'
                    s += '<div class="col-4">'
                    s += '<a class="btn btn-outline-secondary text-white" style="float:left;margin-right:10px">Active</a>'
                    s += '</div>'
                    s += '</div>'
                    s += '</div>'
                }
            }
            $("#cDocSec").html(s);
            $("#cDocSec").addClass("unread");

        }
    }

    var FormValidation = function () {
        // basic validation
        var handleValidation1 = function () {

            var form1 = $('#frmAddEditPMD');
            var error1 = $('.alert-danger', form1);
            //var success1 = $('.alert-success', form1);

            form1.validate({
                errorElement: 'label', //default input error message container
                errorClass: 'error', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",  // validate all fields including form hidden input
                rules: {
                    CompanyName: {
                        required: true
                    },
                    //ABN: {
                    //    required: true
                    //},
                    //AddressLine1: {
                    //    required: true
                    //},
                    //Phone: {
                    //    required: true
                    //},
                    //LookupStateId: {
                    //    required: true
                    //},
                    //CompanyEmail: {
                    //    required: true,
                    //    email: true
                    //},
                    //PinCode: {
                    //    required: true
                    //},
                    //Surburb: {
                    //    required: true
                    //},
                    //NDISReferenceNumber: {
                    //    required: {
                    //        depends: function (element) {
                    //            if ($("#NDISReferenceNumber").val() != "" && $("#NDISReferenceNumber").val() != null) {
                    //                return true;
                    //            } else {
                    //                return false;
                    //            }
                    //        }
                    //    }
                    //},
                    //ABN: {
                    //    required: {
                    //        depends: function (element) {
                    //            if ($("#ABN").val() != "" && $("#ABN").val() != null) {
                    //                return true;
                    //            } else {
                    //                return false;
                    //            }
                    //        }
                    //    }
                    //},
                    //NDISReferenceNumber: {
                    //    required: true
                    //},
                    //WebSite: {
                    //    required: true
                    //},
                },

                nvalidHandler: function (event, validator) { //display error alert on form submit
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-control').addClass('validate-has-error'); // set error class to the control group
                },

                success: function (label, element) {
                    $(element).closest('.form-control').removeClass('validate-has-error');
                    label.closest('.form-control').removeClass('validate-has-error');
                    label.remove();
                },

                errorPlacement: function (error, element) {
                    if (element.closest('.input-icon').length === 1) {
                       // error.insertAfter(element.closest('.input-icon'));
                    } else {
                       // error.insertAfter(element);
                    }
                },

                submitHandler: function (form) {
                    debugger
                   // getAllValues();
                    $("#FileName").val(cDocNameArray.join(","));
                    $("#FileURL").val(cDocUrlArray.join(","));
                    $("#CompanyLogoURL").val($("#clUrl").val());
                    form.submit(); // form validation success, call ajax form submit
                }
            });

            $('#frmAddEditPMD input').keypress(function (e) {
                if (e.which == 13) {
                    if ($('#frmAddEditPMD').validate().form()) {
                        $("#FileName").val(cDocNameArray.join(","));
                        $("#FileURL").val(cDocUrlArray.join(","));
                        $("#CompanyLogoURL").val($("#clUrl").val());
                        $('#frmAddEditPMD').submit(); //form validation success, call ajax form submit
                    }
                    return false;
                }
            });
        }
        return {
            //main function to initiate the module
            init: function () {
                handleValidation1();
            }
        };
    }();

        function readURL(input) {
            debugger
            $("#isLoading").show();
        var formData = new FormData();
        if (input.files && input.files[0]) {
            debugger
            var file = input.files;
            var fileInput = document.getElementById('fileInput');
            for (i = 0; i < fileInput.files.length; i++) {

                var sfilename = fileInput.files[i].name;

                formData.append(sfilename, fileInput.files[i]);
            };
            formData.append("files", file);

            $.ajax({
                type: "POST",
                url: "@Url.Action("UploadCompanyLogo", Controllers.User, new { area = "" })",
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    debugger
                    if (response.Code == 200) {
                        var filename = response.Item.FileName;
                        var fileurl = response.Item.ImageUrl;
                        var s = '';
                        //for (var i = 0; i < filename.length; i++) {
                        //    if (filename[i] != "" && filename[i] != null) {
                        //        s += '<div  style="float:left;margin-bottom:10px">'
                        //        s += '<a target="_blank" href="../' + fileurl[i] +'">'
                        //        s += '<img src = "../Content/images/fileIcon.png" style = "margin:0px 0 10px 0;padding-left: 2.25rem;" />'
                        //        s += '<p style="padding-left: 2.25rem;margin-bottom:0;min-height:17px">' + filename[i] + '</p>'
                        //        s += '</a>'
                        //        s += '</div>'
                        //    }
                        //}
                        $("#fileSec").html(s);
                        $("#cLogo").attr("src","@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]"+fileurl);
                        $("#clUrl").val(fileurl);
                        $("#clsec").removeClass("showImg");
                        $("#isLoading").hide();
                    }
                    else {
                        //$("#file_" + id).val("");
                        //$("#cLogo").hide();
                        $("#isLoading").hide();
                    }
                }

            });
            //    var reader = new FileReader();
            //    reader.onload = function (e) {
            //        $('#blah2').attr('src', e.target.result);
            //    }
            //}
            //else {
            //}
        }
    }

        function readURL1(input) {
        var formData = new FormData();
            if (input.files && input.files[0]) {
                $("#isLoading").show();
            debugger
            var file = input.files;
            var fileInput = document.getElementById('fileInput1');
            for (i = 0; i < fileInput.files.length; i++) {

                var sfilename = fileInput.files[i].name;

                formData.append(sfilename, fileInput.files[i]);
            };
            formData.append("files", file);

            $.ajax({
                type: "POST",
                url: "@Url.Action("Upload", Controllers.ServiceRequests, new { area = "" })",
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response.Code == 200) {
                        var filename = response.Item.FileName.split(',');
                        var fileurl = response.Item.ImageUrl.split(',');
                        for (var j = 0; j < cDocUrlArray.length; j++) {
                            filename.unshift(cDocNameArray[j]);
                            fileurl.unshift(cDocUrlArray[j]);
                        }
                        cDocNameArray = [];
                        cDocUrlArray = [];
                        var s = '';
                        for (var i = 0; i < filename.length; i++) {
                            if (filename[i] != "" && filename[i] != null) {
                                s += '<div class="col-sm-6 pl-0" id="doc_'+i+'">'
                                s += '<div class="row">'
                                s += '<div class="col-8">'
                                s += '<div class="form-group">'
                                s += '<input class="form-control custom-form-control" disabled value="' + filename[i] + '" />'
                                s += '</div>'
                                s += '</div>'
                                s += '<div class="col-4">'
                                s += '<a class="btn btn-outline-danger text-white" style="float:left;margin-right:10px" onclick="removeDoc('+i+')" >Delete</a>'
                                s += '</div>'
                                s += '</div>'
                                s += '</div>'
                                cDocNameArray.push(filename[i]);
                                cDocUrlArray.push(fileurl[i]);
                            }
                        }
                        $("#cDocSec").html(s);
                        $("#fName").val(response.Item.FileName);
                        $("#fUrl").val(response.Item.ImageUrl);
                        $("#isLoading").hide();
                    }
                    else {
                        //$("#file_" + id).val("");
                        //$("#fileSec").hide();
                        $("#isLoading").hide();
                    }
                }

            });
            //    var reader = new FileReader();
            //    reader.onload = function (e) {
            //        $('#blah2').attr('src', e.target.result);
            //    }
            //}
            //else {
            //}
        }
    }
        function removeDoc(index) {
            cDocNameArray.splice(index, 1);
            cDocUrlArray.splice(index, 1);
            $("#doc_" + index).remove();
    }

    document.addEventListener("DOMContentLoaded", function (event) {

        function OTPInput() {
            const inputs = document.querySelectorAll('#otp > *[id]');
            for (let i = 0; i < inputs.length; i++) {
                inputs[i].addEventListener('keydown', function (event) {
                    if (event.key === "Backspace") {
                        inputs[i].value = ''; if (i !== 0) inputs[i - 1].focus();
                    } else {
                        if (i === inputs.length - 1 && inputs[i].value !== '') {
                            return true;
                        } else if (event.keyCode > 47 && event.keyCode < 58) {
                            inputs[i].value = event.key; if (i !== inputs.length - 1) inputs[i + 1].focus(); event.preventDefault();
                        } else if (event.keyCode > 64 && event.keyCode < 91) {
                            inputs[i].value = String.fromCharCode(event.keyCode);
                            if (i !== inputs.length - 1) inputs[i + 1].focus();
                            event.preventDefault();
                        }
                    }
                });
            }
        } OTPInput();
    });

    function getAllValues() {
        debugger
        var inputValues = $('#otp :input').map(function () {
            var type = $(this).prop("type");

            // checked radios/checkboxes
            if ((type == "checkbox" || type == "radio") && this.checked) {
                return $(this).val();
            }
            // all other fields, except buttons
            else if (type != "button" && type != "submit") {
                return $(this).val();
            }
        })
        return inputValues;
    }
    function save() {
        var ndis = getAllValues();
        debugger;
        var number = "";
        for (var i = 0; i < ndis.length; i++) {
            number += ndis[i];
        }
        $("#NDISReferenceNumber").val(number);
        if ($('#frmAddEditPMD').validate().form()) {
            $("#FileName").val(cDocNameArray.join(","));
            $("#FileURL").val(cDocUrlArray.join(","));
            $("#CompanyLogoURL").val($("#clUrl").val());
            $('#frmAddEditPMD').submit(); //form validation success, call ajax form submit
        }

    }
</script>
    @Html.Raw(ViewBag.openPopup)
