﻿
@{
    ViewBag.Title = "Provider Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PlannedServicesProviderPortal.Pages;
@using PlannedServices.Common.Paging;
@using PlannedServices.Entities.Contract;
@using PlannedServices.Common;
@model  PagedList<AbstractServices>
<div class="row">
    <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
        <a href="@Url.Action(Actions.Index, Controllers.Dashboard)">
            <div class="card card-home ">
                <div class="card-body">
                    <h5 class="font-weight-normal">Home</h5>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
        <a href="@Url.Action("PSettings", Controllers.User)">
            <div class="card blurbg hborder mbox">
                <div class="card-body pdb-5">
                    <h5 class="font-weight-normal font-12 text-uppercase hideOnMobile mb-0">Profile <br />USERS<br> SETTINGS <br>PROVIDED SERVICES<br>LOGOUT</h5>
                    <h5 class="font-weight-normal font-12 text-uppercase showOnMobile">Profile, USERS, SETTINGS, PROVIDED SERVICES, LOGOUT</h5>

                    <div class="text-left w-100 mt-auto">
                        <img src="~/Content/Icons/User.svg" alt="" class="img-16">
                    </div>

                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0  box">
        <div class="card  border-warning border-2 mbox">
            <div class="card-body">
                <h5 class="font-weight-normal font-12 text-uppercase hideOnMobile">Provided <br>Services</h5>
                <h5 class="font-weight-normal font-12 text-uppercase showOnMobile">Provided Services</h5>
                <div class="text-left w-100 mt-auto">
                    <img src="~/Content/Icons/Support_Requests.svg" alt="" class="img-16">
                </div>
            </div>
        </div>
    </div>
</div>
@if (ProjectSession.ProviderId == ProjectSession.ParentId)
{
    <div class="row">
        <div class="col-12 border-2px ml-5 pl-0">
            <h5 class="heading-main font-13 fw-400 blurhtext text-uppercase">GENERAL REGISTRATION GROUPS</h5>
        </div>
    </div>
    <div class="row mt-20">

        @if (ViewBag.ProviderSData.Values != null)
        {
            foreach (var item in ViewBag.ProviderSData.Values)
            {
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 pr-0 ml-5 border-1px">
                            <div class="radio-list-padding">
                                <div class="row g-2x">
                                    <div class="col-12 mr-20">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" id="customCheck_@item.Id" name="customCheck_@item.Id" value="@item.Id" class="custom-control-input checkClass">
                                            <label class="custom-control-label" for="customCheck_@item.Id">@item.Name</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }
        }

    </div>
    <div class="row mt-20">
        <div class="col-12 border-2px ml-5 pl-0">
            <h5 class="heading-main font-13 fw-400 blurhtext text-uppercase">PROFESSIONAL REGISTRATION GROUPS</h5>
        </div>
    </div>
    <div class="row mt-20">

        @if (ViewBag.ProviderPData.Values != null)
        {
            foreach (var item in ViewBag.ProviderPData.Values)
            {
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 pr-0 ml-5 border-1px">
                            <div class="radio-list-padding">
                                <div class="row g-2x">
                                    <div class="col-12 mr-20">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" id="customCheck_@item.Id" name="customCheck_@item.Id" value="@item.Id" class="custom-control-input pcheckClass">
                                            <label class="custom-control-label" for="customCheck_@item.Id">@item.Name</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }
        }

    </div>

    <div class="row mt-20">
        <div class="col-12 border-2px ml-5 pl-0">
            <h5 class="heading-main font-13 fw-400 blurhtext text-uppercase">HOME AND VEHICLE MODIFICATION REGISTRATION GROUPS</h5>
        </div>
    </div>
    <div class="row mt-20">

        @if (ViewBag.ProviderHData.Values != null)
        {
            foreach (var item in ViewBag.ProviderHData.Values)
            {
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 pr-0 ml-5 border-1px">
                            <div class="radio-list-padding">
                                <div class="row g-2x">
                                    <div class="col-12 mr-20">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" id="customCheck_@item.Id" name="customCheck_@item.Id" value="@item.Id" class="custom-control-input hcheckClass">
                                            <label class="custom-control-label" for="customCheck_@item.Id">@item.Name</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }
        }

    </div>

    <div class="row mt-20">
        <div class="col-12 border-2px ml-5 pl-0">
            <h5 class="heading-main font-13 fw-400 blurhtext text-uppercase">ASSISTIVE TECHNOLOGY AND EQUIPMENT REGISTRATION GROUPS</h5>
        </div>
    </div>
    <div class="row mt-20">

        @if (ViewBag.ProviderAData.Values != null)
        {
            foreach (var item in ViewBag.ProviderAData.Values)
            {
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 pr-0 ml-5 border-1px">
                            <div class="radio-list-padding">
                                <div class="row g-2x">
                                    <div class="col-12 mr-20">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" id="customCheck_@item.Id" name="customCheck_@item.Id" value="@item.Id" class="custom-control-input acheckClass">
                                            <label class="custom-control-label" for="customCheck_@item.Id">@item.Name</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }
        }

    </div>
}
else
{
    <div class="row mt-20">

        @if (ViewBag.ProviderSData.Values != null)
        {
            foreach (var item in ViewBag.ProviderSData.Values)
            {
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 pr-0 ml-5 border-1px">
                            <div class="radio-list-padding">
                                <div class="row g-2x">
                                    <div class="col-12 mr-20">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" id="customCheck_@item.Id" name="customCheck_@item.Id" value="@item.Id" class="custom-control-input checkClass">
                                            <label class="custom-control-label" for="customCheck_@item.Id">@item.Name</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }
        }

    </div>
}
<div class="row mt-20">
    <div class="col-md-8 col-sm-12 pl-0 mt-20">
        <button type="button" class="btn btn-outline-primary mr-2 text-uppercase" onclick="onNext()" id="sbtn" style="display:none">Save</button>
        <button type="button" class="btn btn-outline-primary mr-2 text-uppercase" id="ebtn" onclick="onEdit(1);">Edit</button>
        <a href="#" class="btn btn-outline-secondary text-uppercase" onclick="onEdit(2);" id="cbtn" style="display:none">Cancel</a>
    </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content mcontent" style="border:0;">
            <div class="modal-footer pl-0 pr-0" style="border:0;">
                <button data-dismiss="modal" class="btn btn-outline-success text-white text-uppercase myes" style="width: 310px;">
                    Provided services have been updated
                </button>
            </div>
        </div>

    </div>
</div>

<input type="hidden" id="SupportItemIds" />
<input type="hidden" id="pSupportItemIds" />
<input type="hidden" id="hSupportItemIds" />
<input type="hidden" id="aSupportItemIds" />


<script>
    jQuery(document).ready(function () {
        $("input").prop('disabled', true);
         if (@Html.Raw(Json.Encode(@ViewBag.RegaArray)) != null) {
            var sizearray = @Html.Raw(Json.Encode(@ViewBag.RegaArray));
            for (var i = 0; i < sizearray.length; ++i) {
                if ($("#customCheck_" + $.trim(sizearray[i])).val() == $.trim(sizearray[i])) {
                    $("#customCheck_" + $.trim(sizearray[i])).attr("checked", "checked");
                }
            }
        }
         $('#myModal').on('hide.bs.modal', function () {
                    window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]User/PSettings";
                });
    });

    function onEdit(type) {
        if (type == 1) {
            $("input").prop('disabled', false);
            $("#ebtn").hide();
            $("#sbtn").show();
            $("#cbtn").show();
        }
        else {
            $("input").prop('disabled', true);
            $("#ebtn").show();
            $("#sbtn").hide();
            $("#cbtn").hide();
        }
    }

   function onNext() {
        var chks = document.getElementsByClassName("checkClass");
        var chks2 = document.getElementsByClassName("pcheckClass");
        var chks3 = document.getElementsByClassName("hcheckClass");
        var chks4 = document.getElementsByClassName("acheckClass");
        var selectedCheck = new Array();
        var selectedCheck2 = new Array();
        var selectedCheck3 = new Array();
       var selectedCheck4 = new Array();

        for (var i = 0; i < chks.length; i++) {
            if (chks[i].checked) {
                selectedCheck.push(chks[i].value);
            }
        }
        if (selectedCheck.length > 0) {
            var Ids = selectedCheck.join(",");
            $("#SupportItemIds").val(Ids);
        }
        else {
            $("#SupportItemIds").val("");
       }

       for (var i = 0; i < chks2.length; i++) {
           if (chks2[i].checked) {
               selectedCheck2.push(chks2[i].value);
           }
       }
       if (selectedCheck2.length > 0) {
           var Ids = selectedCheck2.join(",");
           $("#pSupportItemIds").val(Ids);
       }
       else {
           $("#pSupportItemIds").val("");
       }

       for (var i = 0; i < chks3.length; i++) {
           if (chks3[i].checked) {
               selectedCheck3.push(chks3[i].value);
           }
       }
       if (selectedCheck3.length > 0) {
           var Ids = selectedCheck3.join(",");
           $("#hSupportItemIds").val(Ids);
       }
       else {
           $("#hSupportItemIds").val("");
       }

       for (var i = 0; i < chks4.length; i++) {
           if (chks4[i].checked) {
               selectedCheck4.push(chks4[i].value);
           }
       }
       if (selectedCheck4.length > 0) {
           var Ids = selectedCheck4.join(",");
           $("#aSupportItemIds").val(Ids);
       }
       else {
           $("#aSupportItemIds").val("");
       }

       if ($("#SupportItemIds").val() == "" && $("#pSupportItemIds").val() == "" && $("#hSupportItemIds").val() == "" && $("#aSupportItemIds").val() == "") {
           toastr.remove();
           ShowMessageToastr("danger", "Please Select Provided Services!", false);
           return
       }

       //if ($("#SupportItemIds").val() == "") {
       //    toastr.remove();
       //     ShowMessageToastr("danger", "Please Select General Registration Groups.!", false);
       //     return
       //}
       //if ($("#pSupportItemIds").val() == "") {
       //    toastr.remove();
       //    ShowMessageToastr("danger", "Please Select Professional Registration Groups.!", false);
       //    return
       //}
       //if ($("#hSupportItemIds").val() == "") {
       //    toastr.remove();
       //    ShowMessageToastr("danger", "Please Select Home and Vehicle Modification Registration Groups.!", false);
       //    return
       //}
       //if ($("#aSupportItemIds").val() == "") {
       //    toastr.remove();
       //    ShowMessageToastr("danger", "Please Select Assistive Technology and Equipment Registration Groups.!", false);
       //    return
       //}

                $.ajax({
                      url: '@Url.Action(Actions.AddProviderService, Controllers.User, new { area = "" })',
                      data: {
                          Ids: $("#SupportItemIds").val(),
                          PIds: $("#pSupportItemIds").val(),
                          HIds: $("#hSupportItemIds").val(),
                          AIds: $("#aSupportItemIds").val()
                           },
                  type: 'POST',
                  datatype: 'json',
              success: function (data) {
                  if (data.Code == 200) {
                      $('#myModal').modal('show');
                      //window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]User/PSettings";
                  }
                  else {
                      ShowMessageToastr("danger", data.Message, false);
                      return
                  }
                  },
                  error: function () { }
              });
    }


</script>
@Html.Raw(ViewBag.openPopup)
