﻿
@{
    ViewBag.Title = "Provider Services Area";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PlannedServicesProviderPortal.Pages;
@using PlannedServices.Entities.V1;
@using PlannedServices.Common;
@model Provider
<style>
    .distance {
        float: left;
        height: 35px;
        padding: 16px;
        width: 25%;
        border-radius: 0;
        border: 1px solid;
    }

    .custom-form-control:focus {
        box-shadow: none;
        border-color: #fff
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    a.disabled {
        pointer-events: none;
        cursor: default;
        color: #fff !important;
    }
    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
</style>

<div class="row">
    <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
        <a href="@Url.Action(Actions.Index, Controllers.Dashboard)">
            <div class="card card-home ">
                <div class="card-body">
                    <h5 class="font-weight-normal">Home</h5>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
        <a href="@Url.Action("PSettings", Controllers.User)">
            <div class="card blurbg hborder mbox">
                <div class="card-body pdb-5">
                    <h5 class="font-weight-normal font-12 text-uppercase hideOnMobile mb-0">Profile <br />USERS<br> SETTINGS <br>PROVIDED SERVICES<br>LOGOUT</h5>
                    <h5 class="font-weight-normal font-12 text-uppercase showOnMobile">Profile, USERS, SETTINGS, PROVIDED SERVICES, LOGOUT</h5>


                    <div class="text-left w-100 mt-auto">
                        <img src="~/Content/Icons/User.svg" alt="" class="img-16">
                    </div>

                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0  box">
        <div class="card  border-warning border-2 mbox">
            <div class="card-body">
                <h5 class="font-weight-normal font-12 text-uppercase">Locations</h5>
                <div class="text-left w-100 mt-auto">
                    <img src="~/Content/Icons/Location.svg" alt="" class="img-16">
                </div>
            </div>
        </div>
    </div>
</div>
@if (ProjectSession.ProviderId == ProjectSession.ParentId)
{
    <div class="row w-100">
        <div class="col-12 border-2px ml-5 pl-0">
            <h5 class="heading-main font-13 fw-400 blurhtext text-uppercase">LOCATION SERVICE AREA</h5>
        </div>
    </div>

    <div class="row pl-0">
        <div class="col-md-12 col-lg-3 pl-0">
            <div class="custom-control custom-radio">
                <input type="radio" id="1" checked name="customRadio" class="custom-control-input" value="1" onclick="onArea(0)">
                <label class="custom-control-label font-16" style="margin-top: 5px" for="1">Up to 50km</label>
            </div>
        </div>
        <div class="col-md-12 col-lg-5 pl-0">
            <div class="custom-control custom-radio">
                <input type="radio" id="3" name="customRadio" class="custom-control-input mt-3" value="3" onclick="onArea(1)">
                <label class="custom-control-label font-16 rm" for="3">
                    <span style="float:left;margin-right:10px;margin-top:5px">Up to</span>
                    <input style="width:150px" disabled="true" type="text" class="form-control custom-form-control distance" placeholder="Distance in Km" id="distance">
                </label>
            </div>
        </div>
        <div class="col-md-12 col-lg-3 pl-0">
            <div class="custom-control custom-radio">
                <input type="radio" id="2" name="customRadio" class="custom-control-input" value="2" onclick="onArea(0)">
                <label class="custom-control-label font-16" style="margin-top: 5px" for="2">Australia Wide</label>
            </div>
        </div>

        @*<div class="col-sm-8 pl-0 mt-20">
                <button type="button" class="btn btn-outline-primary mr-2 text-uppercase" onclick="onNext()" id="sbtn" style="display:none">Save</button>
                <button type="button" class="btn btn-outline-primary mr-2 text-uppercase" id="ebtn" onclick="onEdit(1);">Edit</button>
                <a href="#" class="btn btn-outline-secondary text-uppercase" onclick="onEdit(2);" id="cbtn" style="display:none">Cancel</a>
            </div>*@

    </div>
}

<div class="row w-100">
    <div class="col-12 border-2px ml-5 pl-0">
        <h5 class="heading-main font-13 fw-400 blurhtext text-uppercase">Locations</h5>
    </div>
</div>
@if (ProjectSession.ProviderId == ProjectSession.ParentId)
{
    <div class="row pdl-5 ">
        @if (ViewBag.LocationData != null)
        {
            foreach (var item in ViewBag.LocationData)
            {
                <div class="col-12 pr-0 ml-5 mt-20 border-1px">
                    <div class="row">
                        <div class="col-sm-2 col-2 pl-0">
                            <div class="form-group">
                                <input type="text" value="@item.PinCode" id="p_@item.Id" class="form-control custom-form-control" disabled />
                            </div>
                        </div>
                        <div class="col-sm-2 col-2 pl-0">
                            <div class="form-group">
                                <input type="hidden" value="@item.LookupStateId" id="s_@item.Id" disabled />
                                <input type="text" value="@item.StateName" class="form-control custom-form-control" disabled />
                            </div>
                        </div>
                        <div class="col-sm-4 col-4 pl-0">
                            <div class="form-group">
                                <input type="text" value="@item.City" id="c_@item.Id" class="form-control custom-form-control" disabled />
                            </div>
                        </div>
                        <div class="col-sm-2 col-2 pl-0"></div>
                        <div class="col-sm-2 col-2 pl-0">
                            <div class="text-center">
                                <img onclick="addLocation(@item.Id)" src="~/Content/Icons/Cross.svg" alt="" class="img-16">
                            </div>
                            @*<div class="form-group" style="margin-top: 1.975rem !important;">
                                    <a href="#" onclick="addLocation(@item.Id)" class="btn btn-outline-primary lobtn text-uppercase">Edit Location</a>
                                </div>*@
                        </div>
                    </div>
                </div>
            }
        }

        <div class="col-sm-12 pl-0 mt-20 locationsec" style="display:none">
            <div class="form-group">
                <a href="#" onclick="addLocation(0)" class="btn btn-outline-primary lobtn  text-uppercase">Add Location</a>
            </div>
        </div>
    </div>
    <div class="row pdl-5">
        <div class="col-md-8 col-sm-12 pl-0 mt-20">
            <button type="button" class="btn btn-outline-primary mr-2 text-uppercase" onclick="onNext()" id="sbtn" style="display:none">Save</button>
            <button type="button" class="btn btn-outline-primary mr-2 text-uppercase" id="ebtn" onclick="onEdit(1);">Edit</button>
            <a href="#" class="btn btn-outline-secondary text-uppercase" onclick="onEdit(2);" id="cbtn" style="display:none">Cancel</a>
        </div>
    </div>
}
else
{
    using (Html.BeginForm(Actions.ChangeLocation, Controllers.User, FormMethod.Post, new { area = "", @id = "frmAddEditUsers" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.ProviderLocationId)
        <div class="row pdl-5 mt-20">
            <div class="col-sm-2 pl-0">
                <div class="form-group">
                    @Html.TextBoxFor(model => model.IPinCode, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Post Code", @onblur = "onIChangeCode(0)" })
                </div>
            </div>
            <div class="col-sm-2 pl-0">
                <div class="form-group">
                    @Html.DropDownListFor(model => model.ILookupStateId, (IEnumerable<SelectListItem>)ViewBag.IStates, "Select State", new { @class = "form-control custom-form-control", @onchange = "onIChangeCode(1);" })
                </div>
            </div>
            <div class="col-sm-4 pl-0">
                <div class="form-group">
                    @Html.DropDownListFor(model => model.ICity, (IEnumerable<SelectListItem>)ViewBag.ICitys, "Select City", new { @class = "form-control custom-form-control", @Id = "ICity", @Name = "ICity" })
                </div>
            </div>
        </div>
        <div class="row pdl-5">
            <div class="col-md-8 col-sm-12 pl-0 mt-20">
                <button type="submit" class="btn btn-outline-primary mr-2 text-uppercase" id="sbtn" style="display:none">Save</button>
                <button type="button" class="btn btn-outline-primary mr-2 text-uppercase" id="ebtn" onclick="onEdit(1);">Edit</button>
                <a href="#" class="btn btn-outline-secondary text-uppercase" onclick="onEdit(2);" id="cbtn" style="display:none">Cancel</a>
            </div>
        </div>
    }
}

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content mcontent">
            <div class="modal-body mbody border-primary w-100" style="border-color:transparent!important">
                <h5 class="border-1px pb-2">Add Location</h5>
                <div class="row mt-20">
                    <div class="col-sm-4 pl-0">
                        <div class="form-group">
                            <label for="emailAddress">Post Code</label>
                            @Html.TextBoxFor(model => model.PinCode, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Post Code", @onblur = "onChangeCode(0)" })
                        </div>
                    </div>
                    <div class="col-sm-4 pl-0">
                        <div class="form-group">
                            <label for="emailAddress">State</label>
                            @Html.DropDownListFor(model => model.LookupStateId, (IEnumerable<SelectListItem>)ViewBag.States, "Select State", new { @class = "form-control custom-form-control", @onchange = "onChangeCode(1);" })
                        </div>
                    </div>
                    <div class="col-sm-4 pl-0">
                        <div class="form-group">
                            <label for="emailAddress">City</label>
                            @Html.DropDownListFor(model => model.Surburb, (IEnumerable<SelectListItem>)ViewBag.Citys, "Select City", new { @class = "form-control custom-form-control", @Id = "City", @Name = "City" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer pl-0 pr-0" style="border:0;">
                <button data-dismiss="modal" class="btn btn-outline-secondary mr-2 mno">CANCEL</button>
                <button onclick="add()" class="btn btn-outline-primary text-uppercase  myes">SAVE</button>
            </div>
        </div>

    </div>
</div>

<!-- Modal -->
<div id="myModal1" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content mcontent">
            <div class="modal-body mbody pmodel border-secondary" style="border-width:3px">
                <p class="font-13 text-center blurhtext">
                    Are you sure you want to delete this Location?
                </p>
            </div>
            <div class="modal-footer pl-0 pr-0" style="border:0;">
                <button onclick="Delete()" class="btn btn-outline-success text-white mr-2 myes">YES</button>
                <button data-dismiss="modal" class="btn btn-outline-secondary border-danger mno">NO</button>
            </div>
        </div>

    </div>
</div>
<div id="myModal2" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content mcontent" style="border:0;">
            <div class="modal-footer pl-0 pr-0" style="border:0;">
                <button data-dismiss="modal" class="btn btn-outline-success text-white text-uppercase myes" style="width: 310px;">
                    Locations have been updated
                </button>
            </div>
        </div>

    </div>
</div>
<div id="myModal3" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content mcontent" style="border:0;">
            <div class="modal-footer pl-0 pr-0" style="border:0;">
                <button data-dismiss="modal" id="btnText1" class="btn btn-outline-success text-white text-uppercase myes" style="width: 310px;height:100%">
                </button>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="LId" />
<input type="hidden" id="SupportItemIds" />
@if (TempData["displayModal"] != null)
{
    var modal = TempData["displayModal"].ToString();
    <script type='text/javascript'>
        $(document).ready(function () {
            $('#@modal').modal('show');
        });
    </script>
}
<script>
        jQuery(document).ready(function () {
            FormValidation.init();

        $("input").prop('disabled', true);
        $("#ILookupStateId").prop('disabled', true);
        $("#ICity").prop('disabled', true);
        $(".lobtn").addClass('disabled');
        $(".locationsec").hide();

        if (@Html.Raw(Json.Encode(@ViewBag.ProviderData)) != null) {
            var sizearray = @Html.Raw(Json.Encode(@ViewBag.ProviderData.Type));
            if (sizearray >0 && $("#" + $.trim(sizearray)).val() == $.trim(sizearray)) {
                $("#" + $.trim(sizearray)).attr("checked", "checked");
                if (sizearray == "3") {
                    $("#distance").val(@Html.Raw(Json.Encode(@ViewBag.ProviderData.ServiceableArea)))
                }
            }
        }
         $('#myModal2').on('hide.bs.modal', function () {
                    window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]User/PSettings";
         });

            $('#myModal3').on('hide.bs.modal', function () {
                window.location.reload();
            });

    });

     function onEdit(type) {
        if (type == 1) {
            $("input").prop('disabled', false);
            $("#ILookupStateId").prop('disabled', false);
            $("#ICity").prop('disabled', false);
            $(".lobtn").removeClass("disabled");
            $(".locationsec").show();
            $("#ebtn").hide();
            $("#sbtn").show();
            $("#cbtn").show();
        }
        else {
            $("input").prop('disabled', true);
            $("#ILookupStateId").prop('disabled', true);
            $("#ICity").prop('disabled', true);
            $(".lobtn").addClass("disabled");;
            $(".locationsec").hide();
            $("#ebtn").show();
            $("#sbtn").hide();
            $("#cbtn").hide();
        }
    }

    function onChangeCode(type) {
        var postcode = $("#PinCode").val();
        var stateId = $("#LookupStateId").val();
        if (type == 0) {
            var s = '';
            s += '<option value="">Select State</option>';
            $("#LookupStateId").html(s);
            $("#LookupStateId").val("");
            var s2 = '';
            s2 += '<option value="">Select City</option>';
            $("#City").html(s2);
            $("#City").val("");
        } else {
            var s = '';
            s += '<option value="">Select City</option>';
            $("#City").html(s);
            $("#City").val("");
        }

        $.ajax({
            url: '@Url.Action(Actions.GetState, Controllers.User, new { area = "" })',
            data: { Type: type, PostCode: postcode, StateId: stateId },
            type: 'GET',
            datatype: 'json',
            success: function (data) {
                if (type == 0) {
                    if (data.length > 0) {

                        var s = '';
                        s += '<option value="">Select State</option>'
                        for (var i = 0; i < data.length; i++) {
                            s += '<option value="' + data[i].DrpId + '">' + data[i].Name + '</option>'
                        }
                        $("#LookupStateId").html(s);
                    }
                    else {
                        var s = '';
                        s += '<option value="">Select State</option>';
                        $("#LookupStateId").html(s);
                        $("#LookupStateId").val("");
                    }
                }
                else {
                    if (data.length > 0) {

                        var s = '';
                        s += '<option value="">Select City</option>'
                        for (var i = 0; i < data.length; i++) {
                            s += '<option value="' + data[i].DrpId + '">' + data[i].Name + '</option>'
                        }
                        $("#City").html(s);
                    }
                    else {
                        var s = '';
                        s += '<option value="">Select City</option>';
                        $("#City").html(s);
                        $("#City").val("");
                    }
                }
            }
        });
    }

     function onIChangeCode(type) {
        var postcode = $("#IPinCode").val();
        var stateId = $("#ILookupStateId").val();
        if (type == 0) {
            var s = '';
            s += '<option value="">Select State</option>';
            $("#ILookupStateId").html(s);
            $("#ILookupStateId").val("");
            var s2 = '';
            s2 += '<option value="">Select City</option>';
            $("#ICity").html(s2);
            $("#ICity").val("");
        } else {
            var s = '';
            s += '<option value="">Select City</option>';
            $("#ICity").html(s);
            $("#ICity").val("");
        }

        $.ajax({
            url: '@Url.Action(Actions.GetState, Controllers.User, new { area = "" })',
            data: { Type: type, PostCode: postcode, StateId: stateId },
            type: 'GET',
            datatype: 'json',
            success: function (data) {
                if (type == 0) {
                    if (data.length > 0) {

                        var s = '';
                        s += '<option value="">Select State</option>'
                        for (var i = 0; i < data.length; i++) {
                            s += '<option value="' + data[i].DrpId + '">' + data[i].Name + '</option>'
                        }
                        $("#ILookupStateId").html(s);
                    }
                    else {
                        var s = '';
                        s += '<option value="">Select State</option>';
                        $("#ILookupStateId").html(s);
                        $("#ILookupStateId").val("");
                    }
                }
                else {
                    if (data.length > 0) {

                        var s = '';
                        s += '<option value="">Select City</option>'
                        for (var i = 0; i < data.length; i++) {
                            s += '<option value="' + data[i].DrpId + '">' + data[i].Name + '</option>'
                        }
                        $("#ICity").html(s);
                    }
                    else {
                        var s = '';
                        s += '<option value="">Select City</option>';
                        $("#ICity").html(s);
                        $("#ICity").val("");
                    }
                }
            }
        });
    }


     function addLocation(id) {
        if (id == 0) {
            $("#LId").val(id);
            $("#LookupStateId").val("");
            $("#PinCode").val("");
            $("#Surburb").val("");
            $("#myModal").modal("show");
        }
        else {
            $("#LId").val(id);
            $("#myModal1").modal("show");
            //$("#LookupStateId").val($("#s_" + id).val());
            //$("#PinCode").val($("#p_" + id).val());
            //$("#Surburb").val($("#c_" + id).val());
        }


    }
    function add() {
        if ($("#LookupStateId").val() == "") {
            toastr.remove();
            ShowMessageToastr("danger", "Please Select State!", false);
            return
        }
        else if ($("#PinCode").val() == "") {
            toastr.remove();
            ShowMessageToastr("danger", "Please Enter Pin Code!", false);
            return
        }
        else if ($("#City").val() == "") {
            toastr.remove();
            ShowMessageToastr("danger", "Please Enter City!", false);
            return
        }

          $.ajax({
                      url: '@Url.Action(Actions.AddLocation, Controllers.User, new { area = "" })',
              data: { LId: $("#LId").val(), SId: $("#LookupStateId").val(), PinCode: $("#PinCode").val(), City: $("#City").val() },
                      type: 'GET',
                      datatype: 'json',
                  success: function (data) {
                      if (data) {
                          $("#myModal").modal("hide");
                          ShowMessageToastr("success", "Add Location Successfully.!", false);
                          window.location.reload();
                      }
                      else {
                          ShowMessageToastr("danger", "something went wrong. please try again.", false);
                      }
                      },
                        error: function () { }
                    });
    }

     function Delete() {
              $.ajax({
                      url: '@Url.Action(Actions.DeleteProviderLocation, Controllers.User, new { area = "" })',
                  data: { LId: $("#LId").val() },
                      type: 'GET',
                      datatype: 'json',
                  success: function (data) {
                      if (data) {
                          $("#myModal1").modal("hide");
                          $("#btnText1").html("Delete Provider Location Successfully");
                          $("#myModal3").modal("show");
                          //ShowMessageToastr("success", "Delete Provider Location Successfully.!", false);
                          //window.location.reload();
                      }
                      else {
                          ShowMessageToastr("danger", "something went wrong. please try again.", false);
                      }
                      },
                        error: function () { }
                    });

    }

    function onArea(type) {
        if (type == 1) {
            $("#distance").prop("disabled", false);
        }
        else {
            $("#distance").prop("disabled", true);
        }

    }
    function onNext() {
        var v = $('input[name="customRadio"]:checked').val();
        if (v == 3 && ($("#distance").val() == "" || $("#distance").val() == 0)) {
            $("#distance").css('border', '1px solid red');
            //ShowMessageToastr("danger", "Please Enter Km.!", false);
            return
        }
        else {
            $("#distance").css('border', '1px solid');
        }

                $.ajax({
                      url: '@Url.Action(Actions.AddProviderServiceArea, Controllers.User, new { area = "" })',
                      data: {
                          Type: v, value: $("#distance").val()
                           },
                  type: 'POST',
                  datatype: 'json',
              success: function (data) {
                  if (data.Code == 200) {
                      $('#myModal2').modal('show');
                     // window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]User/PSettings";
                  }
                  else {
                      ShowMessageToastr("danger", data.Message, false);
                      return
                  }
                  },
                  error: function () { }
              });
    }



        var FormValidation = function () {
            // basic validation
            var handleValidation1 = function () {

                var form1 = $('#frmAddEditUsers');
                var error1 = $('.alert-danger', form1);
                //var success1 = $('.alert-success', form1);

                form1.validate({
                    errorElement: 'label', //default input error message container
                    errorClass: 'error', // default input error message class
                    focusInvalid: false, // do not focus the last invalid input
                    ignore: "",  // validate all fields including form hidden input
                    rules: {

                        IPinCode: {
                            required: true
                        },
                        ICity: {
                            required: true
                        },
                        ILookupStateId: {
                            required: true
                        },
                    },

                    nvalidHandler: function (event, validator) { //display error alert on form submit
                    },

                    highlight: function (element) { // hightlight error inputs
                        $(element)
                            .closest('.form-control').addClass('validate-has-error'); // set error class to the control group
                    },

                    success: function (label, element) {
                        $(element).closest('.form-control').removeClass('validate-has-error');
                        label.closest('.form-control').removeClass('validate-has-error');
                        label.remove();
                    },

                    errorPlacement: function (error, element) {
                        if (element.closest('.input-icon').length === 1) {
                            //error.insertAfter(element.closest('.input-icon'));
                        } else {
                            //error.insertAfter(element);
                        }
                    },

                    submitHandler: function (form) {
                        form.submit(); // form validation success, call ajax form submit

                    }
                });

                $('#frmAddEditUsers input').keypress(function (e) {
                    if (e.which == 13) {
                        if ($('#frmAddEditUsers').validate().form()) {
                            // $('#frmAddEditUsers').submit(); //form validation success, call ajax form submit
                        }
                        return false;
                    }
                });
            }
            return {
                //main function to initiate the module
                init: function () {
                    handleValidation1();
                }
            };
        }();


</script>
@Html.Raw(ViewBag.openPopup)
