﻿
@{
    ViewBag.Title = "Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PlannedServicesProviderPortal.Pages;
@using PlannedServices.Common;
<div class="row">
    <div class="col-lg-2 col-md-6 col-md-6  box mb-10">
        <a href="@Url.Action(Actions.Index, Controllers.Dashboard)">
            <div class="card card-home ">
                <div class="card-body">
                    <h5 class="font-weight-normal">Home</h5>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-2 col-md-6 col-md-6 mb-3 mb-sm-0 box">
        <a href="@Url.Action("PSettings", Controllers.User)">
            <div class="card border-warning  mbox">
                <div class="card-body pdb-5">
                    <h5 class="font-weight-normal font-12 text-uppercase hideOnMobile mb-0">Profile <br />USERS<br> SETTINGS <br>PROVIDED SERVICES<br>LOGOUT</h5>
                    <h5 class="font-weight-normal font-12 text-uppercase showOnMobile">Profile, USERS, SETTINGS, PROVIDED SERVICES, LOGOUT</h5>

                    <div class="text-left w-100 mt-auto">
                        <img src="~/Content/Icons/User.svg" alt="" class="img-16">
                    </div>

                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-2 col-md-6 col-md-6 mb-3 mb-sm-0  box">
        @*<a name="emailLink" id="emailLink" href="#">*@
            <a name="emailLink" id="emailLink" href="https://myrequest.com.au/faq">
            <div class="card hborder mbox">
                <div class="card-body">
                    <h5 class="font-weight-normal font-12 text-uppercase hideOnMobile">HELP AND <br>SUPPORT</h5>
                    <h5 class="font-weight-normal font-12 text-uppercase showOnMobile">HELP AND  SUPPORT</h5>
                    <div class="text-left w-100 mt-auto">
                        <img src="~/Content/Icons/Help_Support.svg" alt="" class="img-16">
                    </div>

                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-2 col-md-6 col-md-6 mb-3 mb-sm-0 box">
        <a href="@Url.Action(Actions.PDSettings, Controllers.User)">
            <div class="card hborder mbox">
                <div class="card-body">
                    <h5 class="font-weight-normal font-12 text-uppercase hideOnMobile">USER <br />Details</h5>
                    <h5 class="font-weight-normal font-12 text-uppercase showOnMobile">USER Details</h5>

                    <div class="text-left w-100 mt-auto">
                        <img src="~/Content/Icons/User.svg" alt="" class="img-16">
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-2 col-md-6 col-md-6 mb-3 mb-sm-0 box">
        <a href="@Url.Action("CPSettings", Controllers.User)">
            <div class="card hborder mbox">
                <div class="card-body">
                    <h5 class="font-weight-normal font-12 text-uppercase hideOnMobile">Change<br> Password</h5>
                    <h5 class="font-weight-normal font-12 text-uppercase showOnMobile">Change  Password</h5>

                    <div class="text-left w-100 mt-auto">
                        <img src="~/Content/Icons/Password.svg" alt="" class="img-16">
                    </div>
                </div>
            </div>
        </a>
    </div>
    @if (ProjectSession.ProviderId == ProjectSession.ParentId)
    {
        <div class="col-lg-2 col-md-6 col-md-6 mb-3 mb-sm-0 box">
            <a href="@Url.Action("USettings", Controllers.User)">
                <div class="card hborder mbox">
                    <div class="card-body">
                        <h5 class="font-weight-normal font-12 text-uppercase hideOnMobile">
                            ADD AND<br />REMOVE<br />Users
                        </h5>
                        <h5 class="font-weight-normal font-12 text-uppercase showOnMobile">ADD AND REMOVE Users</h5>

                        <div class="text-left w-100 mt-auto">
                            <img src="~/Content/Icons/Add_User.svg" alt="" class="img-16">
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-2 col-md-6 col-md-6 mb-3 mb-sm-0 box">
            <a href="@Url.Action(Actions.PMDSettings, Controllers.User)">
                <div class="card hborder mbox">
                    <div class="card-body">
                        <h5 class="font-weight-normal font-12 text-uppercase hideOnMobile">Company <br>Details</h5>
                        <h5 class="font-weight-normal font-12 text-uppercase showOnMobile">Company  Details</h5>

                        <div class="text-left w-100 mt-auto">
                            <img src="~/Content/Icons/Plan_Manager.svg" alt="" class="img-16">
                        </div>
                    </div>
                </div>
            </a>
        </div>
    }
    <div class="col-lg-2 col-md-6 col-md-6 mb-3 mb-sm-0 box">
        <a href="@Url.Action(Actions.ProviderServicesArea, Controllers.User)">
            <div class="card hborder mbox">
                <div class="card-body">
                    <h5 class="font-weight-normal font-12 text-uppercase">Locations </h5>
                    <div class="text-left w-100 mt-auto">
                        <img src="~/Content/Icons/Location.svg" alt="" class="img-16">
                    </div>

                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-2 col-md-6 col-md-6 mb-3 mb-sm-0 box">
        <a href="@Url.Action(Actions.ProviderServices, Controllers.User)">
            <div class="card hborder mbox">
                <div class="card-body">
                    <h5 class="font-weight-normal font-12 text-uppercase hideOnMobile">Provided <br>Services</h5>
                    <h5 class="font-weight-normal font-12 text-uppercase showOnMobile">Provided Services</h5>
                    <div class="text-left w-100 mt-auto">
                        <img src="~/Content/Icons/Services.svg" alt="" class="img-16">
                    </div>

                </div>
            </div>
        </a>
    </div>

    <div class="col-lg-2 col-md-6 col-md-6 mb-3 mb-sm-0 box">
        <a href="#" onclick="Next()">
            <div class="card hborder mbox">
                <div class="card-body">
                    <h5 class="font-weight-normal font-12 text-uppercase">LOGOUT</h5>

                    <div class="text-left w-100 mt-auto">
                        <img src="~/Content/Icons/Logout.svg" alt="" class="img-16">
                    </div>

                </div>
            </div>
        </a>
    </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content mcontent">
            <div class="modal-body mbody pmodel border-secondary" style="border-width:3px">
                <h6 class="font-13 text-center blurhtext">Are you sure you want to Logout?</h6>
            </div>
            <div class="modal-footer pl-0 pr-0" style="border:0;">
                <button onclick="logout()" class="btn btn-outline-success text-white mr-2 myes">YES</button>
                <button data-dismiss="modal" class="btn btn-outline-secondary border-danger mno">NO</button>

            </div>
        </div>

    </div>
</div>
<script>
    function Next() {
        $("#myModal").modal("show");
    }
    function logout() {
            window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]Account/Logout"

    }
    $(function () {
        $('#emailLink').on('click', function (event) {
            event.preventDefault();
            var email = 'Support@myrequest.com.au';
            var subject = 'Support';
            //var emailBody = 'Some blah';
            window.location = 'mailto:' + email + '?subject=' + subject;// + '&body=' + emailBody;
        });
    });
</script>




