﻿
@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PlannedServicesProviderPortal.Pages;
@using PlannedServices.Entities.V1;
@using PlannedServices.Common;
@model Provider



<div class="row align-items-center mb-4">
    <div class="col-12">
        <div class="pt-15 rounded-top" style=" background: url(../Content/images/media/cover-01.jpg) no-repeat; background-size: cover;">
        </div>

        <div class="card rounded-top-0">
            <div class="card-body">
                <div class="row justify-content-center justify-content-sm-between">
                    <div class="col-12 col-sm-auto">
                        <div class="d-flex flex-column flex-sm-row justify-content-center align-items-center">
                            <div class="mr-2 position-relative mt-n10">
                               @* <img src="~/Content/images/avatar/avatar.jpg" class="avatar avatar-xl profile-avatar" alt="">*@
                            </div>
                            <div class="text-center text-sm-left">
                                <h3 class="fw-bold text-truncate mb-0">@Model.Name</h3>
                                <p class="mb-0 d-block">@Model.Name</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-auto text-center text-sm-right mt-3 mt-sm-0">
                        <a class="btn btn-primary" href="@Url.Action("EditUserProfile", Controllers.User, new { area = "", userId = ConvertTo.Base64Encode(Convert.ToString(ProjectSession.ProviderId)) })" role="button">
                            Edit details
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header bg-white">
                <h5 class="mb-0">Profile Details</h5>
            </div>
            <div class="card-body">
                <div class="row">

                    <div class="col-xl-4">
                        <div class="mb-4">
                            <p class="text-muted mb-0">First name</p>
                            <h6>@Model.Name</h6>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="mb-4">
                            <p class="text-muted mb-0">Phone number</p>
                            <h6>@Model.Phone</h6>
                        </div>
                    </div>

                    <div class="col-xl-4">
                        <div class="mb-4">
                            <p class="text-muted mb-0">E-mail</p>
                            <h6>@Model.Email</h6>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="mb-4">
                            <p class="text-muted mb-0">State</p>
                            <h6>@Model.StateName</h6>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="mb-4">
                            <p class="text-muted mb-0">PinCode</p>
                            <h6>@Model.PinCode</h6>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="mb-4">
                            <p class="text-muted mb-0">Address</p>
                            <h6>@Model.AddressLine1</h6>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="mb-4">
                            <p class="text-muted mb-0">Website</p>
                            <h6>@Model.Website</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


