﻿
@{
    ViewBag.Title = "Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PlannedServicesProviderPortal.Pages;
@using PlannedServices.Entities.V1;
@using PlannedServices.Common;
@model Provider
<div class="row">
    <div class="col-lg-2 col-md-3 col-sm-4 mb-3 mb-sm-0 box">
        <a href="@Url.Action(Actions.Index, Controllers.Dashboard)">
            <div class="card card-home ">
                <div class="card-body">
                    <h5 class="font-weight-normal">Home</h5>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mb-3 mb-sm-0 box">
        <a href="@Url.Action("PSettings", Controllers.User)">
            <div class="card blurbg hborder">
                <div class="card-body pdb-5">
                    <h5 class="font-weight-normal font-12 text-uppercase mb-0">
                        Profile<br>USERS<br> SETTINGS <br>
                        PROVIDED SERVICES<br>LOGOUT
                    </h5>

                    <div class="text-left w-100 mt-auto">
                        <img src="~/Content/Icons/User.svg" alt="" class="img-16">
                    </div>

                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mb-3 mb-sm-0 box">
        <a href="@Url.Action("USettings", Controllers.User)">
            <div class="card blurbg hborder">
                <div class="card-body">
                    <h5 class="font-weight-normal font-12 text-uppercase">Add and <br />Remove<br /> Users</h5>
                    <div class="text-left w-100 mt-auto">
                        <img src="~/Content/Icons/Add_User.svg" alt="" class="img-16">
                    </div>
                </div>
            </div>
        </a>
    </div>
    @if (Model != null && Model.Id > 0)
    {
        <div class="col-lg-2 col-md-3 col-sm-4 mb-3 mb-sm-0 box">
            <div class="card border-warning border-2">
                <div class="card-body">
                    <h5 class="font-weight-normal font-12 text-uppercase">Users</h5>
                    <div class="text-left w-100 mt-auto">
                        <img src="~/Content/Icons/User.svg" alt="" class="img-16">
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="col-lg-2 col-md-3 col-sm-4 mb-3 mb-sm-0 box">
            <div class="card border-warning border-2">
                <div class="card-body">
                    <h5 class="font-weight-normal font-12 text-uppercase">New Users</h5>
                    <div class="text-left w-100 mt-auto">
                        <img src="~/Content/Icons/Add_User.svg" alt="" class="img-16">
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div class="row">
    <div class="col-12 border-2px ml-5 pl-0">
        <h5 class="heading-main font-13 blurhtext fw-400 text-uppercase">@(Model != null && Model.Id > 0? Model.Name +" "+Model.LastName : "Addtional Users Details")</h5>
    </div>
</div>
@using (Html.BeginForm(Actions.AddSubProvider, Controllers.User, FormMethod.Post, new { area = "", @id = "frmAddSubUsers" }))
{
<div class="row pdl-5 mt-20">

    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    <div class="col-sm-4 pl-0">
        <div class="form-group">
            <label for="emailAddress">First name</label>
            @Html.TextBoxFor(model => model.Name, new { @type = "text", @class = "form-control custom-form-control", placeholder = "First name" })
        </div>
    </div>
    <div class="col-sm-4 pl-0">
        <div class="form-group">
            <label for="emailAddress">Last name</label>
            @Html.TextBoxFor(model => model.LastName, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Last name" })
        </div>
    </div>
    <div class="col-sm-4 pl-0"></div>

    <div class="col-sm-4 pl-0">
        <div class="form-group">
            <label for="emailAddress">Title</label>
            @Html.TextBoxFor(model => model.Title, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Title" })
        </div>
    </div>
    <div class="col-sm-4 pl-0">
        <div class="form-group">
            <label for="emailAddress">Email</label>
            @Html.TextBoxFor(model => model.Email, new { @type = "email", @class = "form-control custom-form-control", placeholder = "Email" })
        </div>
    </div>
    <div class="col-sm-4 pl-0"></div>
    <div class="col-sm-8 pl-0 mt-20">
        @if (Model != null && Model.Id > 0)
        {
            <button type="submit" class="btn btn-outline-primary mr-2 text-uppercase" id="sbtn" style="display:none">Save</button>
            <button type="button" class="btn btn-outline-primary mr-2 text-uppercase" id="ebtn" onclick="onEdit(1);">Edit</button>
            <button type="button" class="btn btn-outline-primary mr-2 text-uppercase" id="rbtn" onclick="sendInvite();">SEND INVITE</button>
            <a href="#" class="btn btn-outline-secondary text-uppercase" onclick="onEdit(2);" id="cbtn" style="display:none">Cancel</a>
        }
        else
        {
            <button type="submit" class="btn btn-outline-primary mr-2 text-uppercase">Save</button>
            <a href="@Url.Action("USettings", Controllers.User)" class="btn btn-outline-secondary text-uppercase">Cancel</a>
        }
    </div>



</div>

}
<script>

    jQuery(document).ready(function () {
        FormValidation.init();
        if (@ViewBag.userId > 0) {
            $("input").prop('disabled', true);
        }
    });
    function onEdit(type) {
        if (type == 1) {
            $("input").prop('disabled', false);
            $("#ebtn").hide();
            $("#rbtn").hide();
            $("#sbtn").show();
            $("#cbtn").show();
        }
        else {
            $("input").prop('disabled', true);
            $("#ebtn").show();
            $("#rbtn").show();
            $("#sbtn").hide();
            $("#cbtn").hide();
        }
    }


    var FormValidation = function () {
        // basic validation
        var handleValidation1 = function () {

            var form1 = $('#frmAddSubUsers');
            var error1 = $('.alert-danger', form1);
            //var success1 = $('.alert-success', form1);

            form1.validate({
                errorElement: 'label', //default input error message container
                errorClass: 'error', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",  // validate all fields including form hidden input
                rules: {
                    Name: {
                        required: true
                    },
                    Title: {
                        required: true
                    },
                    Email: {
                        required: true,
                        email: true
                    },
                },

                nvalidHandler: function (event, validator) { //display error alert on form submit
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.input-group').addClass('validate-has-error'); // set error class to the control group
                },

                success: function (label) {
                    label.closest('.input-group').removeClass('validate-has-error');
                    label.remove();
                },

                errorPlacement: function (error, element) {
                    if (element.closest('.input-icon').length === 1) {
                        error.insertAfter(element.closest('.input-icon'));
                    } else {
                        error.insertAfter(element);
                    }
                },

                submitHandler: function (form) {
                    form.submit(); // form validation success, call ajax form submit
                }
            });

            $('#frmAddSubUsers input').keypress(function (e) {
                if (e.which == 13) {
                    if ($('#frmAddSubUsers').validate().form()) {
                        $('#frmAddSubUsers').submit(); //form validation success, call ajax form submit
                    }
                    return false;
                }
            });
        }
        return {
            //main function to initiate the module
            init: function () {
                handleValidation1();
            }
        };
    }();
     function sendInvite() {
           $.ajax({
                      url: '@Url.Action(Actions.SendInvite, Controllers.User, new { area = "" })',
                      data: {
                          Id: $("#Id").val(), Email: $("#Email").val()
                           },
                  type: 'POST',
                  datatype: 'json',
               success: function (data) {
                   if (data.Code == 200) {
                       ShowMessageToastr("success", "Invite Send Successfully.!", false);
                       return

                   }
                  },
                  error: function () { }
              });
    }
</script>
@Html.Raw(ViewBag.openPopup)