﻿
@{
    ViewBag.Title = "Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PlannedServicesProviderPortal.Pages;
@using PlannedServices.Entities.V1;
@using PlannedServices.Common;
@model User
<div class="row">
    <div class="col-lg-2 col-md-3 col-sm-4 mb-3 mb-sm-0 box">
        <a href="@Url.Action(Actions.Index, Controllers.Dashboard)">
            <div class="card card-home ">
                <div class="card-body">
                    <h5 class="font-weight-normal">Home</h5>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mb-3 mb-sm-0 box">
        <a href="@Url.Action("PSettings", Controllers.User)">
            <div class="card blurbg hborder">
                <div class="card-body">
                    <h5 class="font-weight-normal font-12 text-uppercase mb-0">
                        Profile<br>USERS<br> SETTINGS <br>
                        PROVIDED SERVICES<br>LOGOUT
                    </h5>
                    <div class="text-left w-100 mt-auto">
                        <img src="~/Content/Icons/User.svg" alt="" class="img-16">
                    </div>

                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mb-3 mb-sm-0 box">
            <div class="card border-warning border-2">
                <div class="card-body">
                    <h5 class="font-weight-normal font-12 text-uppercase">Invite <br />Users</h5>
                    <div class="text-left w-100 mt-auto">
                        <img src="~/Content/Icons/Add_User.svg" alt="" class="img-16">
                    </div>
                </div>
            </div>
    </div>
    
</div>
<div class="row">
    <div class="col-12 border-2px ml-5 pl-0">
        <h5 class="heading-main font-13 blurhtext fw-400 text-uppercase"> Invite Users</h5>
    </div>
</div>
@using (Html.BeginForm(Actions.InviteUsers, Controllers.User, FormMethod.Post, new { area = "", @id = "frmAddSubUsers" }))
{
<div class="row pdl-5 mt-20">

    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)

    <div class="col-sm-4 pl-0">
        <div class="form-group">
            <label for="emailAddress">Email</label>
            @Html.TextBoxFor(model => model.Email, new { @type = "email", @class = "form-control custom-form-control", placeholder = "Email" })
        </div>
    </div>
    <div class="col-sm-8 pl-0"></div>
    <div class="col-sm-8 pl-0 mt-20">
        <button type="button" class="btn btn-outline-primary mr-2 text-uppercase" id="rbtn" onclick="sendInvite();">SEND INVITE</button>
        <a href="@Url.Action("PSettings", Controllers.User)" class="btn btn-outline-secondary text-uppercase"  id="cbtn" >Cancel</a>
    </div>
</div>

}
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content mcontent" style="border:0;">
            <div class="modal-footer pl-0 pr-0" style="border:0;">
                <button data-dismiss="modal" id="btnText" class="btn btn-outline-success text-white text-uppercase myes" style="width: 310px;height:100%">
                   Invite Send Successfully
                </button>
            </div>
        </div>
    </div>
</div>
<script>

    jQuery(document).ready(function () {
        FormValidation.init();
         $('#myModal').on('hide.bs.modal', function () {
                    window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]User/PSettings";
                });
    });

    function sendInvite() {
        if ($('#frmAddSubUsers').validate().form()) {
            $.ajax({
                url: '@Url.Action(Actions.SendUserInvite, Controllers.User, new { area = "" })',
                data: {
                    Email: $("#Email").val()
                },
                type: 'POST',
                datatype: 'json',
                success: function (data) {
                    if (data.Code == 200) {
                        // ShowMessageToastr("success", "Invite Send Successfully.!", false);
                        $('#myModal').modal("show");
                        return

                    }
                    else {
                        $("#btnText").removeClass("btn btn-outline-success");
                        $("#btnText").addClass("btn btn-outline-danger");
                        $("#btnText").html(data.Message);
                        $('#myModal').modal("show");
                    }
                },
                error: function () { }
            });
        }
    }

  

    var FormValidation = function () {
        // basic validation
        var handleValidation1 = function () {

            var form1 = $('#frmAddSubUsers');
            var error1 = $('.alert-danger', form1);
            //var success1 = $('.alert-success', form1);

            form1.validate({
                errorElement: 'label', //default input error message container
                errorClass: 'error', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",  // validate all fields including form hidden input
                rules: {
                  
                    Email: {
                        required: true,
                        email: true
                    },
                },

                nvalidHandler: function (event, validator) { //display error alert on form submit
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-control').addClass('validate-has-error'); // set error class to the control group
                },

                success: function (label, element) {
                    $(element).closest('.form-control').removeClass('validate-has-error');
                    label.closest('.form-control').removeClass('validate-has-error');
                    label.remove();
                },

                errorPlacement: function (error, element) {
                    if (element.closest('.input-icon').length === 1) {
                        //error.insertAfter(element.closest('.input-icon'));
                    } else {
                       // error.insertAfter(element);
                    }
                },

                submitHandler: function (form) {
                    form.submit(); // form validation success, call ajax form submit
                }
            });

            $('#frmAddSubUsers input').keypress(function (e) {
                if (e.which == 13) {
                    if ($('#frmAddSubUsers').validate().form()) {
                        $('#frmAddSubUsers').submit(); //form validation success, call ajax form submit
                    }
                    return false;
                }
            });
        }
        return {
            //main function to initiate the module
            init: function () {
                handleValidation1();
            }
        };
    }();

</script>
@Html.Raw(ViewBag.openPopup)