﻿
@{
    ViewBag.Title = "Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PlannedServicesProviderPortal.Pages;
@using PlannedServices.Entities.V1;
@using PlannedServices.Common;
@model Provider
<style>
    .custom-control-input ~ .custom-control-label::before {
        opacity: 1;
    }
</style>
<div class="row">
    <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
        <a href="@Url.Action(Actions.Index, Controllers.Dashboard)">
            <div class="card card-home ">
                <div class="card-body">
                    <h5 class="font-weight-normal">Home</h5>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
        <a href="@Url.Action("PSettings", Controllers.User)">
            <div class="card blurbg hborder mbox">
                <div class="card-body pdb-5">
                    <h5 class="font-weight-normal font-12 text-uppercase hideOnMobile mb-0">Profile <br />USERS<br> SETTINGS <br>PROVIDED SERVICES<br>LOGOUT</h5>
                    <h5 class="font-weight-normal font-12 text-uppercase showOnMobile">Profile, USERS, SETTINGS, PROVIDED SERVICES, LOGOUT</h5>


                    <div class="text-left w-100 mt-auto">
                        <img src="~/Content/Icons/User.svg" alt="" class="img-16">
                    </div>

                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0  box">
        <div class="card border-warning border-2 mbox">
            <div class="card-body">
                <h5 class="font-weight-normal font-12 text-uppercase hideOnMobile">
                    ADD AND<br />REMOVE<br />Users
                </h5>
                <h5 class="font-weight-normal font-12 text-uppercase showOnMobile">ADD AND REMOVE Users</h5>
                <div class="text-left w-100 mt-auto">
                    <img src="~/Content/Icons/Add_User.svg" alt="" class="img-16">
                </div>
            </div>
        </div>
    </div>
</div>
@if (Model.Provider != null)
{
    <div class="row w-100">
        <div class="col-12 border-2px ml-5 pl-0">
            <h5 class="heading-main font-13 blurhtext fw-400 text-uppercase"> Users</h5>
        </div>
    </div>
    <div class="row">


        @foreach (var item in Model.Provider)
        {
            <div class="col-12">
                <div class="row w-100">
                    <div class="col-12 pr-0 ml-5 border-1px">
                        <div class="radio-list-padding">
                            <div class="row mt-20 mb-20 g-2x">
                                <div class="col-11">
                                    <a href="#">

                                        <div class="row">
                                            <div class="col-1 mr-20 iconMargin mdlsec @(item.IsActive != 1? "unread" : "")">
                                                <img src="~/Content/Icons/User.svg" alt="" class="img-16">
                                            </div>
                                            <div class="col-8 mr-20 mdlsec  @(item.IsActive != 1? "unread" : "")">
                                                <p class="blurtext font-12 fw-400">Name</p>
                                                <h5 class="font-weight-normal font-16 fw-400 line-height-normal mb-0 mt-10">@item.Name @item.LastName</h5>
                                            </div>
                                            @*<div class="col @(item.IsActive != 1? "unread" : "")">
                                                    <p class="blurtext font-12 fw-400">Title </p>

                                                    <h5 class="mt-10 font-weight-normal font-16 fw-400 line-height-sm mb-0">@item.Title</h5>
                                                </div>*@
                                            <div class="col @(item.IsActive != 1? "unread" : "")">
                                                <p class="blurtext font-12 fw-400">Status </p>
                                                <h5 class="mt-10 font-weight-normal font-16 fw-400 line-height-sm mb-0">@(item.IsActive == 1? "Active" : "InActive")</h5>
                                            </div>
                                        </div>
                                    </a>

                                </div>
                                <div class="col-1 mdlsec" style="text-align: right; width: 12%;">
                                    @if (ProjectSession.ProviderId == ProjectSession.ParentId)
                                    {
                                        <div class="custom-control">
                                            <img onclick="onPopup(@item.Id,@item.IsActive)" src="~/Content/Icons/Cross.svg" class="img-16" alt="">
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }


    </div>
}
@if (ProjectSession.ProviderId == ProjectSession.ParentId)
{
    <div class="row mt-20" id="showAdd">
        @*<a href="@Url.Action("UserDetails", Controllers.User, new { area = "", userId = ConvertTo.Base64Encode(Convert.ToString(0)) })" class="btn btn-outline-primary  btn-pedding btn-border text-uppercase">Add User</a>*@
       
        <a href="#" onclick="inviteUser(0)" class="btn btn-outline-primary  btn-pedding btn-border text-uppercase">Invite User</a>

    </div>
}
<div id="showInvite" style="display:none">
    <div class="row w-100 mt-20">
        <div class="col-12 border-2px ml-5 pl-0">
            <h5 class="heading-main font-13 blurhtext fw-400 text-uppercase"> Invite Users</h5>
        </div>
    </div>
    @using (Html.BeginForm(Actions.InviteUsers, Controllers.User, FormMethod.Post, new { area = "", @id = "frmAddSubUsers" }))
    {
        <div class="row pdl-5 mt-20">

            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id)

            <div class="col-md-4 col-sm-12 pl-0">
                <div class="form-group">
                    <label for="emailAddress">Email</label>
                    @Html.TextBoxFor(model => model.Email, new { @type = "email", @class = "form-control custom-form-control", placeholder = "Email" })
                </div>
            </div>
            <div class="col-md-8 col-sm-12 pl-0"></div>
            <div class="col-md-8 col-sm-12 pl-0 mt-20">
                <button type="button" class="btn btn-outline-primary mr-2 text-uppercase" id="rbtn" onclick="sendInvite();">SEND INVITE</button>
                <a href="#" onclick="inviteUser(1)" class="btn btn-outline-secondary text-uppercase" id="cbtn">Cancel</a>
            </div>
        </div>

    }
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content mcontent">
            <div class="modal-body mbody pmodel border-secondary" style="border-width:3px">
                @*<h5><span class="stext"></span> User</h5>*@
                <p class="font-13 text-center blurhtext">
                    Are you sure you want to
                    <span class="stext"></span> the user?
                </p>
            </div>
            <div class="modal-footer pl-0 pr-0" style="border:0;">
                <button data-dismiss="modal" class="btn btn-outline-secondary mr-2 mno">NO</button>
                <button onclick="Delete()" class="btn btn-outline-secondary  myes">YES</button>
            </div>
        </div>

    </div>
</div>
<div id="myModal2" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content mcontent" style="border:0;">
            <div class="modal-footer pl-0 pr-0" style="border:0;">
                <button data-dismiss="modal" id="btnText" class="btn btn-outline-success text-white text-uppercase myes" style="width: 310px;height:100%">
                    Invite Send Successfully
                </button>
            </div>
        </div>
    </div>
</div>
<div id="myModal3" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content mcontent" style="border:0;">
            <div class="modal-footer pl-0 pr-0" style="border:0;">
                <button data-dismiss="modal" id="btnText1" class="btn btn-outline-success text-white text-uppercase myes" style="width: 310px;height:100%">
                </button>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="userId" />
<input type="hidden" id="deleteId" />


<script>


    function onPopup(id, deleteId) {
        $("#userId").val(id);
        $("#deleteId").val(deleteId);
        if (deleteId != 1) {
            $(".stext").text("Activate");
           // $(".modal-body").addClass("border-success");
        }
        else {
            $(".stext").text("Deactivate");
            $(".modal-body").removeClass("border-danger");
            $(".modal-body").removeClass("border-success");
        }
        $("#myModal").modal("show");
    }
      function Delete() {
              $.ajax({
                      url: '@Url.Action(Actions.DeleteProvider, Controllers.AccountSetup, new { area = "" })',
                  data: { UId: $("#userId").val() },
                      type: 'GET',
                      datatype: 'json',
                  success: function (data) {
                      if (data) {
                          debugger
                          $("#myModal").modal("hide");
                          if ($("#deleteId").val() != "1") {
                              $("#btnText1").html("Activate User Successfully");
                              //ShowMessageToastr("success", "Activate User Successfully.!", false);
                          }
                          else {
                              $("#btnText1").html("Deactivate User Successfully");
                              //ShowMessageToastr("success", "Deactivate User Successfully.!", false);
                          }
                          $("#myModal3").modal("show");
                      }
                      else {
                          ShowMessageToastr("danger", "something went wrong. please try again.", false);
                      }
                      },
                        error: function () { }
                    });

    }

        function onNext() {
            var v = $('input[name="customRadio1"]:checked').val();
            if (v == 1) {
                window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]User/UserDetails?userId=MA==";
            }
            else {
                window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]User/PSettings";
            }
    }


    jQuery(document).ready(function () {
        FormValidation.init();
         $('#myModal2').on('hide.bs.modal', function () {
                    window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]User/PSettings";
         });
        $('#myModal3').on('hide.bs.modal', function () {
                    window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]User/PSettings";
        });

    });

    function sendInvite() {
        if ($('#frmAddSubUsers').validate().form()) {
            $.ajax({
                url: '@Url.Action(Actions.SendUserInvite, Controllers.User, new { area = "" })',
                data: {
                    Email: $("#Email").val()
                },
                type: 'POST',
                datatype: 'json',
                success: function (data) {
                    if (data.Code == 200) {
                        // ShowMessageToastr("success", "Invite Send Successfully.!", false);
                        $('#myModal2').modal("show");
                        return

                    }
                    else {
                        $("#btnText").removeClass("btn btn-outline-success");
                        $("#btnText").addClass("btn btn-outline-danger");
                        $("#btnText").html(data.Message);
                        $('#myModal2').modal("show");
                    }
                },
                error: function () { }
            });
        }
    }



    var FormValidation = function () {
        // basic validation
        var handleValidation1 = function () {

            var form1 = $('#frmAddSubUsers');
            var error1 = $('.alert-danger', form1);
            //var success1 = $('.alert-success', form1);

            form1.validate({
                errorElement: 'label', //default input error message container
                errorClass: 'error', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",  // validate all fields including form hidden input
                rules: {

                    Email: {
                        required: true,
                        email: true
                    },
                },

                nvalidHandler: function (event, validator) { //display error alert on form submit
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-control').addClass('validate-has-error'); // set error class to the control group
                },

                success: function (label, element) {
                    $(element).closest('.form-control').removeClass('validate-has-error');
                    label.closest('.form-control').removeClass('validate-has-error');
                    label.remove();
                },

                errorPlacement: function (error, element) {
                    if (element.closest('.input-icon').length === 1) {
                        //error.insertAfter(element.closest('.input-icon'));
                    } else {
                       // error.insertAfter(element);
                    }
                },

                submitHandler: function (form) {
                    form.submit(); // form validation success, call ajax form submit
                }
            });

            $('#frmAddSubUsers input').keypress(function (e) {
                if (e.which == 13) {
                    if ($('#frmAddSubUsers').validate().form()) {
                       // $('#frmAddSubUsers').submit(); //form validation success, call ajax form submit
                    }
                    return false;
                }
            });
        }
        return {
            //main function to initiate the module
            init: function () {
                handleValidation1();
            }
        };
    }();

    function inviteUser(type) {
        if (type == 0) {
            $("#showAdd").hide();
            $("#showInvite").show();
        }
        else {
            $("#showAdd").show();
            $("#showInvite").hide();
        }
    }

</script>
@Html.Raw(ViewBag.openPopup)