﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PlannedServicesAdmin.Pages;
@using PlannedServices.Entities.V1;
@using PlannedServices.Common;
@model User
    <style>
        .custom-control-input:checked ~ .custom-control-label::before {
            margin-top:-3px;
        }
        .custom-radio .custom-control-input:checked ~ .custom-control-label::after {
            margin-top: -3px;
        }
        .custom-control-label::before {
            margin-top: -3px;
        }
    </style>
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-4 mb-3 mb-sm-0 box">
            <div class="card card-home ">
                <div class="card-body">
                    <h5 class="font-weight-normal">Home</h5>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 mb-3 mb-sm-0 box">
            <a href="@Url.Action("ServiceRequestData", Controllers.SalesInvoice)">
                <div class="card blurbg hborder">
                    <div class="card-body">
                        <h5 class="font-weight-normal font-12 text-uppercase">Request Data</h5>

                    </div>
                </div>
            </a>
        </div>

    </div>

<div class="row">
    <div class="col-12 border-2px ml-5 pl-0">
        <h5 class="heading-main text-uppercase font-13 fw-400 blurhtext">Sales Invoice</h5>
    </div>
</div>

<form>
    <div class="row pdl-5 mt-20">
        <div class="col-lg-2 col-md-3 col-sm-12 pl-0 ">
            <div class="custom-control custom-radio">
                <input type="radio" id="1" checked name="customRadio" class="custom-control-input" value="1" onchange="setValue(1)">
                <label class="custom-control-label font-13 text-uppercase" style="padding-left:1.25rem;font-size:13px!important" for="1">Participate</label>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 pl-0">
            <div class="custom-control custom-radio">
                <input type="radio" id="2" name="customRadio" class="custom-control-input" value="2" onchange="setValue(2)">
                <label class="custom-control-label font-13 text-uppercase" style="padding-left:1.25rem;font-size:13px!important" for="2">Provider</label>
            </div>
        </div>
        <div class="col-sm-6 pl-0"></div>
            <div class="col-sm-4 pl-0">
                <div class="form-group">
                    <label for="emailAddress">Start Date</label>
                    @Html.TextBoxFor(model => model.StartDate, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Start Date" })
                </div>
            </div>
            <div class="col-sm-4 pl-0">
                <div class="form-group">
                    <label for="emailAddress">End Date</label>
                    @Html.TextBoxFor(model => model.EndDate, new { @type = "text", @class = "form-control custom-form-control", placeholder = "End Date" })
                </div>
            </div>
            <div class="col-sm-4 pl-0">
                <div class="form-group mt-4">
                    <a href="#" onclick="Export()" class="btn btn-outline-warning text-white text-uppercase">Export</a>
                </div>
            </div>
        </div>
</form>
<div id="invoiceData">



</div>
<div class="row mt-20" id="dbtn" style="display:none">
    <div class="col-12 ml-5 pl-0">
        <a href="#" onclick="DownloadExcel()" class="btn btn-outline-warning text-white text-uppercase">Download</a>
    </div>
</div>
<div class="overlayUpload" id="isLoading" style="display:none">
    <div class="uploadtext">Loading...</div>
</div>
<script>

    $(function () {
        $('input[name="StartDate"]').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            showButtonPanel: false,
            autoApply: true,
            maxDate: new Date(),
        }, function (start, end, label) {
            debugger
                $('#EndDate').val(moment(start).format('MM/DD/YYYY'));
                $('#EndDate').daterangepicker({
                    singleDatePicker: true,
                    showDropdowns: true,
                    showButtonPanel: false,
                    autoApply: true,
                    minDate: start,

                });
        });
        $('input[name="EndDate"]').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            showButtonPanel: false,
            autoApply: true,
            maxDate: new Date(),
        }, function (start, end, label) {
          $('#StartDate').val(moment(start).format('MM/DD/YYYY'));
               // $("#StartDate").data('daterangepicker').setEndDate(d);
        });

       


    });


   
    function setValue(type) {
        $("#invoiceData").empty();
        $("#dbtn").hide();
        if (type == 1) {

        }
        else {

        }
    }

    function Export() {
        if ($("#StartDate").val() == "") {
            toastr.clear();
            ShowMessageToastr("danger", "Please select Created Date.!", false);
            return
        }
        else {
            debugger
            $("#isLoading").show();
            var type = $('input[name="customRadio"]:checked').val();
             $.ajax({
            url: '@Url.Action(Actions.GetUserByCreatedDate, Controllers.SalesInvoice, new { area = "" })',
            data: {
                SDate: $("#StartDate").val(), EDate: $("#EndDate").val(), Type: type
            },
            type: 'Get',
            datatype: 'json',
                 success: function (data) {
                     $("#isLoading").hide();
                    if (data.length > 0) {
                        var s = '';
                        if (type == 1) {
                            for (var i = 0; i < data.length; i++) {
                                s += '<div class="row mt-20 pdl-5 border-1px">'
                                s += '<div class="col-3 mb-20">'
                                s += '<p class="blurtext font-12 fw-400">Name</p>'
                                s += '<h5 class="font-weight-normal font-16 fw-400 line-height-normal mb-0 mt-10">' + data[i].FirstName + ' ' + data[i].LastName + '</h5>'
                                s += '</div>'
                                s += '<div class="col-3 mb-20">'
                                s += '<p class="blurtext font-12 fw-400">Email</p>'
                                s += '<h5 class="mt-10 font-weight-normal font-16 fw-400 line-height-sm mb-0">' + data[i].Email + '</h5>'
                                s += '</div>'
                                s += '<div class="col-3 mb-20">'
                                s += '<p class="blurtext font-12 fw-400">Address</p>'
                                s += '<h5 class="mt-10 font-weight-normal font-16 fw-400 line-height-sm mb-0">' + data[i].Surburb + ', ' + data[i].StateName + ', ' + data[i].PinCode + '</h5>'
                                s += '</div>'
                                s += '<div class="col-1 mb-20">'
                                s += '<p class="blurtext font-12 fw-400">Count</p>'
                                s += '<h5 class="mt-10 font-weight-normal font-16 fw-400 line-height-sm mb-0">' + data[i].ServiceRequestCount + '</h5>'
                                s += '</div>'
                                s += '<div class="col-2 mb-20">'
                                s += '<p class="blurtext font-12 fw-400">Billing Type</p>'
                                s += '<h5 class="mt-10 font-weight-normal font-16 fw-400 line-height-sm mb-0">' + data[i].PlanText + '</h5>'
                                s += '</div>'
                                s += '</div>'
                            }
                        }
                        else {
                            for (var i = 0; i < data.length; i++) {
                                s += '<div class="row mt-20 pdl-5 border-1px">'
                                s += '<div class="col-4 mb-20">'
                                s += '<p class="blurtext font-12 fw-400">Company Name</p>'
                                s += '<h5 class="font-weight-normal font-16 fw-400 line-height-normal mb-0 mt-10">' + data[i].CompanyName + '</h5>'
                                s += '</div>'
                                s += '<div class="col-4 mb-20">'
                                s += '<p class="blurtext font-12 fw-400">Email</p>'
                                s += '<h5 class="mt-10 font-weight-normal font-16 fw-400 line-height-sm mb-0">' + data[i].Email + '</h5>'
                                s += '</div>'
                                s += '<div class="col-4 mb-20">'
                                s += '<p class="blurtext font-12 fw-400">Address</p>'
                                s += '<h5 class="mt-10 font-weight-normal font-16 fw-400 line-height-sm mb-0">' + data[i].Surburb + ', ' + data[i].StateName + ', ' + data[i].PinCode + '</h5>'
                                s += '</div>'
                                //s += '<div class="col-3 mb-20">'
                                //s += '<p class="blurtext font-12 fw-400">Service Request Count</p>'
                                //s += '<h5 class="mt-10 font-weight-normal font-16 fw-400 line-height-sm mb-0">' + data[i].ServiceRequestCount + '</h5>'
                                //s += '</div>'
                                s += '</div>'
                            }
                        }
                        $("#invoiceData").html(s);
                        $("#dbtn").show();

                    }
                    else {
                        $("#invoiceData").empty();
                        $("#dbtn").hide();
                        ShowMessageToastr("danger", "No Data Found.!", false);
                        return
                    }
               // window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]Dashboard/Index";

            }
           });
        }
    }

    function DownloadExcel() {
        $("#isLoading").show();
           $.ajax({
            url: '@Url.Action("DownloadExcel", Controllers.SalesInvoice, new { area = "" })',
            data: {
                SDate: $("#StartDate").val(), EDate: $("#EndDate").val(), Type: $('input[name="customRadio"]:checked').val()
            },
            type: 'POST',
            datatype: 'json',
               success: function (data) {
                   $("#isLoading").hide();
                   window.location = '/SalesInvoice/Index';
                if (data.Code == 200) {
                }
                //window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]Dashboard/Index";

            }
           });

        }

    $(document).ready(function () {
        $("#StartDate").attr("disabled", true);
        $("#EndDate").attr("disabled", true);
        setTimeout(() => {
            $("#StartDate").attr("disabled", false);
            $("#EndDate").attr("disabled", false);

        }, 1000)
    })
</script>
