﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PlannedServicesProviderPortal.Pages;
@using PlannedServices.Entities.V1;
@using PlannedServices.Common;
@model Provider
<div class="row">
    <div class="col-lg-2 col-md-3 col-sm-4 mb-3 mb-sm-0 box">
            <div class="card card-home ">
                <div class="card-body">
                    <h5 class="font-weight-normal">Home</h5>
                </div>
            </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mb-3 mb-sm-0 box">
        <div class="card border-warning border-2">
            <div class="card-body">
                <h5 class="font-weight-normal font-12 text-uppercase">Provider<br>Sign Up</h5>
                <div class="text-left w-100 mt-auto">
                    <img src="~/Content/Icons/Add_User.svg" alt="" class="img-16">
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-12 border-2px ml-5 pl-0">
        @*<h5 class="heading-main font-13 text-uppercase">STEP 4 of 4  |  Setup Completed</h5>*@
        <h5 class="heading-main font-13 text-uppercase">STEP 4 OF 4 | COMPANY PROFILE AND SERVICES</h5>
    </div>
</div>
<div>
    @*<p class="font-14 mt-2 fw-300" style="width:65%">
        After you verify your MY REQUEST account you will be ready to start receiving requests from 1,000s
        of participants.
    </p>*@
    <p class="font-14 mt-2 fw-300" style="width:65%">
        Add additional information about your company and the services you provide.
    </p>
</div>
<form>
    <div class="row pdl-5 mt-20">
        <div class="col-sm-12 pl-0">
            <div class="form-group">
                @*<label for="emailAddress">Provider Profile And Services</label>*@
                @Html.TextAreaFor(model => model.ProviderProfileAndServices, new {@rows="5", @type = "text", @class = "form-control custom-form-control", placeholder = "Provider Profile And Services"})
            </div>
        </div>
        @*<div class="col-sm-2 pl-0">
            <div class="form-group">
                <label for="emailAddress">Last name</label>
                @Html.TextBoxFor(model => model.LastName, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Last name", @disabled = true })
            </div>
        </div>
        <div class="col-sm-8 pl-0"></div>
        <div class="col-sm-4 pl-0">
            <div class="form-group">
                <label for="emailAddress">Company name</label>
                @Html.TextBoxFor(model => model.CompanyName, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Company name", @disabled = true })
            </div>
        </div>
        <div class="col-sm-8 pl-0"></div>
        <div class="col-sm-4 pl-0">
            <div class="form-group">
                <label for="emailAddress">Account Name</label>
                @Html.TextBoxFor(model => model.Email, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Email", @disabled = true })
            </div>
        </div>
        <div class="col-sm-8 pl-0"></div>
        <div class="col-sm-4 pl-0">
            <div class="form-group">
                <label for="emailAddress">Password</label>
                @Html.TextBoxFor(model => model.Password, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Password", @disabled = true })
            </div>
        </div>*@
        <div class="col-sm-8 pl-0"></div>
    </div>
</form>
<div class="row mt-20">
    <div class="col-12">
        <a href="@Url.Action("ProviderServices", Controllers.AccountSetup, new { Area = "" })" class="btn btn-outline-secondary mr-2 text-uppercase">Previous</a>
        <a href="#" onclick="Next()" class="btn btn-outline-success text-white text-uppercase">Submit</a>
    </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content mcontent" style="border:0;">
            <div class="modal-footer pl-0 pr-0" style="border:0;">
                <button onclick="Verify()" class="btn btn-outline-warning text-white text-uppercase  myes" style="padding: 5px 66px;width: 310px;">ACCOUNT VERIFIED</button>
            </div>
        </div>

    </div>
</div>
<div id="myModal2" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content mcontent" style="border:0;">
            <div class="modal-body mbody border-secondary border-3" style="padding:10px 15px">
                <h6 class="font-13 text-left blurhtext m-0">
                    Your setup is successfully been completed. Welcome to My REQUEST.
                </h6>
            </div>
            <div class="modal-footer pl-0 pr-0" style="border:0;">
                <button data-dismiss="modal" class="btn btn-outline-warning text-white mno text-uppercase m-0">CONTINUE</button>
            </div>
        </div>
    </div>
</div>
<div class="overlayUpload" id="isLoading" style="display:none">
    <div class="uploadtext">Loading...</div>
</div>
<script>
    function Next() {
        if ($("#Email").val() == "" || $("#Password").val() == "") {
            ShowMessageToastr("danger", "Please enter valid Email & Password.!", false);
            return
        }
        else {
            $("#myModal2").modal("show");
        }
    }
    @*function Verify() {
           $.ajax({
                      url: '@Url.Action(Actions.AddProviderLocation, Controllers.AccountSetup, new { area = "" })',
               data: { Email: $("#Email").val() },
                      type: 'GET',
                      datatype: 'json',
                        success: function (data) {
                      if (data) {
                      }
                      else {
                          ShowMessageToastr("danger", "something went wrong. please try again.", false);
                          return
                      }
                      },
                        error: function () { }
                    });
        window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]/Dashboard/Index";
    }*@

    function Verify2() {

            $.ajax({
                      url: '@Url.Action(Actions.AddProviderLocation, Controllers.AccountSetup, new { area = "" })',
                data: { ProviderProfileAndServices: $("#ProviderProfileAndServices").val() },
                      type: 'GET',
                      datatype: 'json',
                        success: function (data) {
                            if (data.Code == 200) {
                                login();
                                @*$('#isLoading').hide();
                                 window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]Dashboard/Index";*@

                      }
                      else {
                          ShowMessageToastr("danger", "something went wrong. please try again.", false);
                          return
                      }
                      },
                        error: function () { }
                    });

    }

     function login() {
                  $.ajax({
                      url: '@Url.Action(Actions.LogIn, Controllers.AccountSetup, new { area = "" })',
               data: {  },
                      type: 'GET',
                      datatype: 'json',
                        success: function (data) {
                            if (data.Code == 200) {
                                $('#isLoading').hide();
                                 window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]Dashboard/Index";

                      }
                      else {
                          ShowMessageToastr("danger", "something went wrong. please try again.", false);
                          return
                      }
                      },
                        error: function () { }
                    });
    }

    $(document).ready(function () {
        //$('#myModal').on('hide.bs.modal', function () {
        //    Verify();
        //});
        $('#myModal2').on('hide.bs.modal', function () {
            $('#isLoading').show();
            Verify2();
        })
    })
</script>
