﻿
@{
    ViewBag.Title = "Payment Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PlannedServicesProviderPortal.Pages;
@using PlannedServices.Entities.V1;
@using PlannedServices.Common;
@model User

<div class="row">
    <div class="col-lg-2 col-md-3 col-sm-4 mb-3 mb-sm-0 box">
            <div class="card card-home ">
                <div class="card-body">
                    <h5 class="font-weight-normal">Home</h5>
                </div>
            </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mb-3 mb-sm-0 box">
        <div class="card bg-primary border-0">
            <div class="card-body">
                <h5 class="font-weight-normal font-12 text-uppercase">Participant<br>Sign Up</h5>
                <div class="text-right w-100 mt-auto">
                    <img src="~/Content/images/icon-user-add.png" alt="">
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-12 border-2px ml-5 pl-0">
        <div class="heading-main">
            <h5 style="margin-bottom: 5px;">Credit/Debit Card</h5>
            <p>We support MasterCard, Visa and Stripe</p>
        </div>
    </div>
</div>
@using (Html.BeginForm(Actions.AddPaymentDetails, Controllers.AccountSetup, FormMethod.Post, new { area = "", @id = "frmAddPayment" }))
{
<div class="row pdl-5 mt-20">


    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    <div class="col-sm-8 pl-0">
        <div class="form-group">
            <label for="emailAddress">Card Number</label>
            @Html.TextBoxFor(model => model.CardNumber, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Enter card number" })
        </div>
    </div>
    <div class="col-sm-4 pl-0"></div>
    <div class="col-sm-4 pl-0">
        <div class="form-group">
            <label for="emailAddress">Name On Card</label>
            @Html.TextBoxFor(model => model.NameOnCard, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Name On Card" })
        </div>
    </div>

    <div class="col-sm-2 pl-0">
        <div class="form-group">
            <label for="emailAddress">Expiry Date</label>
            @Html.TextBoxFor(model => model.ExpiryDate, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Expiry Date" })
        </div>
    </div>
    <div class="col-sm-2 pl-0">
        <div class="form-group">
            <label for="emailAddress">CVV Code</label>
            @Html.TextBoxFor(model => model.CVVCode, new { @type = "text", @class = "form-control custom-form-control", placeholder = "CVV Code" })
        </div>
    </div>
    <div class="col-sm-4 pl-0"></div>

    <div class="col-sm-8 pl-0 mt-20">

        <a href="@Url.Action(Actions.PDSettings, Controllers.AccountSetup, new { Area = "", UserType = ProjectSession.SetupUserType })" class="btn btn-outline-secondary mr-2">Previous</a>
        <button type="submit" class="btn btn-outline-primary">Next</button>
    </div>

</div>

}
<script>

    jQuery(document).ready(function () {
        FormValidation.init();
    });


    var FormValidation = function () {
        // basic validation
        var handleValidation1 = function () {

            var form1 = $('#frmAddPayment');
            var error1 = $('.alert-danger', form1);
            //var success1 = $('.alert-success', form1);

            form1.validate({
                errorElement: 'label', //default input error message container
                errorClass: 'error', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",  // validate all fields including form hidden input
                rules: {
                    CardNumber: {
                        required: true
                    },
                    NameOnCard: {
                        required: true
                    },
                    ExpiryDate: {
                        required: true
                    },
                    CVVCode: {
                        required: true
                    },
                   
                },

                nvalidHandler: function (event, validator) { //display error alert on form submit
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.input-group').addClass('validate-has-error'); // set error class to the control group
                },

                success: function (label) {
                    label.closest('.input-group').removeClass('validate-has-error');
                    label.remove();
                },

                errorPlacement: function (error, element) {
                    if (element.closest('.input-icon').length === 1) {
                        error.insertAfter(element.closest('.input-icon'));
                    } else {
                        error.insertAfter(element);
                    }
                },

                submitHandler: function (form) {
                    form.submit(); // form validation success, call ajax form submit
                }
            });

            $('#frmAddPayment input').keypress(function (e) {
                if (e.which == 13) {
                    if ($('#frmAddPayment').validate().form()) {
                        $('#frmAddPayment').submit(); //form validation success, call ajax form submit
                    }
                    return false;
                }
            });
        }
        return {
            //main function to initiate the module
            init: function () {
                handleValidation1();
            }
        };
    }();

</script>
@Html.Raw(ViewBag.openPopup)