﻿
@{
    ViewBag.Title = "Personal Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PlannedServicesProviderPortal.Pages;
@using PlannedServices.Entities.V1;
@using PlannedServices.Common;
@model Provider
<div class="row">
    <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
            <div class="card card-home ">
                <div class="card-body">
                    <h5 class="font-weight-normal">Home</h5>
                </div>
            </div>
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
        <div class="card border-warning border-2 mbox">
            <div class="card-body">
                <h5 class="font-weight-normal font-12 text-uppercase hideOnMobile">Provider<br>Sign Up</h5>
                <h5 class="font-weight-normal font-12 text-uppercase showOnMobile">Provider Sign Up</h5>
                <div class="text-left w-100 mt-auto">
                    <img src="~/Content/Icons/Add_User.svg" alt="" class="img-16">
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row w-100">
    <div class="col-12 border-2px ml-5 pl-0">
        <h5 class="heading-main text-uppercase font-13">STEP 1 OF 2 | NEW USER SIGN UP</h5>
    </div>
</div>
<div>
    <p class="font-14 mt-2 fw-300 ctext" style="width:65%">
        Enter a valid email address, this will be your account name. Passwords need to be a minimum of 8
        character and should contain one uppercase and one number.
    </p>
</div>
@using (Html.BeginForm(Actions.AddSubProvider, Controllers.AccountSetup, FormMethod.Post, new { area = "", @id = "frmAddEditUsers" }))
{
<div class="row pdl-5 mt-20">

    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.ParentId)

    <div class="col-sm-12 col-md-4 pl-0">
        <div class="form-group">
            <label for="emailAddress">Email</label>
            @Html.TextBoxFor(model => model.Email, new { @type = "email", @class = "form-control custom-form-control", placeholder = "Email", @readonly = "readonly" })
        </div>
    </div>
    <div class="col-sm-12 col-md-8 pl-0"></div>
    <div class="col-sm-12 col-md-4 pl-0">
        <div class="form-group">
            <label for="emailAddress">First name</label>
            @Html.TextBoxFor(model => model.Name, new { @type = "text", @class = "form-control custom-form-control", placeholder = "First name" })
        </div>
    </div>
    <div class="col-sm-12 col-md-4 pl-0">
        <div class="form-group">
            <label for="emailAddress">Last name</label>
            @Html.TextBoxFor(model => model.LastName, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Last name" })
        </div>
    </div>

    <div class="col-sm-12 col-md-4 pl-0"></div>

    <div class="col-sm-12 col-md-4 pl-0">
        <div class="form-group">
            <label for="emailAddress">Password</label>
            <i class="fa fa-eye-slash togglePassword" id="ntogglePassword" aria-hidden="true"></i>
            @Html.TextBoxFor(model => model.Password, new { @type = "password", @class = "form-control custom-form-control", placeholder = "Password" })
        </div>
    </div>
    <div class="col-sm-12 col-md-4 pl-0">
        <div class="form-group">
            <label for="emailAddress">Re Enter Password</label>
            <i class="fa fa-eye-slash togglePassword" id="rtogglePassword" aria-hidden="true"></i>
            @Html.TextBoxFor(model => model.ConfirmPassword, new { @type = "password", @class = "form-control custom-form-control", placeholder = "Re Enter Password" })
        </div>
    </div>

    <div class="col-sm-12 col-md-4 pl-0"></div>

    <div class="col-12 border-2px pl-0">
        <h5 class="heading-main text-uppercase font-13">LOCATION</h5>
    </div>
    <div class="col-12 pl-0 mb-20">
        <p class="font-14 mt-2 fw-300" style="width:65%">
            MY REQUEST requires your location to ensure that only participants that are within your nominated service area can make requests.
        </p>
    </div>
    <div class="col-sm-12 col-md-2 pl-0">
        <div class="form-group">
            <label for="emailAddress">Post Code</label>
            @Html.TextBoxFor(model => model.PinCode, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Post Code", @onblur = "onChangeCode(0)" })
        </div>
    </div>
    <div class="col-sm-12 col-md-2 pl-0">
        <div class="form-group">
            <label for="emailAddress">State</label>
            @Html.DropDownListFor(model => model.LookupStateId, (IEnumerable<SelectListItem>)ViewBag.States, "Select State", new { @class = "form-control custom-form-control", @onchange = "onChangeCode(1);" })
        </div>
    </div>
    <div class="col-sm-12 col-md-4 pl-0">
        <div class="form-group">
            <label for="emailAddress">City</label>
            @Html.DropDownListFor(model => model.Surburb, (IEnumerable<SelectListItem>)ViewBag.Citys, "Select City", new { @class = "form-control custom-form-control", @Id = "City", @Name = "City" })
        </div>
    </div>

    <div class="col-sm-12 col-md-8 pl-0 mt-20" id="saveBtn">
        <button type="submit" id="customButton" class="btn btn-outline-primary  text-uppercase">Next</button>
    </div>

</div>

}


<!-- Modal -->
<!--<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">-->
        <!-- Modal content-->
        <!--<div class="modal-content mcontent">
            <div class="modal-body mbody border-primary w-100" style="border-color:transparent!important">
                <h5 class="border-1px pb-2">Enter Verification Code</h5>
                <div class="row mt-20">
                    <div class="col-sm-12 pl-0">
                        <div class="form-group">
                            @Html.TextBoxFor(model => model.ECode, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Verification Code" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer pl-0 pr-0" style="border:0;">
                <button data-dismiss="modal" class="btn btn-outline-secondary mr-2 mno">CANCEL</button>
                <button onclick="add()" class="btn btn-outline-primary text-uppercase  myes">Verify</button>
            </div>
        </div>

    </div>
</div>-->

<input type="hidden" id="ecode" />
<script>
    $(".togglePassword").on('click', function (e) {
        const password = document.querySelector("#" + $(this).next('input').attr('id'));
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);
        if (type === 'password') {
            $("#" + $(this).attr("Id")).addClass("fa-eye-slash");
            $("#" + $(this).attr("Id")).removeClass('fa-eye');
        }
        else {
            $("#" + $(this).attr("Id")).removeClass("fa-eye-slash");
            $("#" + $(this).attr("Id")).addClass('fa-eye');
        }
    })
    jQuery(document).ready(function () {
        jQuery.validator.addMethod("strongPassword", function (value, element) {
            var number = /([0-9])/;
            var alphabets = /([A-Z])/;
            var special_characters = /([~,!,@@,#,$,%,^,&,*,-,_,+,=,?,>,<])/;
            if (value.length > 8 && value.match(number) && value.match(alphabets)) {
                return true;
            }
            else {
                return false;
            }
        }, "Minimum 8 character and at least one alphabet, one number, and one special character.");

        FormValidation.init();
         toastr.clear();
        if ('@ViewBag.ErrorMSG' != '' ) {
            ShowMessageToastr("danger", "@ViewBag.ErrorMSG", false);
        }
    });

   

    function onChangeCode(type) {
        var postcode = $("#PinCode").val();
        var stateId = $("#LookupStateId").val();
        if (type == 0) {
            var s = '';
            s += '<option value="">Select State</option>';
            $("#LookupStateId").html(s);
            $("#LookupStateId").val("");
            var s2 = '';
            s2 += '<option value="">Select City</option>';
            $("#City").html(s2);
            $("#City").val("");
        } else {
            var s = '';
            s += '<option value="">Select City</option>';
            $("#City").html(s);
            $("#City").val("");
        }

        $.ajax({
            url: '@Url.Action(Actions.GetState, Controllers.AccountSetup, new { area = "" })',
            data: { Type: type, PostCode: postcode, StateId: stateId },
            type: 'GET',
            datatype: 'json',
            success: function (data) {
                if (type == 0) {
                    if (data.length > 0) {

                        var s = '';
                        s += '<option value="">Select State</option>'
                        for (var i = 0; i < data.length; i++) {
                            s += '<option value="' + data[i].DrpId + '">' + data[i].Name + '</option>'
                        }
                        $("#LookupStateId").html(s);
                    }
                    else {
                        var s = '';
                        s += '<option value="">Select State</option>';
                        $("#LookupStateId").html(s);
                        $("#LookupStateId").val("");
                    }
                }
                else {
                    if (data.length > 0) {

                        var s = '';
                        s += '<option value="">Select City</option>'
                        for (var i = 0; i < data.length; i++) {
                            s += '<option value="' + data[i].DrpId + '">' + data[i].Name + '</option>'
                        }
                        $("#City").html(s);
                    }
                    else {
                        var s = '';
                        s += '<option value="">Select City</option>';
                        $("#City").html(s);
                        $("#City").val("");
                    }
                }
            }
        });
    }


    var FormValidation = function () {
        // basic validation
        var handleValidation1 = function () {

            var form1 = $('#frmAddEditUsers');
            var error1 = $('.alert-danger', form1);
            //var success1 = $('.alert-success', form1);

            form1.validate({
                errorElement: 'label', //default input error message container
                errorClass: 'error', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",  // validate all fields including form hidden input
                rules: {
                    Name: {
                        required: true
                    },
                    LastName: {
                        required: true
                    },
                    Email: {
                        required: true,
                        email: true
                    },
                   

                    Password: {
                        required: true,
                        strongPassword: true,
                    },
                    ConfirmPassword: {
                        required: true
                    },
                    PinCode: {
                        required: true
                    },
                    City: {
                        required: true
                    },
                    LookupStateId: {
                        required: true
                    },
                },

                nvalidHandler: function (event, validator) { //display error alert on form submit
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-control').addClass('validate-has-error'); // set error class to the control group
                },

                success: function (label, element) {
                    $(element).closest('.form-control').removeClass('validate-has-error');
                    label.closest('.form-control').removeClass('validate-has-error');
                    label.remove();
                },

                errorPlacement: function (error, element) {
                    if (element.closest('.input-icon').length === 1) {
                        //error.insertAfter(element.closest('.input-icon'));
                    } else {
                        //error.insertAfter(element);
                    }
                },

                submitHandler: function (form) {
                    if ($("#Password").val() == $("#ConfirmPassword").val()) {
                        form.submit(); // form validation success, call ajax form submit
                    }
                    else {
                        ShowMessageToastr("danger", "Password & Re Enter Password Does Not Match!", false);
                        return
                    }
                }
            });

            $('#frmAddEditUsers input').keypress(function (e) {
                if (e.which == 13) {
                    if ($('#frmAddEditUsers').validate().form()) {
                       // $('#frmAddEditUsers').submit(); //form validation success, call ajax form submit
                    }
                    return false;
                }
            });
        }
        return {
            //main function to initiate the module
            init: function () {
                handleValidation1();
            }
        };
    }();

</script>
@Html.Raw(ViewBag.openPopup)
