﻿<style>
    @@media(max-width: 767px){
        .empty {
            display: none;
        }
        .heading-main {
            margin-top: 5px !important;
        }
    }
</style>
@{
    ViewBag.Title = "Personal Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PlannedServicesProviderPortal.Pages;
@using PlannedServices.Entities.V1;
@using PlannedServices.Common;
@model Provider
<div class="row">
    <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
            <div class="card card-home ">
                <div class="card-body">
                    <h5 class="font-weight-normal">Home</h5>
                </div>
            </div>
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
        <div class="card border-warning border-2 mbox">
            <div class="card-body">
                <h5 class="font-weight-normal font-12 text-uppercase hideOnMobile">Provider<br>Sign Up</h5>
                <h5 class="font-weight-normal font-12 text-uppercase showOnMobile">Provider Sign Up</h5>
                <div class="text-left w-100 mt-auto">
                    <img src="~/Content/Icons/Add_User.svg" alt="" class="img-16">
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row w-100">
    <div class="col-12 border-2px ml-5 pl-0">
        <h5 class="heading-main text-uppercase font-13">STEP 1 of 3  |  ACCOUNT CREATION</h5>
    </div>
</div>
<div>
    <p class="font-14 mt-2 fw-300 ctext" style="width:65%">
        Enter a valid email address, this will be your account name. Passwords need to be a minimum of 8
        character and should contain one uppercase and one number.
    </p>
</div>
@using (Html.BeginForm(Actions.AddProvider, Controllers.AccountSetup, FormMethod.Post, new { area = "", @id = "frmAddEditUsers" }))
{
    <div class="row pdl-5 mt-20">

        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)
        <div class="col-sm-12 col-md-4 pl-0">
            <div class="form-group">
                <label for="emailAddress">First name</label>
                @Html.TextBoxFor(model => model.Name, new { @type = "text", @class = "form-control custom-form-control", placeholder = "First name" })
            </div>
        </div>
        <div class="col-sm-12 col-md-4 pl-0">
            <div class="form-group">
                <label for="emailAddress">Last name</label>
                @Html.TextBoxFor(model => model.LastName, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Last name" })
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-md-4 pl-0">
            <div class="form-group">
                <label for="emailAddress">Email</label>
                @Html.TextBoxFor(model => model.Email, new { @type = "email", @class = "form-control custom-form-control", placeholder = "Email" })
            </div>
        </div>


        <div class="col-sm-12 col-md-4 pl-0">
            <div class="form-group">
                <label for="emailAddress">Password</label>
                <i class="fa fa-eye-slash togglePassword" id="ntogglePassword" aria-hidden="true"></i>
                @Html.TextBoxFor(model => model.Password, new { @type = "password", @class = "form-control custom-form-control", placeholder = "Password" })
            </div>
        </div>
        <div class="col-sm-12 col-md-4 pl-0">
            <div class="form-group">
                <label for="emailAddress">Re Enter Password</label>
                <i class="fa fa-eye-slash togglePassword" id="rtogglePassword" aria-hidden="true"></i>
                @Html.TextBoxFor(model => model.ConfirmPassword, new { @type = "password", @class = "form-control custom-form-control", placeholder = "Re Enter Password" })
            </div>
        </div>


        <div class="col-12 border-2px pl-0 mb-20">
            <h5 class="heading-main text-uppercase font-13">Company Details</h5>
        </div>

        <div class="col-md-3 col-sm-12 pl-0">
            <div class="form-group">
                <label for="emailAddress">Company name</label>
                @Html.TextBoxFor(model => model.CompanyName, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Company name" })
            </div>
        </div>
        <div class="col-md-2 col-sm-12 pl-0">
            <div class="form-group">
                <label for="emailAddress">ABN</label>
                @Html.TextBoxFor(model => model.ABN, new { @type = "number", @minlength = 11, @maxlength = 11, @class = "form-control custom-form-control", placeholder = "ABN", onblur = "onABN()" })
            </div>
        </div>
        <div class="col-md-4 col-sm-12 pl-0">
            <div class="form-group">
                <label for="emailAddress">NDIS Number (optional) </label>
                @Html.TextBoxFor(model => model.NDISReferenceNumber, new { @type = "number", @minlength = 9, @maxlength = 9, @class = "form-control custom-form-control", placeholder = "NDIS Number", onblur = "onNDIS()" })
            </div>
        </div>



        <div class="col-sm-12 col-md-8 pl-0 mt-20" id="saveBtn">
            <a href="@Url.Action(Actions.LogIn, Controllers.Account)" class="btn btn-outline-secondary mr-2 text-uppercase">Previous</a>
            <button type="button" id="customButton" class="btn btn-outline-primary  text-uppercase">Next</button>
        </div>

    </div>

}
<form style="display:none" id="vcodesec">
    <div class="row pdl-5 mt-10">
        <div class="col-12 border-2px  pl-0">
            <h5 class="heading-main text-uppercase font-13 fw-400 blurhtext">Email validation code</h5>
        </div>
        <div class="col-12 pl-0">
            <p class="font-14 mt-2 fw-300 ctext" style="width:65%">
                A verification code has been sent to your nominated email. Please enter the code below.
            </p>
        </div>

        <div class="col-sm-12 col-md-4 pl-0 mt-20">
            <div class="form-group">
                <label for="emailAddress">Validation Code</label>
                @Html.TextBoxFor(model => model.ECode, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Validation Code" })
                <span id="cerror" style="color:red;font-size:11px;display:none"></span>
            </div>
        </div>
        <div class="col-sm-12 col-md-8"></div>
        <div class="col-sm-12 col-md-8 pl-0 mt-20" id="saveBtn">
            <a href="@Url.Action("LogIn", Controllers.Account)" class="btn btn-outline-secondary mr-2 text-uppercase">Previous</a>
            <button type="button" id="customButton2" onclick="add()" class="btn btn-outline-primary text-uppercase">Next</button>
        </div>

    </div>
</form>

<!-- Modal -->
<!--<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">-->
        <!-- Modal content-->
        <!--<div class="modal-content mcontent">
            <div class="modal-body mbody border-primary w-100" style="border-color:transparent!important">
                <h5 class="border-1px pb-2">Enter Verification Code</h5>
                <div class="row mt-20">
                    <div class="col-sm-12 pl-0">
                        <div class="form-group">
                            @Html.TextBoxFor(model => model.ECode, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Verification Code" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer pl-0 pr-0" style="border:0;">
                <button data-dismiss="modal" class="btn btn-outline-secondary mr-2 mno">CANCEL</button>
                <button onclick="add()" class="btn btn-outline-primary text-uppercase  myes">Verify</button>
            </div>
        </div>

    </div>
</div>-->

<input type="hidden" id="ecode" />
<script>

    function onNDIS() {
        FormValidation.init();
    }
    function onABN() {
        FormValidation.init();
    }
    $(".togglePassword").on('click', function (e) {
        const password = document.querySelector("#" + $(this).next('input').attr('id'));
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);
        if (type === 'password') {
            $("#" + $(this).attr("Id")).addClass("fa-eye-slash");
            $("#" + $(this).attr("Id")).removeClass('fa-eye');
        }
        else {
            $("#" + $(this).attr("Id")).removeClass("fa-eye-slash");
            $("#" + $(this).attr("Id")).addClass('fa-eye');
        }
    })
    jQuery(document).ready(function () {
        jQuery.validator.addMethod("strongPassword", function (value, element) {
            var number = /([0-9])/;
            var alphabets = /([a-zA-Z])/;
            var special_characters = /([~,!,@@,#,$,%,^,&,*,-,_,+,=,?,>,<])/;
            if (value.length > 8 && value.match(number) && value.match(alphabets)) {
                return true;
            }
            else {
                return false;
            }
        }, "Minimum 8 character and at least one alphabet, one number, and one special character.");

        FormValidation.init();
         toastr.clear();
        if ('@ViewBag.ErrorMSG' != '' ) {
            ShowMessageToastr("danger", "@ViewBag.ErrorMSG", false);
        }
    });

     $('#customButton').on('click', function (e) {
        if ($('#frmAddEditUsers').validate().form()) {
            @*if ('@Model.IsEmailVerified' == 'True') {
                $('#frmAddEditUsers').submit();
            }
            else {*@
            if ($("#Password").val() == $("#ConfirmPassword").val()) {
                $.ajax({
                    url: '@Url.Action(Actions.VerifyEmail, Controllers.AccountSetup, new { area = "" })',
                    data: {
                        Email: $("#Email").val()
                    },
                    type: 'POST',
                    datatype: 'json',
                    success: function (data) {
                        if (data.Code == 200) {
                            $("#ecode").val(data.Item.ECode);
                            //$("#myModal").modal("show");
                            $("#saveBtn").hide();
                            $("#vcodesec").show();
                        }
                        else if (data.Code == 403) {
                            toastr.clear();
                            ShowMessageToastr("danger", "Email already exists", false);
                            return;
                        }
                        else if (data.Code == 401) {
                            $('#frmAddEditUsers').submit();
                        }
                    }
                });
            }
            else {
                ShowMessageToastr("danger", "Password & Re Enter Password Does Not Match!", false);
                return
            }
           // }
        }
    })
    function add() {
        if ($("#ecode").val() != "") {
            if ($("#ecode").val() == $("#ECode").val()) {
               // $("#myModal").modal("hide");
                toastr.clear();
                ShowMessageToastr("success", "your email is successfully verified.!", false);
                $('#frmAddEditUsers').submit();
            }
            else {
                toastr.clear();
                $("#cerror").text("please enter Valid Verification Code.");
                $("#cerror").show();
                //ShowMessageToastr("danger", "Please enter Valid Verification Code..!", false);
                return;
            }
        }
        else {
             toastr.clear();
            $("#cerror").text("This field is required.");
            $("#cerror").show();
            // ShowMessageToastr("danger", "Please enter Verification Code..!", false);
            return;
        }
    }


    var FormValidation = function () {
        // basic validation
        var handleValidation1 = function () {

            var form1 = $('#frmAddEditUsers');
            var error1 = $('.alert-danger', form1);
            //var success1 = $('.alert-success', form1);

            form1.validate({
                errorElement: 'label', //default input error message container
                errorClass: 'error', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",  // validate all fields including form hidden input
                rules: {
                    Name: {
                        required: true
                    },
                    LastName: {
                        required: true
                    },
                    Email: {
                        required: true,
                        email: true
                    },
                    CompanyName: {
                        required: true
                    },

                    Password: {
                        required: true,
                        strongPassword: true,
                    },
                    ConfirmPassword: {
                        required: true
                    },
                    NDISReferenceNumber: {
                        required: {
                            depends: function (element) {
                                if ($("#NDISReferenceNumber").val() != "" && $("#NDISReferenceNumber").val() != null) {
                                    return true;
                                } else {
                                    return false;
                                }
                            }
                        }
                    },
                    ABN: {
                        required: {
                            depends: function (element) {
                                if ($("#ABN").val() != "" && $("#ABN").val() != null) {
                                    return true;
                                } else {
                                    return false;
                                }
                            }
                        }
                    },
                    //PinCode: {
                    //    required: true
                    //},
                    //City: {
                    //    required: true
                    //},
                    //LookupStateId: {
                    //    required: true
                    //},
                },

                nvalidHandler: function (event, validator) { //display error alert on form submit
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-control').addClass('validate-has-error'); // set error class to the control group
                },

                success: function (label) {
                    label.closest('.form-control').removeClass('validate-has-error');
                    label.remove();
                },

                errorPlacement: function (error, element) {
                    if (element.closest('.input-icon').length === 1) {
                        //error.insertAfter(element.closest('.input-icon'));
                    } else {
                        //error.insertAfter(element);
                    }
                },

                submitHandler: function (form) {
                    if ($("#Password").val() == $("#ConfirmPassword").val()) {
                        form.submit(); // form validation success, call ajax form submit
                    }
                    else {
                        ShowMessageToastr("danger", "Password & Re Enter Password Does Not Match!", false);
                        return
                    }
                }
            });

            $('#frmAddEditUsers input').keypress(function (e) {
                if (e.which == 13) {
                    if ($('#frmAddEditUsers').validate().form()) {
                       // $('#frmAddEditUsers').submit(); //form validation success, call ajax form submit
                    }
                    return false;
                }
            });
        }
        return {
            //main function to initiate the module
            init: function () {
                handleValidation1();
            }
        };
    }();

</script>
@Html.Raw(ViewBag.openPopup)
