﻿
@{
    ViewBag.Title = "Plan Manager Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PlannedServicesProviderPortal.Pages;
@using PlannedServices.Entities.V1;
@using PlannedServices.Common;
@model Provider
<style>
    .custom-control-input ~ .rm::before {
        opacity: 0.5;
        margin-top: 5px;
    }

    .custom-control-input ~ .rm::after {
        margin-top: 5px;
    }
</style>
<div class="row">
    <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
            <div class="card card-home ">
                <div class="card-body">
                    <h5 class="font-weight-normal">Home</h5>
                </div>
            </div>
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
        <div class="card border-warning border-2 mbox">
            <div class="card-body">
                <h5 class="font-weight-normal font-12 text-uppercase hideOnMobile">Provider<br>Sign Up</h5>
                <h5 class="font-weight-normal font-12 text-uppercase showOnMobile">Provider Sign Up</h5>
                <div class="text-left w-100 mt-auto">
                    <img src="~/Content/Icons/Add_User.svg" alt="" class="img-16">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row w-100">
    <div class="col-12 border-2px ml-5 pl-0">
        <h5 class="heading-main text-uppercase font-13">STEP 2 of 3  |  LOCATION</h5>
    </div>
</div>
<div>
    <p class="font-14 mt-2 fw-300 ctext" style="width:65%">
        MY REQUEST requires the providers location to ensure that only participants that are within their
        nominated service area can make requests.
    </p>
</div>
<div class="row pdl-5 mt-20">
    @if (ViewBag.LocationData != null)
    {
        foreach (var item in ViewBag.LocationData)
        {
            <div class="col-12 pr-0 ml-5 mt-20 border-1px">
                <div class="row">
                    <div class="col-md-2 col-sm-2 col-2 pl-0">
                        <div class="form-group">
                            <input type="text" value="@item.PinCode" id="p_@item.Id" class="form-control custom-form-control" disabled />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-2 pl-0">
                        <div class="form-group">
                            <input type="hidden" value="@item.LookupStateId" id="s_@item.Id" disabled />
                            <input type="text" value="@item.StateName" class="form-control custom-form-control" disabled />
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-4 pl-0">
                        <div class="form-group">
                            <input type="text" value="@item.City" id="c_@item.Id" class="form-control custom-form-control" disabled />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-2 pl-0"></div>
                    <div class="col-md-2 col-sm-2 col-2 pl-0">
                        <div class="text-center">
                            <img onclick="addLocation(@item.Id)" src="~/Content/Icons/Cross.svg" alt="" class="img-16">
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    <div class="col-sm-12 pl-0 mt-20">
        <div class="form-group">
            <a href="#" onclick="addLocation(0)" class="btn btn-outline-primary  text-uppercase">Add Location</a>
        </div>
    </div>
</div>
<div class="row pdl-5 mt-20">
    <div class="col-12 border-2px pl-0">
        <h5 class="heading-main text-uppercase font-13">LOCATION SERVICE AREA</h5>
    </div>
    <div class="col-lg-4 col-md-12 pl-0">
        <div class="custom-control custom-radio">
            <input type="radio" id="1" checked name="customRadio" class="custom-control-input" value="1" onclick="onArea(0)">
            <label class="custom-control-label font-16" style="margin-top: 5px" for="1">Up to 50km</label>
        </div>
    </div>
    <div class="col-lg-4 col-md-12 pl-0">
        <div class="custom-control custom-radio">
            <input type="radio" id="3" name="customRadio" class="custom-control-input mt-3" value="3" onclick="onArea(1)">
            <label class="custom-control-label font-16 rm" for="3">
                <span style="float:left;margin-right:10px;margin-top:5px">Up to</span>
                <input style="width:150px" disabled="true" type="text" class="form-control custom-form-control distance" placeholder="Distance in Km" id="distance">
            </label>
        </div>
    </div>
    <div class="col-lg-4 col-md-12 pl-0">
        <div class="custom-control custom-radio">
            <input type="radio" id="2" name="customRadio" class="custom-control-input" value="2" onclick="onArea(0)">
            <label class="custom-control-label font-16" style="margin-top: 5px" for="2">Australia Wide</label>
        </div>
    </div>

    <div class="col-sm-12 col-md-8 pl-0 mt-20">

        <a href="@Url.Action(Actions.PDSettings, Controllers.AccountSetup, new { Area = "", UserType = ProjectSession.SetupUserType })" class="btn btn-outline-secondary mr-2 text-uppercase">Previous</a>
        <button type="button" onclick="Verify()" class="btn btn-outline-primary  text-uppercase">Next</button>
    </div>
</div>


                @*@using (Html.BeginForm(Actions.PlanManagerDetails, Controllers.AccountSetup, FormMethod.Post, new { area = "", @id = "frmAddEditPMD" }))
                    {
                        <div class="row pdl-5 mt-20">

                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.Id)
                            @Html.HiddenFor(model => model.Name)
                            @Html.HiddenFor(model => model.Email)
                            @Html.HiddenFor(model => model.Type)
                            @Html.HiddenFor(model => model.ServiceableArea)*@
                @*<div class="col-sm-4 pl-0">
                        <div class="form-group">
                            <label for="emailAddress">Company Name</label>
                            @Html.TextBoxFor(model => model.CompanyName, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Enter your first Company Name" })
                        </div>
                    </div>
                    <div class="col-sm-4 pl-0">
                        <div class="form-group">
                            <label for="emailAddress">ABN</label>
                            @Html.TextBoxFor(model => model.ABN, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Enter your ABN" })
                        </div>
                    </div>*@
                @*<div class="col-sm-8 pl-0">
                        <div class="form-group">
                            <label for="emailAddress">Address</label>
                            @Html.TextBoxFor(model => model.AddressLine1, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Enter full Address" })
                        </div>
                    </div>
                    <div class="col-sm-4 pl-0"></div>*@

                @*<div class="col-sm-2 pl-0">
                        <div class="form-group">
                            <label for="emailAddress">State</label>
                            @Html.DropDownListFor(model => model.LookupStateId, (IEnumerable<SelectListItem>)ViewBag.States, "Select State", new { @class = "form-control custom-form-control" })
                        </div>
                    </div>
                    <div class="col-sm-2 pl-0">
                        <div class="form-group">
                            <label for="emailAddress">Post Code</label>
                            @Html.TextBoxFor(model => model.PinCode, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Post Code" })
                        </div>
                    </div>
                    <div class="col-sm-4 pl-0">
                        <div class="form-group">
                            <label for="emailAddress">City</label>
                            @Html.TextBoxFor(model => model.Surburb, new { @type = "text", @class = "form-control custom-form-control", placeholder = "City" })
                        </div>
                    </div>
                    <div class="col-sm-4 pl-0"></div>*@

                @*<div class="col-sm-4 pl-0"></div>
                    <div class="col-sm-4 pl-0">
                        <div class="form-group">
                            <label for="emailAddress">Telephone</label>
                            @Html.TextBoxFor(model => model.Phone, new { @type = "text", @class = "form-control custom-form-control", placeholder = "xxxx" })
                        </div>
                    </div>
                    <div class="col-sm-4 pl-0">
                        <div class="form-group">
                            <label for="emailAddress">Email</label>
                            @Html.TextBoxFor(model => model.CompanyEmail, new { @type = "email", @class = "form-control custom-form-control", placeholder = "Email" })
                        </div>
                    </div>
                    <div class="col-sm-4 pl-0"></div>
                    <div class="col-sm-4 pl-0">
                        <div class="form-group">
                            <label for="emailAddress">Web Site</label>
                            @Html.TextBoxFor(model => model.Website, new { @type = "text", @class = "form-control custom-form-control", placeholder = "WebSite" })
                        </div>
                    </div>
                    <div class="col-sm-4 pl-0">
                        <div class="form-group">
                            <label for="emailAddress">NDIS</label>
                            @Html.TextBoxFor(model => model.NDISReferenceNumber, new { @type = "text", @class = "form-control custom-form-control", placeholder = "NDIS" })
                        </div>
                    </div>*@
                @*<div class="col-sm-4 pl-0"></div>


                    </div>*@

                @* } *@
                <!-- Modal -->
                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <!-- Modal content-->
                        <div class="modal-content mcontent">
                            <div class="modal-body mbody border-primary w-100" style="border-color:transparent!important">
                                <h5 class="border-1px pb-2">Add Location</h5>
                                <div class="row mt-20">
                                    <div class="col-sm-4 pl-0">
                                        <div class="form-group">
                                            <label for="emailAddress">Post Code</label>
                                            @Html.TextBoxFor(model => model.PinCode, new { @type = "text", @class = "form-control custom-form-control", placeholder = "Post Code", @onblur = "onChangeCode(0)" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4 pl-0">
                                        <div class="form-group">
                                            <label for="emailAddress">State</label>
                                            @Html.DropDownListFor(model => model.LookupStateId, (IEnumerable<SelectListItem>)ViewBag.States, "Select State", new { @class = "form-control custom-form-control", @onchange = "onChangeCode(1);" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4 pl-0">
                                        <div class="form-group">
                                            <label for="emailAddress">City</label>
                                            @Html.DropDownListFor(model => model.Surburb, (IEnumerable<SelectListItem>)ViewBag.Citys, "Select City", new { @class = "form-control custom-form-control", @Id = "City", @Name = "City" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer pl-0 pr-0" style="border:0;">
                                <button data-dismiss="modal" class="btn btn-outline-secondary mr-2 mno">CANCEL</button>
                                <button onclick="add()" class="btn btn-outline-primary text-uppercase  myes">SAVE</button>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Modal -->
                <div id="myModal1" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content mcontent">
                            <div class="modal-body mbody pmodel border-secondary" style="border-width:3px">
                                <p class="font-13 text-center blurhtext">
                                    Are you sure you want to delete this Location?
                                </p>
                            </div>
                            <div class="modal-footer pl-0 pr-0" style="border:0;">
                                <button onclick="Delete()" class="btn btn-outline-success text-white mr-2 myes">YES</button>
                                <button data-dismiss="modal" class="btn btn-outline-secondary border-danger mno">NO</button>
                            </div>
                        </div>

                    </div>
                </div>
                <div id="myModal3" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content mcontent" style="border:0;">
                            <div class="modal-footer pl-0 pr-0" style="border:0;">
                                <button data-dismiss="modal" id="btnText1" class="btn btn-outline-success text-white text-uppercase myes" style="width: 310px;height:100%">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="LId" />
                <script>

    jQuery(document).ready(function () {
        FormValidation.init();
        if (@Html.Raw(Json.Encode(@ViewBag.ProviderData)) != null) {
            var sizearray = @Html.Raw(Json.Encode(@ViewBag.ProviderData.Type));
            if (sizearray >0 && $("#" + $.trim(sizearray)).val() == $.trim(sizearray)) {
                $("#" + $.trim(sizearray)).attr("checked", "checked");
                if (sizearray == "3") {
                    $("#distance").prop('disabled', false);
                    $("#distance").val(@Html.Raw(Json.Encode(@ViewBag.ProviderData.ServiceableArea)))
                }
            }
        }
        $('#myModal3').on('hide.bs.modal', function () {
            window.location.reload();
        });
    });
function onChangeCode(type) {
        debugger
        var postcode = $("#PinCode").val();
        var stateId = $("#LookupStateId").val();
        if (type == 0) {
            var s = '';
            s += '<option value="">Select State</option>';
            $("#LookupStateId").html(s);
            $("#LookupStateId").val("");
            var s2 = '';
            s2 += '<option value="">Select City</option>';
            $("#City").html(s2);
            $("#City").val("");
        } else {
            var s = '';
            s += '<option value="">Select City</option>';
            $("#City").html(s);
            $("#City").val("");
        }

        $.ajax({
            url: '@Url.Action(Actions.GetState, Controllers.AccountSetup, new { area = "" })',
            data: { Type: type, PostCode: postcode, StateId: stateId },
            type: 'GET',
            datatype: 'json',
            success: function (data) {
                if (type == 0) {
                    if (data.length > 0) {

                        var s = '';
                        s += '<option value="">Select State</option>'
                        for (var i = 0; i < data.length; i++) {
                            s += '<option value="' + data[i].DrpId + '">' + data[i].Name + '</option>'
                        }
                        $("#LookupStateId").html(s);
                    }
                    else {
                        var s = '';
                        s += '<option value="">Select State</option>';
                        $("#LookupStateId").html(s);
                        $("#LookupStateId").val("");
                    }
                }
                else {
                    if (data.length > 0) {

                        var s = '';
                        s += '<option value="">Select City</option>'
                        for (var i = 0; i < data.length; i++) {
                            s += '<option value="' + data[i].DrpId + '">' + data[i].Name + '</option>'
                        }
                        $("#City").html(s);
                    }
                    else {
                        var s = '';
                        s += '<option value="">Select City</option>';
                        $("#City").html(s);
                        $("#City").val("");
                    }
                }
            }
        });
    }

    function addLocation(id) {
        if (id == 0) {
            $("#LId").val(id);
            $("#LookupStateId").val("");
            $("#PinCode").val("");
            $("#Surburb").val("");
            $("#myModal").modal("show");

        }
        else {
            $("#LId").val(id);
            $("#myModal1").modal("show");
            //$("#LookupStateId").val($("#s_" + id).val());
            //$("#PinCode").val($("#p_" + id).val());
            //$("#Surburb").val($("#c_" + id).val());
        }

    }
    function add() {
        if ($("#LookupStateId").val() == "") {
            toastr.remove();
            ShowMessageToastr("danger", "Please Select State!", false);
            return
        }
        else if ($("#PinCode").val() == "") {
            toastr.remove();
            ShowMessageToastr("danger", "Please Enter Pin Code!", false);
            return
        }
        else if ($("#City").val() == "") {
            toastr.remove();
            ShowMessageToastr("danger", "Please Enter City!", false);
            return
        }

          $.ajax({
                      url: '@Url.Action(Actions.AddLocation, Controllers.AccountSetup, new { area = "" })',
              data: { LId: $("#LId").val(), SId: $("#LookupStateId").val(), PinCode: $("#PinCode").val(), City: $("#City").val() },
                      type: 'GET',
                      datatype: 'json',
                  success: function (data) {
                      if (data) {
                          $("#myModal").modal("hide");
                          ShowMessageToastr("success", "Add Location Successfully.!", false);
                          window.location.reload();
                      }
                      else {
                          ShowMessageToastr("danger", "something went wrong. please try again.", false);
                      }
                      },
                        error: function () { }
                    });
    }

    function Delete() {
              $.ajax({
                      url: '@Url.Action(Actions.DeleteProviderLocation, Controllers.AccountSetup, new { area = "" })',
                  data: { LId: $("#LId").val() },
                      type: 'GET',
                      datatype: 'json',
                  success: function (data) {
                      if (data) {
                          $("#myModal1").modal("hide");
                          $("#btnText1").html("Delete Provider Location Successfully");
                          $("#myModal3").modal("show");
                          //ShowMessageToastr("success", "Delete Provider Location Successfully.!", false);
                          //window.location.reload();
                      }
                      else {
                          ShowMessageToastr("danger", "something went wrong. please try again.", false);
                      }
                      },
                        error: function () { }
                    });

    }


    function onArea(type) {
        if (type == 1) {
            $("#distance").prop("disabled", false);
        }
        else {
            $("#distance").prop("disabled", true);
        }

    }

    function Verify() {
        debugger
         var data = @Html.Raw(Json.Encode(@ViewBag.LocationData));
            if (data.length == 0)
                {
                    ShowMessageToastr("danger", "Please Add Location!", false);
                    return
            }

                var v = $('input[name="customRadio"]:checked').val();
        if (v == 3 && ($("#distance").val() == "" || $("#distance").val() == 0)) {
            $("#distance").css('border', '1px solid red');
            //ShowMessageToastr("danger", "Please Enter Km.!", false);
            return
        }
        else {
            $("#distance").css('border', '1px solid');
        }

          $.ajax({
                url: '@Url.Action(Actions.AddProviderServiceArea, Controllers.AccountSetup, new { area = "" })',
                      data: {
                    Type: v, value: $("#distance").val()
                           },
                  type: 'POST',
                  datatype: 'json',
              success: function (data) {
                        if (data.Code == 200) {
                      $("#myModal").modal("hide");
                            window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]AccountSetup/ProviderServices";
                        }
                        else {
                            ShowMessageToastr("danger", data.Message, false);
                            return
                        }
                    },
                  error: function () { }
                });
            }

    var FormValidation = function () {
        // basic validation
        var handleValidation1 = function () {

            var form1 = $('#frmAddEditPMD');
            var error1 = $('.alert-danger', form1);
            //var success1 = $('.alert-success', form1);

            form1.validate({
                errorElement: 'label', //default input error message container
                errorClass: 'error', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",  // validate all fields including form hidden input
                rules: {
                    //CompanyName: {
                    //    required: true
                    //},
                    //ABN: {
                    //    required: true
                    //},
                    AddressLine1: {
                        required: true
                    },
                    //Phone: {
                    //    required: true
                    //},
                    LookupStateId: {
                        required: true
                    },
                    //CompanyEmail: {
                    //    required: true,
                    //    email: true
                    //},
                    PinCode: {
                        required: true
                    },
                    Surburb: {
                        required: true
                    },
                    //NDISReferenceNumber: {
                    //    required: true
                    //},
                    //WebSite: {
                    //    required: true
                    //},
                },

                nvalidHandler: function (event, validator) { //display error alert on form submit
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.input-group').addClass('validate-has-error'); // set error class to the control group
                },

                success: function (label) {
                    label.closest('.input-group').removeClass('validate-has-error');
                    label.remove();
                },

                errorPlacement: function (error, element) {
                    if (element.closest('.input-icon').length === 1) {
                        error.insertAfter(element.closest('.input-icon'));
                    } else {
                        error.insertAfter(element);
                    }
                },

                submitHandler: function (form) {
                    debugger
                    var v = $('input[name="customRadio"]:checked').val();
                    if (v == 3 && ($("#distance").val() == "" || $("#distance").val() == 0)) {
                        ShowMessageToastr("danger", "Please Enter Km.!", false);
                        return
                    }
                    $("#Type").val(v);
                    $("#ServiceableArea").val($("#distance").val());

                    form.submit(); // form validation success, call ajax form submit
                }
            });

            $('#frmAddEditPMD input').keypress(function (e) {
                if (e.which == 13) {
                    if ($('#frmAddEditPMD').validate().form()) {
                        $('#frmAddEditPMD').submit(); //form validation success, call ajax form submit
                    }
                    return false;
                }
            });
        }
        return {
            //main function to initiate the module
            init: function () {
                handleValidation1();
            }
        };
    }();

                </script>
                @Html.Raw(ViewBag.openPopup)
