﻿
@{
    ViewBag.Title = "Provider Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PlannedServicesProviderPortal.Pages;
@using PlannedServices.Common.Paging;
@using PlannedServices.Entities.Contract;
@model  PagedList<AbstractServices>
<div class="row">
    <div class="col-lg-2 col-md-3 col-sm-4 mb-3 mb-sm-0 box">
            <div class="card card-home ">
                <div class="card-body">
                    <h5 class="font-weight-normal">Home</h5>
                </div>
            </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mb-3 mb-sm-0 box">
        <div class="card border-warning border-2">
            <div class="card-body">
                <h5 class="font-weight-normal font-12 text-uppercase">Provider<br>Sign Up</h5>
                <div class="text-left w-100 mt-auto">
                    <img src="~/Content/Icons/Add_User.svg" alt="" class="img-16">
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-12 border-2px ml-5 pl-0">
        <h5 class="heading-main text-uppercase font-13">STEP 4 OF 7 | PROFESSIONAL REGISTRATION GROUPS</h5>
    </div>
</div>
<div>
    <p class="font-14 mt-2 fw-300" style="width:65%">
        Please select the Registration Group that best describes the supports you offer.
    </p>
</div>
<div class="row  mt-20">

    @if (Model.Values != null)
    {
        foreach (var item in Model.Values)
        {
            <div class="col-12">
                <div class="row">
                    <div class="col-12 pr-0 ml-5 border-1px">
                        <div class="radio-list-padding">
                            <div class="row g-2x">
                                <div class="col-12 mr-20">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" id="customCheck_@item.Id" name="customCheck_@item.Id" value="@item.Id" class="custom-control-input checkClass">
                                        <label class="custom-control-label" for="customCheck_@item.Id">@item.Name</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }
    }
    <div class="col-sm-8 pl-0 mt-20">
        <a href="@Url.Action("ProviderServices", Controllers.AccountSetup)" class="btn btn-outline-secondary mr-2 text-uppercase">Previous</a>
        <button type="button" class="btn btn-outline-primary text-uppercase" onclick="onNext()">Next</button>
    </div>

</div>


<input type="hidden" id="SupportItemIds" />


<script>
        jQuery(document).ready(function () {
         if (@Html.Raw(Json.Encode(@ViewBag.RegaArray)) != null) {
            var sizearray = @Html.Raw(Json.Encode(@ViewBag.RegaArray));
            for (var i = 0; i < sizearray.length; ++i) {
                if ($("#customCheck_" + $.trim(sizearray[i])).val() == $.trim(sizearray[i])) {
                    $("#customCheck_" + $.trim(sizearray[i])).attr("checked", "checked");
                }
            }
        }
    });

    function onNext() {
        var chks = document.getElementsByClassName("checkClass");
        var selectedCheck = new Array();
        for (var i = 0; i < chks.length; i++) {
            if (chks[i].checked) {
                selectedCheck.push(chks[i].value);
            }
        }
        if (selectedCheck.length > 0) {
            var Ids = selectedCheck.join(",");
            $("#SupportItemIds").val(Ids);
        }
        else {
            $("#SupportItemIds").val("");
        }

        //if ($("#SupportItemIds").val() == "") {
        //    ShowMessageToastr("danger", "Please Select Service.!", false);
        //    return
        //}
                $.ajax({
                      url: '@Url.Action(Actions.AddProviderService, Controllers.AccountSetup, new { area = "" })',
                      data: {
                          Ids: $("#SupportItemIds").val(), Type:2
                           },
                  type: 'POST',
                  datatype: 'json',
              success: function (data) {
                  if (data.Code == 200) {
                      window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]AccountSetup/HomeServices";
                  }
                  else {
                      ShowMessageToastr("danger", data.Message, false);
                      return
                  }
                  },
                  error: function () { }
              });
    }


</script>
@Html.Raw(ViewBag.openPopup)