﻿
@{
    ViewBag.Title = "Provider Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PlannedServicesProviderPortal.Pages;
@using PlannedServices.Common.Paging;
@using PlannedServices.Entities.Contract;
@using PlannedServices.Common;
@model  PagedList<AbstractServices>
<div class="row">
    <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
        <div class="card card-home ">
            <div class="card-body">
                <h5 class="font-weight-normal">Home</h5>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
        <div class="card border-warning border-2 mbox">
            <div class="card-body">
                <h5 class="font-weight-normal font-12 text-uppercase hideOnMobile">Provider<br>Sign Up</h5>
                <h5 class="font-weight-normal font-12 text-uppercase showOnMobile">Provider Sign Up</h5>
                <div class="text-left w-100 mt-auto">
                    <img src="~/Content/Icons/Add_User.svg" alt="" class="img-16">
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row w-100">
    <div class="col-12 border-2px ml-5 pl-0">
        <h5 class="heading-main text-uppercase font-13">STEP 2 OF 2 | NEW USER SIGN UP</h5>
    </div>
</div>
<div>
    <p class="font-14 mt-2 fw-300 ctext" style="width:65%">
        Please select the services that you would like to receive request for.
    </p>
</div>

<div class="row mt-20">

    @if (ViewBag.ProviderSData != null)
    {
        foreach (var item in ViewBag.ProviderSData.Values)
        {
            <div class="col-12">
                <div class="row">
                    <div class="col-12 pr-0 ml-5 border-1px">
                        <div class="radio-list-padding">
                            <div class="row g-2x">
                                <div class="col-12 mr-20">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" id="customCheck_@item.Id" name="customCheck_@item.Id" value="@item.Id" class="custom-control-input checkClass">
                                        <label class="custom-control-label" for="customCheck_@item.Id">@item.Name</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }
    }

</div>

<div class="row mt-20">

    @*@if (Model.Values != null)
        {
            foreach (var item in Model.Values)
            {
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 pr-0 ml-5 border-1px">
                            <div class="radio-list-padding">
                                <div class="row g-2x">
                                    <div class="col-12 mr-20">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" id="customCheck_@item.Id" name="customCheck_@item.Id" value="@item.Id" class="custom-control-input checkClass">
                                            <label class="custom-control-label" for="customCheck_@item.Id">@item.Name</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }
        }*@
    <div class="col-sm-12 pl-0 mt-20">
        <a href="@Url.Action("PDInviteSettings", Controllers.AccountSetup)" class="btn btn-outline-secondary mr-2 text-uppercase">Previous</a>
        <button type="button" class="btn btn-outline-primary text-uppercase" onclick="onNext()">Next</button>
    </div>

</div>
<div id="myModal2" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content mcontent" style="border:0;">
            <div class="modal-body mbody border-secondary border-3" style="padding:10px 15px">
                <h6 class="font-13 text-left blurhtext m-0">
                    Your setup is successfully been completed. Welcome to My REQUEST.
                </h6>
            </div>
            <div class="modal-footer pl-0 pr-0" style="border:0;">
                <button data-dismiss="modal" class="btn btn-outline-warning text-white mno text-uppercase m-0">CONTINUE</button>
            </div>
        </div>
    </div>
</div>
<div class="overlayUpload" id="isLoading" style="display:none">
    <div class="uploadtext">Loading...</div>
</div>
<input type="hidden" id="SupportItemIds" />
<input type="hidden" id="pSupportItemIds" />
<input type="hidden" id="hSupportItemIds" />
<input type="hidden" id="aSupportItemIds" />

<script>

        jQuery(document).ready(function () {
         if (@Html.Raw(Json.Encode(@ViewBag.RegaArray)) != null) {
            var sizearray = @Html.Raw(Json.Encode(@ViewBag.RegaArray));
            for (var i = 0; i < sizearray.length; ++i) {
                if ($("#customCheck_" + $.trim(sizearray[i])).val() == $.trim(sizearray[i])) {
                    $("#customCheck_" + $.trim(sizearray[i])).attr("checked", "checked");
                }
            }
            }
            $('#myModal2').on('hide.bs.modal', function () {
                $('#isLoading').show();
                Verify2();
            })
    });
    function onNext() {
        var chks = document.getElementsByClassName("checkClass");
        var chks2 = document.getElementsByClassName("pcheckClass");
        var chks3 = document.getElementsByClassName("hcheckClass");
        var chks4 = document.getElementsByClassName("acheckClass");
        var selectedCheck = new Array();
        var selectedCheck2 = new Array();
        var selectedCheck3 = new Array();
        var selectedCheck4 = new Array();

        for (var i = 0; i < chks.length; i++) {
            if (chks[i].checked) {
                selectedCheck.push(chks[i].value);
            }
        }
        if (selectedCheck.length > 0) {
            var Ids = selectedCheck.join(",");
            $("#SupportItemIds").val(Ids);
        }
        else {
            $("#SupportItemIds").val("");
        }

        for (var i = 0; i < chks2.length; i++) {
            if (chks2[i].checked) {
                selectedCheck2.push(chks2[i].value);
            }
        }
        if (selectedCheck2.length > 0) {
            var Ids = selectedCheck2.join(",");
            $("#pSupportItemIds").val(Ids);
        }
        else {
            $("#pSupportItemIds").val("");
        }

        for (var i = 0; i < chks3.length; i++) {
            if (chks3[i].checked) {
                selectedCheck3.push(chks3[i].value);
            }
        }
        if (selectedCheck3.length > 0) {
            var Ids = selectedCheck3.join(",");
            $("#hSupportItemIds").val(Ids);
        }
        else {
            $("#hSupportItemIds").val("");
        }

        for (var i = 0; i < chks4.length; i++) {
            if (chks4[i].checked) {
                selectedCheck4.push(chks4[i].value);
            }
        }
        if (selectedCheck4.length > 0) {
            var Ids = selectedCheck4.join(",");
            $("#aSupportItemIds").val(Ids);
        }
        else {
            $("#aSupportItemIds").val("");
        }
        @*if (@ProjectSession.SetupUserID > 0) {
            if ($("#SupportItemIds").val() == "" && $("#pSupportItemIds").val() == "" && $("#hSupportItemIds").val() == "" && $("#aSupportItemIds").val() == "") {
                toastr.remove();
                ShowMessageToastr("danger", "Please Select Provided Services!", false);
                return
            }
        }*@
        if (@ProjectSession.SetupUserID > 0) {
            if ($("#SupportItemIds").val() == "") {
                toastr.remove();
                ShowMessageToastr("danger", "Please Select Provided Services!", false);
                return
            }
        }
        else {
            ShowMessageToastr("danger", "something went wrong. please try again.", false);
        }

        //var chks = document.getElementsByClassName("checkClass");
        //var selectedCheck = new Array();
        //for (var i = 0; i < chks.length; i++) {
        //    if (chks[i].checked) {
        //        selectedCheck.push(chks[i].value);
        //    }
        //}
        //if (selectedCheck.length > 0) {
        //    var Ids = selectedCheck.join(",");
        //    $("#SupportItemIds").val(Ids);
        //}
        //else {
        //    $("#SupportItemIds").val("");
        //}

        //if ($("#SupportItemIds").val() == "") {
        //    ShowMessageToastr("danger", "Please Select Service.!", false);
        //    return
        //}
                $.ajax({
                      url: '@Url.Action(Actions.AddProviderService, Controllers.AccountSetup, new { area = "" })',
                      data: {
                          //Ids: $("#SupportItemIds").val(), Type:1
                          Ids: $("#SupportItemIds").val(),
                          PIds: $("#pSupportItemIds").val(),
                          HIds: $("#hSupportItemIds").val(),
                          AIds: $("#aSupportItemIds").val()
                           },
                  type: 'POST',
                  datatype: 'json',
              success: function (data) {
                  if (data.Code == 200) {
                      $("#myModal2").modal("show");
                      //window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]Dashboard/Index";
                  }
                  else {
                      ShowMessageToastr("danger", data.Message, false);
                      return
                  }
                  },
                  error: function () { }
              });
    }
    function Verify2() {

            $.ajax({
                      url: '@Url.Action(Actions.AddProviderLocation, Controllers.AccountSetup, new { area = "" })',
               data: {  },
                      type: 'GET',
                      datatype: 'json',
                        success: function (data) {
                            if (data.Code == 200) {
                                login();
                                 //window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]Dashboard/Index";

                      }
                      else {
                          ShowMessageToastr("danger", "something went wrong. please try again.", false);
                          return
                      }
                      },
                        error: function () { }
                    });

    }

    function login() {
                  $.ajax({
                      url: '@Url.Action(Actions.LogIn, Controllers.AccountSetup, new { area = "" })',
               data: {  },
                      type: 'GET',
                      datatype: 'json',
                        success: function (data) {
                            if (data.Code == 200) {
                                $('#isLoading').hide();
                                 window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]Dashboard/Index";

                      }
                      else {
                          ShowMessageToastr("danger", "something went wrong. please try again.", false);
                          return
                      }
                      },
                        error: function () { }
                    });
    }
</script>
@Html.Raw(ViewBag.openPopup)