﻿
@{
    ViewBag.Title = "Provider Services Area";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PlannedServicesProviderPortal.Pages;
@using PlannedServices.Entities.V1;
@using PlannedServices.Common;
@model Provider
<style>
    .distance {
        float: left;
        height: 30px;
        width: 25%;
        border-radius: 0;
        border: 1px solid;
    }
</style>
<div class="row">
    <div class="col-lg-2 col-md-3 col-sm-4 mb-3 mb-sm-0 box">
            <div class="card card-home ">
                <div class="card-body">
                    <h5 class="font-weight-normal">Home</h5>
                </div>
            </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mb-3 mb-sm-0 box">
        <a href="@Url.Action("PSettings", Controllers.User)">
            <div class="card  bg-primary">
                <div class="card-body">
                    <h5 class="font-weight-normal font-12 text-uppercase">Settings</h5>
                    <div class="text-right w-100 mt-auto">
                        <img src="~/Content/images/picon.png" alt="" class="img-50">
                    </div>

                </div>
            </div>
        </a>
    </div>

</div>
<div class="row">
    <div class="col-12 border-2px ml-5 pl-0">
        <h5 class="heading-main text-uppercase">What Distance Does Your Company Provide Services?</h5>
    </div>
</div>
<div class="row pl-0">
    <div class="col-12 pr-0 ml-5 border-1px">
        <div class="radio-list-padding">
            <div class="custom-control custom-radio">
                <input type="radio" id="1customRadio" checked name="customRadio" class="custom-control-input" value="1" onclick="onArea(0)">
                <label class="custom-control-label" for="1customRadio">Up to 50km</label>
            </div>
        </div>
    </div>
    <div class="col-12 pr-0 ml-5 border-1px">
        <div class="radio-list-padding">
            <div class="custom-control custom-radio">
                <input type="radio" id="2customRadio" name="customRadio" class="custom-control-input" value="2" onclick="onArea(0)">
                <label class="custom-control-label" for="2customRadio">Australia Wide</label>
            </div>
        </div>
    </div>
    <div class="col-12 pr-0 ml-5 border-1px">
        <div class="radio-list-padding">
            <div class="custom-control custom-radio">
                <input type="radio" id="3customRadio" name="customRadio" class="custom-control-input" value="3" onclick="onArea(1)">
                <label class="custom-control-label" for="3customRadio">
                    <span style="float:left;margin-right:3px">Up to</span>
                    <input disabled="true" type="text" class="form-control custom-form-control distance" id="distance">
                </label>
            </div>
        </div>
    </div>

    <div class="col-sm-8 pl-0 mt-20">
        <a href="@Url.Action(Actions.ProviderServices, Controllers.AccountSetup)" class="btn btn-outline-secondary mr-2 text-uppercase">Previous</a>
        <a href="#" onclick="onNext()" class="btn btn-outline-primary  text-uppercase">Next</a>
    </div>

</div>


<input type="hidden" id="SupportItemIds" />

<!-- Modal -->


<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content mcontent">
            <div class="modal-body mbody border-warning" style="width:394px">
                <h5>Verify Account</h5>
                <p>
                    Buy verifying your account, you acknowledge the
                    cost of using Requisition is $400.00ex and that
                    this cost will come out of you NDIS funding.
                </p>
            </div>
            <div class="modal-footer pl-0 pr-0" style="border:0;">
                <button data-dismiss="modal" class="btn btn-outline-secondary mr-2 mno" style="padding: 5px 68px;">CANCEL</button>
                <button onclick="Verify()" class="btn btn-outline-secondary  myes" style="padding: 5px 66px;">VERIFY</button>
            </div>
        </div>

    </div>
</div>
<script>

    function onArea(type) {
        if (type == 1) {
            $("#distance").prop("disabled", false);
        }
        else {
            $("#distance").prop("disabled", true);
        }

    }
    function onNext() {
        var v = $('input[name="customRadio"]:checked').val();
        if (v == 3 && ($("#distance").val() == "" || $("#distance").val() == 0)) {
            ShowMessageToastr("danger", "Please Enter Km.!", false);
            return
        }
        else {
            $("#myModal").modal("show");
        }

    }

        function Verify() {
        var v = $('input[name="customRadio"]:checked').val();

          $.ajax({
                      url: '@Url.Action(Actions.AddProviderServiceArea, Controllers.AccountSetup, new { area = "" })',
                      data: {
                          Type: v, value: $("#distance").val()
                           },
                  type: 'POST',
                  datatype: 'json',
              success: function (data) {
                  if (data.Code == 200) {
                      $("#myModal").modal("hide");
                      window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]AccountSetup/Index";
                  }
                  else {
                      ShowMessageToastr("danger", data.Message, false);
                      return
                  }
                  },
                  error: function () { }
              });
    }
</script>
@Html.Raw(ViewBag.openPopup)