﻿
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PlannedServicesProviderPortal.Pages;
@using PlannedServices.Entities.V1;
@using PlannedServices.Common;
@model Provider
<div class="row">
    <div class="col-lg-2 col-md-3 col-sm-4 mb-3 mb-sm-0 box">
        <a href="@Url.Action(Actions.LogIn, Controllers.Account)">
            <div class="card card-home ">
                <div class="card-body">
                    <h5 class="font-weight-normal">Home</h5>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mb-3 mb-sm-0 box">
        <div class="card bg-primary border-0">
            <div class="card-body">
                <h5 class="font-weight-normal">Provider<br>Sign Up</h5>
                <div class="text-right w-100 mt-auto">
                    <img src="~/Content/images/icon-user-add.png" alt="">
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-12 border-2px ml-5 pl-0">
        <h5 class="heading-main">Existing Users</h5>
    </div>
</div>

<div class="row">
    <div class="col-12 pr-0 ml-5 border-1px">
        <div class="radio-list-padding">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" id="customCheck1" disabled checked name="customCheck1" class="custom-control-input">
                <label class="custom-control-label" for="customCheck1">@ProjectSession.SetupUserName</label>
            </div>
        </div>
    </div>
    @if (Model.Provider != null)
    {
        foreach (var item in Model.Provider)
        {
            <div class="col-12">
                <div class="row">
                    <div class="col-12 pr-0 ml-5 border-1px">
                        <div class="radio-list-padding">
                            <div class="row g-2x">
                                <div class="col-10 mr-20">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" id="customCheck2" disabled checked name="customCheck2" class="custom-control-input">
                                        <label class="custom-control-label" for="customCheck2">@item.Name</label>
                                    </div>
                                  </div>
                                <div class="col-auto mdlsec" style="text-align: right; width: 12%;">
                                    <div class="mdltext">
                                        <img onclick="onPopup(@item.Id)" data-toggle="modal" data-target="#myModal" src="~/Content/images/remove.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        }
    }
</div>

<div class="row mt-20">
    <div class="col-12 border-2px ml-5 pl-0">
        <h5 class="heading-main">Do You Wish To Add Addtional Users To Request Services On Your Behalf?</h5>
    </div>
</div>
<div class="row">
    <div class="col-12 pr-0 ml-5 border-1px">
        <div class="radio-list-padding">
            <div class="custom-control custom-radio">
                <input type="radio" id="3customRadio" checked name="customRadio1" class="custom-control-input" value="1">
                <label class="custom-control-label" for="3customRadio">Yes</label>
            </div>
        </div>
    </div>
    <div class="col-12 pr-0 ml-5 border-1px">
        <div class="radio-list-padding">
            <div class="custom-control custom-radio">
                <input type="radio" id="4customRadio" name="customRadio1" class="custom-control-input" value="2">
                <label class="custom-control-label" for="4customRadio">No</label>
            </div>
        </div>
    </div>
</div>
<div class="row mt-20">
    <div class="col-12">
        
        <a href="@Url.Action(Actions.PMDSettings, Controllers.AccountSetup)" class="btn btn-outline-secondary mr-2">Previous</a>
        <a href="#" onclick="onNext()" class="btn btn-outline-primary ">Next</a>

    </div>
</div>
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content" style="color:#000">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Addtional Provider</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this addtional provider?</p>
                </div>
                <div class="modal-footer">
                    <button onclick="Delete()" class="btn border-success mr-3 btn-pedding btn-border" style="color:#000">YES</button>
                    <button data-dismiss="modal" class="btn border-danger btn-pedding btn-border" style="color:#000">NO</button>
                </div>
            </div>

        </div>
    </div>
    <input type="hidden" id="userId" />
    <script>

    jQuery(document).ready(function () {
        FormValidation.init();
    });


    var FormValidation = function () {
        // basic validation
        var handleValidation1 = function () {

            var form1 = $('#frmAddEditUsers');
            var error1 = $('.alert-danger', form1);
            //var success1 = $('.alert-success', form1);

            form1.validate({
                errorElement: 'label', //default input error message container
                errorClass: 'error', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",  // validate all fields including form hidden input
                rules: {
                    FirstName: {
                        required: true
                    },
                    AddressLine1: {
                        required: true
                    },
                    PhoneNumber: {
                        required: true
                    },
                    LookupStateId: {
                        required: true
                    },
                    AddressLine1: {
                        required: true
                    },
                    Email: {
                        required: true,
                        email: true
                    },
                    //PinCode: {
                    //    required: true
                    //},
                    //Phone: {
                    //    required: true,
                    //    minlength: 11
                    //},
                    //Password: {
                    //    required: true
                    //},
                    //Website: {
                    //    required: true
                    //},
                },

                nvalidHandler: function (event, validator) { //display error alert on form submit
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.input-group').addClass('validate-has-error'); // set error class to the control group
                },

                success: function (label) {
                    label.closest('.input-group').removeClass('validate-has-error');
                    label.remove();
                },

                errorPlacement: function (error, element) {
                    if (element.closest('.input-icon').length === 1) {
                        error.insertAfter(element.closest('.input-icon'));
                    } else {
                        error.insertAfter(element);
                    }
                },

                submitHandler: function (form) {
                    form.submit(); // form validation success, call ajax form submit
                }
            });

            $('#frmAddEditUsers input').keypress(function (e) {
                if (e.which == 13) {
                    if ($('#frmAddEditUsers').validate().form()) {
                        $('#frmAddEditUsers').submit(); //form validation success, call ajax form submit
                    }
                    return false;
                }
            });
        }
        return {
            //main function to initiate the module
            init: function () {
                handleValidation1();
            }
        };
    }();

    function onPopup(id) {
        $("#userId").val(id);
    }

      function Delete() {
              $.ajax({
                      url: '@Url.Action(Actions.DeleteProvider, Controllers.AccountSetup, new { area = "" })',
                  data: { UId: $("#userId").val() },
                      type: 'GET',
                      datatype: 'json',
                  success: function (data) {
                      if (data) {
                          $("#myModal").modal("hide");
                          ShowMessageToastr("success", "Delete Provider Successfully.!", false);
                          window.location.reload();
                      }
                      else {
                          ShowMessageToastr("danger", "something went wrong. please try again.", false);
                      }
                      },
                        error: function () { }
                    });

    }

        function onNext() {
            var v = $('input[name="customRadio1"]:checked').val();
            if (v == 1) {
                window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]AccountSetup/AddUser";
            }
            else {
                window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]AccountSetup/Index";
            }
        }
    </script>
    @Html.Raw(ViewBag.openPopup)
