.heading-main{
    padding: 1.25rem 0;
    border-bottom: 0.125rem solid #ECF0F1;
    margin-bottom: 0;
}

.radio-list-padding{
    padding-left: 0.875rem;
    padding-right: 0.875rem;
}

.count-line-height{
    line-height: 1.2;
}

.date-text{
    font-size: 0.75rem;
    line-height: 1.375rem;
}

.font-size-xs{
    font-size: 0.75rem;
    line-height: 1.39;
}