﻿@using PlannedServicesAdmin.Pages;
@using PlannedServices.Common;


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/Content/images/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/css/main.min.css">
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
    @*<link href="~/Content/css/icons.min.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/css/app-creative.min.css" rel="stylesheet" type="text/css" id="light-style" />*@

    <link rel="stylesheet" href="~/Content/css/toastr.min.css">
    <script src="~/Content/vendors/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />


    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }
        .error {
            color: red;
            opacity: 1;
        }
        .rounded {
            border-radius: 0px !important;
        }
        .validate-has-error {
            border: 1px solid red;
        }
        .btn-outline-primary {
            border-color: #1ABCF8 !important;
        }
            .btn-outline-warning{
                color:#fff !important;
            }
            .btn-outline-primary:hover, .btn-outline-primary:active {
                background-color: #1ABCF8 !important;
                border-color: #1ABCF8 !important;
            }
            .btn-outline-primary:focus {
                box-shadow: none !important;
            }
        .btn-width {
            width: 175px;
        }
        .card-home .card-body {
            display: none
        }

        .badge-info {
            color: #fff;
            background-color: #44badc;
        }

        .blurbg {
            opacity: 0.5
        }

        .blurtext {
            opacity: 0.7
        }

        .blurhtext {
            opacity: 0.8
        }

        a {
            color: #fff;
        }

            a:hover {
                color: #fff;
                text-decoration: none;
            }

        .pld {
            padding-left: 2.25rem;
            margin-top: 10px
        }

        .pdl-8 {
            padding-left: 8%;
            padding-right: 8%;
        }

        .form-control.custom-textbox:focus {
            color: #fff;
            background-color: #2d3e50 !important;
            border-color: #ced4da !important;
        }

        .custom-textbox {
            color: #fff;
            margin-top: 20px;
            background-color: #2d3e50 !important;
        }

        .control-input:disabled {
            color: #fff;
        }

        .custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before {
            background-color: #e67e22;
        }

        .custom-control-input[disabled] ~ .custom-control-label::before, .custom-control-input:disabled ~ .custom-control-label::before {
            background-color: #35495e;
        }

        .custom-control-input[disabled] ~ .custom-control-label, .custom-control-input:disabled ~ .custom-control-label {
            color: #fff;
        }

        .custom-form-control {
            color: #fff;
            background-color: #2d3e50 !important;
            border-radius: 0;
            border-width: 1px;
        }

            .custom-form-control:disabled {
                color: #fff;
                background-color: transparent !important;
            }

        .form-control:focus {
            color: #fff;
            background-color: transparent !important;
        }

        .form-control::placeholder {
            color: #ECF0F1;
            font-size: 13px;
            opacity: 0.5
        }

        .bg-blue {
            background-color: #2980b9 !important;
        }

        .img-50 {
            width: 50px;
        }

        .img-16 {
            width: 16px;
        }

        .mt-10 {
            margin-top: 10px;
        }

        .mb-10 {
            margin-bottom: 10px;
        }

        .mb-20 {
            margin-bottom: 20px;
        }

        .mt-20 {
            margin-top: 20px;
        }
        .mt-m-10{
            margin-top:-10px !important;
        }
        .mt-m-9 {
            margin-top: -9px !important;
        }
        .ptb-20 {
            padding-top: 1.125rem;
            padding-bottom: 1.125rem;
        }
        .p-l-5{
            padding-left:5px !important;
        }
        .gridtext {
            float: left;
            margin-right: 20px;
        }

        .ml-20 {
            margin-left: 20px;
        }

        .mr-20 {
            margin-right: 20px;
        }

        .mr-40 {
            margin-right: 40px;
        }

        .pl5 {
            padding-left: 5px;
            padding-right: 5px;
        }

        a.text-success:hover, a.text-success:focus {
            color: #26ae60 !important
        }

        .mdlsec {
            display: table;
        }

        .mdltext {
            display: table-cell;
            vertical-align: middle;
        }

        .btn {
            border-radius: 0
        }

        .heading-main {
            padding: 0;
            margin: 20px 0 5px 0;
            border-bottom: none;
        }

        .heading-submain {
            padding: 0;
            margin: 10px 0 5px 0;
            border-bottom: none;
        }

        .border-2px {
            border-bottom: 2px solid #ecf0f1
        }

        .border-2 {
            border-width: 2px;
        }

        .border-1px {
            border-bottom: 1px solid #ecf0f1
        }

        .ml-5 {
            margin-left: 5px !important;
        }

        .box .card {
            border-radius: 0 !important
        }

            .box .card h5 {
                line-height: 1.7
            }

        .cbox {
            border: 1px solid #ECF0F1;
            padding: 10px;
            min-height: 75px;
            background: #2d3e50;
        }
        .custom-control-input ~ .custom-control-label::before {
            opacity: 0.5;
        }
        .wd-100 {
            width: 100px !important;
        }

        .pdl-5 {
            padding-left: 5px;
        }

        .font-14 {
            font-size: 14px
        }

        .font-13 {
            font-size: 13px
        }

        .font-15 {
            font-size: 15px
        }

        .font-16 {
            font-size: 16px
        }

        .font-12 {
            font-size: 12px
        }

        .font-11 {
            font-size: 11px
        }

        .fw-500 {
            font-weight: 500;
        }

        .fw-400 {
            font-weight: 400;
        }

        .fw-300 {
            font-weight: 300;
        }

        .request-details {
            padding: 20px 0 10px 0;
        }

        .border-sm {
            border-width: 1px !important;
        }

        select option {
            background-color: #fff;
            color: #000;
        }

        .custom-control-input ~ .custom-control-label.success::before {
            background-color: #28a745 !important;
        }

        .custom-control-input ~ .custom-control-label.whitecheck::before {
            background-color: #fff !important;
        }

        .custom-control-input ~ .custom-control-label.danger::before {
            background-color: #dc3545 !important
        }

        .custom-control-input ~ .custom-control-label.warning::before {
            background-color: #e67e22 !important
        }

        .custom-control-input:checked ~ .custom-control-label::before {
            background-color: #e67e22 !important;
            opacity: 1;
        }

        .custom-control-input:checked ~ .custom-control-label.success::before {
            background-color: #28a745 !important;
        }

        .custom-control-input ~ .custom-control-label.dark::before {
            background-color: #2c3e50 !important;
        }

        .unread {
            opacity: 0.5;
        }
        form label {
            font-size: 11px !important;
            opacity: 0.8;
        }
        .font-20{
            font-size:20px
        }
        .showOnMobile {
            display: none;
        }
        .mtop-5{
            margin-top:5px;
        }

        @@media(max-width:992px) {
            .box {
                max-width: 150px;
                max-height: 150px;
                margin-bottom: 20px !important;
            }
        }

        @@media (max-width: 768px) {
            .box {
                max-width: 100%;
                max-height: 150px;
                margin-bottom: 20px !important;
            }
            .card.card-home {
                background-size: contain;
                background-color: #34495e;
            }
            .sinput {
                width: 100%!important;
            }
            .spbtn{
                margin-left:0!important;
                margin-top:10px
            }
            .ctext {
                width: 100%!important;
            }
            .container{
                padding:5px 15px
            }
            .font-12 {
                font-size: 16px;
            }
            .font-13 {
                font-size: 16px;
            }
            .font-14 {
                font-size: 15px;
            }
            form label {
                font-size: 14px !important;
            }
            .btn {
                width: 100%;
                margin-bottom: 20px;
                font-size: 14px;
                height: 50px;
                padding-top: 10px;
            }
            .modal-footer .btn {
                padding: 0.407rem 0.75rem;
                margin: 0
            }
            .cubox {
                margin-top: 20px
            }
            .hideOnMobile{
                display:none;
            }
            .showOnMobile {
                display: block;
            }
            .showOnMobile .font-12{
                font-size:14px
            }
            .mbox {
                min-height: 100px
            }
        }

        @@media(max-width:578px) {
            .cubox {
                margin-top: 20px
            }
        }
        .modal {
            text-align: center;
            background: #35495E;
        }

            .modal .btn:hover, .modal .btn:active {
                color: #fff !important;
                background-color: #35495e !important;
                border-color: #fff !important;
            }

        .mcontent {
            color: #fff;
            background-color: transparent !important;
            border: none
        }

        .mbody {
            background: #2d3e50;
            border: 2px solid red;
            border-radius: 0;
        }

        .myes {
            background: #35495e;
            width: 150px;
            height: 40px;
        }

        .mno {
            background: #35495e;
            width: 150px;
            height: 40px;
        }

        .msBtn, .modal .msBtn:hover {
            background-color: #35495e !important;
            border-color: #e67e22 !important;
        }

        .mcBtn, .modal .mcBtn:hover {
            background-color: #35495e !important;
        }

        @@media screen and (min-width: 768px) {
            .modal:before {
                display: inline-block;
                vertical-align: middle;
                content: " ";
                height: 100%;
            }

            .mbody {
                width: 310px;
            }

            .myes {
                background: #35495e;
                /*padding: 5px 65px;*/
                margin-left: 0
            }

            .mno {
                background: #35495e;
                /*padding: 5px 65px;*/
                margin-left: 0
            }
        }

        .modal-dialog {
            display: inline-block;
            text-align: left;
            vertical-align: middle;
        }

        /*.card-home h5 {
            font-family: 'Orbitron', sans-serif;
        }*/

       

        .mt-7 {
            margin-top: 7px
        }


        .serviceSec .border-1px:last-child {
            border: none !important;
        }

        .BSection .border-1px:last-child {
            border: none !important;
        }

        .RSection .border-1px:last-child {
            border: none !important;
        }

        .CSection .border-1px:last-child {
            border: none !important;
        }

        .SSection .border-1px:last-child {
            border: none !important;
        }

        .GSection .border-1px:last-child {
            border: none !important;
        }

        .btn-default {
            color: #000;
            background: #e2e2e2;
        }

        .drp-calendar {
            color: #000;
        }

        .hborder:hover {
            border-color: #e67e22 !important;
            opacity: 1 !important
        }

        .hborder:focus, .hborder:active {
            background-color: #e67e22 !important;
            opacity: 1 !important
        }

        .card.card-home {
            background-image: url('../../Content/images/My_Request Logo.jpg');
        }

        .pmodel {
            width: 310px;
            height: 40px;
            font-size: 13px;
            padding: 8px 12px 12px 12px;
        }

        .iconMargin {
            margin-right: 2%;
            margin-top: 2%;
        }

        .mtp-10 {
            margin-top: 10%;
        }

        .overlayUpload {
            position: fixed;
            /* Sit on top of the page content */
            /* Hidden by default */
            width: 100%;
            /* Full width (cover the whole page) */
            height: 100%;
            /* Full height (cover the whole page) */
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.5);
            /* Black background with opacity */
            z-index: 9999;
            /* Specify a stack order in case you're using a different order for other elements */
            cursor: pointer;
            /* Add a pointer on hover */
        }

        .uploadtext {
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 25px;
            color: white;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
        }

        form i {
            position: relative;
            float: right;
            right: 10px;
            top: 42px;
            cursor: pointer;
        }
    </style>


</head>
<body>

    <div class="container">
        @RenderBody()
    </div>

    <!-- Scripts -->
    <script src="~/Content/js/jquery/jquery.min.js"></script>
    <script src="~/Content/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="~/Content/js/main.js"></script>

    <script src="~/Content/vendors/daterangepicker/moment.min.js"></script>
    <script src="~/Content/vendors/daterangepicker/daterangepicker.js"></script>
    <script src="~/Content/js/vendors/bootstrap-timepicker/timepicker.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Scripts/toastr.min.js"></script>
    <script type="text/javascript" src="~/Scripts/ui-toastr.min.js"></script>
    <script src="~/Scripts/common.js"></script>
    @Html.Raw(ViewBag.openPopup)

    @RenderSection("scripts", required: false)
</body>

</html>

