﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PlannedServicesAdmin.Pages;
@using PlannedServices.Common.Paging;
@using PlannedServices.Entities.Contract;
@using PlannedServices.Common;
@model PagedList<AbstractServicesRequest>

<div class="row justify-content-between py-3">
    <div class="col-auto">
        <h2 class="fw-extrabold mb-0">Services</h2>
    </div>

</div>

<div class="row">
    <div class="col-12">
        <div class="table-card table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        @*<th scope="col">Name</th>*@
                        <th scope="col">Registration Group Name</th>
                        <th scope="col">Category Name</th>
                        <th scope="col">Provider</th>
                        <th scope="col">Created  Date</th>
                        <th scope="col">Start Date</th>
                        @*<th scope="col">Status</th>*@
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var provider in Model.Values)
                    {
                    <tr>

                        <td>
                            <div>@provider.RegistrationGroupName</div>
                        </td>
                        <td>
                            <div>@provider.CategoryName</div>
                        </td>
                        <td>
                            <div>@provider.ProviderCount</div>
                        </td>
                        <td><div>@provider.CreatedDateStr</div></td>

                        <td>
                            <div>@provider.BookingRequestedDate</div>
                        </td>

                        @*<td>
            @if (provider.Status == 0)
            {
                <div class="badge badge-soft-warning">Pending</div>
            }
            else if (provider.Status == 1)
            {
                <div class="badge badge-soft-success">Accept</div>
            }
            else if (provider.Status == 2)
            {
                <div class="badge badge-soft-danger">Reject</div>
            }
        </td>*@
                        <td>
                            @if (@provider.IsProvider)
                            {
                                <div><a href="@Url.Action(Actions.ServiceResponse, Controllers.Services, new { area = "", ServiceId = ConvertTo.Base64Encode(Convert.ToString(@provider.Id)) })" role="button" class="btn btn-primary">View</a></div>
                            }
                            else
                            {
                                <div class="badge badge-soft-warning">Pending</div>
                            }
                        </td>
                    </tr>
                    }



                </tbody>
            </table>
        </div>
    </div>
</div>


