﻿
@{
    ViewBag.Title = "ServiceResponse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PlannedServicesAdmin.Pages;
@using PlannedServices.Common.Paging;
@using PlannedServices.Entities.Contract;
@using PlannedServices.Common;
@model PagedList<AbstractProvider>
<div class="row justify-content-between py-3">
    <div class="col">
        <h2 class="fw-extrabold">Service Response</h2>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="table-card table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Provider Name</th>
                        <th scope="col">Address</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var provider in Model.Values)
                    {
                    <tr>
                        <td>
                            <div class="d-flex align-items-center">
                                <div>
                                    @provider.Name
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex align-items-center">
                                <div>
                                    @provider.AddressLine1
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex align-items-center">
                                <div>
                                    @provider.Email
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex align-items-center">
                                <div>
                                    @provider.Phone
                                </div>
                            </div>
                        </td>
                        <td>
                            <div><a href="@Url.Action(Actions.ViewServiceRequest, Controllers.ServiceRequest, new { area = "", ServiceId = ConvertTo.Base64Encode(Convert.ToString(ViewBag.ServiceRequestId)),ProviderId = ConvertTo.Base64Encode(Convert.ToString(@provider.Id)) })" role="button" class="btn btn-primary">View Details</a></div>
                        </td>
                    </tr>

                    }

                    </tbody>
                </table>
            </div>
        </div>
    </div>

