﻿<style>
    /* whatever screen width you need */
    @@media (max-width: 992px) {
        .empty {
            display: none;
        }
    }
</style>
<style>
    .fs-18 {
        font-size: 1.125rem !important;
    }

    .fs-30 {
        font-size: 2.1rem !important
    }

    .mb-8px {
        margin-bottom: 0.5rem !important;
    }

    .mb-14px {
        margin-bottom: 0.875rem !important;
    }

    .mdlsec {
        display: table;
        margin-right: 10px;
    }


    .line-height-sm {
        line-height: 1.5;
    }

    @@media (max-width: 768px) {
        .card.border-warning {
            min-height: 100px
        }
    }

    .bgmobile {
        background: #2C3E50;
        padding: 10px 20px 20px 10px
    }

    .pb-10 {
        padding-bottom: 10px
    }
</style>
@{
    ViewBag.Title = "Dashboard | NDIS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PlannedServices.Common;
@using PlannedServicesAdmin.Pages;
@using PlannedServices.Entities.V1;
@model ServicesRequest
<div class="row">

    @if (ProjectSession.SetupUserType != "3")
    {
        <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
            <a href="@Url.Action(Actions.Index, Controllers.Dashboard)">
                <div class="card card-home ">
                    <div class="card-body">
                        <h5 class="font-weight-normal">Home</h5>
                    </div>
                </div>
            </a>
        </div>
    }
    else
    {

        <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
            <a href="@Url.Action(Actions.ManagerDashboard, Controllers.Dashboard)">
                <div class="card card-home ">
                    <div class="card-body">
                        <h5 class="font-weight-normal">Home</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
            <div class="card ">
                <div class="card-body">
                    <h5 class="font-weight-normal font-12 text-uppercase">@ViewBag.UserName</h5>
                    <div class="text-left w-100 mt-auto">
                        <img src="~/Content/Icons/User.svg" alt="" class="img-16">
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
        <div class="card border-warning  hborder mbox">
            <div class="card-body">
                <h5 class="font-weight-normal font-12 text-uppercase hideOnMobile">SUPPORT<br>Requests</h5>
                <h5 class="font-weight-normal font-12 text-uppercase showOnMobile">SUPPORT Requests</h5>
                <div class="text-left w-100 mt-auto">
                    <img src="~/Content/Icons/Support_Requests.svg" alt="" class="img-16">
                </div>

            </div>
        </div>
    </div>

    <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
        <a href="@Url.Action("RService", Controllers.ServiceRequests)">
            <div class="card hborder mbox">
                <div class="card-body">
                    <h5 class="font-weight-normal font-12 text-uppercase hideOnMobile">CLOSED<br>SUPPORT<br>Requests</h5>
                    <h5 class="font-weight-normal font-12 text-uppercase showOnMobile">CLOSED SUPPORT REQUESTS</h5>
                    <div class="text-left w-100 mt-auto">
                        <img src="~/Content/Icons/Declined.svg" alt="" class="img-16">
                        @if (ViewBag.CData != null && ViewBag.CData.Count > 0 && ViewBag.CData[0].IsRead == 2)
                        {
                            <img src="~/Content/Icons/Alert_Icon.svg" alt="" class="img-16 ml-1">
                        }
                    </div>
                </div>
            </div>
        </a>
    </div>
    @if (ProjectSession.SetupUserType != "3")
    {
        <div class="empty col-lg-4 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
        </div>
        <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
            <a href="@Url.Action("PSettings", Controllers.User)">
                <div class="card blurbg hborder mbox">
                    <div class="card-body">
                        <h5 class="font-weight-normal font-12 text-uppercase hideOnMobile">Profile<br>SETTINGS<br>HELP<br>LOGOUT</h5>
                        <h5 class="font-weight-normal font-12 text-uppercase showOnMobile">Profile, SETTINGS, HELP, LOGOUT</h5>
                        <div class="text-left w-100 mt-auto">
                            <img src="~/Content/Icons/User.svg" alt="" class="img-16">
                        </div>

                    </div>
                </div>
            </a>
        </div>
    }
    else
    {

        <div class="col-lg-2 col-md-12 col-sm-12 mb-3 mb-sm-0 box">
            <a href="@Url.Action("PSettings", Controllers.User)">
                <div class="card blurbg hborder mbox">
                    <div class="card-body">
                        <h5 class="font-weight-normal font-12 text-uppercase hideOnMobile">Profile<br>SETTINGS<br>HELP<br>LOGOUT</h5>
                        <h5 class="font-weight-normal font-12 text-uppercase showOnMobile">Profile, SETTINGS, HELP, LOGOUT</h5>
                        <div class="text-left w-100 mt-auto">
                            <img src="~/Content/Icons/User.svg" alt="" class="img-16">
                        </div>

                    </div>
                </div>
            </a>
        </div>
    }
</div>
<div class="col-sm-12 col-md-8 pl-0 mt-20">
    <a href="@Url.Action("NService", Controllers.ServiceRequests)" class="btn btn-outline-primary mr-2 text-uppercase">New Request</a>
</div>
<div class="row w-100 hideOnMobile">
    <div class="col-12 border-2px ml-5 pl-0">
        <h5 class="heading-main font-13 fw-400 blurhtext text-uppercase">SUPPORT Requests</h5>
    </div>
</div>
<div class="row w-100 pl-0 hideOnMobile" id="requestSec">

    @*@if (Model.ServicesRequests.Count <= 0)
    {
        <h1 class="norecord-found text-center w-100">No support requests found</h1>
    }*@
    @for (var i = 0; i < Model.ServicesRequests.Count; i++)
    {
        if (@Model.ServicesRequests[i].Status == 0)
        {
            <div class="col-12 pr-0 ml-5 border-1px">
                <div class="row">
                    <div class="col-12">
                        <div class="request-details ">
                            <div class="row g-2x">
                                <div class="col-11">
                                    <a href="@Url.Action("PService", Controllers.ServiceRequests, new { area = "", ServiceId = ConvertTo.Base64Encode(Convert.ToString(@Model.ServicesRequests[i].Id)) })">
                                        <div class="row">

                                            <div class="col-auto mr-20 pl-0">
                                                <button type="button" class="btn btn-outline-secondary mr-2 text-uppercase mt-1
                                                        @(Model.ServicesRequests[i].IsRead == 2 ? "btn-outline-warning" : "")">
                                                    @(Model.ServicesRequests[i].IsRead == 2 ? "Updated" : "In Progress")
                                                </button>
                                            </div>
                                            <div class="col-auto mr-20">
                                                <p class="blurtext font-12 fw-400">Date Sent</p>
                                                <h5 class="font-weight-normal font-16 fw-400 line-height-normal mb-0 mt-10">@Model.ServicesRequests[i].CreatedDateStr.ToUpper()</h5>
                                            </div>

                                            <div class="col">
                                                <p class="blurtext font-12 fw-400">Description of Services</p>
                                                <h5 class="mt-10 font-weight-normal font-16 fw-400 line-height-sm mb-0">@Model.ServicesRequests[i].RegistrationGroupName</h5>
                                            </div>
                                            <div class="col-1 mr-20">
                                                <p class="blurtext font-12 fw-400">Providers</p>
                                                <h5 class="font-weight-medium fs-30 mb-0 line-height-normal">
                                                    @Model.ServicesRequests[i].ProviderCount.ToString("00")
                                                </h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-1">
                                    <div class="custom-control">
                                        <img onclick="onPopup(@Model.ServicesRequests[i].Id,'@Model.ServicesRequests[i].ServiceNumber')" data-toggle="modal" data-target="#myModal" src="~/Content/Icons/Cross.svg" class="img-16" alt="">
                                    </div>
                                </div>
                            </div>


                            <div class="row g-2x showOnMobile">
                                <div class="col-12">
                                    <a href="@Url.Action("PService", Controllers.ServiceRequests, new { area = "", ServiceId = ConvertTo.Base64Encode(Convert.ToString(@Model.ServicesRequests[i].Id)) })">
                                        <div class="row">
                                            <div class="col-2 mr-20">
                                                <p class="blurtext font-12 fw-400">Providers</p>
                                                <h5 class="mtop-5 font-weight-medium font-20 mb-0 line-height-normal ">
                                                    @Model.ServicesRequests[i].ProviderCount.ToString("00")
                                                </h5>
                                            </div>
                                            <div class="col">
                                                <p class="blurtext font-12 fw-400">Description of Services</p>
                                                <h5 class="mt-10 font-weight-normal font-16 fw-400 line-height-sm mb-0">@Model.ServicesRequests[i].RegistrationGroupName</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        }
    }

</div>

<div class="row w-100 pl-0 showOnMobile" id="requestSec">

    @*@if (Model.ServicesRequests.Count <= 0)
    {
    <h1 class="norecord-found text-center ">No support requests found</h1>
    }*@
    @for (var i = 0; i < Model.ServicesRequests.Count; i++)
    {
        if (@Model.ServicesRequests[i].Status == 0)
        {
            <div class="col-12 pr-0 ml-5">
                <div class="row w-100 pb-10">
                    <div class="col-12 pl-0">
                        <div class="request-details bgmobile">
                            <div class="row g-2x">
                                <div class="col-12">
                                    <a href="@Url.Action("PService", Controllers.ServiceRequests, new { area = "", ServiceId = ConvertTo.Base64Encode(Convert.ToString(@Model.ServicesRequests[i].Id)) })">
                                        <div class="row">
                                            <div class="col-2 mr-20">
                                                <p class="blurtext font-12 fw-400">Providers</p>
                                                <h5 class="mtop-5 font-weight-medium font-20 mb-0 line-height-normal @(Model.ServicesRequests[i].IsRead == 2 ? "text-warning" : "")">
                                                    @Model.ServicesRequests[i].ProviderCount.ToString("00")
                                                </h5>
                                            </div>
                                            <div class="col">
                                                <p class="blurtext font-12 fw-400">Description of Services</p>
                                                <h5 class="mt-10 font-weight-normal font-16 fw-400 line-height-sm mb-0">@Model.ServicesRequests[i].RegistrationGroupName</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        }
    }

</div>

<!-- Modal -->

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content mcontent">
            <div class="modal-body mbody border-secondary border-3" style="padding:10px 15px">
                <h5 class="font-13 blurhtext m-0">Are you sure you want to delete support request <span id="snumber">AT000_00</span>?</h5>
                <p>@*when canceling a service request the Providers Will be Notified and request removed.*@</p>
            </div>
            <div class="modal-footer pl-0 pr-0" style="border:0;">
                <button onclick="Delete()" class="btn btn-outline-success text-white mr-2 myes">YES</button>
                <button data-dismiss="modal" class="btn btn-outline-danger text-white  mno">NO</button>
            </div>
        </div>

    </div>
</div>
<div id="myModal2" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content mcontent" style="border:0;">
            <div class="modal-footer pl-0 pr-0" style="border:0;">
                <button data-dismiss="modal" class="btn btn-outline-success text-white text-uppercase myes" style="width: 310px;">
                    Support request has been removed
                </button>
            </div>
        </div>

    </div>
</div>
<input type="hidden" id="serviceid" />

<script>
    jQuery(document).ready(function () {

       $('#myModal2').on('hide.bs.modal', function () {
           window.location.reload();
       });

    });

    function onPopup(id, snumber) {
        $("#serviceid").val(id);
        $("#snumber").text(snumber);
    }
    function Delete() {
              $.ajax({
                      url: '@Url.Action(Actions.DeleteServiceRequest, Controllers.ServiceRequests, new { area = "" })',
                      data: {SId: $("#serviceid").val() },
                  type: 'GET',
                      datatype: 'json',
                  success: function (data) {
                      if (data) {
                          $("#myModal").modal("hide");
                          //ShowMessageToastr("success", "Delete Service Request Successfully.!", false);
                          //window.location.reload();
                          $("#myModal2").modal("show");
                      }
                      else {
                          ShowMessageToastr("danger", "something went wrong. please try again.", false);
                      }
                      },
                        error: function () { }
                    });

    }



</script>

@Html.Raw(ViewBag.openPopup)
@*<script src="~/Content/js/canvasjs.min.js"></script>
    <script type="text/javascript">
        window.onload = function () {
            var DataItem = [];
            var DataItem1 = [];
              if (@Html.Raw(Json.Encode(@ViewBag.CData)) != null) {
                var data = @Html.Raw(Json.Encode(@ViewBag.CData));
                  for (var i = 0; i < data.length; i++) {
                      if (data[i].Status != 1 && data[i].Status != 2) {
                          DataItem.push({
                              label: data[i].ServiceNumber,
                              y: data[i].RequestSendCount
                          });
                      }
                  }
                  for (var i = 0; i < data.length; i++) {
                      if (data[i].Status != 1 && data[i].Status != 2) {
                          DataItem1.push({
                              label: data[i].ServiceNumber,
                              y: data[i].RepliesCount
                          });
                      }
                  }
            }
            var chart = new CanvasJS.Chart("chartContainer",
                {
                    title: {
                        text: ""
                    },
                    zoomEnabled: true,
                    dataPointWidth: 46,
                    backgroundColor: "#35495e",
                    axisX: {
                        labelFontColor: "#f1f1f1",
                        lineColor: "#f1f1f1",
                    },
                    axisY: {
                        labelFontColor: "#f1f1f1",
                        lineColor: "#f1f1f1",
                        //gridColor: "orange",
                    },
                    legend: {
                        fontColor: "#f1f1f1",
                        horizontalAlign: "left",
                        reversed: true
                    },
                    toolTip: {
                        backgroundColor: "#35495e",
                        borderColor: "#35495e",
                        fontColor: "#f1f1f1",

                    },
                    data: [
                        {
                            type: "stackedColumn",
                            legendText: "REPLIES RECEIVED",
                            showInLegend: "true",
                            color: "#e67e22",
                            dataPoints: DataItem1,
                            click: onClick,

                        }, {
                            type: "stackedColumn",
                            legendText: "REQUESTS SENT",
                            showInLegend: "true",
                            color: "#8C97A1",
                            dataPoints: DataItem,
                            click: onClick,
                        }
                    ]
                });

            chart.render();
        }

        function onClick(e) {
            if (@Html.Raw(Json.Encode(@ViewBag.CData)) != null) {
                var data = @Html.Raw(Json.Encode(@ViewBag.CData));
                if (data[e.dataPointIndex].Status == 0) {
                    window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]ServiceRequests/PService?ServiceId=" + btoa(data[e.dataPointIndex].Id);
            }
            else  {
                window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]ServiceRequests/CService"
            }
            }

        }
    </script>*@
