﻿
@{
    ViewBag.Title = "Dashboard | NDIS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PlannedServices.Common;
@using PlannedServicesAdmin.Pages;
@using PlannedServices.Entities.V1;
@model ServicesRequest
<div class="row">
    <div class="col-lg-2 col-md-3 col-sm-4 mb-3 mb-sm-0 box">
            <div class="card card-home ">
                <div class="card-body">
                    <h5 class="font-weight-normal">Home</h5>
                </div>
            </div>
    </div>

    <div class="col-lg-2 col-md-3 col-sm-4 mb-3 mb-sm-0 box">
        <a href="@Url.Action("ManagerPSettings", Controllers.User)">
            <div class="card blurbg hborder">
                <div class="card-body">
                    <h5 class="font-weight-normal font-12 text-uppercase">Profile<br>SETTINGS<br>HELP<br>LOGOUT</h5>

                    <div class="text-left w-100 mt-auto">
                        <img src="~/Content/Icons/User.svg" alt="" class="img-16">
                    </div>

                </div>
            </div>
        </a>
    </div>
</div>
<div class="row pr-2">
    <div class="col-12 border-2px ml-5 pl-0">
        <h5 class="heading-main font-13 blurhtext fw-400 text-uppercase">PARTICIPANTS</h5>
    </div>
</div>
<div class="row mt-20">
    @if (ViewBag.ManagerUsers != null && ViewBag.ManagerUsers.Count > 0)
    {
        foreach (var item in ViewBag.ManagerUsers)
        {
        <div class="col-lg-2 col-md-3 col-sm-4 mb-3 mb-sm-0 box">
            <a href="@Url.Action("Index", Controllers.Dashboard, new { area = "", userId = ConvertTo.Base64Encode(Convert.ToString(@item.Id)) })">
                <div class="card">
                    <div class="card-body">
                        <h5 class="font-weight-normal font-12 text-uppercase">@item.FirstName @item.LastName</h5>
                        <div class="text-left w-100 mt-auto">
                            <img src="~/Content/Icons/User.svg" alt="" class="img-16">
                        </div>
                    </div>
                </div>
            </a>
        </div>

        }
    }
   
</div>

<script>
    function Next() {
        var v = $('input[name="customRadio"]:checked').val();
        if (v == 1) {
            window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]ServiceRequests/NService"
        }
        else if (v == 2) {
            window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]ServiceRequests/AService"
        }
        else if (v == 3) {
            window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]ServiceRequests/CService"
        }
    }
</script>
@Html.Raw(ViewBag.openPopup)
<script src="~/Content/js/canvasjs.min.js"></script>
<script type="text/javascript">
    window.onload = function () {
        var DataItem = [];
        var DataItem1 = [];
          if (@Html.Raw(Json.Encode(@ViewBag.CData)) != null) {
            var data = @Html.Raw(Json.Encode(@ViewBag.CData));
            for (var i = 0; i < data.length; i++) {
                DataItem.push({
                    label: data[i].ServiceNumber,
                    y: data[i].RequestSendCount
                });
              }
              for (var i = 0; i < data.length; i++) {
                  DataItem1.push({
                      label: data[i].ServiceNumber,
                      y: data[i].RepliesCount
                  });
              }
        }
        var chart = new CanvasJS.Chart("chartContainer",
            {
                title: {
                    text: ""
                },
                zoomEnabled: true,
                dataPointWidth: 46,
                backgroundColor: "#35495e",
                axisX: {
                    labelFontColor: "#f1f1f1",
                    lineColor: "#f1f1f1",
                },
                axisY: {
                    labelFontColor: "#f1f1f1",
                    lineColor: "#f1f1f1",
                    //gridColor: "orange",
                },
                legend: {
                    fontColor: "#f1f1f1",
                    horizontalAlign: "left",
                    reversed: true
                },
                toolTip: {
                    backgroundColor: "#35495e",
                    borderColor: "#35495e",
                    fontColor: "#f1f1f1",

                },
                data: [
                    {
                        type: "stackedColumn",
                        legendText: "REPLIES RECEIVED",
                        showInLegend: "true",
                        color: "#e67e22",
                        dataPoints: DataItem1,
                        click: onClick,

                    }, {
                        type: "stackedColumn",
                        legendText: "REQUESTS SENT",
                        showInLegend: "true",
                        color: "#8C97A1",
                        dataPoints: DataItem,
                        click: onClick,
                    }
                ]
            });

        chart.render();
    }

    function onClick(e) {
        if (@Html.Raw(Json.Encode(@ViewBag.CData)) != null) {
            var data = @Html.Raw(Json.Encode(@ViewBag.CData));
            if (data[e.dataPointIndex].Status == 0) {
                window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]ServiceRequests/PService?ServiceId=" + btoa(data[e.dataPointIndex].Id);
        }
        else  {
            window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]ServiceRequests/CService"
        }
        }

    }
</script>
