﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- SEO & Metatags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no" /> <!-- Remove Tap Highlight on Windows Phone IE -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="subject" content="">
    <meta name="copyright" content="">
    <meta name=author content="">

    <title>Signup | NDIS</title>

    <link rel="apple-touch-icon" sizes="180x180" href="./apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/dist/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/dist/favicon-16x16.png">
    <link rel="manifest" href="~/Content/dist/site.webmanifest">
    <link rel="mask-icon" href="~/Content/dist/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#ffffff">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Stylesheets -->
    <!-- Vendor Stylesheet -->
    <link rel="stylesheet" href="~/Content/dist/vendors/simplebar/dist/simplebar.min.css">
    <link rel="stylesheet" href="~/Content/dist/vendors/bootstrap-select/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="~/Content/dist/vendors/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="~/Content/dist/js/vendors/bootstrap-timepicker/timepicker.css">

    <!-- Main Stylesheet -->
    <link href="~/Content/dist/css/main.min.css" rel="stylesheet" />



</head>

<body>
    <div class="container py-4">
        <div class="row">
            <div class="col-12">
                <img class="img-fluid mb-5" src="~/Content/dist/images/logo.png" alt="">
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-8 text-center mb-5">
                <h2 class="fw-extrabold">Select How You Manage Your Plan?</h2>
            </div>

            <div class="col-lg-8 mb-5">
                <div class="custom-radio-btn-group d-flex flex-column flex-sm-row" data-toggle="buttons">
                    <label class="btn btn-white w-100 mr-3 p-4">
                        <div class="custom-control text-left custom-radio">
                            <input type="radio" id="planManage" name="manage-type" class="custom-control-input">
                            <label class="custom-control-label" for="planManage">
                                <span class="d-block h4 fw-bold mt-2">Plan Manage</span>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias asperiores officia atque repudiandae aperiam dicta repellendus perspiciatis qui.</p>
                            </label>
                        </div>
                    </label>
                    <label class="btn btn-white w-100 p-4">
                        <div class="custom-control text-left custom-radio">
                            <input type="radio" id="selfManage" name="manage-type" class="custom-control-input">
                            <label class="custom-control-label" for="selfManage">
                                <span class="d-block h4 fw-bold mt-2">Self Manage</span>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias asperiores officia atque repudiandae aperiam dicta repellendus perspiciatis qui.</p>
                            </label>

                        </div>
                    </label>
                </div>
            </div>

            <div class="col-lg-8 text-center mb-5">
                <a href="./signup-3.html" class="btn btn-primary btn-wide">Continue</a>
            </div>
        </div>
    </div>



    <!-- Scripts -->
    <script src="~/Content/dist/vendors/jquery/dist/jquery.min.js"></script>
    <script src="~/Content/dist/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/dist/vendors/simplebar/dist/simplebar.min.js"></script>
    <script src="~/Content/dist/vendors/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="~/Content/dist/vendors/daterangepicker/moment.min.js"></script>
    <script src="~/Content/dist/vendors/daterangepicker/daterangepicker.js"></script>
    <script src="~/Content/dist/js/vendors/bootstrap-timepicker/timepicker.js"></script>

    <!-- Main Js -->
    <script src="~/Content/dist/js/main.min.js"></script>

</body>

</html>
