﻿@using PlannedServices.Entities.V1;
@using PlannedServices.Pages;

@model User
@{
    ViewBag.Title = "Signup | NDIS";
    string userName = string.Empty;
    string password = string.Empty;
    Layout = "";
    if (Request.Cookies["UserLogin"] != null)
    {
        userName = Convert.ToString(Request.Cookies["UserLogin"].Values["UserName"]);
        password = Convert.ToString(Request.Cookies["UserLogin"].Values["Password"]);
    }
}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- SEO & Metatags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no" /> <!-- Remove Tap Highlight on Windows Phone IE -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="subject" content="">
    <meta name="copyright" content="">
    <meta name=author content="">

    <title>Signup | NDIS</title>

    <link rel="apple-touch-icon" sizes="180x180" href="./apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/dist/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/dist/favicon-16x16.png">
    <link rel="manifest" href="~/Content/dist/site.webmanifest">
    <link rel="mask-icon" href="~/Content/dist/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#ffffff">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Stylesheets -->
    <!-- Vendor Stylesheet -->
    <link rel="stylesheet" href="~/Content/dist/vendors/simplebar/dist/simplebar.min.css">
    <link rel="stylesheet" href="~/Content/dist/vendors/bootstrap-select/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="~/Content/dist/vendors/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="~/Content/dist/js/vendors/bootstrap-timepicker/timepicker.css">

    <!-- Main Stylesheet -->
    <link href="~/Content/dist/css/main.min.css" rel="stylesheet" />


</head>

<body>
    <div class="auth-columns">
        <div class="auth-columns-left">
            <div class="auth-columns-left-content">
                <img class="img-fluid mb-5" src="~/Content/dist/images/logo.png" alt="">
                <h2 class="fw-extrabold ">Sign up for your account</h2>
                <p class="mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores neque ullam necessitatibus.</p>
                @using (Html.BeginForm(Actions.SignUp, Controllers.Authentication, new { Area = "" }, FormMethod.Post, new { @id = "frmLogin", @class = "text-left", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        <label for="FirstName">Full name</label>
                        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control form-control-md", @placeholder = "Jhon Doe", required = "required" })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>

                    @*<div class="form-group">
                        <label for="FirstName">First name</label>
                        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control form-control-md", @placeholder = "Jhon", required = "required" })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="LastName">Last name</label>
                        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control form-control-md", @placeholder = "Doe", required = "required" })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>*@
                    <div class="form-group">
                        <label for="emailAddress">Email address</label>
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control form-control-md", @placeholder = "john.doe@email.com", required = "required" })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="passWord">Password</label>
                        @Html.PasswordFor(model => model.Password, new { @id = "password", @class = "form-control form-control-md", @placeholder = "Enter password here", required = "required" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="row no-gutters mb-4">
                        <div class="col">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="rememberMe">
                                <label class="custom-control-label" for="rememberMe">I am agree to your <a href="">terms and conditions</a></label>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block mb-4">Sign Up</button>

                }
                <p>Or Already have an account? <a href="@Url.Action("SignIn", "Authentication")" class="fw-medium">Sign in</a></p>
            </div>
        </div>

        <div class="auth-columns-right">
            <div id="carouselIndicators" class="carousel slide mb-3">
                <ol class="carousel-indicators">
                    <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="carousel-caption">
                            <h5 class="text-white">First slide label</h5>
                            <p class="text-light">Some representative placeholder content for the First slide.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-caption">
                            <h5 class="text-white">Second slide label</h5>
                            <p class="text-light">Some representative placeholder content for the second slide.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-caption">
                            <h5 class="text-white">Third slide label</h5>
                            <p class="text-light">Some representative placeholder content for the Third slide.</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>



    <!-- Scripts -->
    <script src="~/Content/dist/vendors/jquery/dist/jquery.min.js"></script>
    <script src="~/Content/dist/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/dist/vendors/simplebar/dist/simplebar.min.js"></script>
    <script src="~/Content/dist/vendors/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="~/Content/dist/vendors/daterangepicker/moment.min.js"></script>
    <script src="~/Content/dist/vendors/daterangepicker/daterangepicker.js"></script>
    <script src="~/Content/dist/js/vendors/bootstrap-timepicker/timepicker.js"></script>

    <!-- Main Js -->
    <script src="~/Content/dist/js/main.min.js"></script>

    <script>
         $('.carousel').carousel()
    </script>
</body>

</html>
