﻿
@{
    ViewBag.Title = "Help | NDIS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PlannedServicesProviderPortal.Pages;
@using PlannedServices.Common;

<div class="row">
    <div class="col-lg-2 col-md-3 col-sm-4 mb-3 mb-sm-0 box">
        <a href="@Url.Action(Actions.Index, Controllers.Dashboard)">
            <div class="card card-home ">
                <div class="card-body">
                    <h5 class="font-weight-normal">Home</h5>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mb-3 mb-sm-0 box">
        <div class="card border-warning border-2">
            <div class="card-body">
                <h5 class="font-weight-normal font-12 text-uppercase">Help</h5>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 border-2px ml-5 pl-0">
        <h5 class="heading-main font-13 blurhtext fw-400 text-uppercase">Help With Using Requisition</h5>
    </div>
</div>
<div class="row pl-0">
    <div class="col-12 pr-0 ml-5 border-1px">
        <div class="radio-list-padding">
            <div class="custom-control custom-radio">
                <input type="radio" id="1customRadio" checked name="customRadio" class="custom-control-input" value="1">
                <label class="custom-control-label" for="1customRadio">Topic 1</label>
            </div>
        </div>
    </div>
    <div class="col-12 pr-0 ml-5 border-1px">
        <div class="radio-list-padding">
            <div class="custom-control custom-radio">
                <input type="radio" id="2customRadio" name="customRadio" class="custom-control-input" value="2">
                <label class="custom-control-label" for="2customRadio">Topic 2</label>
            </div>
        </div>
    </div>
    <div class="col-12 pr-0 ml-5 border-1px">
        <div class="radio-list-padding">
            <div class="custom-control custom-radio">
                <input type="radio" id="3customRadio" name="customRadio" class="custom-control-input" value="3">
                <label class="custom-control-label" for="3customRadio">Topic 3</label>
            </div>
        </div>
    </div>
    <div class="col-12 pr-0 ml-5 border-1px">
        <div class="radio-list-padding">
            <div class="custom-control custom-radio">
                <input type="radio" id="4customRadio" name="customRadio" class="custom-control-input" value="4">
                <label class="custom-control-label" for="4customRadio">Topic 4</label>
            </div>
        </div>
    </div>
    <div class="col-12 pr-0 ml-5 border-1px">
        <div class="radio-list-padding">
            <div class="custom-control custom-radio">
                <input type="radio" id="5customRadio" name="customRadio" class="custom-control-input" value="5">
                <label class="custom-control-label" for="5customRadio">Topic 5</label>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-12 1Section" id="1Section">
        <a href="#" onclick="Next()" class="btn btn-outline-primary text-uppercase">Next</a>
    </div>
</div>

<script>
    function Next() {
        @*var v = $('input[name="customRadio"]:checked').val();
        if (v == 1) {
            window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]ServiceRequests/Service"
        }
        else if (v == 2) {
            window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]User/PSettings"
        }
        else if (v == 3) {
            window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]User/Service"
        }
        else if (v == 4) {
            $("#myModal").modal("show");
        }*@
    }

</script>


@Html.Raw(ViewBag.openPopup)





