﻿<style>
    /* whatever screen width you need */
    @@media (max-width: 992px) {
        .empty {
            display: none;
            margin-top: 20px !important;
        }
    }
</style>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PlannedServicesProviderPortal.Pages;
@using PlannedServices.Common;
@using PlannedServices.Entities.V1;
@model ServicesRequest
<style>
    .fs-18 {
        font-size: 1.125rem !important;
    }

    .mb-8px {
        margin-bottom: 0.5rem !important;
    }

    .mb-14px {
        margin-bottom: 0.875rem !important;
    }

    .fs-30 {
        font-size: 1.8rem !important;
    }

    .line-height-sm {
        line-height: 1.5;
    }

    .custom-control-input ~ .custom-control-label::before {
        opacity: 1;
    }

    @@media (max-width: 768px) {
        .mbox {
            min-height: 100px
        }

        .bgmobile .img-16 {
            position: relative;
            bottom: -10px;
        }

        .heading-main {
            margin-bottom: 20px !important;
            margin-top: 5px !important;
        }
    }

    .bgmobile {
        background: #2C3E50;
        padding: 10px 20px 20px 10px
    }

    .pb-10 {
        padding-bottom: 10px
    }
</style>

<div class="row">
    <div class="col-lg-2 col-md-12 col-sm-12 box">
        <a href="@Url.Action(Actions.Index, Controllers.Dashboard)">
            <div class="card card-home ">
                <div class="card-body">
                    <h5 class="font-weight-normal">Home</h5>
                </div>
            </div>
        </a>
    </div>

    <div class="col-lg-2 col-md-12 col-sm-12 mb-sm-0 box">
        @*<a href="@Url.Action("CService", Controllers.ServiceRequests)">*@
        <div class="card border-warning  hborder mbox">
            <div class="card-body">
                <h5 class="font-weight-normal font-12 text-uppercase hideOnMobile">SUPPORT<br>Requests</h5>
                <h5 class="font-weight-normal font-12 text-uppercase showOnMobile">SUPPORT Requests</h5>
                <div class="text-left w-100 mt-auto">
                    <img src="~/Content/Icons/Support_Requests.svg" alt="" class="img-16">
                    @if (ViewBag.CData != null && ViewBag.CData.Count > 0 && ViewBag.CData[0].IsRead == 2)
                    {
                        <img src="~/Content/Icons/Alert_Icon.svg" alt="" class="img-16 ml-1">
                    }
                </div>
            </div>
        </div>
        @*</a>*@
    </div>
    @*<div class="col-lg-2 col-md-12 col-sm-12 mb-sm-0 box">
            <a href="@Url.Action("AService", Controllers.ServiceRequests)">
                <div class="card hborder mbox">
                    <div class="card-body">
                        <h5 class="font-weight-normal font-12 text-uppercase hideOnMobile">Approved<br>SUPPORT<br>Requests</h5>
                        <h5 class="font-weight-normal font-12 text-uppercase showOnMobile">Approved SUPPORT Requests</h5>
                        <div class="text-left w-100 mt-auto">
                            <img src="~/Content/Icons/Approved_Request.svg" alt="" class="img-16">
                            @if (ViewBag.CData != null && ViewBag.CData.Count > 0 && ViewBag.CData[0].IsApprovedRead == 2)
                            {
                                <img src="~/Content/Icons/Alert_Icon.svg" alt="" class="img-16 ml-1">
                            }
                        </div>
                    </div>
                </div>
            </a>
        </div>*@
    <div class="col-lg-2 col-md-12 col-sm-12 mb-sm-0 box">
        <a href="@Url.Action("RService", Controllers.ServiceRequests)">
            <div class="card hborder mbox">
                <div class="card-body">
                    <h5 class="font-weight-normal font-12 text-uppercase hideOnMobile">closed<br>SUPPORT<br>Requests</h5>
                    <h5 class="font-weight-normal font-12 text-uppercase showOnMobile">closed SUPPORT Requests</h5>
                    <div class="text-left w-100 mt-auto">
                        <img src="~/Content/Icons/Declined.svg" alt="" class="img-16">
                        @if (ViewBag.CData != null && ViewBag.CData.Count > 0 && ViewBag.CData[0].IsRejectedRead == 2)
                        {
                            <img src="~/Content/Icons/Alert_Icon.svg" alt="" class="img-16 ml-1">
                        }
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="empty col-lg-4 col-md-12 col-sm-12 mb-sm-0 box"></div>
    <div class="col-lg-2 col-md-12 col-sm-12 mb-sm-0 box">
        <a href="@Url.Action("PSettings", Controllers.User)">
            <div class="card blurbg hborder mbox">
                <div class="card-body pdb-5">
                    <h5 class="font-weight-normal font-12 text-uppercase hideOnMobile mb-0">Profile <br />USERS<br> SETTINGS <br>PROVIDED SERVICES<br>LOGOUT</h5>
                    <h5 class="font-weight-normal font-12 text-uppercase showOnMobile">Profile, USERS, SETTINGS, PROVIDED SERVICES, LOGOUT</h5>


                    <div class="text-left w-100 mt-auto">
                        <img src="~/Content/Icons/User.svg" alt="" class="img-16">
                    </div>

                </div>
            </div>
        </a>
    </div>
</div>



<div class="row hideOnMobile">
    <div class="col-12 border-2px ml-5 pl-0">
        <h5 class="heading-main font-13 fw-400 blurhtext text-uppercase">Active SUPPORT Requests</h5>
    </div>
</div>

<div class="row pl-0 hideOnMobile" id="requestSec">
    @*@if (Model.ServicesRequests.Count <= 0)
        {
            <h1 class="norecord-found">No active requests found</h1>
        }*@
    @for (var i = 0; i < Model.ServicesRequests.Count; i++)
    {
        if (@Model.ServicesRequests[i].Status == 0 && Model.ServicesRequests[i].PServiceStatus != 2)
        {
            <div class="col-12 pr-0 ml-5 border-1px">
                <div class="row">
                    <div class="col-12">
                        <div class="request-details">
                            <div class="row g-2x">
                                <div class="col-11">
                                    <a href="@Url.Action("ServiceDetails", Controllers.ServiceRequests, new { area = "",
                                            ServiceId = ConvertTo.Base64Encode(Convert.ToString(Model.ServicesRequests[i].Id)),
                                            UserId = ConvertTo.Base64Encode(Convert.ToString(Model.ServicesRequests[i].UserId)) })">
                                        <div class="row">
                                            <div class="col-auto mr-20 pl-0 mdlsec">
                                                @if (@Model.ServicesRequests[i].IsRead != 2 && @Model.ServicesRequests[i].IsProviderRead == 0)
                                                {
                                                    <p class="btn btn-outline-warning mr-2 text-uppercase mt-1 btn-width">
                                                        New Request
                                                    </p>
                                                }
                                                else if (@Model.ServicesRequests[i].IsRead != 2 && @Model.ServicesRequests[i].IsProviderRead == 1)
                                                {
                                                    <p class="btn btn-outline-secondary mr-2 text-white text-uppercase mt-1 btn-width">
                                                        @*Participant Viewed*@
                                                        Awaiting Response
                                                    </p>
                                                }
                                                else if (@Model.ServicesRequests[i].IsRead != 2 && @Model.ServicesRequests[i].IsProviderRead == 2)
                                                {
                                                    <p class="btn btn-outline-warning mr-2 text-uppercase mt-1 btn-width">
                                                        @*Updated*@
                                                        Response Received
                                                    </p>
                                                }
                                                else if (@Model.ServicesRequests[i].IsRead == 2)
                                                {
                                                    <p class="btn btn-outline-secondary mr-2 text-uppercase mt-1 btn-width unread">
                                                        Message Sent
                                                    </p>
                                                }

                                            </div>

                                            <div class="col-auto mr-20">
                                                <p class="blurtext font-12 fw-400">Reference</p>
                                                <h5 class="font-weight-normal font-16 fw-400 line-height-normal mb-0 mt-10">@Model.ServicesRequests[i].ServiceNumber</h5>
                                            </div>
                                            <div class="col-5">
                                                <p class="blurtext font-12 fw-400">Description of Services</p>
                                                <h5 class="mt-10 font-weight-normal font-16 fw-400 line-height-sm mb-0">@Model.ServicesRequests[i].RegistrationGroupName</h5>
                                            </div>
                                            <div class="col">
                                                <p class="blurtext font-12 fw-400">Location </p>
                                                <h5 class="mt-10 font-weight-normal font-16 fw-400 line-height-sm mb-0">
                                                    @Model.ServicesRequests[i].Surburb,
                                                    @Model.ServicesRequests[i].StateName
                                                    @Model.ServicesRequests[i].PinCode
                                                </h5>
                                            </div>

                                        </div>
                                    </a>
                                </div>
                                <div class="col-1 mdlsec">
                                    <div class="custom-control">
                                        <img onclick="onPopup(@Model.ServicesRequests[i].Id,'@Model.ServicesRequests[i].ServiceNumber')" data-toggle="modal" data-target="#myModal" src="~/Content/Icons/Cross.svg" class="img-16" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    }

</div>

<div class="row pl-0 showOnMobile" id="requestSec">
    @*@if (Model.ServicesRequests.Count <= 0)
        {
            <h1 class="norecord-found">No active requests found</h1>
        }*@
    @for (var i = 0; i < Model.ServicesRequests.Count; i++)
    {
        if (@Model.ServicesRequests[i].Status == 0 && Model.ServicesRequests[i].PServiceStatus != 2)
        {
            <div class="col-12 pr-0 ml-5">
                <div class="row w-100 pb-10">
                    <div class="col-12 pl-0">
                        <div class="request-details bgmobile">
                            <div class="row g-2x">
                                <div class="col-12">
                                    <a href="@Url.Action("ServiceDetails", Controllers.ServiceRequests, new { area = "",
                                            ServiceId = ConvertTo.Base64Encode(Convert.ToString(Model.ServicesRequests[i].Id)),
                                            UserId = ConvertTo.Base64Encode(Convert.ToString(Model.ServicesRequests[i].UserId)) })">
                                        <div class="row">
                                            <div class="col-4">

                                                @if (@Model.ServicesRequests[i].IsRead != 2 && @Model.ServicesRequests[i].IsProviderRead == 0)
                                                {
                                                    <p class="btn btn-outline-secondary mr-2 text-uppercase mt-1 m-0 btn-width">
                                                        New Request
                                                    </p>
                                                }
                                                else if (@Model.ServicesRequests[i].IsRead != 2 && @Model.ServicesRequests[i].IsProviderRead == 1)
                                                {
                                            <p class="btn btn-outline-success mr-2 text-white text-uppercase mt-1 m-0 btn-width">
                                                        Awaiting Response
                                            </p>
                                                }
                                                else if (@Model.ServicesRequests[i].IsRead != 2 && @Model.ServicesRequests[i].IsProviderRead == 2)
                                                {
                                            <p class="btn btn-outline-warning mr-2 text-uppercase mt-1 m-0 btn-width">
                                                Response Received
                                            </p>
                                                }
                                                else if (@Model.ServicesRequests[i].IsRead == 2)
                                                {
                                                    <p class="btn btn-outline-secondary mr-2 text-uppercase mt-1 m-0 btn-width unread">
                                                        Message Sent
                                                    </p>
                                                }

                                            </div>

                                            <div class="col-8">
                                                <p class="blurtext font-12 fw-400">Description of Services</p>
                                                <h5 class="mt-10 font-weight-normal font-16 fw-400 line-height-sm mb-0">@Model.ServicesRequests[i].RegistrationGroupName</h5>
                                            </div>

                                        </div>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    }

</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content mcontent">
            <div class="modal-body mbody border-secondary border-3" style="padding:10px 15px">
                <h5 class="font-13 blurhtext m-0">Are you sure you want to cancel support request <span id="snumber">AT000_00</span>?</h5>
                <p>@*when canceling a service request the Providers Will be Notified and request removed.*@</p>
            </div>
            <div class="modal-footer pl-0 pr-0" style="border:0;">
                <button onclick="Delete()" class="btn btn-outline-success text-white mr-2 myes">YES</button>
                <button data-dismiss="modal" class="btn btn-outline-danger text-white  mno">NO</button>
            </div>
        </div>

    </div>
</div>
<div id="myModal2" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content mcontent" style="border:0;">
            <div class="modal-footer pl-0 pr-0" style="border:0;">
                <button data-dismiss="modal" class="btn btn-outline-success text-white text-uppercase myes" style="width: 310px;">
                    Support request has been removed
                </button>
            </div>
        </div>

    </div>
</div>
<input type="hidden" id="serviceid" />
<script>
    jQuery(document).ready(function () {

        $('#myModal2').on('hide.bs.modal', function () {
            window.location.reload();
        });

    });
    function onPopup(id, snumber) {
        $("#serviceid").val(id);
        $("#snumber").text(snumber);
    }

    function Delete() {
              $.ajax({
                      url: '@Url.Action(Actions.DeleteServiceRequestProvider, Controllers.ServiceRequests, new { area = "" })',
                  data: { SId: $("#serviceid").val() },
                      type: 'GET',
                      datatype: 'json',
                  success: function (data) {
                      if (data) {
                          $("#myModal").modal("hide");
                          $("#myModal2").modal("show");
                          //ShowMessageToastr("success", "Delete Provider Successfully.!", false);
                          //window.location.reload();
                      }
                      else {
                          ShowMessageToastr("danger", "something went wrong. please try again.", false);
                      }
                      },
                        error: function () { }
                    });

    }
</script>








@*<div class="row pr-2">
        <div class="col-12 border-2px ml-5 pl-0">
            <h5 class="heading-main font-13 blurhtext fw-400 text-uppercase">SUPPORT REQUESTS</h5>
        </div>
    </div>
    <div class="row mt-20">
        <div class="col-12 ml-5 pl-0">
            <div id="chartContainer1" style="width: 100%;"></div>
        </div>
    </div>*@



@Html.Raw(ViewBag.openPopup)
@*<script src="~/Content/js/canvasjs.min.js"></script>

    <script>
            var DataItem = [];
            if (@Html.Raw(Json.Encode(@ViewBag.CData)) != null) {
                var data = @Html.Raw(Json.Encode(@ViewBag.CData));
                for (var i = 0; i < data.length; i++) {
                    DataItem = [
                        //{ y: data[i].NewRequestsCount, 'label': 'New Request' },
                        { y: data[i].ActiveCount, 'label': 'Active' },
                        //{ y: data[i].ApporveCount, 'label': 'Approved' },
                        { y: data[i].RejectedCount, 'label': 'Closed' }
                    ]
                }
        }
        //"#3CB371",
            CanvasJS.addColorSet("greenShades",
                ["#e67e22",  "#e74c3b"]);

                    var chart = new CanvasJS.Chart("chartContainer1", {
                        animationEnabled: true,
                        title: {
                            text: ""
                        },
                        zoomEnabled: true,
                        dataPointWidth: 70,
                        backgroundColor: "#35495e",
                        colorSet: "greenShades",
                        axisX: {
                            labelFontColor: "#f1f1f1",
                            lineColor: "#f1f1f1",

                        },
                        axisY: {
                            labelFontColor: "#f1f1f1",
                            lineColor: "#f1f1f1",
                            //gridColor: "orange",
                        },
                        legend: {
                            fontColor: "#f1f1f1",
                            //horizontalAlign: "left"
                        },
                        toolTip: {
                            backgroundColor: "#35495e",
                            borderColor: "#35495e",
                            fontColor: "#f1f1f1",

                        },
                        data: [{
                            type: "column",
                            dataPoints: DataItem,
                            click: onClick,
                        }]
                    });

            chart.render();
          function onClick(e) {
            if (@Html.Raw(Json.Encode(@ViewBag.CData)) != null) {
                 if (e.dataPointIndex == 0) {
                    window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]ServiceRequests/CService";
            }
                else if (e.dataPointIndex == 1) {
                window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]ServiceRequests/AService"
                }
                else {
                    window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]ServiceRequests/RService"
                }
            }

        }
    </script>*@