﻿@*<!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
    </head>
    <body>
        <div>
            @RenderBody()
        </div>
    </body>
    </html>*@
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- SEO & Metatags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no" /> <!-- Remove Tap Highlight on Windows Phone IE -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="subject" content="">
    <meta name="copyright" content="">
    <meta name=author content="">

    <title>@ViewBag.Title</title>

    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/dist/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/dist/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/dist/favicon-16x16.png">
    <link rel="manifest" href="~/Content/dist/site.webmanifest">
    <link rel="mask-icon" href="~/Content/dist/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#ffffff">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Stylesheets -->
    <!-- Vendor Stylesheet -->
    <link rel="stylesheet" href="~/Content/dist/vendors/simplebar/dist/simplebar.min.css">
    <link rel="stylesheet" href="~/Content/dist/vendors/bootstrap-select/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="~/Content/dist/vendors/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="~/Content/dist/js/vendors/bootstrap-timepicker/timepicker.css">


    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="~/Content/dist/css/main.min.css">



</head>

<body>

    <div class="app-root">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light border-bottom sticky-top bg-white">
            <div class="container">

                <button class="navbar-toggler"
                        type="button"
                        data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>


                <a class="navbar-brand order-1 ml-2 ml-lg-0" href="./index.html">
                    <img src="~/Content/dist/images/logo-sm.png" alt="">
                </a>

                <ul class="nav ml-auto order-2 order-lg-3">

                    <!-- Notifications -->
                    <li>
                        <div class="dropdown dropdown-notification">
                            <!-- Dropdown Button -->
                            <button class="btn btn-hover-secondary btn-icon" type="button" id="notificationDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
                                </svg>
                            </button>

                            <!-- Dropdown Menu -->
                            <div class="dropdown-menu dropdown-menu-sm-right" data-simplebar aria-labelledby="notificationDropdown">


                                <ul class="list-group list-group-flush rounded">
                                    <!-- List Item -->
                                    <li class="list-group-item unread">
                                        <div class="d-flex link-unstyled">
                                            <div class="btn-icon">
                                                <div class="avatar avatar-sm avatar-indicators avatar-success">
                                                    <img alt="avatar" src="~/Content/dist/images/avatar/avatar-02.jpg" class="rounded-circle">
                                                </div>
                                            </div>

                                            <div class="ml-3">
                                                <h6 class="mb-1">Maxine Adkinson:</h6>
                                                <p class="line-clamp-2 mb-2">Has accepted your service request. please click here to know more details.</p>
                                                <span class="text-muted">
                                                    <span>Just Now</span>
                                                </span>
                                            </div>

                                            <a href="" class="stretched-link"></a>
                                        </div>
                                    </li>

                                    <!-- List Item -->
                                    <li class="list-group-item">
                                        <div class="d-flex link-unstyled">
                                            <div class="btn-icon">
                                                <div class="avatar avatar-sm avatar-indicators avatar-success">
                                                    <img alt="avatar" src="~/Content/dist/images/avatar/avatar-03.jpg" class="rounded-circle">
                                                </div>
                                            </div>

                                            <div class="ml-3">
                                                <h6 class="mb-1">Maxine Adkinson:</h6>
                                                <p class="line-clamp-2 mb-2">Has accepted your service request. please click here to know more details.</p>
                                                <span class="text-muted">
                                                    <span>Just Now</span>
                                                </span>
                                            </div>

                                            <a href="" class="stretched-link"></a>
                                        </div>
                                    </li>

                                    <!-- List Item -->
                                    <li class="list-group-item">
                                        <div class="d-flex link-unstyled">
                                            <div class="btn-icon">
                                                <div class="avatar avatar-sm avatar-indicators avatar-success">
                                                    <img alt="avatar" src="~/Content/dist/images/avatar/avatar-04.jpg" class="rounded-circle">
                                                </div>
                                            </div>

                                            <div class="ml-3">
                                                <h6 class="mb-1">Maxine Adkinson:</h6>
                                                <p class="line-clamp-2 mb-2">Has accepted your service request. please click here to know more details.</p>
                                                <span class="text-muted">
                                                    <span>Just Now</span>
                                                </span>
                                            </div>

                                            <a href="" class="stretched-link"></a>
                                        </div>
                                    </li>

                                    <!-- List Item -->
                                    <li class="list-group-item">
                                        <div class="d-flex link-unstyled">
                                            <div class="btn-icon">
                                                <div class="avatar avatar-sm avatar-indicators avatar-success">
                                                    <img alt="avatar" src="~/Content/dist/images/avatar/avatar-01.jpeg" class="rounded-circle">
                                                </div>
                                            </div>

                                            <div class="ml-3">
                                                <h6 class="mb-1">Maxine Adkinson:</h6>
                                                <p class="line-clamp-2 mb-2">Has accepted your service request. please click here to know more details.</p>
                                                <span class="text-muted">
                                                    <span>Just Now</span>
                                                </span>
                                            </div>

                                            <a href="" class="stretched-link"></a>
                                        </div>
                                    </li>

                                    <!-- List Item -->
                                    <li class="list-group-item">
                                        <div class="d-flex link-unstyled">
                                            <div class="btn-icon">
                                                <div class="avatar avatar-sm avatar-indicators avatar-success">
                                                    <img alt="avatar" src="~/Content/dist/images/avatar/avatar-02.jpg" class="rounded-circle">
                                                </div>
                                            </div>

                                            <div class="ml-3">
                                                <h6 class="mb-1">Maxine Adkinson:</h6>
                                                <p class="line-clamp-2 mb-2">Has accepted your service request. please click here to know more details.</p>
                                                <span class="text-muted">
                                                    <span>Just Now</span>
                                                </span>
                                            </div>

                                            <a href="" class="stretched-link"></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>

                    <!-- Profile -->
                    <li>
                        <div class="dropdown dropdown-profile ml-2">
                            <!-- Dropdown Button -->
                            <button class="btn btn-hover-secondary btn-icon" type="button" id="profileDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="avatar avatar-sm">
                                    <img alt="avatar" src="~/Content/dist/images/avatar/avatar-01.jpeg" class="rounded-circle">
                                </span>
                            </button>

                            <!-- Dropdown Menu -->
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profileDropdown">
                                <!-- Dropdown Head -->
                                <div class="dropdown-head justify-content-start">
                                    <div class="avatar">
                                        <img alt="avatar" src="~/Content/dist/images/avatar/avatar-01.jpeg" class="rounded-circle">
                                    </div>

                                    <div class="text-truncate ml-2">
                                        <h6 class="mb-1">Jessica Mennell</h6>
                                        <p class="fs-13 mb-0 text-muted">Ahmedabad</p>
                                    </div>
                                </div>

                                <!-- Dropdown Body -->
                                <div class="dropdown-body">
                                    <ul class="list-unstyled py-2">
                                        <li><a class="dropdown-item" href="./profile.html">Profile</a></li>
                                        <li><a class="dropdown-item" href="./edit-profile.html">Account settings</a></li>
                                        <li><div class="dropdown-divider"></div></li>
                                        <li><a class="dropdown-item" href="./signin.html">Sign out</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>

                <div class="collapse navbar-collapse order-3 order-lg-2" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="./index.html">Dashboard</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="./services.html">Services</a>
                        </li>

                        <li class="nav-item active">
                            <a class="nav-link" href="./find-provider.html">Find provider</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="./resources.html">Resources</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="./support-ticket.html">Support Ticket</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="./faq.html">F.A.Q.</a>
                        </li>

                    </ul>
                </div>



            </div>
        </nav>

        <div>
            @RenderBody();
        </div>
    </div>


    <!-- Scripts -->
    <script src="~/Content/dist/vendors/jquery/dist/jquery.min.js"></script>
    <script src="~/Content/dist/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/dist/vendors/simplebar/dist/simplebar.min.js"></script>
    <script src="~/Content/dist/vendors/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="~/Content/dist/vendors/daterangepicker/moment.min.js"></script>
    <script src="~/Content/dist/vendors/daterangepicker/daterangepicker.js"></script>
    <script src="~/Content/dist/js/vendors/bootstrap-timepicker/timepicker.js"></script>


    <!-- Main Js -->
    <script src="~/Content/dist/js/main.min.js"></script>

    <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>

    <script src="~/Content/dist/js/vendors/map/infobox.min.js"></script>
    <script src="~/Content/dist/js/vendors/map/markerclusterer.js"></script>
    <script src="~/Content/dist/js/vendors/map/maps.js"></script>

    <script>
      // show-all-services

      // $(".show-all-services").click(function() {
      //   $(".provider-services-list").removeClass("not-expanded");
      // });


      $(document).on('click', '.show-all-services', function(e) {
        e.preventDefault();
        $(this).closest('.not-expanded').removeClass("not-expanded");
        return false;
      });
    </script>
</body>

</html>

